.flex {
  display: flex;
}

.ai_c {
  align-items: center;
}

.jc_c {
  justify-content: center;
}

.indent {
  &_t {
    &_5 {
      margin-top: 5px;
    }
  }

  &_10 {
    margin-bottom: 10px;
  }
}
