body {
    font-family: 'AvenirNextLTW01Regular', sans-serif;
    background: #190f0d;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .top_bar {
    min-height: 67px;
    background: #190f0d;
}

header .logo {
    background: url(../images/logo.png);
    width: 190px;
    height: 122px;
    position: absolute;
    top: 0;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

header .navi .menu {
    background: #f8cfa3;
    height: 55px;
    margin-left: 190px;
}

header .navi .bg_ {
    background: #f8cfa3;
    height: 55px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 67px;
}

.slider-home {
    margin-top: 67px;
    background: #190f0d;
    width: 100%;
}

.slider-home .carousel-item img {
    min-width: 100%;
}

.slider-home .carousel-item {
    min-width: 100%;
    height: 613px;
}

.slider-home .carousel {
    height: 613px;
    overflow: hidden;
}

section.content {
    background: #190f0d;
}

section.content h2 {
    color: #fff;
    text-transform: uppercase;
    padding-top: 35px;
    margin-bottom: 40px;
    font-size: 46px;
}

section.content h2 span {
    color: #f8cfa3;
}

.sob-block {
    cursor: pointer;
    opacity: 0.4;
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #211919;
}

.sob-block:hover {
    opacity: 0.6;
}

.sob-block:last-of-type {
    padding-bottom: 0;
    border: none;
}

.sob-block .name {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.sob-block .date {
    font-size: 16px;
    color: #f8cfa3;
    text-transform: uppercase;
}

.sob-block.active {
    opacity: 1;
}

.right-carusel-parent {
    position: relative;
}

.right-carusel {
    margin-left: 40px;
}

.sob-block.active .main_ {
    position: relative;
}

.sob-block.active .main_:before {
    content: '';
    position: absolute;
    background: url(../images/arrow-left.png);
    width: 11px;
    height: 23px;
    top: 50%;
    margin-top: -11px;
    left: -30px;
}

.carouselSob .carousel-control-next-icon {
    background: url(../images/arrow-sob-right.png);
    width: 41px;
    height: 41px;
    right: -17px;
    position: absolute;
}

.carouselSob .carousel-control-prev-icon {
    background: url(../images/arrow-sob-left.png);
    width: 41px;
    height: 41px;
    left: -17px;
    position: absolute;
}

.carouselSob .carousel-control-next, .carouselSob .carousel-control-prev {
    opacity: 1;
}

.carouselSob .carousel-control-next:hover, .carouselSob .carousel-control-prev:hover {
    opacity: 0.7;
}

.carouselSob .carousel-indicators {
    bottom: -40px;
}

.carouselSob .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666263;
}

.carouselSob .carousel-indicators li.active {
    background: #f8cfa3;
}

section.callback {
    margin-top: 70px;
    margin-bottom: 60px;
}

section.callback h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 46px;
}

section.callback p {
    color: #f8cfa3;
    margin-bottom: 10px;
    font-size: 24px;
}

input.form-control.callback-input {
    border: 2px solid #372b1b;
    border-radius: 0;
    background: none;
    color: #fff;
    font-family: Geometria, sans-serif;
    font-size: 12px;
    height: 56px;
    line-height: 56px;
    padding: 0 25px;
}

input.form-control.callback-input:hover {
    border: 2px solid #5d4a2a;
}

input.form-control.callback-input:focus {
    border: 2px solid #fff;
}

input.form-control.callback-input::-webkit-input-placeholder {
    color: #372b1b;
}

input.form-control.callback-input::-moz-placeholder {
    color: #372b1b;
}

/* Firefox 19+ */
input.form-control.callback-input:-moz-placeholder {
    color: #372b1b;
}

/* Firefox 18- */
input.form-control.callback-input:-ms-input-placeholder {
    color: #372b1b;
}

button.btn.callback-btn {
    border: 2px solid #fff;
    border-radius: 0;
    background: none;
    color: #fff;
    height: 56px;
    text-transform: uppercase;
    line-height: 56px;
    font-family: Geometria, sans-serif;
    font-size: 11px;
    width: 100%;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

button.btn.callback-btn:hover {
    border: 2px solid #ffa65b;
    color: #ffa65b;
}

footer {
    padding: 60px 0;
    background: #0c0608;
}

footer .info_copyright {
    opacity: 0.3;
    color: #f8cfa3;
    font-size: 14px;
    margin-top: 50px;
}

footer .copyright {
    color: #f8cfa3;
    font-size: 14px;
    margin-top: 70px;
}

footer .contacts h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 40px;
}

footer .contacts h3:first-of-type {
    margin-top: 0;
}

footer .contacts p {
    color: #f8cfa3;
    padding: 0;
    margin-top: 10px;
    font-size: 15px;
}

footer .nav .nav-link {
    color: #f8cfa3;
    padding: 0;
    margin-bottom: 17px;
    font-size: 16px;
    text-transform: uppercase;
}

footer .nav .nav-link:last-of-type {
    margin-bottom: 0;
}

footer .nav .nav-link:hover {
    color: #ffa65b;
}

footer .container {
    position: relative;
}

footer .container:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 58px;
    height: 4px;
    background: #f8cfa3;
}

.icon-inst {
    display: inline-block;
    background: url(../images/inst.png);
    height: 34px;
    width: 34px;
    color: transparent !important;
    margin-left: 5px;
}

.icon-fc {
    display: inline-block;
    background: url(../images/fc.png);
    height: 34px;
    width: 34px;
    color: transparent !important;
}

.icon-fc:hover, .icon-inst:hover {
    opacity: 0.7;
}

.restcar img {
    max-width: 100%;
}

#carouselTopControls .carousel-item .container {
    position: relative;
}

#carouselTopControls .carousel-item .container .carousel-caption {
    position: absolute;
    right: 15%;
    top: 400px;
    left: 0;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

#carouselTopControls .carousel-item .container .carousel-caption h3 {
    text-transform: uppercase;
    font-size: 30px;
}

#carouselTopControls .carousel-control-prev {
    height: 100px;
    width: 100px;
    margin-left: -37px;
    top: 260px;
    margin-top: -30px;
    opacity: 1 !important;
}

.carousel-control-prev-icon {
    background: url(../images/arrow-left-top.png);
    height: 52px;
    width: 27px;
}

#carouselTopControls .carousel-control-next {
    height: 100px;
    width: 100px;
    margin-right: -37px;
    top: 260px;
    margin-top: -30px;
    opacity: 1 !important;
}

.carousel-control-next-icon {
    background: url(../images/arrow-right-top.png);
    height: 52px;
    width: 27px;
}

button.btn.show-video-btn {
    border: 2px solid #fff;
    border-radius: 0;
    background: none;
    color: #fff;
    position: relative;
    height: 44px;
    text-transform: uppercase;
    line-height: 44px;
    font-family: Geometria, sans-serif;
    font-size: 11px;
    width: 185px;
    text-align: left;
    padding: 0;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}

button.btn.show-video-btn:before {
    content: '';
    position: absolute;
    right: 20px;
    background: url(../images/video-arrow.png);
    width: 11px;
    height: 13px;
    top: 50%;
    margin-top: -6px;
}

#carouselTopControls .carousel-indicators {
    top: 550px;
    right: 0;
    margin-right: 0;
    margin-left: 0;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

#carouselTopControls .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.3;
}

#carouselTopControls .carousel-indicators li.active {
    opacity: 1;
}

.relative {
    position: relative;
    z-index: 1;
}

.top_bar .address {
    color: #f8cfa3;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 25px;
    margin-left: 190px;
}

header .icons-soc {
    margin-top: 15px;
    display: inline-block;
}

header .language .nav-link {
    color: #f8cfa3;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.6;
    padding-right: 0;
    padding-left: 0;
    margin-right: 5px;
}

header .nav-item.language .nav-link.active {
    color: #fff;
}

header li.nav-item.language.language-last .nav-link {
    margin-right: 20px;
}

header .menu_horizontal {
    position: absolute;
    top: 67px;
    right: 0;
    height: 55px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
header .menu_horizontal:not(.open) {
    width: 55px !important;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
header .menu_horizontal:not(.open) .theme-diz .nav-item .nav-link {
    opacity: 0;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

header .menu_horizontal .status_menu {
    background: #f8cfa3;
    height: 55px;
    width: 55px;
    position: absolute;
    left: 0;
    top: 0;
}

header .menu_horizontal .theme-diz {
    background: #f8cfa3;
    position: absolute;
    left: 55px;
    height: 55px;
    top: 0;
    right: 0;
}

header .menu_horizontal .theme-diz .nav-item .nav-link {
    color: #140e10;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
header .menu_horizontal .theme-diz .nav-item {
    margin-right: 10px;
}

.icon_status_menu {
    width: 19px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 17px;
}

.icon_status_menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.icon_status_menu span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.icon_status_menu span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
}

.icon_status_menu span:nth-child(1), .icon_status_menu span:nth-child(2) {
    top: 0px;
}

.icon_status_menu span:nth-child(3), .icon_status_menu span:nth-child(4) {
    top: 6px;
}

.icon_status_menu span:nth-child(5), .icon_status_menu span:nth-child(6) {
    top: 12px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(1), .menu_horizontal.open .icon_status_menu span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu_horizontal.open .icon_status_menu span:nth-child(2),.menu_horizontal.open .icon_status_menu span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu_horizontal.open .icon_status_menu span:nth-child(1) {
    left: 2px;
    top: 5px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(2) {
    left: calc(50% - 2px);
    top: 5px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.menu_horizontal.open .icon_status_menu span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.menu_horizontal.open .icon_status_menu span:nth-child(5) {
    left: 2px;
    top: 10px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(6) {
    left: calc(50% - 2px);
    top: 10px;
}
