.nav-sidebar {
  margin-bottom: 38px;
  margin-top: 20px;

  &__wrapper {
    display: inline-block;
    background-color: $color_white;
    border-right: 2px solid $color_light_grey;
    padding: 26px 20px 25px 55px;
    min-width: 290px;
    max-width: 290px;
    width: 290px;
    box-sizing: border-box;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;

    &-collapse {
      margin-bottom: 13px;
    }

    @media (max-width: 1199px) {
      display: none;
    }

    & > .nav__logo {
      background-position-x: left;
    }
  }

  &__contact {

    &-link {
      text-decoration: none;
      display: inline-block;
      margin-bottom: 25px;

      &:hover {
        .nav-sidebar__contact-text-big, .nav-sidebar__contact-text-small {
          color: $color_gold;
        }
      }
    }

    &-text {

      &-big {
        font-size: 16px;
        letter-spacing: .5px;
        text-align: left;
        display: block;
        color: $color_red_light;
        font-weight: 700;
        margin-bottom: 3px;

        &_18 {
          font-size: 18px;
        }
      }
      &-small {
        font-size: 12px;
        font-weight: 700;
        text-align: left;
        color: rgba(54, 54, 54, 0.75);
        display: block;
        text-decoration: underline;
      }
    }
  }
}

.nav-sidebar__btn, .nav-sidebar__panel {
  display: none;
}

.nav-sidebar__btn {
  display: block;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  background-color: $color_white;
  padding: 13px 20px 13px 0;
  font-size: 16px;
  color: $color_black;
  font-weight: 700;
  position: relative;
  margin-bottom: 0px;

  &:hover {
    color: $color_gold;
  }

  &.active {
    color: $color_gold;
  }

  &-inner {
    display: block;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: $color_white;
    padding: 13px 20px 13px 0;
    font-size: 16px;
    color: $color_black;
    font-weight: 400;
    position: relative;
    margin-bottom: 0px;

    &:hover {
      color: $color_gold;
    }

    &.active_inner {
      color: $color_gold;
    }
  }
}

.nav-sidebar__btn:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url('../images/svg/arrow-gold-10px.svg') center center / contain no-repeat;
  width: 17px;
  min-width: 17px;
  max-width: 17px;
  height: 9px;
  min-height: 9px;
  max-height: 9px;
  display: block;
  transition: all 0s ease;
}

.nav-sidebar__btn-inner:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url('../images/svg/arrow-gold-10px.svg') center center / contain no-repeat;
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  height: 7px;
  min-height: 7px;
  max-height: 7px;
  display: block;
  transition: all 0s ease;
}

.active:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url('../images/svg/arrow-gold-10px.svg') center center / contain no-repeat;
  width: 17px;
  min-width: 17px;
  max-width: 17px;
  height: 9px;
  min-height: 9px;
  max-height: 9px;
  display: block;
  transition: all 0s ease;
  transform: rotate(-180deg);
}

.active_inner:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url('../images/svg/arrow-gold-10px.svg') center center / contain no-repeat;
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  height: 7px;
  min-height: 7px;
  max-height: 7px;
  display: block;
  transition: all 0s ease;
  transform: rotate(-180deg);
}

.nav-sidebar__panel {
  display: none;
  padding: 0 0 0 10px;
  overflow: hidden;

  &.open {
    display: block;
  }

  &-inner {
    display: block;
    padding: 0 0 0 19px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &-link {
    font-size: 16px;
    color: $color_black;
    cursor: pointer;
    margin: 0;
    line-height: 22px;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    font-weight: 400;

    &-inner {
      font-size: 14px;
      padding: 8px 0 3px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      color: $color_gold;
    }
  }
}

.sidebar {
  &__sticky {
    top: 0;
  }
}

.first-layout {
  height: 623px;
  width: 100%;
  box-sizing: border-box;

  &__about {
    background: url("../images/alibs_web/alibs_about/flag.png") center center / cover no-repeat;
    padding: 134px 63px 123px;

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
      height: auto;
    }

    & > .h1 {
      margin-bottom: 26px;
    }

    & > .h4 {
      min-width: 331px;
      max-width: 331px;
      margin-bottom: 50px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  &__consult {
    background: url("../images/alibs_web/alibs_consult/background_consult.png") center center / cover no-repeat;
    padding: 76px 63px 76px;

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
      height: auto;
    }

    & > .h1 {
      margin-bottom: 26px;
      max-width: 720px;
      min-width: 720px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
      }
    }

    & > .h4 {
      min-width: 618px;
      max-width: 618px;
      margin-bottom: 50px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  &__news {
    background: url("../images/alibs_web/alibs_news/background_news.png") center center / cover no-repeat;
    padding: 140px 63px 141px;
    height: auto;

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
    }

    & > .h1 {
      margin-bottom: 26px;
      max-width: 100%;
      min-width: 100%;
    }

    & > .news__datetime {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 50px;
      font-size: 24px;
      text-align: left;
      color: $color_white;
      display: inline-block;

      @media (max-width: 1199px) {
        text-align: center;
        font-size: 16px;
      }
    }
  }

  &__team {
    background: url("../images/alibs_web/alibs_team/background_team.png") center center / cover no-repeat;
    padding: 140px 63px 126px;
    height: auto;

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
    }

    & > .h1 {
      margin-bottom: 36px;
    }

    & > .h4 {
      min-width: 385px;
      max-width: 385px;
      margin-bottom: 50px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  &__traffic {
    background: url("../images/alibs_web/alibs_traffic/background_traffic.png") center center / cover no-repeat;
    padding: 134px 63px 123px;

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
      height: auto;
    }

    & > .h1 {
      margin-bottom: 26px;
    }

    & > .h4 {
      min-width: 331px;
      max-width: 331px;
      margin-bottom: 50px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  &__typical {
    background: url("../images/alibs_web/alibs_typical/background_typical.png") center center / cover no-repeat;
    padding: 150px 63px 123px;

    @media (max-width: 1199px) {
      padding-top: 100px;
      padding-right: 15px;
      padding-left: 15px;
      height: auto;
    }

    & > .h1 {
      margin-bottom: 90px;
    }
  }
}

.two-layout {

  &__about {
    padding: 50px 277px 50px 64px;

    @media (max-width: 1281px) {
      padding-right: 64px;
    }

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__consult {
    padding: 50px 277px 50px 64px;
    max-width: 590px;
    min-width: 590px;

    @media (max-width: 1281px) {
      padding-right: 64px;
    }

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
      max-width: 100%;
      min-width: 100%;
      box-sizing: border-box;
    }
  }

  &__news {
    padding: 50px 277px 50px 64px;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;

    @media (max-width: 1281px) {
      padding-right: 64px;
    }

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
      max-width: 100%;
      min-width: 100%;
      box-sizing: border-box;
    }
  }

  &__traffic {
    padding: 50px 277px 50px 64px;

    @media (max-width: 1281px) {
      padding-right: 64px;
    }

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__typical {
    padding: 50px 277px 50px 64px;

    @media (max-width: 1281px) {
      padding-right: 64px;
    }

    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.guarantee-inner {
  padding: 38px 0 43px 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  @media (max-width: 1199px) {
    padding: 50px 15px 35px;
  }

  &__h3 {
    font-size: 40px;
    text-align: left;
    margin: 0 0 17px 0;
    color: $color_black;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: 1199px) {
      font-size: 24px;
      max-width: 100%;
      text-align: center;
    }
  }

  &__text {
    font-size: 20px;
    text-align: left;
    line-height: 28px;
    margin: 0 0 68px;
    color: rgba(54, 54, 54, 0.75);
    font-weight: 400;
    max-width: 443px;

    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 22px;
      max-width: 100%;
      margin-bottom: 33px;
    }
  }

  &__octagon {
    &-wrapper {
      position: relative;
      margin-left: 80px;

      @media (max-width: 1199px) {
        margin-left: 0;
      }
    }

    &-view {
      position: relative;
      z-index: 1;
      width: 170px;
      height: 170px;

      @media (max-width: 1199px) {
        width: 170px;
        height: 170px;
      }
    }

    &-hover {
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: -3px;
      left: -3px;
      transition: opacity .3s ease-in-out;
      width: 176px;
      height: 176px;

      @media (max-width: 1199px) {
        width: 176px;
        height: 176px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;

    @media (max-width: 1199px) {
      flex-direction: column-reverse;
      max-width: 100%;
    }

    &:nth-child(1) {
      margin-top: 0px;
    }
    &:nth-child(2) {
      margin-top: -15px;

      @media (max-width: 1199px) {
        margin-top: 0px;
      }
    }
    &:nth-child(3) {
      margin-top: -15px;

      @media (max-width: 1199px) {
        margin-top: 0px;
      }
    }
    &:nth-child(4) {
      margin-top: -15px;

      @media (max-width: 1199px) {
        margin-top: 0px;
      }
    }
    &:nth-child(5) {
      margin-top: -15px;

      @media (max-width: 1199px) {
        margin-top: 0px;
      }
    }

    &:hover &-text-block-label {
      color: $color_red_light;
    }

    &:hover &-text-block-paragraph {
      color: $color_gold_dark;
    }

    &:hover .guarantee-inner__octagon-hover {
      opacity: 1;
    }

    &:nth-child(1) .guarantee-inner__inner-text-block {
      max-width: 463px;

      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    &:nth-child(2) .guarantee-inner__inner-text-block {
      max-width: 545px;

      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    &:nth-child(3) .guarantee-inner__inner-text-block {
      max-width: 545px;

      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    &:nth-child(4) .guarantee-inner__inner-text-block {
      max-width: 500px;

      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    &:nth-child(5) .guarantee-inner__inner-text-block {
      max-width: 467px;

      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    &-text-block {
      text-align: left;

      &-vertical {
        width: 5px;
        height: 50px;
        background-color: $color_gold;
        display: inline-block;
        margin-left: 33px;

        @media (max-width: 1199px) {
          display: none;
        }
      }

      &-label {
        font-size: 22px;
        text-align: left;
        color: $color_black;
        margin-bottom: 14px;
        text-transform: uppercase;

        @media (max-width: 1199px) {
          text-align: center;
        }
      }
      &-paragraph {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: rgba(54, 54, 54, 0.75);
        margin-bottom: 26px;

        @media (max-width: 1199px) {
          text-align: center;
        }
      }
    }
  }
}

.consult {
  .guarantee-inner {
    padding: 38px 0 43px 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    @media (max-width: 1199px) {
      padding: 50px 15px 35px;
    }

    &__h3 {
      font-size: 40px;
      text-align: left;
      margin: 0 0 17px 0;
      color: $color_black;
      text-transform: uppercase;
      font-weight: 700;

      @media (max-width: 1199px) {
        font-size: 24px;
        max-width: 100%;
        text-align: center;
      }
    }

    &__text {
      font-size: 20px;
      text-align: left;
      line-height: 28px;
      margin: 0 0 68px;
      color: rgba(54, 54, 54, 0.75);
      font-weight: 400;
      max-width: 443px;

      @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 22px;
        max-width: 100%;
        margin-bottom: 33px;
      }
    }

    &__octagon {
      &-wrapper {
        position: relative;
        margin-left: 80px;

        @media (max-width: 1199px) {
          margin-left: 0;
        }
      }

      &-view {
        position: relative;
        z-index: 1;
        width: 170px;
        height: 170px;

        @media (max-width: 1199px) {
          width: 170px;
          height: 170px;
        }
      }

      &-hover {
        display: inline-block;
        opacity: 0;
        position: absolute;
        top: -3px;
        left: -3px;
        transition: opacity .3s ease-in-out;
        width: 176px;
        height: 176px;

        @media (max-width: 1199px) {
          width: 176px;
          height: 176px;
        }
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      text-decoration: none;

      @media (max-width: 1199px) {
        flex-direction: column-reverse;
        max-width: 100%;
      }

      &:nth-child(1) {
        margin-top: 0px;
      }
      &:nth-child(2) {
        margin-top: -15px;

        @media (max-width: 1199px) {
          margin-top: 0px;
        }
      }
      &:nth-child(3) {
        margin-top: -15px;

        @media (max-width: 1199px) {
          margin-top: 0px;
        }
      }
      &:nth-child(4) {
        margin-top: -15px;

        @media (max-width: 1199px) {
          margin-top: 0px;
        }
      }
      &:nth-child(5) {
        margin-top: -15px;

        @media (max-width: 1199px) {
          margin-top: 0px;
        }
      }

      &:nth-child(6) {
        margin-top: -15px;

        @media (max-width: 1199px) {
          margin-top: 0px;
        }
      }

      &:nth-child(7) {
        margin-top: -15px;

        @media (max-width: 1199px) {
          margin-top: 0px;
        }
      }

      &:hover &-text-block-label {
        color: $color_red_light;
      }

      &:hover &-text-block-paragraph {
        color: $color_gold_dark;
      }

      &:hover .guarantee-inner__octagon-hover {
        opacity: 1;
      }

      &:nth-child(1) .guarantee-inner__inner-text-block {
        max-width: 535px;

        @media (max-width: 1199px) {
          max-width: 100%;
        }
      }

      &:nth-child(2) .guarantee-inner__inner-text-block {
        max-width: 531px;

        @media (max-width: 1199px) {
          max-width: 100%;
        }
      }

      &:nth-child(3) .guarantee-inner__inner-text-block {
        max-width: 538px;

        @media (max-width: 1199px) {
          max-width: 100%;
        }
      }

      &:nth-child(4) .guarantee-inner__inner-text-block {
        max-width: 523px;

        @media (max-width: 1199px) {
          max-width: 100%;
        }
      }

      &:nth-child(5) .guarantee-inner__inner-text-block {
        max-width: 563px;

        @media (max-width: 1199px) {
          max-width: 100%;
        }
      }

      &:nth-child(6) .guarantee-inner__inner-text-block {
        max-width: 560px;

        @media (max-width: 1199px) {
          max-width: 100%;
        }
      }

      &:nth-child(7) .guarantee-inner__inner-text-block {
        max-width: 539px;

        @media (max-width: 1199px) {
          max-width: 100%;
        }
      }

      &-text-block {
        text-align: left;

        &-vertical {
          width: 5px;
          height: 50px;
          background-color: $color_gold;
          display: inline-block;
          margin-left: 33px;

          @media (max-width: 1199px) {
            display: none;
          }
        }

        &-label {
          font-size: 22px;
          text-align: left;
          color: $color_black;
          margin-bottom: 14px;
          text-transform: uppercase;

          @media (max-width: 1199px) {
            text-align: center;
          }
        }
        &-paragraph {
          font-size: 16px;
          line-height: 22px;
          text-align: left;
          color: rgba(54, 54, 54, 0.75);
          margin-bottom: 26px;

          @media (max-width: 1199px) {
            text-align: center;
          }
        }
      }
    }
  }
}

.attach {
  background: url('../images/svg/attach.svg') center center / contain no-repeat;
  width: 15px;
  height: 15px;
  max-width: 15px;
  min-width: 15px;
  min-height: 15px;
  max-height: 15px;
  margin-right: 8px;
  margin-top: 3px;
}

.now-work {
  padding: 38px 0 63px 64px;
  box-sizing: border-box;

  @media (max-width: 1199px) {
    padding: 0px 15px 35px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 46px;

    @media (max-width: 1199px) {
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__inner {
    display: inline-block;
    text-decoration: none;
    margin-right: 100px;
    margin-bottom: 64px;

    &:nth-child(3), &:nth-child(6) {
      margin-right: 0;
    }

    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      margin-bottom: 0;

      @media (max-width: 1199px) {
        margin-bottom: 33px;

        &:nth-child(6) {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 1199px) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &-logo {
      width: 200px;
      height: 81px;
      max-width: 200px;
      min-width: 200px;
      max-height: 81px;
      min-height: 81px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 19px;

      @media (max-width: 1199px) {
        margin-bottom: 10px;
      }

      &-baidu {
        background: url('../images/alibs_web/alibs_consult/baidu.png') center center / contain no-repeat;
        width: 200px;
        height: 65px;
        max-width: 200px;
        min-width: 200px;
        max-height: 65px;
        min-height: 65px;
      }

      &-alibaba {
        background: url('../images/alibs_web/alibs_consult/alibaba.png') center center / contain no-repeat;
        width: 200px;
        height: 69px;
        max-width: 200px;
        min-width: 200px;
        max-height: 69px;
        min-height: 69px;
      }

      &-aliexpress {
        background: url('../images/alibs_web/alibs_consult/aliexpress.png') center center / contain no-repeat;
        width: 200px;
        height: 37px;
        max-width: 200px;
        min-width: 200px;
        max-height: 37px;
        min-height: 37px;
      }

      &-1688 {
        background: url('../images/alibs_web/alibs_consult/1688.png') center center / contain no-repeat;
        width: 200px;
        height: 38px;
        max-width: 200px;
        min-width: 200px;
        max-height: 38px;
        min-height: 38px;
      }

      &-taobao {
        background: url('../images/alibs_web/alibs_consult/taobao.png') center center / contain no-repeat;
        width: 200px;
        height: 81px;
        max-width: 200px;
        min-width: 200px;
        max-height: 81px;
        min-height: 81px;
      }

      &-amazon {
        background: url('../images/alibs_web/alibs_consult/amazon.png') center center / contain no-repeat;
        width: 200px;
        height: 60px;
        max-width: 200px;
        min-width: 200px;
        max-height: 60px;
        min-height: 60px;
      }
    }

    &-label {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      width: 100%;
      text-align: center;
      color: $color_black;
      display: inline-block;
    }

    &:hover &-label {
      color: $color_gold;
      text-decoration: underline;
      text-decoration-skip: ink;
    }
  }
}

.news {

  &__tag {
    min-height: 52px;
    max-height: 52px;
    line-height: 52px;
    border-radius: 26px;
    background-color: $color_gold;
    text-decoration: none;
    color: $color_white;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 26px;
    margin-right: 20px;

    @media (max-width: 1199px) {
      min-height: 32px;
      max-height: 32px;
      line-height: 32px;
      font-size: 14px;
      padding-left: 13px;
      padding-right: 13px;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $color_gold_dark;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      @media (max-width: 1199px) {
        margin-bottom: 15px;
        justify-content: center;
      }
    }
  }

  &__share {

    &-wrapper {
      margin-left: 33px;
      position: relative;

      @media (max-width: 1199px) {
        margin-left: 0;
      }
    }

    &-btn {
      min-height: 52px;
      max-height: 52px;
      line-height: 44px;
      border-radius: 26px;
      border: 2px solid $color_gold;
      background-color: transparent;
      color: $color_gold;
      padding-left: 31px;
      padding-right: 31px;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;

      &.active_share {
        background-color: $color_gold;
        color: $color_white;
      }

      &.active_share &-icon {
        background: url('../images/svg/share-hover.svg') center center / contain no-repeat;
      }

      &-icon {
        background: url('../images/svg/share.svg') center center / contain no-repeat;
        width: 30px;
        height: 30px;
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px;
        display: inline-block;
        margin-right: 16px;
      }

      &:hover {
        background-color: $color_gold;
        color: $color_white;
      }

      &:hover &-icon {
        background: url('../images/svg/share-hover.svg') center center / contain no-repeat;
      }
    }

    &-group {
      position: absolute;
      top: 61px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0 21px;
      box-sizing: border-box;

      &-chain {
        background: url('../images/svg/share-link.svg') center center / contain no-repeat;
        width: 30px;
        height: 30px;
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px;
        display: inline-block;

        &:hover {
          background: url('../images/svg/share-link-hover.svg') center center / contain no-repeat;
        }
      }

      &-vk {
        background: url('../images/svg/share-vk.svg') center center / contain no-repeat;
        width: 30px;
        height: 18px;
        max-width: 30px;
        min-width: 30px;
        max-height: 18px;
        min-height: 18px;
        display: inline-block;

        &:hover {
          background: url('../images/svg/share-vk-hover.svg') center center / contain no-repeat;
        }
      }

      &-twitter {
        background: url('../images/svg/share-twit.svg') center center / contain no-repeat;
        width: 26px;
        height: 21px;
        max-width: 26px;
        min-width: 26px;
        max-height: 21px;
        min-height: 21px;
        display: inline-block;

        &:hover {
          background: url('../images/svg/share-twit-hover.svg') center center / contain no-repeat;
        }
      }

      &-facebook {
        background: url('../images/svg/share-facebook.svg') center center / contain no-repeat;
        width: 14px;
        height: 30px;
        max-width: 14px;
        min-width: 14px;
        max-height: 30px;
        min-height: 30px;
        display: inline-block;

        &:hover {
          background: url('../images/svg/share-facebook-hover.svg') center center / contain no-repeat;
        }
      }
    }
  }

  &__content {

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 70px;

      @media (max-width: 1199px) {
        flex-direction: column;
        margin-top: 33px;
      }
    }
  }
}

.read-more {
  padding: 38px 0 33px 64px;
  box-sizing: border-box;

  @media (max-width: 1199px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__wrapper {
    margin-top: 34px;
  }

  &__octagon {
    &-wrapper {
      position: relative;
      margin-right: 31px;

      @media (max-width: 1199px) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    &-view {
      position: relative;
      z-index: 1;
      width: 170px;
      height: 170px;

      @media (max-width: 1199px) {
        width: 170px;
        height: 170px;
      }
    }

    &-hover {
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: -3px;
      left: -3px;
      transition: opacity .3s ease-in-out;
      width: 176px;
      height: 176px;

      @media (max-width: 1199px) {
        width: 176px;
        height: 176px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 1199px) {
      flex-direction: column;
      max-width: 100%;
    }

    &:hover &-text-block-label {
      color: $color_red_light;
    }

    &:hover &-text-block-paragraph {
      color: $color_gold_dark;
    }

    &:hover .read-more__octagon-hover {
      opacity: 1;
    }

    &-text-block {
      text-align: left;
      max-width: 550px;

      &-vertical {
        width: 5px;
        height: 50px;
        background-color: $color_gold;
        display: inline-block;
        margin-left: 33px;

        @media (max-width: 1199px) {
          display: none;
        }
      }

      &-label {
        font-size: 22px;
        text-align: left;
        color: $color_black;
        margin-bottom: 14px;
        text-transform: uppercase;
        margin-top: 0;

        @media (max-width: 1199px) {
          text-align: center;
        }
      }
      &-paragraph {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: rgba(54, 54, 54, 0.75);
        margin-bottom: 0px;

        @media (max-width: 1199px) {
          text-align: center;
        }
      }
    }
  }
}

.team {
  padding: 80px 277px 30px 64px;

  @media (max-width: 1199px) {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;
  }

  &__wrapper {
    margin-top: 68px;

    @media (max-width: 1199px) {
      margin-top: 30px;
    }
  }

  &__octagon {
    &-wrapper {
      position: relative;
      margin-right: 31px;

      @media (max-width: 1199px) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    &-view {
      position: relative;
      z-index: 1;
      width: 200px;
      height: 200px;

      @media (max-width: 1199px) {
        width: 170px;
        height: 170px;
      }
    }

    &-hover {
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: -3px;
      left: -3px;
      transition: opacity .3s ease-in-out;
      width: 206px;
      height: 206px;

      @media (max-width: 1199px) {
        width: 176px;
        height: 176px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 1199px) {
      flex-direction: column;
      max-width: 100%;
      align-items: center;
    }

    &:hover &-label {
      color: $color_red_light;
    }

    &:hover &-paragraph {
      color: $color_gold_dark;
    }

    &:hover .team__octagon-hover {
      opacity: 1;
    }

    &-label {
      font-size: 22px;
      text-align: left;
      color: $color_black;
      margin-bottom: 14px;
      text-transform: uppercase;
      margin-top: 0;

      @media (max-width: 1199px) {
        text-align: center;
      }
    }
    &-paragraph {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      color: rgba(54, 54, 54, 0.75);
      margin-bottom: 0px;

      @media (max-width: 1199px) {
        text-align: center;
      }
    }

    &-position {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      color: $color_gold;
      margin-bottom: 0px;

      @media (max-width: 1199px) {
        text-align: center;
      }
    }
  }
}

.traffic {

  &__wrapper {
    padding-left: 64px;
    padding-top: 7px;
    margin-bottom: 89px;

    @media (max-width: 1199px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    @media (max-width: 1199px) {
      flex-direction: column-reverse;
      margin-bottom: 33px;
    }

    &-data {
      max-width: 552px;
      min-width: 552px;
      margin-right: 92px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
        margin-right: 0;
      }
    }

    &-logo-wrapper {
      max-width: 181px;
      min-width: 181px;
      height: auto;
      text-align: center;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 15px;
      }
    }

    &:nth-child(1) &-logo {
      background: url('../images/svg/transp-1.svg') center center / contain no-repeat;
      width: 181px;
      min-width: 181px;
      max-width: 181px;
      height: 105px;
      min-height: 105px;
      max-height: 105px;
      display: inline-block;

      @media (max-width: 1199px) {
        background: url('../images/svg/transp-1-hover.svg') center center / contain no-repeat;
        width: 82px;
        min-width: 82px;
        max-width: 82px;
        height: 65px;
        min-height: 65px;
        max-height: 65px;
      }
    }
    &:nth-child(3) &-logo {
      background: url('../images/svg/transp-4.svg') center center / contain no-repeat;
      width: 97px;
      min-width: 97px;
      max-width: 97px;
      height: 130px;
      min-height: 130px;
      max-height: 130px;
      display: inline-block;

      @media (max-width: 1199px) {
        background: url('../images/svg/transp-4-hover.svg') center center / contain no-repeat;
        width: 63px;
        min-width: 63px;
        max-width: 63px;
        height: 85px;
        min-height: 85px;
        max-height: 85px;
      }
    }
    &:nth-child(5) &-logo {
      background: url('../images/svg/transp-2.svg') center center / contain no-repeat;
      width: 146px;
      min-width: 146px;
      max-width: 146px;
      height: 116px;
      min-height: 116px;
      max-height: 116px;
      display: inline-block;

      @media (max-width: 1199px) {
        background: url('../images/svg/transp-2-hover.svg') center center / contain no-repeat;
        width: 101px;
        min-width: 101px;
        max-width: 101px;
        height: 58px;
        min-height: 58px;
        max-height: 58px;
      }
    }
    &:nth-child(7) &-logo {
      background: url('../images/svg/transp-3.svg') center center / contain no-repeat;
      width: 117px;
      min-width: 117px;
      max-width: 117px;
      height: 130px;
      min-height: 130px;
      max-height: 130px;
      display: inline-block;

      @media (max-width: 1199px) {
        background: url('../images/svg/transp-3-hover.svg') center center / contain no-repeat;
        width: 77px;
        min-width: 77px;
        max-width: 77px;
        height: 85px;
        min-height: 85px;
        max-height: 85px;
      }
    }

    &:hover {

      & .h5 {
        color: $color_red;
      }

      & .paragraph {
        color: $color_gold;
      }

      &:nth-child(1) .traffic__inner-logo {
        background: url('../images/svg/transp-1-hover.svg') center center / contain no-repeat;
        width: 181px;
        min-width: 181px;
        max-width: 181px;
        height: 105px;
        min-height: 105px;
        max-height: 105px;
        display: inline-block;

        @media (max-width: 1199px) {
          background: url('../images/svg/transp-1-hover.svg') center center / contain no-repeat;
          width: 82px;
          min-width: 82px;
          max-width: 82px;
          height: 65px;
          min-height: 65px;
          max-height: 65px;
        }
      }
      &:nth-child(3) .traffic__inner-logo {
        background: url('../images/svg/transp-4-hover.svg') center center / contain no-repeat;
        width: 97px;
        min-width: 97px;
        max-width: 97px;
        height: 130px;
        min-height: 130px;
        max-height: 130px;
        display: inline-block;

        @media (max-width: 1199px) {
          background: url('../images/svg/transp-4-hover.svg') center center / contain no-repeat;
          width: 63px;
          min-width: 63px;
          max-width: 63px;
          height: 85px;
          min-height: 85px;
          max-height: 85px;
        }
      }
      &:nth-child(5) .traffic__inner-logo {
        background: url('../images/svg/transp-2-hover.svg') center center / contain no-repeat;
        width: 146px;
        min-width: 146px;
        max-width: 146px;
        height: 116px;
        min-height: 116px;
        max-height: 116px;
        display: inline-block;

        @media (max-width: 1199px) {
          background: url('../images/svg/transp-2-hover.svg') center center / contain no-repeat;
          width: 101px;
          min-width: 101px;
          max-width: 101px;
          height: 58px;
          min-height: 58px;
          max-height: 58px;
        }
      }
      &:nth-child(7) .traffic__inner-logo {
        background: url('../images/svg/transp-3-hover.svg') center center / contain no-repeat;
        width: 117px;
        min-width: 117px;
        max-width: 117px;
        height: 130px;
        min-height: 130px;
        max-height: 130px;
        display: inline-block;

        @media (max-width: 1199px) {
          background: url('../images/svg/transp-3-hover.svg') center center / contain no-repeat;
          width: 77px;
          min-width: 77px;
          max-width: 77px;
          height: 85px;
          min-height: 85px;
          max-height: 85px;
        }
      }
    }

    &:nth-child(3) {
      margin-top: -26px;

      @media (max-width: 1199px) {
        margin-top: 0;
      }
    }
    &:nth-child(5) {
      margin-top: -19px;

      @media (max-width: 1199px) {
        margin-top: 0;
      }
    }
    &:nth-child(7) {
      margin-top: -25px;

      @media (max-width: 1199px) {
        margin-top: 0;
      }
    }
  }

  &__stick {
    width: 5px;
    min-width: 5px;
    max-width: 5px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 31px;
    margin-left: 32px;
    background-color: $color_gold;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__whole {
    background-color: rgba(85, 85, 85, .1);
    padding-left: 64px;
    padding-top: 80px;
    padding-bottom: 66px;
    margin-bottom: 16px;

    @media (max-width: 1199px) {
      padding-top: 35px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
    }

    @media (max-width: 1199px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 852px;
      margin-top: 65px;

      @media (max-width: 1199px) {
        max-width: 100%;
        flex-direction: column;
        margin-top: 33px;
      }
    }

    &-inner {
      display: flex;
      align-self: flex-start;
      margin-right: 65px;
      margin-bottom: 70px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 33px;
        justify-content: center;
      }

      &-label {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        color: $color_black;
        margin: 0 0 0 25px;
        max-width: 160px;
      }

      &:nth-child(1) &-logo {
        background: url('../images/svg/we-are-1.svg') center center / contain no-repeat;
        width: 55px;
        min-width: 55px;
        max-width: 55px;
        height: 61px;
        min-height: 61px;
        max-height: 61px;
        display: inline-block;
      }
      &:nth-child(2) &-logo {
        background: url('../images/svg/we-are-2.svg') center center / contain no-repeat;
        width: 55px;
        min-width: 55px;
        max-width: 55px;
        height: 55px;
        min-height: 55px;
        max-height: 55px;
        display: inline-block;
      }
      &:nth-child(3) &-logo {
        background: url('../images/svg/we-are-3.svg') center center / contain no-repeat;
        width: 55px;
        min-width: 55px;
        max-width: 55px;
        height: 53px;
        min-height: 53px;
        max-height: 53px;
        display: inline-block;
      }
      &:nth-child(4) &-logo {
        background: url('../images/svg/we-are-4.svg') center center / contain no-repeat;
        width: 55px;
        min-width: 55px;
        max-width: 55px;
        height: 56px;
        min-height: 56px;
        max-height: 56px;
        display: inline-block;
      }
      &:nth-child(5) &-logo {
        background: url('../images/svg/we-are-5.svg') center center / contain no-repeat;
        width: 55px;
        min-width: 55px;
        max-width: 55px;
        height: 58px;
        min-height: 58px;
        max-height: 58px;
        display: inline-block;
      }

      &:nth-child(3) {
         margin-right: 0;
      }
      &:nth-child(4) {
        margin-bottom: 0;

        @media (max-width: 1199px) {
          margin-bottom: 33px;
        }
      }
      &:nth-child(5) {
        margin-bottom: 0;
      }
    }
  }
}

.typical {

  &__list {
    padding-left: 64px;
    padding-top: 7px;
    margin-bottom: 89px;
    max-width: 570px;
    min-width: 570px;

    @media (max-width: 1199px) {
      max-width: 100%;
      min-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }

  &__inner {
    display: inline-block;
    cursor: pointer;

    @media (max-width: 1199px) {
      margin-bottom: 33px;
    }

    & .h5 {
      margin-bottom: 0px;
    }

    &:hover {

      & .h5 {
        color: $color_red;
      }

      & .paragraph {
        color: $color_gold;
      }
    }
  }

  &__stick {
    width: 5px;
    min-width: 5px;
    max-width: 5px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 30px;
    margin-left: 32px;
    background-color: $color_gold;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__time-constraints {
    background-color: rgba(85, 85, 85, .1);
    padding-left: 64px;
    padding-top: 78px;
    padding-bottom: 90px;
    margin-bottom: 16px;

    @media (max-width: 1199px) {
      padding-left: 15px;
      padding-right: 15px;
    }


    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 852px;

      @media (max-width: 1199px) {
        max-width: 100%;
        flex-direction: column;
      }
    }

    &-inner {
      &:nth-child(1) {
        margin-right: 145px;
        margin-bottom: 71px;

        @media (max-width: 1199px) {
          margin-right: 0;
          margin-bottom: 33px;
        }
      }
      &:nth-child(2) {
        margin-right: 93px;
        margin-bottom: 71px;

        @media (max-width: 1199px) {
          margin-right: 0;
          margin-bottom: 33px;
        }
      }

      &:nth-child(3) {
        margin-bottom: 71px;

        @media (max-width: 1199px) {
          margin-bottom: 33px;
        }
      }

      &:nth-child(4) {
        margin-right: 117px;

        @media (max-width: 1199px) {
          margin-right: 0;
          margin-bottom: 33px;
        }
      }

      &-label {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: $color_gold;
        margin: 0;
      }
      &-paragraph {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
        color: $color_black;
        margin: 0;
      }
    }
  }

  &__form {
    max-width: 370px;
    min-width: 370px;
    margin-top: 45px;

    & .input:nth-child(2) {
      margin-bottom: 30px;
    }

    @media (max-width: 1199px) {
      min-width: 100%;
      max-width: 100%;
      margin-top: 20px;
    }

    &-info-msg {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: rgba(54, 54, 54, 0.5);
      margin-bottom: 0;
      margin-left: 12px;
      margin-top: 18px;

      @media (max-width: 1199px) {
        text-align: center;
      }
    }

    &-wrapper {
      padding-left: 64px;
      margin-bottom: 92px;
      margin-top: 80px;

      @media (max-width: 1199px) {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
      }
    }
  }

  &__questions {
    background-color: rgba(85, 85, 85, .1);
    padding-left: 64px;
    padding-top: 78px;
    padding-bottom: 90px;
    margin-bottom: 16px;

    @media (max-width: 1199px) {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      box-sizing: border-box;
    }

    & > .paragraph {
      max-width: 603px;
      min-width: 603px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
      }
    }

    &-wrapper {
      max-width: 760px;
      min-width: 760px;

      @media (max-width: 1199px) {
        max-width: 100%;
        min-width: 100%;
      }
    }

    &-inner {
      margin-bottom: 36px;
      position: relative;

      @media (max-width: 1199px) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-arrow {
        position: absolute;
        left: -36px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url('../images/svg/arrow-gold-10px.svg') center center / contain no-repeat;
        width: 17px;
        min-width: 17px;
        max-width: 17px;
        height: 9px;
        min-height: 9px;
        max-height: 9px;
        display: block;
        transition: all 0s ease;

        @media (max-width: 1199px) {
          left: 0;
        }
      }

      &-header {
        margin-bottom: 10px;
        position: relative;

        &.active_question .typical__questions-inner-arrow {
          position: absolute;
          left: -36px;
          top: 0;
          bottom: 0;
          margin: auto;
          background: url('../images/svg/arrow-gold-10px.svg') center center / contain no-repeat;
          width: 17px;
          min-width: 17px;
          max-width: 17px;
          height: 9px;
          min-height: 9px;
          max-height: 9px;
          display: block;
          transition: all 0s ease;
          transform: rotate(-180deg);

          @media (max-width: 1199px) {
            left: 0;
          }
        }

        & > .h5 {
          color: $color_gold;
          cursor: pointer;

          @media (max-width: 1199px) {
            text-align: left;
            margin-left: 25px;
          }
        }
      }

      &-content {
        display: block;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        @media (max-width: 1199px) {
          .paragraph {
            text-align: left;
            padding-left: 25px;
          }
        }
      }
    }
  }
}