.b-msg {

  &__item {
    margin-bottom: 43px;

    @media (max-width: 1199px) {
      margin-bottom: 23px;
    }

    &_my {}

    &_manager {
      margin-left: 100px;

      @media (max-width: 1199px) {
        margin-left: 0;
      }
    }
  }

  &__header {
    margin-bottom: 13px;
  }

  &__name {
    color: $color_greyish-brown-75;
    font-size: 14px;
    text-align: left;

    &_color {
      color: $color_red_light;
      opacity: .75;
    }
  }

  &__time {
    color: $color_greyish-brown-75;
    font-size: 14px;
    text-align: left;

    &_color {
      color: $color_red_light;
      opacity: .75;
    }
  }

  &__body {}

  &__text {
    color: $color_greyish-brown-two;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin: 0;

    &_color {
      color: $color_red_light;
    }
  }

  &_textarea {
    min-height: 150px;
    max-height: 150px;
    margin-top: 7px;
  }

  &__kp {
    background: url('../images/svg/KP.svg') center center / contain no-repeat;
    width: 13px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
  }
  &__rub {
    background: url('../images/svg/bill.svg') center center / contain no-repeat;
    width: 11px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
  }

  &__link {
    color: rgba(54, 54, 54, 0.75);
    font-size: 16px;
    font-weight: 400;

    &:hover {
      color: $color_gold;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__func-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 48px;

    @media (max-width: 1199px) {
      padding-left: 0;
      flex-direction: column;
    }
  }
}