body {
  font-family: 'Open Sans', sans-serif;
}
* {
  transition: all .2s ease;
}

.btn {
  min-height: 52px;
  max-height: 52px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  line-height: 41px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  @media (max-width: 1199px) {
    min-width: 100%;
    max-width: 100%;
    line-height: 1;
    text-align: center;
  }

  &:hover {
    background-color: $color_red_dark;
  }
}

.btn-color-text_black {
  color: $color_black;
}

.btn-yellow {
  background-color: $color_gold;
  border: 3px solid $color_gold;

  &:hover {
    background-color: $color_gold_dark;
    border: 3px solid $color_gold_dark;
  }
}

.btn-red {
  background-color: $color_red_light;
  border: 3px solid $color_red_light;
  color: $color_white;

  &:hover {
    background-color: $color_red_dark;
    border: 3px solid $color_red_dark;
    color: $color_white;
  }
}

.btn-outline {
  background-color: $color_white;
  border: 3px solid $color_red_light;
  color: $color_red_light;

  &:hover {
    border: 3px solid $color_red_light;
    color: $color_white;
    background-color: $color_red_light;
  }
}

.input {
  min-height: 52px;
  max-height: 52px;
  line-height: 48px;
  padding: 0 31px;
  opacity: .9;
  border-radius: 26px;
  border: solid 2px transparent;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  width: 100%;

  &:focus {
    opacity: 1;
    border: solid 2px $color_gold;
  }

  &_border-grey{
    border-color: #ebebeb;
  }
}

.textarea {
  min-height: 124px;
  max-height: 124px;
  padding: 19px 31px;
  opacity: .9;
  border-radius: 26px;
  border: solid 2px transparent;
  box-sizing: border-box;
  outline: none;
  resize: none;
  margin-bottom: 20px;
  width: 100%;

  &:focus {
    opacity: 1;
    border: solid 2px $color_gold;
  }

  &_border-grey{
    border-color: #ebebeb;
    min-height: 89px;
    max-height: 89px;
  }
}


.slick-dots {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  margin: 30px 0 0 0;
  padding: 0;

  .slick-active {
    button {
      background-color: $color_gold_light;
      color: $color_gold_light;
    }
  }
  
  & > li {

    & > button {
      border-radius: 50%;
      background-color: $color_light_grey;
      width: 10px;
      height: 10px;
      overflow: hidden;
      box-sizing: border-box;
      border: none;
      color: $color_light_grey;
      max-width: 10px;
      max-height: 10px;
      min-height: 10px;
      margin-right: 10px;
      padding: 0;
      outline: none;
    }

    &:last-child {
      & > button {
        margin-right: 0;
      }
    }
  }
}
.h1 {
  font-size: 72px;
  font-weight: 700;
  color: $color_white;
  line-height: 84px;
  text-shadow: 4.9px 4.9px 39.6px rgba(48, 33, 23, 0.29), 4.9px 4.9px 9.6px rgba(47, 33, 23, 0.2);
  margin: 0;
  padding: 0;

  @media (max-width: 1199px) {
    font-size: 40px;
    line-height: 50px;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    text-align: center;
  }
}

.h4 {
  font-size: 24px;
  font-weight: 600;
  color: $color_white;
  line-height: 30px;
  text-shadow: 4.9px 4.9px 39.6px rgba(48, 33, 23, 0.29), 4.9px 4.9px 9.6px rgba(47, 33, 23, 0.2);
  margin: 0;
  padding: 0;

  @media (max-width: 1199px) {
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.paragraph {
  font-weight: 400;
  text-align: left;
  color: rgba(54, 54, 54, 0.75);
  margin-top: 0;

  &_20 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      font-size: 16px;
      margin-bottom: 15px;
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.input-file-container {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 25px;
}
.js .input-file-trigger {
  display: inline-block;
  color: rgba(54, 54, 54, 0.75);
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  transition: all .4s;
  cursor: pointer;
  outline: none;
  z-index: 1;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  color: $color_gold;
}

.file-return {
  margin: 0;
  padding-left: 23px;
}
.file-return:not(:empty) {
  margin: -10px 0 25px 0;
}
.js .file-return {
  color: rgba(54, 54, 54, 0.75);
  font-size: 14px;
  font-weight: 400;
}
.js .file-return:not(:empty):before {
  content: "Выбранный файл: ";
  color: rgba(54, 54, 54, 0.75);
  font-size: 14px;
  font-weight: 600;
}
