.container {
  width: 1170px;

  @media (max-width: 1199px) {
    width: 300px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}