.header {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  background-color: $chocolate_brown;
  text-align: center;

  &__work-platforms {
    flex: 1;

    &-text {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      opacity: .2;
      color: $color_white;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__lk {
    &-link {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      opacity: .2;
      color: $color_white;
      text-decoration: none;
    }
  }
}