.header {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  background-color: $chocolate_brown;
  text-align: center;
  position: relative;
  z-index: 999;

  &__work-platforms {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 1199px) {
      display: none;
    }

    &-text {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      opacity: .2;
      color: $color_white;
      margin-right: 29px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-right: 215px;

    &-inner {
      &:nth-child(1) &-link {
        background: url('../images/alibs_web/alibs_main_2.0/alibaba.png') center center / contain no-repeat;
        width: 111px;
        min-width: 111px;
        max-width: 111px;
        height: 20px;
        min-height: 20px;
        max-height: 20px;
        display: inline-block;
      }
      &:nth-child(2) &-link {
        background: url('../images/alibs_web/alibs_main_2.0/aliexpress.png') center center / contain no-repeat;
        width: 84px;
        min-width: 84px;
        max-width: 84px;
        height: 20px;
        min-height: 20px;
        max-height: 20px;
        display: inline-block;
      }
      &:nth-child(3) &-link {
        background: url('../images/alibs_web/alibs_main_2.0/taobao.png') center center / contain no-repeat;
        width: 106px;
        min-width: 106px;
        max-width: 106px;
        height: 14px;
        min-height: 14px;
        max-height: 14px;
        display: inline-block;
        position: relative;
        top: -2px;
      }
      &:nth-child(4) &-link {
        background: url('../images/alibs_web/alibs_main_2.0/amazon.png') center center / contain no-repeat;
        width: 86px;
        min-width: 86px;
        max-width: 86px;
        height: 17px;
        min-height: 17px;
        max-height: 17px;
        display: inline-block;
        position: relative;
        top: 4px;
      }
      &:nth-child(5) &-link {
        background: url('../images/alibs_web/alibs_main_2.0/1688.png') center center / contain no-repeat;
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        display: inline-block;
      }
      &-link {
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  &__lk {
    position: relative;

    .modal__add-to-product {
      text-align: left;
      padding-left: 20px;
      margin-bottom: 10px;
      margin-top: 0;
    }

    &-modal {
      position: absolute  !important;
      top: 36px !important;
      left: unset !important;
      right: 0 !important;
      bottom: unset !important;
      box-shadow: 0 10px 14px 2px rgba(37, 37, 37, 0.6) !important;
      border-radius: 10px !important;
      display: flex !important;

      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -14px;
        right: 80px;
        left: unset;
        margin: auto;
        border: 0 solid transparent;
        border-right-width: 15px;
        border-left-width: 15px;
        border-bottom: 15px solid $color_white;
      }

      @media (max-width: 1199px) {
        left: 0 !important;
      }
    }

    @media (max-width: 1199px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      background: url('../images/svg/enter-lk.svg') center center / contain no-repeat;
      width: 34px;
      min-width: 34px;
      max-width: 34px;
      height: 25px;
      min-height: 25px;
      max-height: 25px;
      display: inline-block;
      margin-right: 10px;
    }
    &-link {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      opacity: .2;
      color: $color_white;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        opacity: .8;
      }
    }
  }
}