.manager-client {
  margin-top: 69px;
  margin-left: 64px;
  max-width: 100%;

  @media (max-width: 1199px) {
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__table {
    width: 860px;
    margin-bottom: 22px;
    margin-left: -64px;

    &-wrapper {
      width: 860px;
    }

    @media (max-width: 1199px) {
      margin-bottom: 20px;
      margin-left: 0;
      &-wrapper {
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        margin-bottom: 100px;
      }
    }
  }

  &__func-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 910px;
    margin-top: 43px;
    margin-bottom: 22px;

    @media (max-width: 1199px) {
      max-width: 100%;
      flex-direction: column;
    }
  }

  &__select {
    display: inline-block;

    @media (max-width: 1199px) {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 868px;

    @media (max-width: 1199px) {
      max-width: 100%;
      flex-direction: column;
    }
  }

  &__btn {
    background-color: $color_disabled;
    border-radius: 50%;
    border: none;
    width: 42px;
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
    height: 42px;
    margin-left: -40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:hover {
      background-color: $color_gold_dark;
    }

    &-icon {
      background: url("../images/svg/search.svg") center center / contain no-repeat;
      width: 17px;
      min-width: 17px;
      max-width: 17px;
      min-height: 17px;
      max-height: 17px;
      height: 17px;
      display: inline-block;
    }
  }

  &__input {
    margin: 0;
    min-height: 42px;
    max-height: 42px;
    height: 42px;
    line-height: 42px;
    padding-left: 20px;
    font-size: 14px;
    min-width: 200px;
    max-width: 200px;

    @media (max-width: 1199px) {
      max-width: 100%;
      min-width: 100%;
    }

    &:focus {
      & ~ .orders-clients__btn {
        background-color: $color_gold;

        &:hover {
          background-color: $color_gold_dark;
        }
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

}