.table {
  border-collapse: collapse;

  &__thead {}

  &__tbody {}

  &__th {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: $color_greyish-brown-50;
    padding: 20px 0;

    &[data-type=date] {
      text-decoration: underline;
      text-decoration-skip: ink;
      cursor: pointer;

      &:hover {
        color: $color_gold;

        & .table__arrow-icon {
          background: url("../images/svg/arrow-gold-10px.svg") center center / contain no-repeat;
        }
      }
    }

    &_padding {
      padding-left: 64px;
      min-width: 13%;

      @media (max-width: 1199px) {
        padding-left: 0;
        min-width: 5%;
      }
    }
  }

  &__tr {
    
    &_active {
      background-color: $color_disabled;
    }
  }

  &__td {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: $color_greyish-brown-two;
    padding: 21px 0;

    &_padding {
      padding-left: 64px;
      min-width: 13%;

      @media (max-width: 1199px) {
        padding-left: 0;
        min-width: 5%;
      }
    }
  }

  &__arrow-icon {
    background: url("../images/svg/arrow-grey-10px.svg") center center / contain no-repeat;
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: 4px;
    position: relative;
    top: -2px;
  }

  &__link {
    font-weight: 700;
    color: $color_greyish-brown-two;

    &:hover {
      color: $color_gold;
    }

    &_mail {
      font-weight: 400;
      text-decoration: none;
    }

    &_edit {
      font-weight: 400;
      color: $color_greyish-brown-75;
      font-size: 14px;

      &:hover {
        color: $color_red;
      }
    }

    &_on-goods {
      color: $color_gold;
      font-weight: 400;
      max-width: 230px;
      min-width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;

      &:hover {
        color: $color_red;
      }
    }
  }

  &__name {
    display: inline-block;
    min-width: 225px;
    max-width: 225px;
  }

  &__count {
    font-weight: 700;
    display: inline-block;
    max-width: 160px;
    min-width: 160px;
  }

  &__account {
    font-weight: 700;

    &_exposed {
      color: $color_red_light;
    }

    &_paid {
      color: $color_medium-green;
    }

    &_refusal {
      color: $color_gold;
    }
  }

  &__msg {
    margin-right: 32px;
    display: inline-block;

    &_unread {
      font-weight: 700;
      margin-right: 26px;
    }
  }

  &__number {
    display: inline-block;

    &_unread {
      font-weight: 700;
    }
  }

  &__circle {
    width: 9px;
    height: 9px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-right: 9px;
    position: relative;
    top: -1px;

    &_unread {
      background-color: $color_gold;
    }
  }

  &__sum {
    font-size: 16px;
    font-weight: 700;
    color: $color_gold;
    text-align: left;
  }

  &__operations {
    font-size: 16px;
    font-weight: 700;
    text-align: left;

    &_expense {
      color: $color_red;
    }

    &_receipt {
      color: $color_medium-green;
    }
  }

  &__comment {

    &_goods {
      min-width: 352px;
      max-width: 352px;
      display: inline-block;
    }
  }

  &__order {
    font-size: 16px;
    font-weight: 700;
    text-align: left;

    &_exposed {
      color: $color_red;
    }
  }

  &__checkbox {
    display:none;
  }

  &__checkbox + label span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background-color: $color_white;
    cursor:pointer;
    border: 1px solid rgba(54, 54, 54, .3);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 1.1px 3px $color_white;
  }

  &__checkbox:checked + label span {
    background-color: $color_gold;
    padding: 3px;
  }

  &__balance {
    font-weight: 700;
    color: $color_gold;
  }

  &__type-order {
    font-weight: 700;
  }

  &__not-assigned {
    color: rgba(69, 69, 69, 0.3);
  }


  &_order {
    margin-bottom: 0 !important;

    & .table__th {
      padding: 10px 0;
    }

    & .table__td {
      padding: 15px 0 27px;
    }
  }
}