$chocolate_brown: #3e2e25;
$color_white: #ffffff;
$color_gold: #cdaf3a;
$color_gold_light: #cbad47;
$color_gold_dark: #b19334;
$color_black: #363636;
$color_black_light: #4e4e4e;
$color_red: #e50202;
$color_red_light: #fa0000;
$color_red_dark: #c40000;
$color_grey: #999797;
$color_grey_dark: #5b5b5b;
$color_camo_green: #3e2e25;
$color_light_grey: #cccccc;
$color_greyish-brown-50: rgba(69, 69, 69, 0.5);
$color_greyish-brown-75: rgba(69, 69, 69, 0.5);
$color_greyish-brown-two: #454545;
$color_medium-green: #31a34d;
$color_dark-green: #05A31B;
$color_disabled: #ebebeb;