/*23022017*/
body{
    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
}
.header_desktop{
    display: block;
}
.header__menu_mobile{
      display: none;
  }
header{
    background: url(../img/header_decor.png) no-repeat center top;
    margin-bottom: 50px;
}
.header__nav{
    background: -webkit-radial-gradient(center, circle,#ed6f26, #e66627 );
    background: radial-gradient(circle at center,#ed6f26, #e66627 );
    padding: 8px 0;
    overflow: hidden;
    position: relative;
}
.header__nav:after{
    content: '';
    background: url(../img/decor_right.png) no-repeat;
    width: 177px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.header__nav:before{
    content: '';
    background: url(../img/decor_left.png) no-repeat;
    width: 178px;
    height: 35px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.header__nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
}
.header__nav ul li{
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    z-index: 1;
    opacity: 0.8;
}
.header__nav ul li a{
    color: #fff;
}
.header__nav ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.header__nav ul li a:active{
    color: #fff;
    text-decoration: none;
}
.header__nav ul li:hover{
    opacity: 1;
    cursor: pointer;
}
.header__nav ul li:after{
    content: '';
    background: url(../img/SVG/external_link.svg) no-repeat;
    color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 4px;
}
.header__center{
    padding: 20px 0 20px 15px;
}
.header__center_text{
    font-size: 27px;
    font-weight: 300;
    color: #000;
    padding: 30px 0;
    letter-spacing: 0.8px;
}
.header__center_text img{
    padding: 10px 0 0 0;
}
.header__search{
    padding: 45px 0;
}
.header__search_social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
}
.header__search_social a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__search_social a span{
    margin: 0 7px;
    width: 15px;
    height: 15px;
    display: block
}
.header__search_social a:nth-child(1) span{
        background: url(../img/SVG/fb_header.svg) no-repeat;
}
.header__search_social a:hover:nth-child(1) span{
        background: url(../img/SVG/fb_header_hover.svg) no-repeat;
}
.header__search_social a:nth-child(2) span{
        background: url(../img/SVG/twitter_header.svg) no-repeat;
        width: 17px;
        height: 12px;
}
.header__search_social a:hover:nth-child(2) span{
        background: url(../img/SVG/twitter_header_hover.svg) no-repeat;
}
.header__search_social a:nth-child(3) span{
        background: url(../img/SVG/vk_header.svg) no-repeat;
        width: 18px;
        height: 13px;
}
.header__search_social a:hover:nth-child(3) span{
        background: url(../img/SVG/vk_header_hover.svg) no-repeat;
}
.header__search_social a:nth-child(4) span{
        background: url(../img/SVG/youtube_header.svg) no-repeat;
        width: 18px;
        height: 13px;
}
.header__search_social a:hover:nth-child(4) span{
        background: url(../img/SVG/youtube_header_hover.svg) no-repeat;
}
.header__search_social a:nth-child(5) span{
        background: url(../img/SVG/instagram_header.svg) no-repeat;
        width: 16px;
        height: 16px;
}
.header__search_social a:hover:nth-child(5) span{
        background: url(../img/SVG/instagram_header_hover.svg) no-repeat;
}
.header__search_lang-and-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5px 10px 10px;
}
.header__search_lang span{
    opacity: 0.7;
}
.header__search_lang a{
    font-size: 14px;
    color: #2479bc;
    text-transform: uppercase;
}
.header__search_lang-active{
    color: #000 !important;
}
.header__search_input input{
    width: 270px;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    padding: 10px 35px 10px 25px;
    background: url(../img/SVG/search.svg) no-repeat;
    background-position: 237px;
    background-size: 15px;
    background-color: #fff;
}
.header__search_input input:focus{
    outline: unset;
    border: 1px solid #febe10;
}
/*.header__search_social a:nth-child(1){
    background: url(../img/SVG/vk_header.svg) no-repeat;
    width: 100%;
    height: 100%;
}*/
.header__menu_dropdown_media{
    display: none;
    background: #fff;
    box-shadow: 0px 0px 20px -6px #000;
    padding: 15px 25px;
    border-radius: 5px;
    position: absolute;
    right: -45px;
    top: 55px;
    border: 1px solid #e2e2e2;
    z-index: 2;
}
.header__menu_dropdown_media:before{
    content: '';
    position: absolute;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 83px;
}
.header__menu_dropdown_universiade{
    display: none;
    background: #fff;
    box-shadow: 0px 0px 20px -6px #000;
    padding: 15px 25px;
    border-radius: 5px;
    position: absolute;
    left: -11px;
    top: 55px;
    border: 1px solid #e2e2e2;
    z-index: 2;
}
.header__menu_dropdown_universiade:before{
    content: '';
    position: absolute;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 85px;
}
 .header__menu_dropdown_sports{
    display: none;
    background: #fff;
    box-shadow: 0px 0px 20px -6px #000;
    padding: 15px 0px 15px 15px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 55px;
    border: 1px solid #e2e2e2;
    z-index: 2;
 }
 .header__menu_dropdown_sports:before{
    content: '';
    position: absolute;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 440px;
}
.header__menu_dropdown_media .header__menu_dropdown-ul,
.header__menu_dropdown_universiade .header__menu_dropdown-ul,
.header__menu_dropdown_sports .header__menu_dropdown-ul{
    padding: 0;
}
.header__menu_dropdown_sports .header__menu_dropdown-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__menu_dropdown_media .header__menu_dropdown-ul .header__menu_dropdown-ul-li,
.header__menu_dropdown_universiade .header__menu_dropdown-ul .header__menu_dropdown-ul-li{
    list-style-type: none;
    padding: 5px 0;
}
.header__menu_dropdown_sports .header__menu_dropdown-ul .header__menu_dropdown-ul-li {
    list-style-type: none;
    padding: 5px;
    width: 120px;
    margin: 0 25px;
}
.header__menu_dropdown_sports .header__menu_dropdown-ul .header__menu_dropdown-ul-li:nth-child(4){
    width: 150px;
}
.header__menu_dropdown_media .header__menu_dropdown-ul .header__menu_dropdown-ul-li a,
.header__menu_dropdown_universiade .header__menu_dropdown-ul .header__menu_dropdown-ul-li a{
    color: #2479bc;
    font-size: 14px;
    font-weight: unset;
    text-transform: unset;
}
.header__menu_dropdown_sports .header__menu_dropdown-ul .header__menu_dropdown-ul-li a {
    color: #2479bc;
    font-size: 14px;
    font-weight: unset;
    text-transform: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__menu_dropdown_sports .header__menu_dropdown-ul .header__menu_dropdown-ul-li a img{
    margin: 0 10px 0 0;
}
.header__menu .header__menu-ul .header__menu-ul-li a:hover + .header__menu_dropdown_media,
.header__menu .header__menu-ul .header__menu-ul-li a:hover + .header__menu_dropdown_universiade{
    display: block;
}
.header__menu .header__menu-ul .header__menu-ul-li a:hover + .header__menu_dropdown_sports{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/*menu*/
.header__menu{
    background: url(../img/bg_menu.png) no-repeat;
    background-size: cover;
}
.header__block_menu{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0px;
    padding: 0px;
}
.header__block_menu li{
    padding: 20px 0;
}
.header__block_menu li a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.header__block_menu li a:hover{
    color: #d45027;
    text-decoration: none;
}
.header__block_menu-double{
    display: none;
    background: #fff;
    box-shadow: 0px 0px 20px -6px #000;
    padding: 15px 35px 0;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #e2e2e2;
    z-index: 2;
    top: 72px;
    left: -24px;
}
.header__block_menu-double:before{
    content: '';
    position: absolute;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 50%;
}
.header__block_menu-double:after{
    content: '';
    position: absolute;
    width: 140px;
    height: 20px;
    background: transparent;
    top: -20px;
    right: 0;
}
.header__block_menu-double li{
    padding: unset;
    list-style-type: none;
    padding: 5px 0;
    margin: 0 0 12px 0;
}
.header__block_menu-double li a{
    color: #2479bc;
    font-size: 14px;
    font-weight: unset;
    text-transform: unset;
}
.header__block_menu-double li a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.header__block_menu li:hover .header__block_menu-double{
    display: block;
}
.header__block_menu-double-sports{
    display: none;
    background: #fff;
    box-shadow: 0px 0px 20px -6px #000;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #e2e2e2;
    z-index: 2;
    top: 72px;
    left: 22%;
}
.header__block_menu-double-sports ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
}
.header__block_menu-double-sports ul li{
    width: 120px;
    margin: 0 25px;
}
.header__block_menu-double-sports ul li a{
    color: #2479bc;
    font-size: 14px;
    font-weight: unset;
    text-transform: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__block_menu-double-sports ul li a img{
    margin: 0 10px 0 0;
}
.header__block_menu-double-sports ul li:nth-child(4) {
    width: 150px;
}
.header__block_menu-double-sports:before{
    content: '';
    position: absolute;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 50%;
}
.header__block_menu-double-sports:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: transparent;
    top: -20px;
    right: 0;
}
.header__block_menu-double-sports li{
    padding: unset;
    list-style-type: none;
    padding: 5px 0;
}
.header__block_menu-double-sports li a{
    color: #2479bc;
    font-size: 14px;
    font-weight: unset;
    text-transform: unset;
}
.header__block_menu-double-sports li a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.header__block_menu li:hover .header__block_menu-double-sports{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 915px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.header__block_menu-double-media{
    display: none;
    background: #fff;
    box-shadow: 0px 0px 20px -6px #000;
    padding: 15px 35px 0;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #e2e2e2;
    z-index: 2;
    top: 72px;
    right: -40px;
}
.header__block_menu-double-media ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
}
.header__block_menu-double-media:before{
    content: '';
    position: absolute;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 37%;
}
.header__block_menu-double-media:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: transparent;
    top: -20px;
    right: 0;
}
.header__block_menu-double-media li{
    padding: unset;
    list-style-type: none;
    padding: 5px 0;
    margin: 0 0 12px 0;
}
.header__block_menu-double-media li a{
    color: #2479bc;
    font-size: 14px;
    font-weight: unset;
    text-transform: unset;
}
.header__block_menu-double-media li a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.header__block_menu li:hover .header__block_menu-double-media{
    display: block;
}
#search{
    display: block;
    background: url(../img/SVG/search.svg) no-repeat;
    border: 1px solid #e2e2e2;
    width: 38px;
    height: 38px;
    border-radius: 20px;
}
@media (max-width:1024px){
    .header__block_menu-double-sports{
        left: 1%;
    }
    .header__block_menu-double-sports:before {
        right: 36%;
    }
    .header__block_menu-double-media {
        right: 0%;
    }
    .header__block_menu-double-media:before {
        right: 16%;
    }
}
@media (max-width: 850px){
    .header__center_text{
        position: relative;
        left: -40px;
    }
    .header__center_input{
        padding: 0px;
        position: relative;
        left: -20px;
    }
    .header__center{
        margin: 0px;
    }
    .header__block_menu li:hover .header__block_menu-double-sports {
        width: 730px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .header__block_menu-double-sports ul:nth-child(1) {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .header__block_menu-double-sports ul li:nth-child(4) {
        width: 0px;
    }
    .header__block_menu-double-sports ul li {
        margin: 0 20px;
    }
    .header__block_menu-double {
        left: 1%;
    }
    .header__block_menu-double:before {
        right: 70%;
    }
}
@media (max-width:767px){
    .logo_header_mobile a img{
        height: 65px;
    }
    .padding-l-r{
        padding: 0 15px;
    }
    .header__search_social{
        margin: 0 0 15px;
    }
    .header_desktop{
        display: none;
    }
    .header__menu_mobile{
      display: block;
    }
    .block_mobile_ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .block_mobile_ul li{
        position: relative;
    }
    .block_mobile_ul li a{
        color: #2479bc !important;
        font-size: 14px;
    }
    .block_mobile_ul li a:after {
        content: '';
        background: url(../img/SVG/external_link_blue.svg) no-repeat;
        color: #2479bc;
        width: 10px;
        height: 10px;
        position: absolute;
        margin: 0 0 0 4px;
    }
/*mobile*/
    .header__menu{
        background: url(../img/bg_menu.png) no-repeat;
        background-size: cover;
    }
    .header__block_menu{
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-bottom: 0px;
    }
    .header__block_menu li{
        padding: 20px 0;
    }
    .header__block_menu li a{
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
    .header__block_menu li a:hover{
        color: #d45027;
        text-decoration: none;
    }
    .header__block_menu-double{
        display: none;
        background: #fff;
        box-shadow: 0px 0px 20px -6px #000;
        padding: 15px 25px;
        border-radius: 5px;
        position: absolute;
        border: 1px solid #e2e2e2;
        z-index: 2;
        top: 72px;
        left: 85px;
    }
    .header__block_menu-double:before{
        content: '';
        position: absolute;
        top: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
        right: 85px;
    }
    .header__block_menu-double:after{
        content: '';
        position: absolute;
        width: 140px;
        height: 20px;
        background: transparent;
        top: -20px;
        right: 0;
    }
    .header__block_menu-double li{
        padding: unset;
        list-style-type: none;
        padding: 5px 0;
    }
    .header__block_menu-double li a{
        color: #2479bc;
        font-size: 14px;
        font-weight: unset;
        text-transform: unset;
    }
    .header__block_menu-double li a:hover{
        color: #d45027;
        text-decoration: none;
    }
    .header__block_menu li:hover .header__block_menu-double{
        display: block;
    }
    .search,  #menu_mobile {
        width: 38px;
        height: 38px;
        border: 1px solid #e2e2e2;
        border-radius: 20px;
        background-color: #fff;
    }
    .search:focus{
        outline: unset;
        border: 1px solid #febe10
    }

    /*hamburger*/

    .mobile-search-input{
        background: #fff;
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 109px;
        width: 100%;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;
    }

    .mobile-header-nav {
        background-color: #f9f9f9;
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 109px;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2)
    }
    .mobile-header-nav li a {
        color: #ed6f26;
        display: block;
        padding: 15px 0;
        text-align: left;
        padding-left: 15px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger-menu {
        background: #fff;
        display: inline-block;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border: 1px solid #e2e2e2;
        height: 38px;
        width: 38px;
        padding: 9px 6px;
        border-radius: 20px;
        position: relative;
        top: 13px;
        margin-left: 11px;
    }
    .hamburger-menu:hover {
        cursor: pointer;
    }
    .hamburger-menu .menu-item {
        background: #ed6f26;
        display: block;
        height: 3px;
        margin: 0 0 5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }
    .hamburger-menu.open .menu-item {
        margin: 0 0 5px;
    }
    .hamburger-menu.open .menu-item:first-child {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 5px;
                transform-origin: 5px;
        width: 28px;
        position: relative;
        left: 1px;
    }
    .hamburger-menu.open .menu-item:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.open .menu-item:nth-child(3) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: 1.5px;
                transform-origin: 1.5px;
        width: 29px;
        position: relative;
        left: 1px;
    }
    .header__menu_mobile{
        padding: 15px 0 19px;
        box-shadow: 0px 1px 1px #c7c9cc;
        position: relative;
        background: url(../img/header_decor.png) no-repeat;
        background-size: 140% 970%;
        background-color: #f9f9f9;
        background-position-y: -240px;
    }
    .search_mobile{
        width: 100%;
        border: 1px solid #e2e2e2;
        border-radius: 20px;
        padding: 10px 35px 10px 25px;
        background: url(../img/SVG/search.svg) no-repeat;
        background-position: 98%;
        background-size: 15px;
        background-color: #fff;
    }
    .header__mobile div{
        font-size: 17px;
        font-weight: 300;
        color: #333;
        letter-spacing: 0.3px;
    }
    .header__search_lang_mob{
        padding: 20px 0;
    }
    .arrow_down{
        margin-left: 10px;
    }
    .arrow_down_rot{
        -webkit-transform: rotate(180deg); 
        transform: rotate(180deg);
    }
    .list-group-item a{
        color: #2479bc !important;
        font-size: 14px;
        font-weight: unset;
        text-transform: unset;
        padding: unset !important;
    }
    .list-group-item a:hover{
        color: #37a8dd;
        text-decoration: none;
    }
    .list-group-item{
        border: unset !important;
        background: #f9f9f9 !important;
    }
}
@media (max-width: 749px){
    .mobile-search-input{
        background: #fff;
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100px;
        width: 100%;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;
    }

    .mobile-header-nav {
        background-color: #f9f9f9;
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100px;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2)
    }
}
@media (max-width: 375px){
    .search_mobile {
        background-position: 96%;
    }
}
