h2{
    font-size: 26px;
    font-weight: 600;
    color: #ed6f26;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.table__schedule{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    border-collapse: separate;
}
.table__schedule tr td{
    border-right: 1px solid #e2e2e2;
    padding: 10px 20px;
    width: 165px;
}
.table__schedule tr:nth-child(2n+1){
    background: #fff;
}
.table__schedule tr td:hover{
    background: #faedca;
    cursor: pointer;
}
.table__schedule tr td:hover:nth-child(1){
    background: transparent;
    cursor: pointer;
}
.table__schedule tr td a{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
}
.table__schedule tr td a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.table__schedule tr td a img{
    margin: 0 20px 0 0;
    box-sizing: border-box;
}
.table__schedule tr td:nth-child(8){
    border-right: unset;
}
.table__schedule_6{
    display: block;
    width: 14px;
    background: #febe10;
    position: relative;
    height: 8.08px;
    margin: 4.04px 0;
    left: 35%;
}

.table__schedule_6:before,
.table__schedule_6:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.table__schedule_6:before {
    bottom: 100%;
    border-bottom: 4.04px solid #febe10;
}

.table__schedule_6:after {
    top: 100%;
    width: 0;
    border-top: 4.04px solid #febe10;
}
.table__schedule_result{
    width: 100%;
}
.table__schedule_result tr td{
    font-size: 16px;
    color: #3282c0;
    line-height: 50px;
    text-align: center;
}
.table__schedule_result tr td:nth-child(1){
    text-align: left;
    padding: 0 0 0 27px;
    width: 20.5%;
}
.table__schedule_result tr td a:hover{
    text-decoration: none;
    color: #37a8dd;
}
.table__schedule_result_active{
    text-decoration: none;
    color: #fff;
    background: #febe10;
    padding: 3px 5px;
    border-radius: 15px;
}
.table__schedule_6_small {
    display: block;
    position: relative;
    width: 10px; 
    height: 5.77px;
    background-color: #febe10;
    margin: 2.89px 0;
    left: 42%;
}

.table__schedule_6_small:before,
.table__schedule_6_small:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.table__schedule_6_small:before {
    bottom: 100%;
    border-bottom: 2.89px solid #febe10;
}

.table__schedule_6_small:after {
    top: 100%;
    width: 0;
    border-top: 2.89px solid #febe10;
}
.view__list_btn{
    text-transform: uppercase;
    color: #fff;
    background: #ed6f26;
    border-radius: 8px;
    padding: 15px 20px;
    display: inline-block;
}
.view__list_btn:hover{
    text-decoration: none;
    background: #febe10;
    color: #fff;
}
.mail_sub_btn{
    text-transform: uppercase;
    color: #fff;
    background: #ed6f26;
    border-radius: 8px;
    padding: 15px 20px;
    display: inline-block;
}
.mail_sub_btn:hover{
    text-decoration: none;
    background: #febe10;
    color: #fff;
}
.block_list_medal{
    padding: 0px;
}
.table_small_list{
    margin: 10px 0 20px 0;
}
.table_small_list tbody tr td:nth-child(1){
    display: flex;
    align-items: baseline;
}
.table_small_list tbody tr:nth-child(1) td{
    margin: 15px 0 0 0;
    padding: 15px 0 0;
}
.table_small_list thead tr td, .table_small_list tbody tr td{
    text-align: center;
}
.table_small_list thead tr td a{
    font-size: 16px;
    color: #3282c0;
}
.table_small_list thead tr td a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.table_small_list tbody tr td{
    padding: 10px 0;
}
.table_small_list tbody tr td img{
    padding: 0 3px;
}
.table_small_list tbody tr td{
    color: #78797a;
    font-size: 13px;
    font-weight: 300;
}
.table_small_list tbody tr td:nth-child(1), 
.table_small_list tbody tr td:nth-child(5){
    color: #333;
    font-weight: unset;
}
.table_small_list tbody tr td:nth-child(1){
    padding: 10px 0 10px 16px;
}
.table_small_list tbody tr td span{
    color: #333;
    font-weight: 300;
}
.input_mail_sub{
    width: 230px;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    padding: 10px 45px 10px 25px;
    background: url(../img/SVG/envelope.svg) no-repeat;
    background-position: 190px;
    background-size: 20px 12px;
    margin: 0 0 30px 0;
    background-color: #fff;
}
.input_mail_sub:focus{
    border: 1px solid #febe10;
    outline: unset;
}
.block_subscribe{
    margin: 44px 0 50px 0;
}
.block_info{
    padding: 0 0 0 10px;
}
.block_info span{
    font-size: 13px;
    color: #333;
}
.block_info div:nth-child(1){
    padding: 0 0 20px 0;
}
.block_info img:nth-child(1){
    padding: 0 25px 0 0;
}
.block_info .block_medal img{
    padding: 0 19px 0 0;
}
.block__news_open{
    background: url(../img/open_univer.jpg) no-repeat;
    background-size: 120% 430px;
    border-radius: 8px;
    height: 430px;
    background-position-x: -20px;
    overflow: hidden;
    position: relative;
}

.block__news_open img, .block__news_results img, .block__news_results_two img{
    width: 15px;
    position: absolute;
    top: 10px;
    left: 20px;
}
.block__news_open-text{
    position: absolute;
    bottom: 0px;
    padding: 0 35px 10px 20px;
    opacity: 0.8;
}
.block__news_open-text h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}
.block__news_open-text p, .block__news_results-text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    opacity: 0.8;
}
.block__news_open:after, .block__news_results:after, .block__news_results_two:after{
    content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to top, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    opacity: 0.8;
}
.block__news_a a:hover * .block__news_open:after, 
.block__news_a a:hover * .block__news_results:after, 
.block__news_a a:hover * .block__news_results_two:after,
.block__news_a a:hover * .block__news_open-text, 
.block__news_a a:hover * p{
    opacity: 1;
}
.block__news_results{
    background: url(../img/results_1.jpg);
    background-size: 180% 150%;
    background-position-x: -130px;
    border-radius: 8px;
    height: 173px;
    overflow: hidden;
    position: relative;
}
.block__news_results_two{
    background: url(../img/results_2.jpg);
    background-size: 180% 130%;
    background-position-x: -50px;
    border-radius: 8px;
    height: 227px;
    overflow: hidden;
    position: relative;
    background-position-y: -30px;
    margin-top: 30px;
}

.block__news_results-text {
    position: absolute;
    bottom: 0px;
    padding: 0 19px 10px 19px;
}
.padding-right_null{
    padding-right: 0px;
}
.margin_top{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*block__list_news*/
.block__list_news{
    position: relative;
    top: -17px;
}
.block__list_news h4{
    font-size: 16px;
    color: #3282c0;
}
.block__list_news h4 a:hover{
    font-size: 16px;
    color: #37a8dd;
    text-decoration: none;
}
.block__news_p_header{
    font-size: 13px;
    font-weight: 400;
    color: #ed6f26;
    line-height: 20px;
}
.block__news_p_main{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333;
}
.block__list_news_one{
    margin: 9px 0;
}
.block__list_news_block_btn{
    padding: 0;
    text-align: center;
}
.all_news_btn{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: #ed6f26;
    border-radius: 8px;
    padding: 15px 35px;
}
.all_news_btn:hover{
    text-decoration: none;
    background: #febe10;
    color: #fff;
}

/*block__sport_object*/
.block__sport_object{
    background: url(../img/sports_object.png) no-repeat;
    background-size: 100% 551px;
    height: 551px;
    position: relative;
}
.block_popup{
    display: block;
    padding: 20px 25px;
    background:rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    text-align: center;
    position: absolute;
}
.block_popup a{
    color: #3282c0;
}
.block_popup a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.block_popup:after{
    content: '';
    position: absolute;
    top: 79px;
    border: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.9);
    right: 45%;
}
.block_popup:nth-child(1){
    top: 57%;
    left: 1%;
}
.block_popup:nth-child(3) {
    top: 28%;
    right: 46%;
}
.block_popup:nth-child(2) {
    top: 28%;
    left: 14.5%;
}
.block_popup:nth-child(4){
    top: 44%;
    right: 24%;
}
.block_popup:nth-child(5){
    top: 30%;
    right: 1%;
}
.block_popup_animate {
  -moz-animation: bounce 2s ;
  -webkit-animation: bounce 2s ;
  animation: bounce 2s ;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media (max-width:1600px){
    .block_popup:nth-child(2){
        top: 28%;
        left: 13.5%;
    }
    .block_popup:nth-child(3){
        top: 28%;
        right: 45%;
    }
}
@media (max-width: 1366px){
    .block_popup:nth-child(2){
        top: 28%;
        left: 12.3%;
    }
    .block_popup:nth-child(3){
        top: 28%;
        right: 43.8%;
    }
    .block_popup:nth-child(4){
        top: 44%;
        right: 22.8%;
    }
}
@media (max-width: 1280px){
    .block_popup:nth-child(2){
        top: 28%;
        left: 11.7%;
    }
    .block_popup:nth-child(3){
        top: 28%;
        right: 42.8%;
    }
    .block_popup:nth-child(4){
        top: 44%;
        right: 21.8%;
    }
}
@media (max-width: 1240px){
    .block_popup:nth-child(2){
        top: 28%;
        left: 11.6%;
    }
    .block_popup:nth-child(3){
        top: 28%;
        right: 43.1%;
    }
    .block_popup:nth-child(4){
        top: 44%;
        right: 21.8%;
    }
}
@media (max-width:1024px){
    .block__sport_object {
        background-size: 100% 491px;
        height: 491px;
    }
    .block_popup:nth-child(1) {
        top: 54%;
        left: 1%;
    }
     .block_popup:nth-child(2){
        top: 26%;
        left: 10%;
    }
    .block_popup:nth-child(3){
        top: 26%;
        right: 41.1%;
    }
    .block_popup:nth-child(4){
        top: 42%;
        right: 19.8%;
    }
    .block_popup:nth-child(5) {
        top: 25%;
        right: 1%;
    }
    .block__list_news_one:nth-child(5){
        display: none;
    }
    .all_news_btn {
        padding: 15px 15px;
    }
}
@media (max-width:991px){
    .block__news_open {
        background-size: 120% 300px;
        height: 300px;
    }
    .block__news_results {
        background-size: 200% 133px;
        background-position-x: unset;
        height: 133px;
    }
    .block__news_results_two {
        background-size: 180% 130%;
        height: 137px;
    }
    #carousel_info {
        height: 219px;
    }
    .block__list_news {
        position: relative;
        top: -17px;
        padding: 0px;
    }
    .block__list_news_one:nth-child(4), .block__list_news_one:nth-child(5){
        display: none;
    }
    .all_news_btn {
        padding: 15px 15px;
    }
    .info p {
        width: 80%;
    }
    .table__schedule_result {
        width: 631px;
    }
    .table__schedule_result tr td:nth-child(1) {
        width: 33.5%;
    }
    .block_list_task{
        overflow: scroll;
        width: 464px;
        margin-right: 10px;
    }
    .view__list_btn, .mail_sub_btn{
        width: 280px;
    }
    .block_info{
        width: 280px;
    }
    .input_mail_sub {
        width: 280px;
        background-position: 240px;
    }
}
@media (max-width:768px){
    .block__sport_object {
        background-size: 100% 371px;
        height: 371px;
    }
    .block_popup:nth-child(2) {
        top: 21%;
        left: 6.4%;
    }
    .block_popup:nth-child(3) {
        top: 21%;
        right: 38%;
    }
    .block_popup:nth-child(5) {
        top: 20%;
        right: 0.3%;
    }
    .block_popup:nth-child(4) {
        top: 43%;
        right: 15.3%;
    }
}

/*internet-shop*/
.block__shop{
    margin: 60px 0;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel-indicators li{
    background-color: #ccced0;
    border: 1px solid transparent;
    width: 12px;
    height: 12px;
    margin: 0 6px;
}
.carousel-indicators .active{
    background-color: #ed6f26;
    border: 1px solid transparent;
    width: 12px;
    height: 12px;
    margin: 0 6px;
}
.carousel-indicators {
    bottom: -30px;
}
.block__shop_one{
    text-align: center;
    background: #fff;
    border-radius: 8px;
    padding: 20px 30px 30px 30px;
    width: 270px;
    margin: 0 15px 0 0;
}
.block__shop_one_a, .block__partner_btn_a{
    display: block;
    color: #3366cc;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.block__shop_one_a:hover, .block__partner_btn_a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.block__shop_one p{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding: 15px 0 10px 0;
}
.block__shop_img{
    display: flex;
    height: 224px;
    align-items: center;
    justify-content: center;
}
.block__shop_img img{
    padding-bottom: 35px;
    max-width: 100%;
}
.block__shop_inner{
    height: 430px;
    margin: 35px 0 40px 0;
}
.block__shop_one_btn{
    text-transform: uppercase;
    color: #fff;
    background: #ed6f26;
    border-radius: 8px;
    padding: 15px 40px;
    display: inline-block;
}
.block__shop_one_btn:hover{
    text-decoration: none;
    background: #febe10;
    color: #fff;
}
.block__partner{
    text-align: center;
}
.block__partner_img{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.block__partner_img img{
    max-width: 60%;
}
.block__partner p{
    font-size: 16px;
    font-weight: 600px;
    color: #333;
    line-height: 21px;
}
.carousel-control.left, .carousel-control.right{
    background-image: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #d0d2d4;
    height: 192px;
}

#carousel_info{
    height: 279px;
}
.box_img{
    height: 279px;
}
.box_img img{
    max-width: 100%;
    position: relative;
    top: -60px;
}
.box_indicators{
    position: absolute;
    bottom: 14px;
    right: 3%;
    z-index: 15;
    padding-left: 0;
    text-align: center;
    list-style: none;
    width: unset;
    margin-left: unset;
    left: unset;
}
.box_indicators li{
    width: 12px;
    height: 12px;
    margin: 0 6px;
}
.box_indicators .active{
    width: 12px;
    height: 12px;
     margin: 0 6px;
}
.info{
    z-index: 1;
    position: absolute;
    padding: 30px 30px;
    text-align: left;
    bottom: -7%;
}
.info p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    opacity: 0.8;
}
.box_img:after{
  content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to top, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    opacity: 0.8;
}
.slaiser_margin{
  margin-top: 30px;
}
.block__news_a:hover * .box_img:after{
    opacity: 1;
}
@media (max-width:1199px){
    .block__shop_one {
        width: 290px;
    }
}
@media (max-width:991px){
    .block__shop_one {
        width: 340px;
    }
}

/*block__sport_futbol*/
.block__sport_futbol{
    margin-bottom: 60px;
    z-index: 2;
}
.block__sport_futbol ol{
    padding: 0;
}
.block__sport_futbol ol li a{
    font-size: 13px;
    line-height: 38px;
    font-weight: 300;
}
.block__sport_futbol ol li a:hover{
    color: #37a8dd;
    cursor: pointer;
    text-decoration: none;
}
.active__bread{
    color: #37a8dd;
    font-size: 13px;
    line-height: 38px;
    font-weight: 300;
}
.breadcrumb{
    background-color: unset;
}
.img__location{
    margin-right: 8px;
}
.location{
    margin-bottom: 30px;
}
.text_link{
    color: #2479bc;
    font-size: 14px;
    font-weight: unset;
    text-transform: unset;
}
.text_link:hover{
    color: #37a8dd;
    text-decoration: none;
}
.text_futbol_bold{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 21px;
}
p{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 21px;
}
.block_history{
    padding-right: 0px;
}
.img_max_w{
    max-width: 100%;
}
.block__video{
    margin: 0 0 30px;
}
.block_video_one:before{
    content: '';
    background: url(../img/play.png);
    position: absolute;
    width: 60px;
    height: 60px;
    top: 33%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    opacity: 0.8;
}
.block_video_one:hover:before{
    cursor: pointer;
    opacity: 1;
}
.img_play_bg{
    border-radius: 8px;
}
.block_video_one:after{
    content: '';
    z-index: 1;
    height: 100%;
    left: 14px;
    top: 0;
    width: 90%;
    position: absolute;
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to top, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
    opacity: 0.8;
    border-radius: 8px;
}
.block_video_one:hover:after {
    opacity: 1;
    cursor: pointer;
}
.all_news_btn_buy{
    padding: 15px 60px;
    margin: 15px 0 0 0;
}
.table__sport{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    border-collapse: separate;
    width: 100%;
}
.table__sport tr:nth-child(2n+1) {
    background: #fff;
}
.table__sport tr{
    height: 80px;
}
.table__sport tr td{
    font-size: 13px;
    font-weight: 300px;
    line-height: 17px;
    color: #333;
}
.table__sport tr td a{
    font-size: 13px;
    font-weight: 300;
}
.table__sport tr td a:hover{
    color: #37a8dd;
    text-decoration: none;
}
.table__sport tr td:nth-child(1) img{
   margin-right: 5px;
}
.table__sport tr td:nth-child(3), .head_table_sport tr td:nth-child(3), .head_table_sport tr td:nth-child(4){
    padding-left: 0px;
}
.country_one{
    margin-bottom: 15px;
}
.head_table_sport{
    width: 100%;
}
.head_table_sport tr{
    height: 60px
}
.head_table_sport tr td{
    font-size: 16px;
    font-weight: 400px;
    line-height: 30px;
    color: #333;
}
.block__list_news_sport {
    position: relative;
    top: 10px;
}
.block__sport_futbol:before{
    content: '';
    background: url(../img/football.png);
    position: absolute;
    width: 408px;
    height: 474px;
    left: 10%;
}