@font-face {
    font-family: "FbSpoilerHebEngBold";
    src: url("../font/FbSpoilerHebEng-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FbSpoilerHebEngRegular";
    src: url("../font/FbSpoilerHebEng-Regular.otf");
    font-style: normal;
    font-weight: normal;
}
