.header-image {
  position: relative;
  .image-about {
    background: url(../images/demo/bg-carus-1.jpg) center center no-repeat;
    background-size: cover;
    height: 424px;
  }
}

.about {
  .slider {
    .block_slick {
      width: 614px;
      background: #221c1b;
      display: flex;
      img {
        display: flex;
        @media (max-width: 614px) {
          width: 100px;
          height: auto;
        }
      }
      .text {
        align-items: center;
        display: flex;
        color: #fff;
        font-size: 20px;
        padding: 0 35px;
        @media (max-width: 614px) {
          font-size: 12px;
          padding: 0 10px;
        }
      }
      @media (max-width: 614px) {
        width: 300px;
        height: 100px;
      }
    }
  }
  .container {
    position: relative;
  }
  min-height: 500px;
  padding-bottom: 40px;
  .slickpag {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    .leftb {
      position: absolute;
      background: url(../images/about/leftb.png);
      width: 41px;
      height: 41px;
      cursor: pointer;
      display: block;
      right: 29px;
      &:hover {
        top: 2px;
      }
      @media (max-width: 767px) {
        left: 0;
      }
    }
    .rightb {
      position: absolute;
      background: url(../images/about/rightb.png);
      width: 41px;
      height: 41px;
      cursor: pointer;
      display: block;
      right: 0;
      &:hover {
        top: 2px;
      }
      @media (max-width: 767px) {
        left: 29px;
      }
    }
    @media (max-width: 767px) {
      position: relative;
      margin-bottom: 20px;
    }
  }
  h1 {
    font-size: 46px;
    line-height: 1.01;
    text-align: left;
    color: #ffffff;
    margin-top: 60px;
    text-transform: uppercase;
    margin-bottom: 40px;
    span {
      color: #e2bd95;
    }
    @media (max-width: 400px) {
      font-size: 28px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 400px) {
    min-height: 300px;
  }
  p {
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    color: #baa79c;
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
  .history_foot {
    background: url(../images/about/historybg.jpg) top left no-repeat;
    margin-top: 60px;
    .text_1 {
      font-size: 34px;
      text-align: left;
      color: #ffffff;
      margin-top: 30px;
      margin-bottom: 40px;
      @media (max-width: 500px) {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
    .text_2 {
      font-size: 13px;
      text-align: left;
      color: #baa79c;
      margin-top: 30px;
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
  }
  .history {
    .images  {
      img {
        display: none;
        max-width: 100%;
      }
      img.active {
        display: block;
      }
    }
    .hist_ {
      position: relative;
      padding-bottom: 60px;
      .tab {
        display: none;
      }
      .tab.active {
        display: block;
      }
      .title {
        font-size: 34px;
        line-height: 1.01;
        text-align: left;
        color: #ffffff;
        margin-bottom: 40px;
        @media (max-width: 500px) {
          font-size: 22px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
      .text {
        font-size: 15px;
        line-height: 1.01;
        text-align: left;
        color: #baa79c;
      }
      .button_year {
        display: flex;
        justify-content: space-between;
        @media (max-width: 500px) {
          justify-content: center;
        }
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        a {
          font-size: 46px;
          line-height: 1.01;
          text-align: left;
          color: #f8cfa3;
          text-decoration: none;
          @media (max-width: 500px) {
            margin: 0 10px;
            font-size: 28px;
          }
          @media (max-width: 350px) {
            margin: 0 5px;
            font-size: 22px;
          }
        }
        a.active {
          color: #fff;
        }
      }
    }
  }
}