.header-image {
  position: relative;
  .image-arendatoram {
    background: url(../images/arendatoram/header-image.jpg) center center no-repeat;
    background-size: cover;
    height: 480px;
  }
}

.arendatoram {
  padding-bottom: 40px;
  .info-dir {
    @media (max-width: 991px) {
      margin-top: 40px;
    }
    h3 {
      font-size: 30px;
      color: #fff;
      margin-top: 40px;
      @media (max-width: 400px) {
        font-size: 24px;
      }
    }
    h4 {
      font-size: 20px;
      color: #fff;
      font-family: Geometria, sans-serif;
      font-style: italic;
      margin-top: 20px;
      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
    p {
      font-family: Geometria, sans-serif;
      font-size: 24px;
      font-style: italic;
      text-align: left;
      color: #f8cfa3;
      margin-top: 40px;
      margin-bottom: 40px;
      @media (max-width: 400px) {
        font-size: 16px;
        margin-top: 10px;
      }
    }
    a {
      font-size: 20px;
      text-align: left;
      color: #ffffff;
      position: relative;
      &:hover {
        text-decoration: none;
      }
    }
    a.email:before {
      content: '';
      position: absolute;
      bottom: -3px;
      height: 2px;
      left: 0;
      right: 0;
      background: #fff;
    }
  }
}