.header-image {
  position: relative;
  .image-dostavka {
    background: url(../images/dostavka/header-image.jpg) center center no-repeat;
    background-size: cover;
    height: 424px;
  }
}

.dostavka {
  min-height: 500px;
  padding-bottom: 40px;
  h1 {
    font-size: 46px;
    line-height: 1.01;
    text-align: left;
    color: #ffffff;
    margin-top: 60px;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: 400px) {
      font-size: 28px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 400px) {
    min-height: 300px;
  }
  p {
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    color: #baa79c;
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
}