#productModal {
  .modal-dialog {
    max-width: 745px;
    @media (max-width: 1005px)  {
      max-width: 100%;
    }
    .modal-content {
      border-radius: 0;
      border: none;
      background: #53352f;
      margin-top: 100px;
      .modal_block {
        .mleft {
          position: relative;
          background: url('../images/products/bg-modal.jpg') no-repeat center;
          background-size: cover;
          width: 423px;
          height: 686px;
          float: left;
          @media (max-width: 1005px)  {
            width: 40%;
          }
          @media (max-width: 845px)  {
            height: 300px;
          }
          @media (max-width: 767px)  {
            float: none;
            width: 100%;
          }
          .text {
            font-size: 14px;
            position: absolute;
            bottom: 60px;
            padding: 0 20px;
            color: #fff;
            @media (max-width: 767px)  {
              font-size: 14px;
            }
          }
        }
        .mright {
          float: left;
          background: url('../images/products/bg-modal-2.jpg') center center no-repeat;
          background-size: contain;
          width: 582px;
          height: 686px;
          @media (max-width: 1005px)  {
            width: 59%;
          }
          @media (max-width: 845px)  {
            height: 486px;
          }
          @media (max-width: 767px)  {
            float: none;
            width: 100%;
          }
          .modal-header {
            border: none;
            padding: 0;
            .close {
              cursor: pointer;
              position: absolute;
              right: 20px;
              top: -25px;
              opacity: 1;
              background: url('../images/products/close.png') no-repeat center;
              width: 50px;
              height: 50px;
              z-index: 10;
              display: block;
            }
          }
          .modal-body {
            padding-left: 40px;
            padding-right: 60px;
            .title {
              font-size: 34px;
              text-transform: uppercase;
              color: #fff;
              @media (max-width: 767px)  {
                font-size: 24px;
              }
            }
            .text {
              color: #f8cfa3;
              font-size: 14px;
              text-transform: uppercase;
            }
            .address {
              color: #f8cfa3;
              font-size: 14px;
            }
          }
        }
        &:after {
          content: '';
          position: relative;
          clear: both;
        }
      }
    }
  }
}
.products{
  &__bg-header{
    background: url('../images/products/products_header.png') no-repeat center;
    background-size: cover;
    height: 490px;
    margin: 0 -15px;
    margin-bottom: 55px;
  }

  &__filter{
    margin-top: 55px;
    margin-bottom: 55px;

    .active{
      color: #ffffff;
    }

    ul{
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style-type: none;
      padding-left: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

      @media (max-width: 991px){
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
      }

      li{
        position: relative;

        span{
          color: #f8cfa3;
          font-size: 13px;
          text-transform: uppercase;
          top: 2px;
          margin-left: 2.15em;
          margin-right: 1.15em;
          @media (max-width: 500px) {
            margin-left: 0.7em;
            margin-right: 0.7em;
          }
        }

        a{
          font-size: 13px;
          font-weight: 500;
          line-height: 1.85;
          letter-spacing: 0.1px;
          color: #f8cfa3;
          text-transform: uppercase;

          &:hover, &:focus, &:active{
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__item{
    position: relative;
    cursor: pointer;

    &:before{
      content: '';
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      position: absolute;
      -webkit-box-shadow: inset 0px 0px 50px transparent;
              box-shadow: inset 0px 0px 50px transparent;
      border: 0px solid transparent;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &:hover {
      &:before {
        -webkit-box-shadow: inset 0 0 0 260px rgba(25, 15, 13, 0.5);
                box-shadow: inset 0 0 0 260px rgba(25, 15, 13, 0.5);
        border: 0px solid transparent;
      }
    }
    &-rectangular{
      margin: 0 0 22px 0;
      display: block;
      height: 205px;
      overflow: hidden;
      position: relative;

      &_horizontal{
        height: 291px;
        margin: 0 0 22px 0;
        overflow: hidden;
        display: block;
        position: relative;
      }

      &_10{
        height: 172px;
        margin: 0 0 22px 0;
        overflow: hidden;
        display: block;
        position: relative;
      }
    }

    &-square{
      margin: 0 0 22px 0;
      display: block;
      overflow: hidden;
      height: 354px;
      position: relative;

      &_mini{
        height: 166px;
        margin: 0 0 22px 0;
        overflow: hidden;
        display: block;
        position: relative;

        &_l-1{
          height: 291px;
          margin: 0 0 22px 0;
          overflow: hidden;
          display: block;
          position: relative;
        }

        &_l-2{
          height: 307px;
          margin: 0 0 22px 0;
          overflow: hidden;
          display: block;
          position: relative;
        }

        &_l-3{
          height: 403px;
          margin: 0 0 22px 0;
          overflow: hidden;
          display: block;
          position: relative;
        }
      }
    }

    &_image{

      &--atlantic_herring{
        background: url('../images/products/atlantic-herring.png') no-repeat center;
        background-size: cover;
        height: 205px;
      }

      &--tomatoes_Azerbaijan{
        background: url('../images/products/tomatoes_Azerbaijan.png') no-repeat center;
        background-size: cover;
        height: 354px;
      }

      &--chili{
        background: url('../images/products/chili.png') no-repeat center;
        background-size: cover;
        height: 205px;
      }

      &--norwegian_salmon{
        background: url('../images/products/norwegian_salmon.png') no-repeat center;
        background-size: cover;
        height: 354px;
      }

      &--peaches{
        background: url('../images/products/peaches.png') no-repeat center;
        background-size: cover;
        height: 205px;
      }

      &--cucumber_short{
        background: url('../images/products/cucumber_short.png') no-repeat center;
        background-size: cover;
        height: 205px;
      }

      &--olives{
        background: url('../images/products/olives.png') no-repeat center;
        background-size: cover;
        height: 166px;
      }

      &--angus{
        background: url('../images/products/angus.png') no-repeat center;
        background-size: cover;
        height: 172px;
      }

      &--cabbage{
        background: url('../images/products/cabbage.png') no-repeat center;
        background-size: cover;
        height: 291px;
      }

      &--eggplant{
        background: url('../images/products/eggplant.png') no-repeat center;
        background-size: cover;
        height: 307px;
      }

      &--carrots{
        background: url('../images/products/carrots.png') no-repeat center;
        background-size: cover;
        height: 403px;
      }

      &--apple{
        background: url('../images/products/apple.png') no-repeat center;
        background-size: cover;
        height: 205px;
      }

      &--potatoes{
        background: url('../images/products/potatoes.png') no-repeat center;
        background-size: cover;
        height: 205px;
      }
    }
  }
  &__description{
    position: absolute;
    bottom: 6px;
    left: 25px;
    z-index: 1;
    p{
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: #ffffff;
    }
  }
  &__procent{
    background: url('../images/products/procent.png') no-repeat center;
    background-size: contain;
    width: 45px;
    height: 46px;
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  &__best{
    background: url('../images/products/best.png') no-repeat center;
    background-size: contain;
    width: 45px;
    height: 46px;
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  &__show{
    background: url('../images/products/show.png') no-repeat center;
    background-size: contain;
    width: 44px;
    height: 44px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin: 15px auto 50px;
    cursor: pointer;
  }

  &__padding{
    &-col{
      &-1{
        @media (min-width: 992px){
          padding-right: 11px;
        }
      }
      &-2{
        @media (min-width: 992px){
          padding-right: 11px;
          padding-left: 11px;
        }
      }
      &-3{
        @media (min-width: 992px){
          padding-right: 0;
          padding-left: 11px;
        }
      }
    }
  }
}
