.header-image {
  position: relative;
  .image-smi {
    background: url(../images/smi/header-image.jpg) center center no-repeat;
    background-size: cover;
    height: 424px;
  }
}

.smi {
  padding-bottom: 40px;
  .block_ {
    margin-top: 20px;
    .title {
      font-size: 36px;
      line-height: 1.29;
      text-align: left;
      color: #ffffff;
      margin-top: 20px;
      margin-bottom: 10px;
      @media (max-width: 400px) {
        font-size: 22px;
      }
    }
    .date {
      font-size: 16px;
      text-align: left;
      color: #a4938a;
      text-transform: uppercase;
      @media (max-width: 400px) {
        font-size: 12px;
      }
    }
    p {
      margin-top: 30px;
      font-size: 20px;
      line-height: 1.4;
      text-align: left;
      color: #baa79c;
      @media (max-width: 400px) {
        font-size: 14px;
      }
    }
    a.btn {
      border: solid 1px #ffffff;
      font-size: 11px;
      border-radius: 0;
      font-weight: 500;
      line-height: 2.78;
      letter-spacing: 1.1px;
      text-align: left;
      color: #ffffff;
      text-transform: uppercase;
      padding: 8px 24px;
      background: transparent;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .pagination-parent {
    margin-top: 80px;
    .pagination {
      position: relative;
      .page-item {
        .page-link {
          width: 45px;
          height: 45px;
          font-family: Geometria, sans-serif;
          font-size: 12px;
          font-weight: 500;
          line-height: 2.5;
          color: #9a8a81;
          background: none;
          border: none;
          text-align: center;
        }
        span.page-link {
          color: #524643;
        }
        &:first-child {
          position: absolute;
          left: 0;
          .page-link {
            width: auto;
          }
          @media (max-width: 767px) {
            position: relative;
          }
          @media (max-width: 560px) {
            display: none;
          }
        }
        &:last-child {
          position: absolute;
          right: 0;
          .page-link {
            width: auto;
          }
          @media (max-width: 767px) {
            position: relative;
          }
          @media (max-width: 560px) {
            display: none;
          }
        }
      }
      .page-item.active {
        .page-link {
          background-color: #0c0608;
          border-radius: 50%;
          color: #fff;
        }
      }
    }
  }
}