@font-face {
    font-family: "GothaProBol";
    src: url('../fonts/GothaProBol.otf') format("opentype");
}

@font-face {
    font-family: "GothaProReg";
    src: url('../fonts/GothaProReg.otf') format("opentype");
}

body {
    background: radial-gradient( circle, #65a2ed, #5697e8, #1b50a5);
    font-family: GothaProReg, sans-serif;
    color: white;
    font-size: 18pt;
}

.block__header--text {
    max-width: 960px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 69px;
}

.text__header--vedomost {
    font-weight: 200;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-family: GothaProBol, sans-serif;
    font-size: 26pt;
    letter-spacing: 3px;
    margin-top: 0px;
}

.block__main--form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: GothaProReg, sans-serif;
    background: rgba(255, 255, 255, 0.4);
    border: 0px;
    border-bottom: 2px solid white;
    width: 354px;
    height: 60px;
    padding-left: 10px;
    font-size: 18pt;
}

input:hover {
    background: white;
    border-bottom-color: #8cd536;
    color: #222;
}

input:focus {
    background: white;
    border-bottom-color: #8cd536;
    color: #222;
}

button {
    background: #0e316c;
    font-family: GothaProBol, sans-serif;
    color: white;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #052547;
    width: 354px;
    height: 60px;
    margin-top: 30px;
}

button:hover {
    background: #052547;
}

.form__span--login {
    font-family: GothaProBol, sans-serif;
    font-size: 16pt;
    position: relative;
    left: -137px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 25px;
}

.form__span--password {
    font-family: GothaProBol, sans-serif;
    font-size: 16pt;
    position: relative;
    left: -130px;
    padding-top: 35px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer {position: absolute;
left: 0;
height: 80px;
bottom: 0;
width: 100%;

}
