$black: #000000;
$lblack:#191919;
$orange: #ffbb28;
$red:#d42131;
$grey:#666666;
$white:#ffffff;
$greytext:#d5d5d5;



.kaneffot{
 
	background:$black;
		.foot{
			padding-top: 65px;
			padding-bottom:32px;
			img{
				margin-top: -6px;
				padding-bottom: 25px;
			}			

           p{
           	color:$grey;
           	font-size: 13px;
           	
           }

           .first{
          
           }
           .social{
           		color:$white;
           		padding-top: 18px;
				padding-left: 14px;
				letter-spacing: 7px;

           		:hover{
           			color:$orange;}
           	}
           	.ftitle{
           		font-size:16px;
           		font-weight: 700;
           		color:$orange;
           		padding-bottom: 5px;
				
				
           	}
           	.ftitle3{
           		font-size:16px;
           		font-weight: 700;
           		color:$orange;
           		padding-bottom: 10px;
           		padding-top:20px;}

           	.ftext{
           		display:block;
           		 list-style-type:none;
           		 color:$greytext;

           		 li{
           		 	line-height:1.85;
           		 	margin-left: -37px;
           		 }

           		a{font-size:13px;
                 text-decoration: none;
           		color:$greytext;
           		
           	}
           		:hover{
           			color:$orange;
           		}
           		

           	}
           	.twtitle{
           			font-size:16px;
           		font-weight: 700;
           		color:$greytext;
           		padding-top: 5px;
           	}
           	.ftitle2{
           		font-size:16px;
           		margin-top: -9px;
           		color:$orange;
           	}
           	.tweet {

           		.col-sm-2{
           			padding:0;
           		}
           		.col-sm-9{
           			padding:0;
           		}

           		.ftext{
           			padding-bottom:15px;
           		}
           		img{
           			float:left;
           			padding-top:13px;
           		}
           	}
           	.form-group{
           		.ok-button{
           			   position: absolute;
						right: 22px;
						width: 34px;
						height: 34px;
						line-height: 30px;
						font-size: 13px;
						font-weight: 700;
						color: #000000;
						background-color: #ffbb28;
						border-radius: 278px;
						margin-top: 7px;
						top: 0px;
   
						
						p{
							color:$black;
							line-height: 17px;
							margin-left: -6.5px;
						}

						}
				.foo-form{

   position:relative;
    font-size: 13px;
    line-height: 1.42857143;
    color: #d5d5d5;
    background-color: #1a1a1a;
    background-image: none;
    border: 1px solid #1a1a1a;
    border-radius: 100px;
    height:47px;
    padding-left: 20px;
   					

				}		
           		}
           	}

         .fdown{
           		background:$lblack;
           		padding-top: 34px;
				padding-bottom: 24px;

           		.right{
           			float:right;
           			img{
           				float:right;
           			}
           		}
           		.left{
           			color:$grey;
           			font-size:13px;
           		}
           	}


       }


.form-control:focus {
  
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 1);
}