$black: #000000;
$lblack:#191919;
$orange: #ffbb28;
$red:#d42131;
$grey:#666666;
$white:#ffffff;
$greytext:#d5d5d5;


.kanefhead{
	.hblack{
		background:$black;
		padding: 5px 0px;

		.hbtext{
			color:$grey;
			font-size: 13px;
			text-decoration: none;
			cursor: pointer;
			font-weight: 700;
			padding: 0;
				a{
					color:white;
					text-decoration: none;
					padding-right: 20px;
					padding-left: 6px;

					&:hover{
						color:$orange;
					}
				}

		}
		.right{
			text-align:right;
			padding-right:0px;
				a{padding-right:0px;}
		}
	}
	.hwhite{
		background:$white;
		padding:14px 0;
		.wlogo{
			padding: 12px 0px;
		}
		.hselect{
			display: block;
width: 143px;
height: 34px;

font-weight:700;
font-size: 16px;
line-height: 1.42857143;
color: #555555;
background-color: #ffffff;
background-image: none;
border: 1px solid #eeeeee;
border-radius: 0px;
text-align:left;
		.right{
			text-align: right;
			position: absolute;
			right: 10px;
			top: 50%;
		}

		}
		.nobord{
			border-radius:0px;
			border: 1px solid #ececec;

		}
		.orbut{
			background-color:$orange;
			color:$white;
			border-radius:0;
		}
		.weather{
			p{
				font-size:11px;
				color:$grey;
				margin:0px;
			}
			.wbold{
				color:$black;
				font-weight: 700;
			}
			img{
				float:left;
			}
		}
		.cart{
			p{
				font-size:16px;
				color:$grey;
				margin:0px;
			}
			.wbold{
				color:$black;
				font-weight: 700;
			}
			img{
				float:left;
			}
			.circle{
				background:$red;
				height: 26px;
				width: 26px;
				border-radius: 40px;
				position: relative;
				top: -8px;
				left: -8px;
				p{
					position:absolute;
					top:3px;
					left:5px;
					font-size:13px;
					font-weight: 700;
					color:$white;
				}

			}
			.wtext{
				padding-left:20px;
			}
		}

	}

	.hred{
		background:$red;
		padding: 8px 0;
		margin-bottom: 20px;


				a{
					color:$orange;
					font-weight: 700;
					font-size: 13px;
					text-decoration: none;
					cursor:pointer;
				}

				.hselect{
					display: block;
					width: 200px;
					height: 34px;
					font-weight: 700;
					font-size: 16px;
					line-height: 1.42857143;
					color: white;
					background-color: transparent;
					background-image: none;
					border: 1px solid $orange;
					border-radius: 0px;
					text-align: left;

				}
	}
}


.fa-user{
	color:$grey;
}
.fa-sign-in{
	color:$grey;
}
.form-control:focus {
	border-color: #ececec;
	box-shadow: none;
}
.fa-bars{
	color:$orange;
}
.navbar-form {
	padding:0px;
}