$black: #000000;
$lblack:#191919;
$orange: #ffbb28;
$red:#d42131;
$grey:#666666;
$white:#ffffff;
$greytext:#d5d5d5;



.repeat{
	.golfbg{
		padding-top: 77px;
		padding-bottom:30px;
		background: url('../img/golfbg.png');
		background-size:cover;

		.support{
			color:$white;
			text-align:center;

			img{
				margin:0 auto;
			}
			.top{
				font-size:50px;
				font-weight: 700;
				padding-top: 12px;

			}
			.mid{
				font-size:16px;
				padding-bottom:26px;
				margin-top: -16px;
			}
			.bold{
				font-weight: 700;
			}
		}
	}


	.slider{
		padding-top:60px;
		padding-bottom: 63px;
		background:$white;
		width: 100%;
		.stitle{
			font-size:35px;
			text-align: center;
			font-weight: 700;
			color:#999999;
			
		}
		.leftcontrl{
			position: absolute;
			left: 0;
			top: 60%;

		}
		.rightcontrl{
			position: absolute;
			right: 0;
			top: 60%;

		}
		.carousel-inner{
		img{
			transform: translateY(-50%);
				position: relative;
				margin-top: 50%;


		}
	}

	}

	.orangebg{
		padding-top: 77px;
		padding-bottom:73px;
		background: url('../img/orangebg.png');
		background-size:cover;
		.tnews{
			font-size: 35px;
			font-weight: 700;
			color:$black;
			text-align: center;
			padding-bottom: 38px;	
		}
		.blog{
			background:$white;
			padding-top: 19px;
			padding-left: 23px;
			padding-bottom: 45px;

		.btitle{
			font-weight: 700;
			font-size: 16px;
			color:$black;
			width: 74%;

		}
		.bdate{
			font-size: 11px;
			color:$grey;
		}
		.btext{
			font-size: 13px;
		}
	}

	.newsbut{
		height: 44px;
		width: 199px;
		background: #ffffff;
		margin: 0 auto;
		text-align: center;
		line-height: 44px;
		margin-top: 54px;
		cursor: pointer;
		p{
			color:$black;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
		}

	}

	}
}

.mainpart{
	background:$white;

	.toppart{
		border:3px solid $red;
		padding-top: 14px;
		padding-bottom: 11px;	
		background:$white;
		.tptitle{
			font-size: 15px;
			font-weight: 700;
			
			

		}
		.customcheck{
			width:16px;
			height:16px;
			background:$grey;

			



		.check{
			font-size:13px;
			font-weight: 400;

			
		}
		
	}




	input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 5px 0 0;
    background:#e1e2e2;
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
  font-size: 13px;
  cursor: pointer;
  font-weight: 400;
}
input[type="checkbox"]:checked + label::before {
    background:$red;
}


	}

	.sidebar{
		background:#f2f2f2;
		margin-top: 10px;
		padding-bottom: 20px;
		.tptitle{
			font-size: 16px;
			font-weight: 700;
			padding-bottom: 9px;
			padding-top: 8px;
			
		}
		.select{
	input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 5px 0 0;
    background:#e1e2e2;
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
}
input[type="checkbox"]:checked + label::before {
    background:$red;
}
			li{
				list-style-type: none;
				line-height: 1.85;
			}
		}


    .boxes{
    	
    	width:50%;
    	margin-bottom:20px;

 
input[type="checkbox"] + label, 
input[type="radio"] + label {
  font-size: 13px;
cursor: pointer;
font-weight: 700;
width: 32px;
height: 32px;
z-index: 5;
text-align: center;
background:#e1e2e2;
line-height:32px;

}

input[type="checkbox"]:checked + label {
   background:$red;
    color:white;
}

	}


		 .color{
    	
    	margin-bottom:20px;
    	width:50%;
    	

 	.colorbox{
 		display: inline-block;

input[type="checkbox"] + label, 
input[type="radio"] + label {
  font-size: 13px;
cursor: pointer;
font-weight: 700;
width: 32px;
height: 32px;
z-index: 5;
text-align: center;
line-height:32px;


		.fa-check{
			opacity: 0;
		}
}

input[type="checkbox"]:checked + label {
   
    color:black;
    		.fa-check{
			opacity: 1;
			line-height: 32px;
		}

}
}

	}

	.rate{
		
		p{
			display:inline-block;
			font-size:13px;
			color:#333333;
		}




	}
}

	.book{
		background:url('../img/book.png');
		margin-top: 15px;
		padding-bottom: 100px;
		p{
			color:$white;
			font-size: 42px;
			font-weight: 700;
			line-height: 1;
			padding-top: 31px;
			padding-left: 4px;
			padding-bottom: 36px;
		}
		.enroll{
			width:125px;
			height:40px;
			border:3px solid white;
			margin-left: 6px;
			cursor:pointer;
			p{
				font-size:18px;
			font-weight: 700;
			text-align: center;
			line-height: 40px;
			padding: 0px;
			}

		}
	}
	.recommend{
		padding-left: 0px;
		padding-right: 0px;

		.rtitle{
			font-size: 35px;
			font-weight:700;
			padding-top: 37px;
		}	

		.recgolf{
			border:1px solid #ececec;
			padding-top: 8px;
			padding-left: 10px;
			padding-bottom:10px;
			margin-top: 19px;
			 img{
			 	float:left;
			 	padding-right: 10px;
			 }
			 .rectitle{
			 	font-weight: 700;
			 	font-size: 13px;
			 	padding-top: 10px;

			 }
			 .price{
			 	display: inline-block;
			 	font-weight: 700;
			 	color:$red;
			 	font-size: 16px;
			 	padding-top: 8px;
			 }
			 .old{
			 	color:$black;
			 	text-decoration: line-through;
			 }
		}
	}


.content{
		.tabsector{
			font-size: 16px;
			border-bottom: 3px solid #e1e2e2;
			> li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{

					background-color: #e1e2e2;
					/*border: 3px solid #e1e2e2;*/
					border-bottom-color: transparent;
					cursor: default;

					


			}
			li{
				font-weight: 700;
				@media only screen and (max-width: 500px) {
						float: none;	
											}
				
				:hover{
					color:$orange;
					background:transparent;
					border:none;
				}
				a{
				color:$black;
				border: none;
			}
			}
			.active{

			}

		}

		.tab-content{
			font-size:13px;
			padding-bottom: 56px;

			.bold{
				font-weight: 700;
			}
			.descr{
				padding-bottom: 26px;
				line-height: 1.7;
				letter-spacing: 0.18px;
			}

		}












	.products{
		padding-bottom:64px;
	.control{
		padding-bottom:25px;
				p{
					font-size: 25px;
					font-weight: 700;
					padding-left: 3px;

				}

			.fa{

				padding:7px 17px;
				float:right;
				color:$black;
					&:hover{
						background: $orange;
					}
			}
		.lborder{
			border-top:1px solid #eeeeee;
			border-bottom:1px solid #eeeeee;
			border-left:1px solid #eeeeee;
		}
		.rborder{
			border-top:1px solid #eeeeee;
			border-bottom:1px solid #eeeeee;
			border-right:1px solid #eeeeee;
		}
	}
}

	.shopsl{

		border:1px solid #ececec;
		padding:0px;

		.new{
			background:$orange;
			color:$white;
			width:54px;
			height:27px;
			font-weight: 700;
			line-height:27px;
			font-size: 13px;
			text-align: center;
			border-radius:20px;
			position: absolute;
			top: 15px;
			left: 15px;


		}

		.sale{
			background:$red;
			width:85px;


		}
		.info{
			padding-top: 20px;
			padding-bottom: 8px;

		.rev{
			display:inline;
			font-size: 13px;
			color:#a4a4a4;
			padding-left: 15px;
		}
		.title{
			font-size: 13px;
			font-weight: 700;
			padding-top: 9px;
			padding-bottom: 2px;

		}
		 .price{
			 	
			 	font-weight: 700;
				color: #d42131;
				font-size: 16px;
				margin-bottom: 0px;
				padding-top: 1px;
			 }
			 .old{
			 	color:$black;
			 	text-decoration: line-through;
			 }

		.buy{
			height:45px;
			width:110px;
			background: $red;
			color:$white;
			text-align:center;
			line-height: 45px;
			font-size: 16px;
			font-weight: 700;
			float:right;
			cursor:pointer;

		}	 
	}

	}




.tshirts{
		padding:0px;
	position:relative;
	padding-bottom: 61px;

	.ttitle{
		font-size: 26px;
		font-weight: 700;
		color: #000000;
		padding-left: 19px;
		margin-bottom: 22px;
		padding-top: 33px;
	}

		p{
		font-size: 13px;
		font-weight: 700;
		padding-top: 7px;
		letter-spacing: 0.2px;
	}
	img{
		border:1px solid #eeeeee;
	}

	
	 .price{
			 	display: inline-block;
			 	font-weight: 700;
			 	color:$red;
			 	font-size: 16px;
			 	padding-top: 0px;
				letter-spacing: 0.3px;
			 }
			 .old{
			 	color:$black;
			 	text-decoration: line-through;
			 }
			 .plus{
			 	border:none;
			 	position:absolute;

			    top: 66px;
			    right: 5px;

			 }
			 .addcard{
			 	.price{
				 	display: inline-block;
					font-weight: 700;
					color: #d42131;
					font-size: 36px;
					padding-top: 27px;
					margin-bottom: 4px;
					padding-right: 12px;
			 }
			 	.old{
			 		font-size: 26px;
			 	color:$black;
			 	text-decoration: line-through;
			 }
				.bbuy{
					color:$white;
					background:$red;
					font-weight: 700;
					font-size: 16px;
					text-align:center;
					width:169px;
					height: 46px;
					line-height: 46px;
					cursor:pointer;


				}
			 }
	}

	.prodslider{
		.new{
			background:$orange;
			color:$white;
			width:54px;
			height:27px;
			font-weight: 700;
			line-height:27px;
			font-size: 13px;
			text-align: center;
			border-radius:20px;
			position: absolute;
			top: 16px;
			left: 16px;


		}

		.sale{
			background:$red;
			width:88px;


		}
		.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    border: 1px solid #eeeeee;
    img{
			border:0px solid #eeeeee;
			margin:0 auto;
		}
}
				.list-inline {
		    padding-left: 0;
		    list-style: none;
		    margin-left: -5px;
		    padding-top: 17px;
			}
		img{
			border:1px solid #eeeeee;
			margin:0 auto;
		}
		.bgsl{
			background-image: none;
			color:$black;
			width: 10%;
			text-shadow: none;
			top: 86%;
			

		}
		.selected img {
	opacity:0.5;
}
	}

	.stock{

		background:#f2f2f2;
		padding-top: 20px;
		padding-bottom: 8px;
		padding-left: 18px;
		p{display:inline-block}
		.title{
			padding-bottom: 4px;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
		}
		.tptitle{
			display: block;
			font-weight: 700;
			font-size: 13px;
			padding-bottom: 3px;
		}
		.stars{
			text-align: right;
			display: inline-block;
			float: right;
			.rev{
				color:#a4a4a4;
				font-size:13px;
			}
		}

		.line{
			border-top:1px solid #e1e1e1;
			margin: 0;
			padding: 0;

		}
		.botpart{

			
			padding-top: 20px;
				:hover p{
				color:$orange;
				} 
			a{
			color:$black;
			font-size: 13px;
			padding-right:34px;
						@media only screen and (max-width: 360px) {
							padding-right:100px;
											}
			
		}

		}



	input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
   margin-right: 5px;
   margin-top: 5px;

    background:#e1e2e2;
    border-radius:50px;
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
  font-size: 13px;
  cursor: pointer;
  font-weight: 400;
}
input[type="checkbox"]:checked + label::before {
    background:$red;
}
			li{
				list-style-type: none;
				line-height: 15px;
			}


				.addcard{
					position:relative;
					padding-bottom: 5px;

					#myform {
						background: #ffffff;
						width: 75px;
						border: 1px solid #ebebeb;
						position: relative;
						top: -18px;
						left: 40px;
					}

.qty {
    width: 55px;
    height: 44px;
    text-align: center;
    border:none;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
input.qtyplus { 
width: 25px;
height: 7px;
border: none;
position: absolute;
left: 58px;
background: white;
background: url("../img/img-caret-up.png") no-repeat;
top: 14px;
}
input.qtyminus { 
width: 25px;
height: 7px;
background: white;
border: none;
position: absolute;
left: 58px;
top: 24px;
background: url("../img/img-caret-down.png") no-repeat;

}



			 	.price{
			 	display: inline-block;
				font-weight: 700;
				color: #d42131;
				font-size: 36px;
				padding-top: 39px;
				margin-bottom: 5px;
				padding-right: 17px;
			 }
			 	.old{
			 		font-size: 26px;
			 	color:$black;
			 	text-decoration: line-through;
			 }

			 	.number{
			 		display: block;
					font-weight: 700;
					position: relative;
					left: 0;
					top: 24px;
					font-size: 13px;
			 	}
				.bbuy{
					color: #ffffff;
					background: #d42131;
					font-weight: 700;
					font-size: 16px;
					text-align: center;
					width: 169px;
					height: 44px;
					line-height: 46px;
					position: absolute;
					top: 107px;
					left: 127px;
					cursor: pointer;
						@media only screen and (max-width: 360px) {
							position: initial;
							margin-bottom: 20px;
											}



				}
			 }


	}
			 
	}
	
	.navigation{
		.title{
			font-size: 35px;
			font-weight: 700;
			color:$black;
			padding-top: 27px;
			padding-bottom: 26px;
			span{
				color:$red;
			}
			a{
				color:$black;
			text-decoration: none;
			font-size: 13px;
			cursor: pointer;
			font-weight: 400;
			float:right;
			padding-top: 25px;
			}
		}
		a{
			color:$black;
			text-decoration: none;
			font-size: 13px;
			cursor: pointer;
			span{
				color:#a4a4a4;
			}
		}
	}






}


.fa-star{
	color:$orange;
}
.fa-star-o{
	color:$orange;
}
.tab-content > .active {
				    display: block;
				    padding-top: 29px;
				    line-height: 1.5;
				}

#video {
    display: block;
	max-width: 620px;
	height: 320px;
	background: url("../img/bg-video.png") no-repeat top left;
	position: relative;
	min-width: 260px;
    img{
    	position: absolute;
		top: 36%;
		left: 42%;
		cursor:pointer;
		opacity: 0.5;
		  &:hover{
		  	opacity: 1;

		  }
    }
}

#slider{
	padding:0;
}
#slider-thumbs{
	padding:0;
}

.fa{
	cursor:pointer;
}