.users {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 1199px) {
    justify-content: center;
  }
}

.select {
  border-radius: 3px;
  border: 1px solid $color_white;
  padding: 5px;
  color: $color_blue;
  cursor: pointer;
  margin-right: 40px;
  background-color: $color_white;

  @media (max-width: 1199px) {
    margin-right: 0;
  }
}

.input {
  border-radius: 3px;
  border: 1px solid $color_white;
  padding: 6px;
  color: $color_blue;
  cursor: pointer;
  background-color: $color_white;
  height: 33px;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: $color_blue;
}
::-moz-placeholder {
  color: $color_blue;
}
:-ms-input-placeholder {
  color: $color_blue;
}
:-moz-placeholder {
  color: $color_blue;
}