@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	html{
		font-weight: 300;
	}
    .table__schedule_result tr td:nth-child(1) {
	    text-align: left;
	    padding: 0 0 0 27px;
	    width: 27.4%;
	}
	.box_indicators{
		margin: 1.2% 13%;
	}
	@media screen and (max-width: 749px){
		.box_indicators{
			margin: 1.2% 20%;
		}
	}
}