.arendatoram {
  h1 {
    padding-bottom: 14px;
    position: relative;
    top: -14px;
  }

  &__bg {
    background: url('../images/arendatoram/bg.png') no-repeat top center;
    background-size: auto;
    height: auto;
    margin-top: 34px;
    // margin-left: -51px;
    // margin-right: -51px;
    margin-bottom: 0;
    z-index: 1;
    width: 100%;
    -webkit-box-shadow: inset 0 -40px 38px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 -40px 38px 0 rgba(0,0,0,0.5);
    @media (max-width: 1199px) {
      margin-bottom: 0;
      height: auto;
    }
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  &__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 59px;

    fieldset {
      padding: 39px 39px 101px 32px;
      background: #000;
      margin-bottom: 32px;
      @media (max-width: 991px) {
        padding-bottom: 39px;
      }
    }
  }

  &__link {
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
    display: block;

    &[href="tel:+79161694548"] {
      z-index: 999;
    }

    &[href="mailto:nastya@usachevsky.ru"] {
      text-decoration: underline;
      z-index: 999;
    }

    &:hover {
      color: #e84e1c;
    }
  }

  &__input {
    width: 100%;
    padding: 20px 28px;
    border: solid 2px #3c3c3c;
    background: transparent;
    border-radius: 5px;
    color: #454545;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    @media (max-width: 991px) {
      margin-bottom: 26px;
    }

    &:focus {
      border: solid 2px #454545;
    }
  }

  &__textarea {
    width: 100%;
    margin-top: 26px;
    padding: 20px 28px;
    height: 173px;
    border: solid 2px #3c3c3c;
    background: transparent;
    border-radius: 5px;
    resize: none;
    color: #454545;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    @media (max-width: 991px) {
      margin-top: 0;
    }

    &:focus {
      border: solid 2px #454545;
    }
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 15px;
    font-weight: 500;
    color: #454545;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 15px;
    font-weight: 500;
    color: #454545;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 15px;
    font-weight: 500;
    color: #454545;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 15px;
    font-weight: 500;
    color: #454545;
  }

  &__b-photo {
    background: #000;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 322px;
    height: 411px;
    margin-top: 59px;
    margin-bottom: 28px;
    margin-left: 33px;
    @media (max-width: 991px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  &__b-info {
    margin-left: 33px;
    @media (max-width: 767px) {
      margin-left: 0;
    }

    h3 {
      margin-bottom: 21px;
    }

    .text-p-20 {
      margin-bottom: 27px;
    }

    .text-p-24 {
      margin-bottom: 25px;
    }
  }

  footer {
    top: 0;

    h4 {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }

    a[href="tel:+74996434182"] {
      margin-top: 35px;
      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }
}

.footer-h4-abs {
  position: absolute;
  bottom: 0;
  font-family: 'Geometria-Bold', sans-serif;
  @media (max-width: 767px) {
    display: none;
  }
}
