#foodcourtModal {
  padding-right: 0 !important;

  .modal-dialog {
    max-width: 803px;

    .carousel-item {
      height: 440px;
      @media (max-width: 767px) {
        height: auto;
      }
    }

    .modal-content {
      border-radius: 0;
      border: none;
      background: #04070c;
      margin-top: 100px;
      border: solid 1px #e44e1d;

      .modal_block {
        width: 100% !important;
        height: auto !important;
        float: left;
        background-size: contain;
        @media (max-width: 1005px) {
          width: 59%;
        }
        @media (max-width: 845px) {
          height: 486px;
        }
        @media (max-width: 767px) {
          float: none;
          width: 100%;
        }

        .modal-header {
          border: none;
          padding: 0;

          .close {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 1;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEUAAAD///////////////////////////8jfp1fAAAACHRSTlMATwEzSzAtJ8Unk+oAAABbSURBVAjXYygJYgACZXcGR2EFBgYmQxGGREEjoICgGBALKzAZCgYxAAkjZUFRoDxQCCTAABICC4CEgAIQBlAjVApoFkQxUAiiHSgEMRAkFAi1AmFpSRJIq6o7ALKODQG8TpW5AAAAAElFTkSuQmCC') no-repeat center;
            width: 50px;
            height: 50px;
            z-index: 10;
            display: block;
            outline: none;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        .modal-body {
          @media (max-width: 600px) {
            padding: 15px 0 56px;
          }
          padding-bottom: 56px;
          padding-left: 40px;
          padding-right: 40px;

          .slider_block {
            width: 91%;
            margin: 57px auto 0;
            @media (max-width: 767px) {
              width: 90%;
            }

            .carouselSob {
              margin: 0 auto;
              display: block;

              .carousel-control-prev {
                left: -40px;
                @media (max-width: 767px) {
                  left: 5px;
                }

                &:hover {
                  .carousel-control-prev-icon {
                    background: url('../images/core/slider/prev.png') no-repeat center;
                  }
                }

                .carousel-control-prev-icon {
                  width: 44px;
                  height: 44px;
                  background: url('../images/core/slider/prev.png') no-repeat center;
                  background-size: auto;
                  @media (max-width: 600px) {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                  }
                }
              }

              .carousel-control-next {
                right: -35px;
                @media (max-width: 767px) {
                  right: 5px;
                }

                &:hover {
                  .carousel-control-next-icon {
                    background: url('../images/core/slider/next.png') no-repeat center;
                  }
                }

                .carousel-control-next-icon {
                  width: 44px;
                  height: 44px;
                  background: url('../images/core/slider/next.png') no-repeat center;
                  background-size: auto;
                  @media (max-width: 600px) {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                  }
                }
              }

              .carousel-caption {
                left: 21px;
                bottom: 0;
                @media (max-width: 767px) {
                  left: 20px;
                }

                h3 {
                  font-size: 60px;
                  line-height: 60px;
                  color: #fff;
                  text-transform: none;
                  @media (max-width: 767px) {
                    font-size: 30px;
                    line-height: 30px;
                  }
                  @media (max-width: 500px) {
                    font-size: 12px;
                    line-height: 12px;
                  }
                }
              }
            }
          }

          .text-p-20 {
            width: 90%;
            margin: 0 auto;
            @media (max-width: 767px) {
              margin-top: 27px;
            }
          }
        }

        &:after {
          content: '';
          position: relative;
          clear: both;
        }
      }
    }
  }
}

.foodcourt {
  h1 {
    padding-bottom: 14px;
    position: relative;
    top: -15px;
  }

  &__bg {
    background: url('../images/foodcourt/bg.png') no-repeat top center;
    background-size: auto;
    height: auto;
    margin-top: 34px;
    min-height: 647px;
    // margin-left: -51px;
    // margin-right: -51px;
    margin-bottom: 0;
    z-index: 1;
    width: 100%;
    -webkit-box-shadow: inset 0 -40px 38px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 -40px 38px 0 rgba(0,0,0,0.5);
    @media (max-width: 1199px) {
      margin-bottom: 0;
      height: auto;
    }
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }

    &_h4 {
      margin-bottom: 191px;
    }
  }

  &__artcile-1 {
    padding-right: 22px;
    @media (max-width: 991px) {
      margin-bottom: 59px;
      padding-right: 0;
    }

    .text-p-20 {
      margin-left: 20px;
      margin-bottom: 59px;
    }
  }

  &__before {
    &:before {
      content: '';
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      position: absolute;
      -webkit-box-shadow: inset 0 0 50px transparent;
      box-shadow: inset 0 0 50px transparent;
      border: 0 solid transparent;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &:hover:before {
      -webkit-box-shadow: inset 0 0 0 260px rgba(25, 15, 13, 0.5);
      box-shadow: inset 0 0 0 260px rgba(25, 15, 13, 0.5);
      border: 0 solid transparent;
    }
  }

  &__img_pinzeria {
    background: url('../images/foodcourt/pinzeria.png') no-repeat center;
    background-size: cover;
    height: 343px;
    margin-bottom: 83px;
    position: relative;
    @media (max-width: 991px) {
      margin-bottom: 63px;
    }

    h2 {
      position: absolute;
      bottom: -67px;
      left: 20px;
      line-height: 1.2;
      z-index: 1;
      @media (max-width: 991px) {
        bottom: -48px;
      }
    }
  }

  &__img_mitzva {
    background: url('../images/foodcourt/mitzva.png') no-repeat center;
    background-size: cover;
    height: 343px;
    margin-bottom: 34px;
    position: relative;

    h4 {
      position: absolute;
      bottom: 19px;
      left: 27px;
      font-family: 'Geometria-Bold', sans-serif;
      margin-bottom: 0;
      z-index: 1;
    }
  }

  &__img_phopho {
    background: url('../images/foodcourt/phopho.png') no-repeat center;
    background-size: cover;
    height: 343px;
    margin-bottom: 34px;
    position: relative;

    h4 {
      position: absolute;
      bottom: 19px;
      left: 27px;
      font-family: 'Geometria-Bold', sans-serif;
      margin-bottom: 0;
      z-index: 1;
    }
  }

  &__img_rediss {
    background: url('../images/foodcourt/rediss.png') no-repeat center;
    background-size: cover;
    height: 170px;
    position: relative;
    width: 305px;
    margin-right: 56px;
    @media (max-width: 1199px) {
      margin-bottom: 20px;
      width: 100%;
    }
    @media (max-width: 991px) {
      height: 343px;
    }
  }

  &__img_ryba {
    background: url('../images/foodcourt/ryba.png') no-repeat center;
    background-size: cover;
    height: 170px;
    position: relative;
    width: 305px;
    margin-right: 56px;
    @media (max-width: 1199px) {
      margin-bottom: 20px;
      width: 100%;
    }
    @media (max-width: 991px) {
      height: 343px;
    }
  }

  &__artcile-2 {
    padding-right: 28px;
    @media (max-width: 991px) {
      margin-bottom: 59px;
      padding-right: 0;
    }

    .text-p-20 {
      margin-left: 27px;
    }
  }

  &__artcile-3 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 68px;
    @media (max-width: 1199px) {
      display: block;
    }
    @media (max-width: 991px) {
      margin-bottom: 59px;
    }

    .text-p-20 {
      max-width: 291px;
      margin-bottom: 0;
      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    h4 {
      font-family: 'Geometria-Bold', sans-serif;
      margin-bottom: 53px;
      z-index: 1;
      @media (max-width: 1199px) {
        margin-bottom: 20px;
      }
    }
  }

  &__artcile-4 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 135px;
    @media (max-width: 1199px) {
      display: block;
    }
    @media (max-width: 991px) {
      margin-bottom: 59px;
    }

    .text-p-20 {
      max-width: 291px;
      margin-bottom: 0;
      @media (max-width: 1199px) {
        max-width: 100%;
      }
    }

    h4 {
      font-family: 'Geometria-Bold', sans-serif;
      margin-bottom: 15px;
      z-index: 1;
      @media (max-width: 1199px) {
        margin-bottom: 20px;
      }
    }
  }

  footer {
    top: 0;
  }
}
