            .article {
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: $color-pink;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 12px;
                }
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 16px;
                }
                h5 {
                    font-size: 14px;
                }
                h6 {
                    font-size: 12px;
                }
                .heading {
                    font-size: 18px;
                    margin: 8px 0 10px;
                }
                &-images {
                    margin-bottom: 30px;
                    img {
                        max-width: 540px;
                    }
                }
                &__instagram {
                    border: 1px solid #e1e1e1;
                    margin: 30px -15px 0 0;
                    &__heading,
                    &__footer {
                        padding: 15px 60px;
                        background: #e1e1e1;
                        min-height: 72px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &__body {
                        padding: 15px 20px;
                        &__avatar {
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            margin: 0 15px 15px 0;
                            @include border-radius(50%);
                            border: 1px solid #e1e1e1;
                            padding: 5px;
                            float: left;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        &__nickname {
                            font-size: 18px;
                            overflow: hidden;
                            margin: 5px 0 5px;
                            p {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                margin: 0;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                        }
                        &__location {
                            font-size: 14px;
                            p {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                margin: 0;
                            }
                        }
                        &__photo {
                            border: 1px solid #e1e1e1;
                            height: 320px;
                            width: 320px;
                            margin-bottom: 30px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        &__likes {
                            position: relative;
                            border-top: 1px solid #e1e1e1;
                            padding: 15px 0 0 25px;
                            margin-bottom: 10px;
                            &:before {
                                content: '';
                                width: 19px;
                                height: 19px;
                                position: absolute;
                                left: 0;
                                background: url('../images/article/heart.png') no-repeat;
                                background-position: center;
                                background-size: 100%;
                            }
                        }
                        &__description {
                            &__name {
                                font-weight: 700;
                                cursor: pointer;
                            }
                            &__hashtag {
                                color: $color-navyBlue;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .questionnaire {
                    padding: 15px 0;
                    margin: 34px 0;
                    color: #fff!important;
                    text-transform: uppercase;
                    background: $color-pink;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    transition: 0.2s;
                    text-align: center;
                    text-decoration: none;
                    &:hover {
                        box-shadow: 0 14px 26px -12px rgba(119, 119, 119, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(119, 119, 119, 0.2);
                        text-decoration: none!important;
                    }
                }
                a {
                    color: $color-pink!important;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                    color: $color-fuchsia;
                }
                ul {
                    margin: 9px 0 0;
                    color: $color-navyBlue;
                    li {
                        list-style: none;
                        margin-bottom: 10px;
                        padding-left: 25px;
                        position: relative;
                        &:before {
                            content: "";
                            display: block;
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            left: 0;
                            top: 6px;
                            border-radius: 100%;
                            background-color: currentColor;
                        }
                    }
                }
                ol {
                    margin: 8px 0 0;
                    padding: 0;
                    list-style-type: decimal;
                    li {
                        margin-bottom: 10px;
                        padding-left: 15px;
                        margin-left: 18px;
                        position: relative;
                    }
                    li {
                        color: $color-navyBlue;
                    }
                }
            }
            
            .article-header-bg {
                background: url('../images/article/article-bg.svg') no-repeat #0096de;
                background-position-x: -100%;
                background-size: 60%;
                margin-top: -57px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 145px;
                    z-index: 1;
                    background: url('../images/article/article_bottom.png') no-repeat;
                }
            }
            
            .article-header {
                position: relative;
                margin-top: 0px;
                margin-bottom: 0px;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 570px;
                    height: 100%;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0);
                    background-position: 0 -113px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url("../images/article/white-bg.png");
                }
                &__inner-col {
                    padding-left: 0;
                    padding-right: 0;
                }
                &__img {
                    img {
                        width: 100%;
                        max-height: 470px;
                        position: relative;
                    }
                    &:after {
                        content: '';
                        background: url('../images/article/bottom-stipes.svg') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        bottom: 12%;
                        left: -8%;
                        width: 100%;
                        height: 85px;
                        transform: rotate(180deg);
                    }
                }
                &__stripes {
                    margin-top: -130px;
                    height: 117px;
                    z-index: 0;
                    transform: rotate(180deg);
                }
                &__text {
                    padding: 0 15px;
                    z-index: 2;
                    position: relative;
                }
                &__title {
                    font-size: 30px;
                    font-weight: 400;
                    color: $color-navyBlue;
                    text-transform: uppercase;
                    margin: 13% auto 0;
                    width: 380px;
                    &__pink {
                        font-size: 42px;
                        font-weight: bold;
                        color: $color-pink;
                        margin: 0 0 0px 23px;
                        padding-bottom: 70px;
                    }
                }
            }
            
            @media all and (min-width:0px) and (max-width:991px) {
                .article-images {
                    img {
                        width: 100%;
                    }
                }
                .article-header {
                    background-color: $color-white;
                    &__inner-col {
                        overflow: hidden;
                    }
                    &__title {
                        margin: 35px 0 10% 0;
                        width: 100%;
                    }
                    .article-header__text {
                        z-index: 0;
                    }
                    &:before {
                        content: none;
                        z-index: 0;
                    }
                    &:after {
                        z-index: 0;
                    }
                }
            }
            
            .introduction {
                background: url('../images/article/article-bg.svg') no-repeat #0096de;
                background-position-x: -100%;
                background-size: 60%;
                margin-top: -57px;
                position: relative;
                &__box {
                    padding: 0;
                    &__photo {
                        max-width: 730px;
                        padding: 0;
                        & img {
                            width: 100%;
                        }
                    }
                    &__text {
                        padding: 0;
                        &__container {
                            margin-left: -90px;
                            padding: 90px 80px 90px 150px;
                            background-image: url("../images/article/white-bg.png");
                            background-size: cover;
                            width: 535px;
                            min-height: 475px;
                            position: relative;
                            z-index: 1;
                            &__title {
                                font-size: 30px;
                                font-weight: 400;
                                color: $color-navyBlue;
                                text-transform: uppercase;
                                line-height: 36px;
                                &__bold {
                                    font-size: 42px;
                                    font-weight: bold;
                                    line-height: 50px;
                                    color: $color-pink;
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
                &__right-stripes {
                    background-image: url("../images/article/bottom-stipes-blue.svg");
                    background-size: cover;
                    height: 160px;
                    margin-top: -160px;
                    transform: rotate(180deg);
                    position: relative;
                    z-index: 1;
                    max-width: 1200px;
                    float: right;
                }
                &__left-stripes {
                    background-image: url("../images/article/bottom-stripes-white.svg");
                    background-size: cover;
                    height: 145px;
                    margin-top: -145px;
                    transform: rotate(180deg);
                    position: relative;
                    z-index: 0;
                    max-width: 1200px;
                }
                &__bottom {
                    background-image: url("../images/article/article_bottom.png");
                    background-size: cover;
                    width: 100%;
                    height: 105px;
                    z-index: 1;
                    margin-top: -104px;
                    padding: 0;
                }
            }
            
            .involvement {
                padding: 85px 110px;
                margin: 0 auto;
                background: #fff;
                &__banner {
                    img {
                        height: 475px;
                        margin-top: 5px;
                    }
                }
                .content-blue {
                    margin-bottom: 0;
                }
                p {
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
                &__bigger {
                    padding-top: 15px;
                    margin-bottom: 40px;
                }
            }
            
            @media all and (min-width:320px) and (max-width:991px) {
                .introduction {
                    &__box {
                        &__text {
                            &__container {
                                width: auto;
                                &__title {
                                    font-size: 24px;
                                    &__bold {
                                        font-size: 38px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            @media all and (min-width:992px) and (max-width:1200px) {
                .introduction {
                    &__box {
                        &__text {
                            &__container {
                                width: auto;
                                &__title {
                                    font-size: 28px;
                                    &__bold {
                                        font-size: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
                .article {
                    &__instagram {
                        &__heading,
                        &__footer {
                            padding: 20px 60px 15px;
                            min-height: 60px;
                        }
                        &__body {
                            padding: 15px 13px;
                            &__photo {
                                width: 100%;
                                height: 278px;
                            }
                        }
                    }
                }
            }
            
            @media all and (min-width:1200px) and (max-width:1500px) {
                .introduction {
                    &__left-stripes {
                        left: 0%;
                    }
                    &__right-stripes {
                        height: 143px;
                        margin-top: -143px;
                    }
                }
            }
            
            @media all and (min-width:1500px) and (max-width:1919px) {
                .introduction {
                    &__left-stripes {
                        //left: 10%;
                    }
                    &__right-stripes {
                        height: 145px;
                        margin-top: -145px;
                    }
                }
            }