.c-contacts {
    position: relative;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 22px 0 60px;
    }
    &__h1 {
        letter-spacing: 1.3px;
    }
}

.c-contact {
    &__list {
        margin: 0 0 37px;
    }
    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        &:last-child {
            margin: 0;
        }
    }
    &__img {
        width: 31px;
        height: 31px;
        margin-right: 18px;
    }
    &__text {
        font-size: 16px;
        color: $color-navyBlue;
        font-weight: 400;
        margin: unset;
    }
    &__h3 {
        color: $color-navyBlue;
    }
    &__mail {
        font-weight: 400;
        color: $color-pink;
        border-bottom-style: dashed;
        border-bottom: 2px dashed transparent;
        &:hover,
        &:focus,
        &:active {
            color: $color-pink;
            border-bottom: 2px dashed $color-pink;
        }
    }
    &__tel {
        color: $color-pink;
        border-bottom: 2px dashed transparent;
        &:hover,
        &:focus,
        &:active {
            color: $color-pink;
            border-bottom-style: dashed;
            border-bottom: 2px dashed $color-pink;
        }
    }
    h5 {
        position: relative;
    }
    address {
        margin: 0;
    }
    &__b-two {
        padding-left: 25px;
    }
}

.c-breadcrumbs {
    margin-bottom: 27px;
}

@media (max-width:767px) {
    .c-contact {
        &__b-two {
            padding-left: 15px;
        }
    }
}