        .customization-basic-blocks {
            overflow-x: hidden;
            .page-rastr {
                position: absolute;
                display: none;
                &-left {
                    left: 0;
                    top: 50px;
                }
                &-right {
                    right: 0;
                    top: 55px;
                }
                @media all and (min-width:1900px) {
                    &-left {
                        display: block;
                    }
                    &-right {
                        display: block;
                    }
                }
                @media all and (min-width:1800px) and (max-width:1899px) {
                    &-left {
                        left: -100px;
                        display: block;
                    }
                    &-right {
                        right: -100px;
                        display: block;
                    }
                }
                @media all and (min-width:1700px) and (max-width:1799px) {
                    &-left {
                        left: -150px;
                        display: block;
                    }
                    &-right {
                        right: -150px;
                        display: block;
                    }
                }
                @media all and (min-width:1600px) and (max-width:1699px) {
                    &-left {
                        left: -200px;
                        display: block;
                    }
                    &-right {
                        right: -200px;
                        display: block;
                    }
                }
            }
            &--video {
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 0;
                .video-center {
                    max-width: 729px;
                    height: 487px;
                    position: relative;
                    padding: 0;
                    @media (max-width: 991px) {
                        max-width: 100%;
                        height: inherit;
                        position: relative;
                        padding: 0;
                    }
                }
                .video-center video,
                .video-center iframe,
                .video-center source {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: inherit;
                    object-fit: inherit;
                    max-height: 487px;
                    @media (max-width: 767px) {}
                }
                .video-center .button-play {
                    content: "";
                    background: url(../../assets/images/video/btn-square.svg);
                    height: 88px;
                    width: 88px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    cursor: pointer;
                    display: block;
                    margin: -44px 0 0 -44px;
                    transition: 0.2s;
                    &:hover {
                        transform: scale(1.4, 1.4);
                    }
                }
                .banner-realwinter {
                    margin-left: -15px;
                    width: 710px;
                    height: 487px;
                }
            }
            .sport-template__other-sports-slick {
                padding-right: 0 !important;
            }
            .customization-basic-blocks-slick .slick-next {
                bottom: 30%;
            }
            .customization-basic-blocks-slick .slick-prev {
                bottom: 45%;
                left: -44px;
            }
            .sport-template__other-sports-slick .slick-next {
                right: -24px;
                @media (max-width: 991px) {
                    right: -36px;
                }
            }
            .sport-template__other-sports-slick .slick-prev {
                left: -44px;
            }
            .c-sponsors__slaider-slick .slick-prev {
                left: -55px;
            }
            .c-sponsors__slaider-slick .slick-next {
                right: -13px;
                @media (max-width: 991px) {
                    right: -20px;
                }
            }
            .c-sponsors__slaider {
                margin-top: 94px;
                margin-bottom: 44px;
            }
            &__document {
                padding: 0;
                margin: 20px 0 10px;
                &--image {
                    overflow: hidden;
                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                    img {
                        width: 350px;
                        height: 260px;
                    }
                }
            }
            .slick-initialized .slick-slide {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                @media (max-width: 769px) {}
            }
            .c-sponsors__slaider {
                h2 {
                    position: relative;
                    top: -54px;
                    @media (max-width: 769px) {
                        left: unset;
                    }
                }
            }
            &__table {
                table {
                    @media (max-width: 767px) {
                        overflow-x: scroll;
                        display: block;
                    }
                }
            }
            table {
                width: 100%;
                margin: 20px auto;
                tbody {
                    tr {
                        &:first-child {
                            border-bottom: 2px solid;
                            font-size: 14px;
                            color: $color-navyBlue;
                            td {
                                padding: 20px 20px 10px 0;
                                border-bottom: 1px solid transparent;
                            }
                        }
                        &.trailing {
                            border-bottom: 1px solid #d7d7d7;
                        }
                        td {
                            vertical-align: top;
                            padding: 30px 20px 50px 0;
                            color: $color-pink;
                            div {
                                display: inline-block;
                                vertical-align: top;
                                color: $color-navyBlue;
                                width: 30px;
                            }
                            p {
                                margin: 0 0 20px;
                                display: inline-block;
                                width: 90%;
                                &:last-child {
                                    margin: 0;
                                }
                            }
                            &:first-child {
                                width: 40%;
                            }
                            &:nth-child(2) {
                                width: 40%;
                                border-bottom: 1px solid #d7d7d7;
                            }
                            &:last-child {
                                width: 20%;
                                border-bottom: 1px solid #d7d7d7;
                                p {
                                    margin-bottom: 0;
                                    color: $color-navyBlue;
                                }
                            }
                        }
                    }
                }
            }
            &__card {
                padding: 30px;
                margin: 0 30px;
                min-height: 385px;
                @media (max-width: 1199px) {
                    min-height: 405px;
                    margin: unset;
                }
                figure {
                    width: 218px;
                    height: 164px;
                    background: transparent;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 34px;
                    img {
                        width: inherit;
                    }
                }
                a {
                    h5 {
                        color: $color-navyBlue;
                    }
                }
                &:hover {
                    box-shadow: 0px 20px 50px 0px rgba(0, 126, 197, 0.2);
                    cursor: pointer;
                    @media (max-width: 768px) {
                        box-shadow: unset;
                    }
                    * a {
                        text-decoration: none;
                        h5 {
                            color: $color-pink;
                        }
                    }
                }
                &--gorizontal {
                    margin-bottom: 40px;
                    min-height: 234px;
                    @media (max-width: 1199px) {
                        min-height: 278px;
                    }
                    @media (max-width: 991px) {
                        min-height: inherit;
                    }
                    figure {
                        width: 255px;
                        height: 192px;
                        margin-right: 30px;
                        background: #eff6f7;
                        float: left;
                        @media (max-width: 484px) {
                            margin-bottom: 20px;
                        }
                        img {
                            width: inherit;
                        }
                    }
                }
            }
            &__slaider-link {
                img {
                    margin-bottom: 31px;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.15);
                        -webkit-transform: scale(1.03, 1.03);
                        -moz-transform: scale(1.03, 1.03);
                        -ms-transform: scale(1.03, 1.03);
                        -o-transform: scale(1.03, 1.03);
                        transform: scale(1.03, 1.03);
                    }
                }
                .c-sponsors__slaider-slick .slick-next {
                    top: 32%;
                }
                .c-sponsors__slaider-slick .slick-prev {
                    top: 32%;
                }
                a {
                    @media (max-width: 769px) {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .customization-typography__p1 p {
                    @media (max-width: 769px) {}
                }
                h3 {
                    padding-right: 20px !important;
                    @media (max-width: 769px) {}
                }
                a:hover {
                    text-decoration: none;
                    p,
                    h3 {
                        color: #fff;
                    }
                }
            }
            .sport-template__other-sports-slick a {
                @media (max-width: 769px) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            .sport-template__other-sports-slick a h3 {
                margin-top: 0;
                padding-right: 15px;
                max-height: 100px;
                overflow: hidden;
            }
            .sport-template__other-sports-slick .slick-slide img {
                margin-bottom: 15px;
            }
            .sport-template__other-sports-slick {
                .customization-typography__p1 p {
                    padding-bottom: 15px;
                    padding-right: 20px;
                }
            }
            .slick-dots {
                left: -2px;
            }
            .slick-dots li button:before {
                content: '';
                width: 10px;
                height: 10px;
            }
            .slick-dots li.slick-active button:before {
                opacity: 1 !important;
                background: transparent;
                border: 2px solid $color-pink;
            }
            .slick-dots li {
                margin: 0 5px;
            }
            .sport-template__other-sports-slick {
                margin-bottom: 30px;
                margin-right: -24px;
                margin-top: 15px;
                @media (max-width: 767px) {
                    margin-right: 0;
                    margin-bottom: 50px;
                }
            }
            .c-sponsors__slaider-slick {
                margin-right: -24px;
            }
            @media (max-width: 769px) {
                .c-sponsors__slaider-slick .slick-slide img {
                    margin-bottom: 15px;
                }
            }
            @media (max-width: 375px) {
                .sport-template__other-sports-slick .slick-slide img {
                    padding-right: 0px;
                }
            }
            @media (max-width: 360px) {
                .sport-template__other-sports-slick .slick-slide img,
                .c-sponsors__slaider-slick .slick-slide img {
                    width: 280px;
                    height: inherit;
                }
            }
            @media (max-width: 768px) {
                .sports-item:hover {
                    box-shadow: unset;
                }
            }
        }
