.customization-banner-blocks{
	overflow: hidden;
	position: relative;

	.c-banner,
	.partners {
	    padding: 35px 0 45px;

	    img{
		    box-shadow: 0px 3px 20.79px 0.21px rgba(0, 0, 0, 0.18);
		}
	}

	.c-banner{
		&__blue{
			background: $color-deepBlue;
		}
	}

	.c-banner-big{
		a{
			max-width: 1200px;

			&:first-child{
				margin: 0;
			}
		}
		img{
		    max-width: 1200px;
		    box-shadow: 0px 3px 20.79px 0.21px rgba(0, 0, 0, 0.18);
		}
	}

	.c-banner-background{
		&__blue{
		    background-image: linear-gradient(-2.8deg, $color-deepBlue 49%, transparent 50%);
		}
	}

	.partners-background{
		margin-top: 12px;
	}
	.partners, .c-banner{
		margin-bottom: 39px;
	}

	.c-banner-background{
		margin-top: 14px;
	}

}
