.directorate {
    &__content {
        h3 {
            text-transform: none;
            color: $color-pink;
        }
        p {
            color: $color-navyBlue;
            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
    &__box {
        display: block;
        max-width: 260px;
        font-size: 16px;
        overflow: hidden;
        @include transition(all 0.2s ease 0s);
        opacity: .99;
        margin-bottom: 65px;
        color: $color-navyBlue;
        &__wrap {
            box-sizing: border-box;
            height: 100%;
            position: relative;
            @include transition(all 0.2s ease 0s);
        }
        // content
        &__images {
            width: 259px;
            height: 188px;
            background-color: #dbdbdb;
            margin-bottom: 25px;
        }
        &__title {
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        &__text {
            font-weight: 300;
        }
        &__desc {
            font-weight: 500;
        }
    } //&__item
}

@-webkit-keyframes colorText {
    0% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    100% {
        color: $color-white;
    }
}

@-moz-keyframes colorText {
    0% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    100% {
        color: $color-white;
    }
}

@-o-keyframes colorText {
    0% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    100% {
        color: $color-white;
    }
}

@keyframes colorText {
    0% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    100% {
        color: $color-white;
    }
}

@media all and (min-width:0px) and (max-width:1200px) {}

@media (min-width: 768px) and (max-width: 1200px) {
    .directorate-color:nth-child(2n+1) {
        clear: both;
    }
}

@media (min-width: 1200px) {
    .directorate-color:nth-child(3n+1) {
        clear: both;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .directorate {
        &__box {
            float: none;
            margin: 0 auto 65px;
        }
    }
}