.wrapp-func-dest {
    margin: 0 auto;
    .func-dest__body {
        min-height: 800px;
        padding: 20px 0;
        h1 {
            position: relative;
        }
        .func-dest_head {
            margin-bottom: 20px;
        }
        .func-dest__box {
            padding: 0;
            .func-dest__box__inner {
                width: 255px;
                height: 170px;
                margin: 0 auto 30px;
                a {
                    position: absolute;
                    top: 0;
                    height: 85%;
                    width: 255px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    z-index: 1;
                    p {
                        vertical-align: bottom;
                        position: absolute;
                        bottom: 0;
                        padding: 20px 25px 20px 20px;
                        color: #fff;
                    }
                }
                img {
                    @include transition(all 0.3s ease 0s);
                    position: absolute;
                    width: 255px;
                    height: 170px;
                }
            }
            .func-dest__box__inner:after {
                @include transition(all 0.3s ease 0s);
                content: "";
                width: 255px;
                height: 170px;
                background-color: rgba( 16, 113, 182, 0.75);
                top: 0;
                position: absolute;
            }
            .func-dest__box__inner:hover {
                box-shadow: 0px 24px 62px 0px rgba(0, 0, 0, 0.15);
                img {
                    @include transform(scale(1.07, 1.07));
                }
                &:after {
                    background-color: transparent;
                    @include transform(scale(1.07, 1.07));
                }
            }
        }
    }
}