.history {
    overflow: hidden;
    &__box {
        max-width: 730px;
        margin: 0 auto;
        color: $color-navyBlue;
        &__list {
            padding-left: 60px;
            position: relative;
            margin-left: 130px;
            list-style: none;
            float: right;
            &:before {
                content: '';
                width: 3px;
                height: 100%;
                background: #d1d1d1;
                position: absolute;
                top: 0;
                left: 0px;
                z-index: 0;
            }
            &__body {
                &__date {
                    font-size: 36px;
                    font-weight: 700;
                    position: absolute;
                    left: -130px;
                    margin-top: 15px;
                }
                &.all-history,
                &.all-history__open {
                    margin-bottom: 50px;
                    cursor: pointer;
                    li {
                        &:before {
                            content: '';
                            background: url('../images/core/plus.svg') no-repeat #fff;
                            background-position: 50%;
                            top: -5px;
                            left: -73px;
                            width: 28px;
                            height: 28px;
                            color: $color-pink;
                            border: none;
                            z-index: 1;
                        }
                        a {
                            font-weight: 400;
                            color: $color-pink;
                        }
                    }
                    & .all-history-hide {
                        display: none;
                    }
                }
                &.all-history__open {
                    li {
                        &:before {
                            content: '';
                            background: url('../images/core/minus.svg') no-repeat #fff;
                            background-position: 50% 50%;
                        }
                    }
                }
                li {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 20px;
                        left: -68px;
                        width: 19px;
                        height: 19px;
                        border: 3px solid #d1d1d1;
                        background: #fff;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        border-radius: 50%;
                        z-index: 1;
                    }
                    &.begin {
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0px;
                            left: -69px;
                            width: 20px;
                            height: 20px;
                            background: #fff;
                            z-index: 2;
                        }
                    }
                    &.end {
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0px;
                            left: -69px;
                            width: 20px;
                            height: calc(100% - 39px);
                            min-height: 211px;
                            background: #fff;
                            z-index: 2;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                    img {
                        max-height: 60px;
                    }
                    h3 {
                        padding: 25px 0 15px;
                        font-weight: 500;
                        color: $color-navyBlue;
                        text-transform: uppercase;
                    }
                    p {
                        margin-bottom: 30px;
                    }
                }
            }
            &__hidden {
                display: none;
            }
        }
    }
    @media all and(min-width:768px) and(max-width:991px) {
        &__box {
            &__list {
                max-width: 510px;
            }
        }
    }
    @media all and(min-width:320px) and(max-width:450px) {
        &__box {
            &__list {
                max-width: 200px;
                padding-left: 25px;
                margin-left: 0;
                &__body {
                    &__date {
                        left: -100px;
                        font-size: 34px;
                    }
                    li {
                        img {
                            max-width: 175px;
                        }
                        &:before {
                            left: -34px;
                        }
                        &.begin:after {
                            left: -35px;
                        }
                        &.end:after {
                            left: -35px;
                        }
                    }
                    &.all-history,
                    &.all-history__open {
                        li {
                            &:before {
                                left: -38px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and(min-width:400px) and(max-width:767px) {
        &__box {
            &__list {
                max-width: 270px;
            }
        }
    }
}