.information {
    .images-bl {
        float: left;
    }
    &__unit {
        margin: 0 15px 75px;
        position: relative;
        cursor: pointer;
        padding: 0;
        &:hover {
            .info__title {
                color: $color-pink;
            }
        }
    }
    .info {
        display: table-cell;
        color: $color-navyBlue;
        font-size: 18px;
        position: relative;
        padding: 0px 20px 20px;
        span {
            display: table-cell;
            min-width: 35px;
            max-width: 250px;
        }
        &__box {
            position: relative;
            &__text {
                height: 215px;
                padding: 0 15px 0px 0;
            }
        }
        /* &__box:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 20px;
            background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #fff 75%);
            background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #fff 75%);
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 75%);
            background-repeat: repeat-x;
        }*/
        &__title {
            padding: 0 0 20px;
        }
    }
}

@media all and (min-width:0px) and (max-width:768px) {
    .information {
        .info {
            padding: 20px 0 0 0;
        }
        &__unit {
            margin-left: 0;
            margin-right: 0;
            padding: 0 10px;
            &__small {
                max-width: 320px;
                margin: 0 auto;
            }
            .images-bl {
                display: block;
                width: 100%;
            }
        }
    }
}