.main {
    max-width: 1920px;
    margin: 0 auto;
    .objects {
        margin: 0 0 54px;
    }
    footer {
        margin: -43px 0 0;
        @media all and(min-width: 0px) and(max-width: 767px) {
            margin: -60px 0 0;
        }
    }
    @media all and (min-width:0px) and (max-width:767px) {
        h3 {
            font-size: 22px;
        }
    }
}


/*photo-of-day*/

.photo-of-day {
    margin: -50px 0 -123px;
    padding: 12px 0 0;
    background: $color-darkBlue;
    height: 528px;
    z-index: 2;
    position: relative;
    &__slider {
        margin-left: -45px;
    }
    &__left-s {
        padding: 0 40px 0 0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            right: 0px;
            top: 0;
            width: 84px;
            height: 100%;
            background: $color-darkBlue;
            -webkit-backface-visibility: hidden;
            @include transform(skewX(-9.5deg));
            -webkit-transform-origin: 100%;
            transform-origin: 100%;
            @media all and (min-width: 0) and (max-width: 991px) {
                display: none;
            }
        }
        &__item {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                max-height: 486px;
            }
        }
    }
    &__right-s {
        padding: 80px 45px 0 5px;
        &__item {
            color: $color-white;
            margin-bottom: 30px;
            height: 260px;
            overflow: hidden;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0px;
                width: 100%;
                height: 15%;
                opacity: 1;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 150, 222, 0)), color-stop(75%, $color-darkBlue));
                background-image: linear-gradient(to bottom, rgba(0, 150, 222, 0) 0%, $color-darkBlue 75%);
            }
            h3 {
                margin: 0 0 35px;
                color: $color-white;
            }
            p {
                font-size: 16px;
                margin: 0;
                color: $color-white;
            }
        }
    }
    //slick-styles
    .slick-dots {
        li {
            margin: 0 10px 0 0;
            button {
                &:hover {
                    &:before {
                        background: #78ccf4;
                    }
                }
                &:before {
                    content: '';
                    background: $color-white;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        background: $color-pink;
                    }
                }
            }
        }
    }
    @media all and (min-width:992px) and (max-width:1200px) {
        margin: -50px 0 -95px;
        height: 423px;
        h3 {
            font-size: 20px;
            line-height: 28px;
            margin: 0 0 25px;
        }
        &__slider {
            margin-left: -30px;
        }
        &__left-s {
            &__item {
                img {
                    max-height: 404px;
                }
            }
        }
        &__right-s {
            padding: 40px 0 0 5px;
        }
    }
    @media all and (min-width:768px) and (max-width:991px) {
        height: 100%;
        padding: 12px 0 30px;
        &__slider {
            margin: 0;
        }
        &__left-s {
            padding: 0;
            &__item {
                &:after {
                    display: none;
                }
            }
            &__item {
                img {
                    max-height: 480px;
                }
            }
        }
        &__right-s {
            padding: 80px 0 0;
            .slick-dots {
                top: 15px;
                bottom: auto;
                text-align: center;
                li {
                    width: 15px;
                    height: 15px;
                    margin: 0 15px;
                    button {
                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
    @media all and (min-width:0px) and (max-width:767px) {
        height: 100%;
        padding: 12px 0 0px;
        &__slider {
            margin: 0;
        }
        &__left-s {
            padding: 0;
            &__item {
                &:after {
                    display: none;
                }
            }
        }
        &__right-s {
            padding: 80px 0 0;
            &__item {
                margin: 0 0 80px;
            }
            .slick-dots {
                top: 15px;
                bottom: auto;
                text-align: center;
                li {
                    width: 15px;
                    height: 15px;
                    margin: 0 15px;
                    button {
                        width: 100%;
                        height: 100%;
                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
}


/*Photo-of-day-end*/


/*Announs*/

.announs {
    position: relative;
    margin: 0 0 56px 0;
    &__background {
        background-image: linear-gradient(-3deg, $color-white 49%, transparent 50%);
        background-repeat: no-repeat;
        background-size: cover;
        height: 123px;
        width: 100%;
        margin: 0 0 44px;
        z-index: 2;
        position: relative;
    }
    h1 {
        font-weight: 500;
        // margin: 0 0 25px;
    }
    &__winter-block {
        background: url('../images/main_page/100-winter.svg') no-repeat;
        background-size: cover;
        width: 217px;
        height: 121px;
        position: absolute;
        right: 0;
        top: 121px;
    }
    a {
        display: inline-block;
        color: $color-pink;
        &:hover {
            text-decoration: underline;
        }
    }
    &__slider {
        margin-bottom: 45px;
    }
    &__left-s {
        padding: 0 20px 0 0;
        position: relative;
        display: block;
        &__item {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__right-s {
        padding: 0 0 0 10px;
        &__item {
            display: block;
            color: $color-navyBlue;
            max-height: 233.41px;
            min-height: 233.41px;
            overflow: hidden;
            position: relative;
            text-decoration: none!important;
            cursor: default!important;
            &:hover {
                h3 {
                    color: $color-pink;
                    @include transition(all 0.6s ease);
                    text-decoration: underline;
                }
            }
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0px;
                width: 100%;
                height: 10%;
                opacity: 1;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to($color-white));
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $color-white 100%);
            }
            h3 {
                margin: 0 0 25px;
                @include transition(all 0.6s ease);
                cursor: pointer;
            }
            p {
                line-height: 23.5px;
                margin: 0;
                color: $color-navyBlue;
                cursor: pointer;
            }
        }
        &__date {
            display: inline-block;
            vertical-align: top;
            color: $color-pink;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 13px;
            line-height: 1;
            cursor: pointer;
        }
    }
    //slick-styles
    .slick-dots {
        bottom: -65px;
        li {
            button {
                &:hover {
                    &:before {
                        background: #78ccf4;
                    }
                }
                &:before {
                    background: $color-navyBlue;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        background: $color-pink;
                    }
                }
            }
        }
    }
    @media all and (min-width:992px) and (max-width:1200px) {
        &__background {
            margin: 0;
        }
        &__right-s {
            &__item {
                max-height: 195px;
                min-height: 195px;
                p {
                    max-height: 77px;
                    line-height: 19px;
                }
            }
        }
    }
    @media all and (min-width:768px) and (max-width:991px) {
        height: 100%;
        &__background {
            margin: 0;
        }
        &__right-s {
            padding: 60px 0 0;
            height: 100%;
            .slick-dots {
                top: 15px;
                bottom: auto;
                text-align: center;
                li {
                    width: 15px;
                    height: 15px;
                    margin: 0 15px;
                    button {
                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
    @media all and (min-width:0px) and (max-width:767px) {
        height: 100%;
        &__background {
            margin: 0;
        }
        &__left-s {
            padding: 0;
            &:after {
                display: none;
            }
        }
        &__right-s {
            padding: 70px 0 0;
            height: 100%;
            .slick-dots {
                top: 15px;
                bottom: auto;
                text-align: center;
                li {
                    width: 15px;
                    height: 15px;
                    margin: 0 15px;
                    button {
                        width: 100%;
                        height: 100%;
                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
}


/*Announs-end*/


/*c-banner*/

.c-banner-background {
    position: relative;
    background-image: linear-gradient(-2.8deg, $color-pink 49%, transparent 50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95px;
    width: 100%;
    z-index: 2;
    top: 1px;
}

.c-banner {
    position: relative;
    z-index: 2;
    padding: 15px 0 30px;
    margin: 0 0 58px;
    background: $color-pink;
    &__decoration {
        position: absolute;
        display: none;
        z-index: 1;
    }
    &__box {
        text-align: center;
        a {
            display: inline-block;
            max-width: 585px;
            height: 180px;
            &:first-child {
                margin: 0 25px 0 0;
            }
            img {
                width: 100%;
                height: 100%;
                display: block;
                max-width: 585px;
                max-height: 180px;
            }
        }
    }
    @media all and(min-width:1200px) {
        .container {
            padding: 0;
        }
    }
    @media all and(min-width:992px) and (max-width:1199px) {
        &__box {
            a {
                max-width: 445px;
                height: 100%;
            }
        }
    }
    @media all and(min-width:0px) and (max-width:991px) {
        margin: 0 0 40px;
        &__box {
            a {
                float: none;
                max-width: 100%;
                height: 100%;
                &:first-child {
                    margin: 0 auto 30px;
                }
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}


/*c-banner-end*/


/*news*/

.newsMain {
    padding: 0;
    margin-bottom: 35px;
    position: relative;
    &__decoration {
        position: absolute;
        display: none;
        z-index: 1;
        overflow: hidden;
        &-left {
            left: 0;
            top: -84%;
            width: 309px;
            img {
                display: block;
            }
        }
        &-right {
            top: -79%;
            right: 0;
            width: 290px;
            img {
                display: block;
            }
        }
    }
    &__subscribe {
        padding: 5px 0 0;
        color: $color-pink;
        cursor: pointer;
        @include transition(all 0.3s ease 0s);
        &__rss {
            background: url("../images/core/mail-ico/mailer-blue.svg") no-repeat;
            background-position: center;
            background-size: 100%;
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 12px;
            @include transition(all 0.3s ease 0s);
        }
        &__text {
            float: left;
            &:hover {
                text-decoration: underline;
            }
        }
        &:hover {
            color: $color-pink;
            .newsMain__subscribe__rss {
                background: url("../images/core/mail-ico/mailer-pink.svg") no-repeat;
            }
        }
    }
    .banner-realwinter {
        margin: 75px 0 0;
        max-width: 240px;
        height: 390px;
    }
    .tab-content {
        position: relative;
        overflow: hidden;
    }
    &__visible {
        width: 100%;
        position: relative;
        &.in {
            opacity: 1;
            z-index: 1;
            @include transition(all 0.3s ease-in-out);
            top: 0;
        }
        &.out {
            opacity: 0;
            z-index: 0;
            @include transition(all 0.3s ease-in-out);
            position: absolute;
            top: 0;
        }
    }
    &__tab {
        padding: 0;
        max-width: 825px;
        .nav-tabs {
            border: none!important;
            margin: 0 0 44px;
        }
        li {
            width: 55%;
            &:nth-child(2) {
                width: 45%;
                a {
                    padding: 0 0 24px 10px;
                }
            }
            a {
                line-height: 1;
                margin-right: 0;
                border: none;
                border-radius: 0;
                padding: 0;
                background: transparent!important;
                border-bottom: 1px solid $color-pink!important;
                padding: 0 0 24px;
                &:active,
                &:hover,
                &:focus {
                    border: 0px solid transparent;
                }
            }
        }
        li.active {
            &:nth-child(2) {
                a {
                    padding: 0 0 15px 10px;
                }
            }
            a {
                border-bottom: 10px solid $color-pink!important;
                display: block;
                border: 0px solid transparent;
                padding: 0 0 15px;
                &:active,
                &:hover,
                &:focus {
                    border: 0px solid transparent;
                }
            }
            .newsMain__tab__link {
                font-weight: 500;
            }
            .newsMain__tab__link__eng {
                font-weight: 500;
            }
        }
        &__link {
            font-size: 48px;
            color: $color-pink!important;
            font-weight: 300;
            padding: 0 0 15px;
            text-align: center;
            line-height: 1;
            border: none;
            text-align: left;
            text-transform: uppercase;
            display: block;
            &__eng {
                font-size: 42px;
                color: $color-pink!important;
                text-transform: uppercase;
                font-weight: 300;
                padding: 0!important;
                margin: 0 0 20px;
                text-align: center;
                line-height: 1;
                border: none!important;
                text-align: left;
                @include transition(all 0.1s ease 0s);
                text-transform: uppercase;
            }
        }
        &__link:hover {
            background-color: #fff!important;
            &__eng:hover {
                background-color: #fff!important;
            }
        }
        &__all-news {
            a {
                color: $color-pink;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    &-body {
        display: block;
        width: 100%;
        margin: 0px auto 40px;
        text-decoration: none;
        max-height: 190px;
        clear: both;
        &:hover {
            text-decoration: none;
            .title {
                text-decoration: none;
                color: $color-pink;
            }
        }
        &__images,
        &__info-bl {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        &__images {
            display: inline-block;
            max-width: 255px;
            max-height: 190px;
            margin: 0 30px 0 0;
            float: left;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__info-bl {
            max-width: 540px;
            max-height: 190px;
            position: relative;
            overflow: hidden;
            &:hover {
                .newsMain-body__title h3 {
                    color: $color-pink;
                    text-decoration: underline;
                }
            }
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 10%;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to($color-white));
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $color-white 100%);
            }
        }
        &__panel {
            margin-bottom: 5px;
            @include clearfix();
        }
        &__media {
            float: right;
            a {
                cursor: default;
                width: 27px;
                height: 19px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &__photo {
                display: inline-block;
            }
            &__video {
                margin-left: 10px;
                display: inline-block;
            }
        }
        &__date {
            color: $color-pink;
            display: inline-block;
            line-height: 1;
            cursor: pointer;
        }
        &__tag {
            font-size: 16px;
            line-height: 1;
            display: inline-block;
            font-weight: 400;
            color: $color-grey;
            padding: 0 0 0 15px;
            max-width: 350px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: text-bottom;
        }
        &__title {
            padding-right: 65px;
            h3 {
                margin: 0;
                padding: 0 0 17px;
                @include transition(all 0.3s ease 0s);
                cursor: pointer;
            }
            &:hover {
                color: $color-pink;
            }
        }
        &__desc {
            padding-right: 65px;
            p {
                margin: 0;
                font-size: 16px;
                color: $color-navyBlue;
                text-transform: none;
                position: relative;
                cursor: pointer;
            }
        }
    }
    @media all and(min-width:1200px) {
        &-body {
            &__info-bl {
                min-height: 190px;
            }
        }
    }
    @media all and(min-width:992px) and (max-width:1199px) {
        &__tab {
            &__link {
                font-size: 40px;
            }
        }
    }
    @media all and(min-width:768px) and (max-width:991px) {
        .row {
            margin: 0;
        }
        &-body {
            &__time,
            &__date {
                margin-top: 0.5px;
            }
            &__info-bl {
                max-height: 170px;
            }
        }
        &__subscribe {
            margin: 0 0 20px -15px;
        }
        &__tab {
            li.active {
                .newsMain__tab__link {
                    font-size: 40px;
                }
                .newsMain__tab__link__eng {
                    font-size: 40px;
                }
            }
            &__link {
                font-size: 40px;
            }
        }
    }
    @media all and(min-width:0px) and (max-width:767px) {
        &__subscribe {
            margin: 0 0 30px;
        }
        &-body {
            max-height: 100%!important;
            &__images {
                margin: 0 auto 30px;
                float: none;
                display: block;
            }
            &__info-bl {
                max-width: 100%;
                &:after {
                    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to($color-white));
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $color-white 100%);
                    width: 100%;
                    height: 30%;
                }
            }
            &__panel {
                height: 100%;
            }
            &__title,
            &__desc {
                padding: 0;
            }
            &__date {
                margin: 0 10px 10px 0;
            }
            &__tag {
                max-width: 200px;
                padding: 0;
                width: 100%;
            }
        }
        &__tab {
            padding: 0 15px;
            li.active {
                .newsMain__tab__link {
                    font-size: 26px;
                }
                .newsMain__tab__link__eng {
                    font-size: 26px;
                }
            }
            &__link {
                font-size: 26px;
            }
        }
    }
    @media (min-width: 1600px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 -100px;
                }
            }
            &-right {
                img {
                    margin: 0 -100px 0 0;
                }
            }
        }
    }
    @media (min-width: 1700px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 -75px;
                }
            }
            &-right {
                img {
                    margin: 0 -75px 0 0;
                }
            }
        }
    }
    @media (min-width: 1800px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 -50px;
                }
            }
            &-right {
                img {
                    margin: 0 -50px 0 0;
                }
            }
        }
    }
    @media (min-width: 1899px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 0;
                }
            }
            &-right {
                img {
                    margin: 0 0 0 0;
                }
            }
        }
    }
}


/*news-end*/


/*kinds-of-sports*/

.kinds-of-sports {
    width: 100%;
    background-color: #78ccf4;
    position: relative;
    margin-bottom: 58px;
    &-background {
        background-image: linear-gradient(-178deg, $color-white 49%, transparent 50%);
        background-repeat: no-repeat;
        background-size: cover;
        height: 74px;
        width: 100%;
    }
    aside {
        h1 {
            margin-bottom: 7px;
            color: #1d81c4;
            font-weight: 500;
        }
        a {
            color: $color-white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__slider {
        padding: 0 0 30px;
        p {
            margin: 0;
        }
        .slick-dots {
            li {
                button {
                    &:before {
                        content: '';
                        background: $color-white;
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            background: #1d81c4;
                        }
                    }
                }
            }
        }
        .slick-prev,
        .slick-next {
            top: 30%;
            width: 22px;
            height: 34px;
        }
        .slick-prev {
            &:before {
                content: '';
                display: block;
                background: url('../images/core/arrows/arrow-slider-white.svg') no-repeat;
                background-size: 100%;
                width: 22px;
                height: 34px;
                @include transform(rotate(180deg));
                opacity: 1;
            }
            &:hover {
                &:before {
                    background: url('../images/core/arrows/arrow-slider-blue.svg') no-repeat;
                    @include transition(all 0.6s ease 0s);
                }
            }
        }
        .slick-next {
            &:before {
                content: '';
                display: block;
                background: url('../images/core/arrows/arrow-slider-white.svg') no-repeat;
                background-size: 100%;
                width: 22px;
                height: 34px;
                opacity: 1;
            }
            &:hover {
                &:before {
                    background: url('../images/core/arrows/arrow-slider-blue.svg') no-repeat;
                    @include transition(all 0.6s ease 0s);
                }
            }
        }
    }
    &__item {
        text-align: center;
        color: #1d81c4;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        &:hover {
            color: $color-white;
            text-decoration: none;
            & img {
                @include transition(all 0.6s ease 0s);
                @include transform(scale(1.2));
                margin: 5px auto 15px;
            }
        }
        img {
            display: block;
            margin: 0 auto 20px;
            max-width: 70px;
            width: 100%;
            height: 100%;
            @include transition(all 0.6s ease 0s);
            &:hover {
                @include transition(all 0.6s ease 0s);
                @include transform(scale(1.2));
                margin: 5px auto 15px;
            }
        }
    }
    @media all and(min-width: 992px) and (max-width:1199px) {
        aside {
            padding: 0;
        }
    }
    @media all and(min-width: 768px) and (max-width:991px) {
        aside {
            padding: 0;
        }
        &__slider {
            padding: 0 0 50px;
        }
        .slick-dots {
            bottom: 15px;
            text-align: center;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
    @media all and(min-width: 0) and (max-width:767px) {
        aside {
            margin-bottom: 30px;
            h1 {
                margin-bottom: 20px;
            }
        }
        &__slider {
            padding: 0 15px 45px;
        }
        .slick-dots {
            bottom: 15px;
            text-align: center;
            margin: 0 -15px;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}


/*kinds-of-sports-end*/


/*media-block*/

.media-gallery {
    position: relative;
    &__decoration {
        position: absolute;
        display: none;
        z-index: 2;
        overflow: hidden;
        &-left {
            left: 0;
            top: 112px;
            img {
                display: block;
            }
        }
        &-right {
            right: 0;
            top: 274px;
            img {
                display: block;
            }
        }
    }
    ul {
        padding: 0 0 40px;
        border: none;
        margin: 0;
        li {
            font-size: 48px;
            line-height: 1;
            color: $color-pink!important;
            font-weight: 300;
            padding: 0 0 20px;
            border: none;
            border-bottom: 1px solid $color-pink;
            text-align: left;
            text-transform: uppercase;
            outline: none;
            &:nth-child(2) {
                padding: 0 0 20px 10px;
            }
            a {
                padding: 0;
                border: none;
                color: $color-pink;
                background: $color-white!important;
                &:hover {
                    border: none;
                    background: transparent;
                    color: $color-pink;
                    text-decoration: none;
                }
            }
            &.active {
                border-bottom: 10px solid $color-pink;
                font-weight: 500;
                padding: 0 0 11px;
                &:nth-child(2) {
                    padding: 0 0 11px 10px;
                }
                a {
                    padding: 0;
                    border: none;
                    color: $color-pink;
                    &:hover,
                    &:focus,
                    &:active {
                        border: none;
                        background: transparent;
                        color: $color-pink;
                    }
                }
            }
        }
    }
    &-tabs {
        position: relative;
        nav {
            a {
                display: inline-block;
                margin: 0 40px 20px 0;
                color: $color-navyBlue;
                padding: 0 0 5px;
                &:hover,
                &:active {
                    color: $color-pink;
                    border-bottom: 2px dashed $color-pink;
                    padding: 0;
                }
                &.active {
                    color: $color-pink;
                }
            }
        }
        &__total {
            color: $color-pink;
            &:hover {
                color: $color-pink;
                text-decoration: underline;
            }
        }
        .visible {
            width: 100%;
            position: relative;
            &.in {
                opacity: 1;
                z-index: 1;
                @include transition(all 0.6s ease 0s);
            }
            &.out {
                opacity: 0;
                z-index: 0;
                @include transition(all 0.6s ease 0s);
                position: absolute;
                top: 0px;
            }
        }
    }
    &-photo-slider,
    &-video-slider {
        margin: 0 -15px 35px;
        position: relative;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            width: 15px;
            height: 100%;
            background: $color-white;
            right: 0px;
            top: 0;
            z-index: 2;
        }
        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 100%;
            background: $color-white;
            left: 0px;
            top: 0;
            z-index: 2;
        }
        &__item {
            display: block;
            padding: 0 15px;
            a {
                &:hover {
                    h3 {
                        color: $color-pink;
                        @include transition(all 0.6s ease);
                        text-decoration: underline;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                min-height: 260px;
                max-height: 260px;
                display: block;
                margin: 0 0 20px;
                cursor: pointer;
            }
            h3 {
                margin: 0;
                position: relative;
                height: 130px;
                overflow: hidden;
                cursor: pointer;
                @include transition(all 0.6s ease);
            }
        }
        .slick-dots {
            li {
                button {
                    &:before {
                        content: '';
                        background: $color-navyBlue;
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            background: $color-pink;
                        }
                    }
                }
            }
        }
        .slick-prev,
        .slick-next {
            top: 30%;
            width: 22px;
            height: 34px;
        }
        .slick-prev {
            left: -40px;
            &:before {
                content: '';
                display: block;
                background: url('../images/core/arrows/arrow-slider-pink.svg') no-repeat;
                background-size: 100%;
                width: 22px;
                height: 34px;
                @include transform(rotate(180deg));
                opacity: 1;
            }
            &:hover {
                &:before {
                    background: url('../images/core/arrows/arrow-slider-blue.svg') no-repeat;
                    @include transition(all 0.6s ease 0s);
                }
            }
        }
        .slick-next {
            right: -40px;
            &:before {
                content: '';
                display: block;
                background: url('../images/core/arrows/arrow-slider-pink.svg') no-repeat;
                background-size: 100%;
                width: 22px;
                height: 34px;
                opacity: 1;
            }
            &:hover {
                &:before {
                    background: url('../images/core/arrows/arrow-slider-blue.svg') no-repeat;
                    @include transition(all 0.6s ease 0s);
                }
            }
        }
    }
    @media (min-width: 1600px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 -100px;
                }
            }
            &-right {
                img {
                    margin: 0 -100px 0 0;
                }
            }
        }
    }
    @media (min-width: 1700px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 -75px;
                }
            }
            &-right {
                img {
                    margin: 0 -75px 0 0;
                }
            }
        }
    }
    @media (min-width: 1800px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 -50px;
                }
            }
            &-right {
                img {
                    margin: 0 -50px 0 0;
                }
            }
        }
    }
    @media (min-width: 1899px) {
        &__decoration {
            display: block;
            &-left {
                img {
                    margin: 0 0 0 -50px;
                }
            }
            &-right {
                img {
                    margin: 0 -50px 0 0;
                }
            }
        }
    }
    @media all and(min-width:992px) and (max-width:1199px) {
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    }
    @media all and(min-width:768px) and (max-width:991px) {
        ul {
            &.slick-dots {
                padding: 0;
                li {
                    border: none;
                }
            }
        }
        &-photo-slider,
        &-video-slider {
            &:after {
                top: -1px;
                right: -1px;
                width: 16px;
            }
            &:before {
                top: -1px;
                left: -1px;
                width: 16px;
            }
        }
        .slick-dots {
            bottom: 150px;
            text-align: center;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
    @media all and(min-width:0) and (max-width:767px) {
        &-photo-slider,
        &-video-slider {
            &__item {
                img {
                    min-height: auto;
                }
            }
        }
        ul {
            li {
                font-size: 26px;
            }
            &.slick-dots {
                padding: 0;
                li {
                    border: none;
                }
            }
        }
        .slick-dots {
            bottom: 150px;
            text-align: center;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}


/*media-block-end*/


/*partners-block*/

.partners-background {
    position: relative;
    background-image: linear-gradient(-2deg, $color-deepBlue 49%, transparent 50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 73px;
    width: 100%;
    z-index: 2;
    top: 1px;
}

.partners {
    position: relative;
    z-index: 2;
    padding: 30px 0 45px;
    margin: 0 0 55px;
    background: $color-deepBlue;
    &__box {
        text-align: center;
        a {
            display: inline-block;
            max-width: 585px;
            height: 180px;
            &:first-child {
                margin: 0 25px 0 0;
            }
            img {
                width: 100%;
                height: 100%;
                display: block;
                max-width: 585px;
            }
        }
    }
    @media all and(min-width:1200px) {
        .container {
            padding: 0;
        }
    }
    @media all and(min-width:992px) and (max-width:1199px) {
        &__box {
            a {
                max-width: 445px;
                height: 100%;
            }
        }
    }
    @media all and(min-width:0px) and (max-width:991px) {
        margin: 0 0 40px;
        &__box {
            a {
                float: none;
                max-width: 100%;
                height: 100%;
                &:first-child {
                    margin: 0 auto 30px;
                }
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}


/*partners-end*/


/*objects-block*/

.objects {
    h1 {
        font-weight: 500;
        // margin: 0 0 20px;
    }
    h3 {
        color: $color-navyBlue;
    }
    &-slider {
        margin: 0 -15px 35px;
        position: relative;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            width: 15px;
            height: 100%;
            background: $color-white;
            right: 0px;
            top: 0;
            z-index: 2;
        }
        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 100%;
            background: $color-white;
            left: 0px;
            top: 0;
            z-index: 2;
        }
        &__item {
            display: block;
            padding: 0 15px;
            a {
                &:hover {
                    text-decoration: none;
                    h3 {
                        color: $color-pink;
                        @include transition(all 0.6s ease);
                        text-decoration: underline;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                min-height: 260px;
                max-height: 260px;
                display: block;
                margin: 0 0 25px;
                cursor: pointer;
            }
            p {
                color: $color-pink;
                font-weight: 500;
                margin-bottom: 5px;
                cursor: pointer;
            }
            h3 {
                margin: 0;
                position: relative;
                height: 120px;
                line-height: 1.333;
                overflow: hidden;
                @include transition(all 0.6s ease);
                cursor: pointer;
                &:after {
                    /*content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, $color-white 100%);
                        background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, $color-white 100%);
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $color-white 100%);
                        width: 100%;
                        height: 20%;*/
                }
            }
        }
        .slick-dots {
            li {
                button {
                    &:before {
                        content: '';
                        background: $color-navyBlue;
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            background: $color-pink;
                        }
                    }
                }
            }
        }
        .slick-prev,
        .slick-next {
            top: 30%;
            width: 22px;
            height: 32px;
        }
        .slick-prev {
            left: -40px;
            &:hover {
                &:before {
                    background: url('../images/core/arrows/arrow-slider-blue.svg') no-repeat;
                    @include transition(all 0.6s ease 0s);
                }
            }
            &:before {
                content: '';
                display: block;
                background: url('../images/core/arrows/arrow-slider-pink.svg') no-repeat;
                background-size: 100%;
                width: 22px;
                height: 34px;
                @include transform(rotate(180deg));
                @include transition(all 0.6s ease 0s);
                opacity: 1;
            }
        }
        .slick-next {
            right: -40px;
            &:hover {
                &:before {
                    background: url('../images/core/arrows/arrow-slider-blue.svg') no-repeat;
                    @include transition(all 0.6s ease 0s);
                }
            }
            &:before {
                content: '';
                display: block;
                background: url('../images/core/arrows/arrow-slider-pink.svg') no-repeat;
                background-size: 100%;
                width: 22px;
                height: 34px;
                opacity: 1;
                @include transition(all 0.6s ease 0s);
            }
        }
    }
    &__total {
        color: $color-pink;
        &:hover {
            color: $color-pink;
            text-decoration: underline;
        }
    }
    @media all and(min-width:992px) and (max-width:1199px) {
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    }
    @media all and(min-width:768px) and (max-width:991px) {
        &-slider {
            &:after {
                top: -1px;
                right: -1px;
                width: 16px;
            }
            &:before {
                top: -1px;
                left: -1px;
                width: 16px;
            }
        }
        .slick-dots {
            top: 60%;
            bottom: auto;
            text-align: center;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
    @media all and(min-width:0) and (max-width:767px) {
        &-slider {
            &__item {
                img {
                    min-height: auto;
                }
            }
        }
        .slick-dots {
            bottom: 185px;
            text-align: center;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}


/*objects-block-end*/


/*ambassadors-block*/

.ambassadors {
    position: relative;
    overflow: hidden;
    background: $color-pink;
    // margin: -70px 0 90px 0;
    margin: -70px 0 58px 0;
    z-index: 2;
    &-background {
        position: relative;
        background-image: linear-gradient(-178.2deg, $color-white 49%, transparent 50%);
        background-repeat: no-repeat;
        background-size: cover;
        height: 75px;
        width: 100%;
        z-index: 3;
    }
    .container {
        position: relative;
    }
    &__slider {
        margin: 33px 0 0
    }
    h1 {
        margin: 0;
        color: $color-white;
        font-weight: 500;
        position: relative;
        top: 15px;
    }
    &__left-s {
        float: left;
        width: 45%;
        color: $color-white;
        position: relative;
        &__item {
            padding: 20px 0 0;
            position: relative;
            min-height: 220px;
            max-height: 220px;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 0, 124, 0)), to($color-pink));
                background-image: linear-gradient(to bottom, rgba(230, 0, 124, 0) 0%, $color-pink 100%);
                width: 100%;
                height: 10%;
            }
        }
        h3 {
            margin: 0;
            color: $color-white;
            cursor: pointer;
        }
        .sub-text {
            margin-bottom: 25px;
            cursor: pointer;
        }
        p {
            line-height: 20px;
            position: relative;
            margin: 0;
            cursor: pointer;
            font-weight: 300;
            color: $color-white;
        }
    }
    .total {
        color: $color-white;
        position: absolute;
        left: 40px;
        bottom: 50px;
        &:hover {
            color: $color-white;
            text-decoration: underline;
        }
    }
    &__right-s {
        float: left;
        width: 54.7%;
        margin: -90px 0 0;
        position: relative;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            left: 0px;
            top: 0;
            width: 90px;
            height: 100%;
            background-image: linear-gradient(-282deg, $color-pink 49%, transparent 50%);
        }
        img {
            width: 100%;
            height: 100%;
            max-height: 404.78px;
        }
    }
    .slick-dots {
        bottom: -55px;
        text-align: right;
        li {
            button {
                &:before {
                    background: $color-white;
                }
                &:hover {
                    &:before {
                        background: #78ccf4;
                    }
                }
            }
            &.slick-active {
                button {
                    &:before {
                        background: $color-darkBlue;
                    }
                }
            }
        }
    }
    @media all and (min-width:768px) and (max-width:991px) {
        &__left-s {
            float: none;
            width: auto;
            &__item {
                max-height: 240px;
                min-height: 240px;
                overflow: hidden;
                padding: 35px 0 20px;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 0, 124, 0)), color-stop(75%, $color-pink));
                    background-image: linear-gradient(to bottom, rgba(230, 0, 124, 0) 0%, $color-pink 75%);
                    width: 100%;
                    height: 20%;
                }
            }
        }
        &__right-s {
            float: none;
            width: auto;
            margin: 50px 0 30px;
            &:after {
                display: none;
            }
            img {
                max-height: 100%;
            }
        }
        .slick-dots {
            bottom: -20px;
        }
        .slick-dots {
            text-align: right;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        .total {
            left: 15px;
            bottom: auto;
        }
    }
    @media all and (min-width:320px) and (max-width:767px) {
        &__left-s {
            float: none;
            width: auto;
            &__item {
                max-height: 220px;
                overflow: hidden;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 0, 124, 0)), to($color-pink));
                    background-image: linear-gradient(to bottom, rgba(230, 0, 124, 0) 0%, $color-pink 100%);
                    width: 100%;
                    height: 20%;
                }
            }
        }
        &__right-s {
            float: none;
            width: auto;
            margin: 50px 0;
            &:after {
                display: none;
            }
        }
        .slick-dots {
            bottom: -30px;
        }
        .slick-dots {
            text-align: center;
            li {
                width: 15px;
                height: 15px;
                margin: 0 15px;
                button {
                    width: 100%;
                    height: 100%;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        .total {
            bottom: 20px;
            left: 15px;
        }
    }
}


/*ambassadors-block-end*/


/*organizators-block*/

.organizators {
    h3 {
        // padding: 0 0 2px;
        text-align: center;
        border-bottom: 1px solid #d1d1d1;
    }
    &__item {
        &.partner {
            text-align: center;
            margin: 0 0 40px;
            a {
                img {
                    margin: 15px 0 0;
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                    @include transition(all 0.6s ease 0s);
                }
                &:hover {
                    img {
                        @include transition(all 0.6s ease 0s);
                        @include transform(scale(1.2));
                    }
                }
            }
            &.general {
                a {
                    img {
                        max-width: 167px;
                        max-height: 97px;
                    }
                }
            }
            &.provider {
                a {
                    img {
                        max-width: 95px;
                        max-height: 95px;
                    }
                }
            }
            &.info {
                a {
                    img {
                        max-width: 60px;
                        max-height: 80px;
                    }
                }
                a+a {
                    margin: 0 0 0 60px;
                }
            }
        }
    }
}


/*organizators-block-end*/

//sign-in modal window
.modal {
    line-height: 1;
    h1 {
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 40px 5px;
    }
    &-content {
        padding: 35px 30px 35px 25px;
        border-radius: 0;
        button.close {
            margin-top: -38px;
            margin-right: -22px;
            font-size: 40px;
        }
    }
    &-dialog {
        border-radius: 0;
        color: $color-pink;
        .button-blue {
            padding: 12px 25px 12px;
            font-size: 16px;
            font-weight: 700;
            margin-right: 10px;
            height: auto;
        }
    }
    &-header {
        padding: 0;
        border: none;
    }
    &__field {
        position: relative;
        padding-bottom: 1px;
        margin-bottom: 30px;
        &-label {
            color: $color-pink;
            font-weight: 400;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 2;
            @include transition(all 0.3s ease 0s);
        }
        &-input {
            position: relative;
            border: 0;
            border-bottom: 0px;
            width: 100%;
            max-width: 450px;
            height: 45px;
            line-height: 30px;
            color: $color-navyBlue;
            font-weight: 400;
            z-index: 1;
            &:focus {
                outline: none;
            }
        }
        &-border {
            display: block;
            position: absolute;
            width: 100%;
            max-width: 450px;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid $color-pink;
            @include transition(all 0.4s ease 0s);
        }
        &-invalid {
            display: none;
            color: #d9534f;
            margin-top: 10px;
        }
        &-input:focus+&-label {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            top: -10px;
        }
        &-input:focus+&-label+&-border {
            border-bottom-color: $color-navyBlue;
            -webkit-box-shadow: 0 1px 0 $color-navyBlue;
            box-shadow: 0 1px 0 $color-navyBlue;
        }
        &.active-form &-label {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            top: -10px;
        }
        &.active-form &-input {
            outline: none;
        }
        &.active-form &-border {
            border-bottom-color: $color-navyBlue;
        }
        .has-error &-input:focus+&-label+&-border {
            border-bottom-color: #d9534f;
            -webkit-box-shadow: 0 1px 0 #d9534f;
            box-shadow: 0 1px 0 #d9534f;
        }
        &.has-error &-label {
            color: #d9534f;
            font-size: 14px;
            top: -15px;
        }
        &.has-error &-input {
            outline: none;
        }
        &.has-error &-border {
            border-bottom-color: #d9534f;
        }
    }
    .button-wrap {
        text-align: right;
        margin-top: 80px;
        position: relative;
        padding: 0;
        button {
            padding: 0 33px;
            margin-top: 5px;
        }
        .error-message,
        .success-message {
            display: none;
            margin-bottom: 0px;
            font-weight: normal;
            vertical-align: bottom;
            padding: 0 5px 0 0;
        }
        .error-message {
            color: #d9534f;
        }
        .success-message {
            color: $color-navyBlue;
        }
    }
    .button-valid-success {
        margin-top: 15px;
        color: $color-navyBlue;
        display: none;
    }
}

//sign-in modal window end
//
//
//
//
@media all and (min-width:320px) and (max-width:767px) {
    .slick-list {
        padding: 0!important;
    }
    .footer {
        &__info {
            &-box {
                padding: 0 0 20px;
            }
        }
    }
    .modal {
        &__field {
            &-input {
                width: 100%;
            }
            &-border {
                width: 100%;
            }
            &-input:focus+&-label {}
            &.active-form &-label {}
            &.active-form &-border {
                border-bottom-color: $color-navyBlue;
            }
        }
    }
    .modal-content {
        padding: 65px 25px 65px 45px;
        button.close {
            margin-top: -30px;
            margin-right: 0;
            font-size: 60px;
        }
    }
    .modal-dialog {
        .modal-content {
            padding: 25px 15px 25px 15px;
        }
        .button-blue {
            padding: 10px 25px;
            margin: 0 auto 30px;
            display: block;
        }
    }
}

@media all and (min-width:320px) and (max-width:800px) {
    .logo-mini {
        width: 39px!important;
    }
}

.margin-54 {
    margin-bottom: 54px;
}

.margin-22 {
    margin-bottom: 22px;
}