.media-profile {
    position: relative;
    .container {
        position: relative;
    }
    input:disabled {
        background: $color-white;
        color: #9dcce0;
        border-bottom: 1px solid #9dcce0;
    }
    h4 {
        padding: 0 0 20px;
    }
    p {
        margin: 0 0 30px;
    }
    .national-news-questionnaire__form-box__label {
        max-width: 145px;
    }
    .reminder {
        color: $color-pink;
        margin: 15px 0 0;
    }
    .margin-form-box {
        margin: 0 0 30px;
    }
    .buttons-box {
        button {
            min-width: 130px;
        }
        .button-blue {
            padding: 0 20px;
        }
        .cancel {
            background: #e0f1fb;
            color: $color-navyBlue;
            margin: 0 0 0 20px;
            &:hover {
                background: $color-darkBlue;
                color: $color-white;
            }
        }
        p {
            margin: 10px 0 0;
            &.error {
                color: $color-red;
            }
        }
    }
    .photo {
        margin: 5px 0 0 45px;
        position: absolute;
        right: 135px;
        width: 132px;
        height: 170px;
        border: 1px solid #9dcce0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    @media all and (min-width:768px) and (max-width:991px) {
        .photo {
            right: 65px;
        }
    }
    @media all and (min-width:0px) and (max-width:767px) {
        .photo {
            position: unset;
            margin: 30px 0;
        }
        .reminder {
            padding: 0;
        }
    }
}