.infopage-login {
    background: url('../images/infopage_login/background.png') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 130px 0;
    main {
        max-width: 1200px;
        background-color: #ffffff;
        box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
        display: block;
        position: relative;
        margin: auto;
        .rastr-head {
            margin: 0 0 -105px;
            z-index: 0;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .rastr-footer {
            position: relative;
            z-index: 0;
            margin: -150px 0 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__section {
        z-index: 1;
        display: block;
        figure {
            width: 261px;
            height: 250px;
            display: block;
            margin: 133px 0 70px 75px;
        }
    }
    &__form {
        display: block;
        &.customization-typographу {
            overflow-x: visible;
        }
        &-link {
            margin-top: 36px;
            a:hover {
                color: $color-pink;
            }
        }
        .button-blue {
            padding: 10px 25px 8px;
            height: unset;
        }
        button:first-child {
            margin-right: 20px;
        }
        .resume-new__content__form-box.invalid {
            .resume-new__content__form-box__label {
                color: $color-red;
                label {
                    color: $color-red;
                }
            }
            .resume-new__content__form-box__input {
                color: $color-red;
                input::-webkit-input-placeholder {
                    color: $color-red;
                    padding-left: 1px;
                }
                input::-moz-placeholder {
                    color: $color-red;
                    padding-left: 1px;
                }
                input:-moz-placeholder {
                    color: $color-red;
                    padding-left: 1px;
                }
                input:-ms-input-placeholder {
                    color: $color-red;
                    padding-left: 1px;
                }
                input {
                    color: $color-red;
                    border-bottom: 1px solid $color-red;
                }
            }
            .bootstrap-select.btn-group {
                .dropdown-toggle {
                    border-bottom: 1px solid $color-red;
                    color: $color-red;
                }
                .caret {
                    border-top: 11px solid $color-red;
                }
            }
        }
    }
    .resume-new__content__form-box__label {
        min-width: unset;
        display: unset;
        text-align: unset;
        padding-right: unset;
        vertical-align: unset;
    }
    .resume-new__content__form-box__input {
        padding-left: 30px;
    }
    .remember {
        margin: 0 0 25px;
    }
    .resume-new__content__form-box__agreenment {
        float: left;
    }
    .choose-language {
        display: inline-block;
        margin: 0 0 20px;
        .russian {
            background: url("../images/core/lang-ru.svg") no-repeat;
            border: 1px solid #eeeeee;
            margin: 0 15px 0 0;
            display: inline-block;
            width: 40px;
            height: 27px;
            background-position: center;
            background-size: cover;
            opacity: 0.5;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &.active {
                opacity: 1;
                transition: all 0.3s ease 0s;
            }
        }
        .english {
            background: url("../images/core/lang-en.svg") no-repeat;
            display: inline-block;
            width: 40px;
            height: 27px;
            background-position: center;
            background-size: cover;
            opacity: 0.5;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &.active {
                opacity: 1;
                transition: all 0.3s ease 0s;
            }
        }
    }
    .resume-new__content__form-box__agreenment {
        margin-bottom: 0;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        background-color: unset;
        border: unset;
        border-bottom-color: unset;
        cursor: default;
        font-size: 24px;
        font-weight: 500;
        line-height: 0.42;
        color: #e5007c;
        text-transform: uppercase;
    }
    .nav-tabs>li.active {
        border-bottom: 10px solid #e5007c;
    }
    .nav-tabs>li>a {
        font-size: 24px;
        font-weight: 300;
        line-height: 0.42;
        text-align: right;
        text-transform: uppercase;
        color: #e5007c;
        padding: 0px 20px 21px 0;
        border: unset;
    }
    .nav-tabs {
        border-bottom: 1px solid #e5007c;
        margin-top: 19px;
        margin-bottom: 41px;
        li {
            margin-right: 20px;
        }
    }
    .nav>li>a:hover,
    .nav>li>a:focus {
        background: transparent;
        border: unset;
        border-color: transparent transparent transparent;
    }
    &__form-the-application-number {
        .button-blue {
            margin-top: 24px;
        }
        .resume-new__content__form-box__input {
            padding-left: 11px;
        }
    }
    &__form-series {
        .resume-new__content__form-box__input {
            display: flex;
        }
        .resume-new__content__form-box__input input:first-child {
            margin-right: 30px;
            width: 159px;
        }
        .resume-new__content__form-box__label {
            text-align: right;
        }
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #80add7;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: #80add7;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            color: #80add7;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            color: #80add7;
        }
    }
    #forgotPasswordBlock {
        padding-left: 0;
        h3 {
            text-transform: inherit;
        }
        .customization-typography__p1 {
            margin-bottom: 10px;
        }
        .resume-new__content__form-box__input {
            margin-bottom: 32px;
        }
        .btn-cansel {
            background-color: #e0f1fb;
            color: #007ac2;
            &:hover {
                color: #fff;
                background-color: #007ac2;
            }
        }
    }
    &__info-message-series {
        display: none;
    }
    .tab-content {
        min-height: 191px;
    }
    #formAccredited {
        //padding: 0 0 80px 0;
    }
    @media all and(min-width:992px) and (max-width:1199px) {
        main {
            .rastr-head {
                margin: 0;
            }
            .infopage-header {
                display: flex;
                flex-direction: row-reverse;
                .choose-language {
                    min-width: 100px;
                }
            }
            .tab-content {
                min-height: 174px;
            }
            .rastr-footer {
                margin: 0;
            }
        }
    }
    @media all and(min-width:768px) and (max-width:991px) {
        background-size: cover;
        padding: 50px 15px;
        main {
            .rastr-head {
                margin: 0 0 20px;
            }
            .infopage-header {
                display: flex;
                flex-direction: row-reverse;
                .choose-language {
                    min-width: 100px;
                }
            }
            .tab-content {
                min-height: 174px;
            }
            .rastr-footer {
                margin: -60px 0 0;
            }
        }
    }
    @media all and(min-width:0) and (max-width:767px) {
        background-size: cover;
        padding: 30px 15px;
        #formAccredited {
            padding: 0;
        }
        .resume-new__content__form-box__input {
            padding: 0;
        }
        .nav-tabs {
            li {
                width: 55%;
                margin: 0;
                &:first-child {
                    width: 45%;
                }
                a {
                    font-size: 18px;
                    line-height: 1;
                    min-height: 75px;
                    text-align: left;
                }
                &.active {
                    a,
                    a:hover,
                    a:active,
                    a:focus {
                        font-size: 18px;
                        line-height: 1;
                    }
                }
            }
        }
        &__form-series {
            .resume-new__content__form-box__label {
                text-align: left;
            }
            .resume-new__content__form-box__input {
                padding: 0;
            }
        }
        main {
            max-width: 290px;
            .rastr-head {
                margin: 0;
            }
            .rastr-footer {
                margin: 0;
            }
        }
        h1 {
            font-size: 26px;
        }
        .buttons-box {
            button {
                &:first-child {
                    margin: 0 0 30px;
                }
            }
        }
    }
}