.media-main-page {
    overflow: hidden;
    /*--warning--*/
    .warning {
        display: flex;
        background: $color-blue;
        margin: 0 0 22px;
        height: 80px;
        &:hover {
            background: $color-navyBlue;
            cursor: pointer;
            p {
                color: $color-white;
            }
        }
        &-box {
            margin: 0 0 40px;
        }
        &-ico {
            background: $color-pink;
            width: 135px;
            padding: 11px 0 10px;
            text-align: center;
            img {
                width: 62px;
                height: 59px;
            }
        }
        &-text {
            position: relative;
            padding: 24px 15px 24px 70px;
            p {
                color: $color-navyBlue;
                padding: 0;
            }
            &:before {
                content: '';
                position: absolute;
                display: block;
                left: 0px;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 80px 25px 0 0;
                border-color: $color-pink transparent transparent transparent;
            }
        }
        @media all and(min-width:0) and(max-width:991px) {
            display: block;
            height: 100%;
            &-ico {
                width: 100%;
            }
            &-text {
                padding: 24px 15px;
                &:before {
                    display: none;
                }
            }
        }
    }
    /*--warning--*/
    /*--news--*/
    .news {
        background: $color-navyBlue;
        padding: 0 0 45px;
        margin: 60px 0 34px;
        position: relative;
        &:before {
            content: '';
            border: 42px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 0px solid transparent;
            border-left: 101vw solid $color-navyBlue;
            position: relative;
            top: -15px;
        }
        &__item {
            padding: 18px 0 30px;
            h2 {
                color: $color-white;
                padding: 0;
                text-transform: normal;
            }
        }
        .slick-dots li button:before {
            background: $color-white;
        }
        .slick-dots li.slick-active button:before {
            background: $color-pink;
        }
    }
    /*--news--*/
    /*--event-results--*/
    .media-event-main-b {
        margin: 0 0 27px;
        overflow: visible;
        .customization-basic-blocks {
            table {
                margin: 20px 0 35px;
            }
        }
    }
    /*--event-results--*/
    /*--results--*/
    .results {
        .sport-types {
            a {
                text-decoration: none;
                text-transform: uppercase;
                min-height: 132px;
                max-width: 185px;
                margin: 0 0 32px;
                text-align: center;
                font-weight: 500;
                img {
                    height: 70px;
                    width: 70px;
                    margin: 0 0 18px;
                    @include transition(all 0.6s ease 0s);
                }
                p {
                    margin: 0;
                }
                &:hover {
                    img {
                        @include transform(scale(1.2));
                        @include transition(all 0.6s ease 0s);
                    }
                }
            }
            &.disabled {
                a {
                    opacity: 0.2;
                    cursor: default;
                    &:hover {
                        img {
                            @include transform(scale(1));
                        }
                    }
                }
            }
        }
        .medals {
            padding: 0 15px 0 30px;
            .table {
                &-disable {
                    table {
                        tr {
                            &.heading {
                                td {
                                    color: $color-navyBlue!important;
                                }
                            }
                            td {
                                color: transparent;
                                img {
                                    opacity: 0;
                                }
                                &.no-result {
                                    color: $color-navyBlue!important;
                                    &+td {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            table {
                color: $color-navyBlue;
                background: $color-white;
                font-size: 14px;
                margin: 0 0 16px;
                tr {
                    &:nth-child(even) {
                        background: $color-blue;
                    }
                    &.heading {
                        background: $color-white;
                        td {
                            padding: 3px 0 0;
                            vertical-align: top;
                            height: 24px!important;
                            p {
                                font-size: 14px;
                                margin: 0;
                                line-height: 1;
                            }
                            &:last-child {
                                padding: 0;
                            }
                        }
                    }
                    td {
                        text-align: right;
                        height: 44px;
                        vertical-align: middle;
                        &.country {
                            text-transform: none!important;
                        }
                        &.total {
                            .circle {
                                width: 8px;
                                height: 8px;
                                @include border-radius(50%);
                                float: none;
                                display: block;
                                &-gold {
                                    background: #ffd100;
                                    margin: 0 auto -6px;
                                }
                                &-silver {
                                    background: #bed6e0;
                                    //float: left;
                                    //margin: 0 0 0 29px;
                                    display: inline-block;
                                }
                                &-bronze {
                                    background: #eaa000;
                                    //float: left;
                                    //margin: 0 0 0 2px;
                                    display: inline-block;
                                }
                            }
                        }
                        &:nth-child(1) {
                            padding: 0 0 0 20px;
                        }
                        &:nth-child(2) {
                            padding: 0 0 0 10px;
                            text-align: left!important;
                            text-transform: uppercase;
                            img {
                                padding: 0 16px 0 0;
                            }
                        }
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5) {
                            width: 55px;
                        }
                        &:nth-child(6) {
                            width: 75px;
                            font-weight: 500;
                            text-align: center!important;
                        }
                        .circle {
                            width: 12px;
                            height: 12px;
                            @include border-radius(50%);
                            float: right;
                            &-gold {
                                background: #ffd100;
                            }
                            &-silver {
                                background: #bed6e0;
                            }
                            &-bronze {
                                background: #eaa000;
                            }
                        }
                    }
                }
            }
            @media all and(min-width:0) and(max-width:1199px) {
                padding: 0 15px;
                table {
                    tr {
                        td {
                            &:nth-child(2) {
                                width: 110px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*--results--*/
    /*--main-tabs--*/
    .main-tabs {
        margin: -5px 0 0;
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            background-color: unset;
            border: unset;
            border-bottom-color: unset;
            cursor: default;
            font-size: 48px;
            font-weight: 500;
            line-height: 0.42;
            color: #e5007c;
            text-transform: uppercase;
            @media all and(min-width: 0) and(max-width: 767px) {
                font-size: 20px;
                line-height: 1;
            }
            @media all and(min-width: 768px) and(max-width: 991px) {
                font-size: 36px;
                line-height: 1;
            }
        }
        .nav-tabs>li.active {
            border-bottom: 10px solid #e5007c;
            width: 50%;
        }
        .nav-tabs>li>a {
            font-size: 48px;
            font-weight: 300;
            line-height: 0.42;
            text-align: left;
            text-transform: uppercase;
            color: #e5007c;
            padding: 0px 20px 21px 0;
            border: unset;
            @media all and(min-width: 0) and(max-width: 767px) {
                font-size: 20px;
                line-height: 1;
                padding: 0 0 21px 0;
            }
            @media all and(min-width: 768px) and(max-width: 991px) {
                font-size: 36px;
                line-height: 1;
                padding: 0 0 21px 0;
            }
        }
        .nav-tabs {
            border-bottom: 1px solid #e5007c;
            margin-top: 19px;
            margin-bottom: 39px;
            li {
                width: 50%;
                @media all and(min-width: 0) and(max-width: 767px) {
                    &:nth-child(1) {
                        width: 38%;
                    }
                    &:nth-child(2) {
                        width: 62%;
                    }
                }
            }
        }
        .nav>li>a:hover,
        .nav>li>a:focus {
            background: transparent;
            border: unset;
            border-color: transparent transparent transparent;
        }
        .date {
            color: $color-pink;
            margin: 0 0 12px;
        }
        .no-result {
            color: $color-navyBlue;
            padding: 100px 0;
            text-align: center;
        }
    }
    /*--main-tabs--*/
}