.media-timetable {
    .nav-tabs>li>a {
        cursor: pointer;
        color: #007ac2 !important;
        display: inline-block;
        font: 16px/22px 'PFAgoraSansPro', Arial, sans-serif;
        background: #ffffff;
        box-shadow: 0px 3px 5px 0 rgba(0, 122, 197, 0.5);
        border-radius: 2px;
        padding: 9.5px 20px 8.5px 20px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
        margin-right: 15px;
        top: 1px;
        border: none;
        letter-spacing: 0.7px;
        &:hover,
        &:focus,
        &:active {
            background: #e5007c;
            color: #fff !important;
            border: unset;
            box-shadow: unset;
        }
    }
    .nav-tabs {
        border-bottom: unset;
        margin-bottom: 5px;
        .active {
            a {
                background: #e5007c;
                color: #fff !important;
                box-shadow: unset;
            }
        }
        .disabled {
            a {
                background: $color-blue;
                color: $color-white!important;
                box-shadow: unset!important;
                pointer-events: none;
                &:hover,
                &:focus,
                &:active {
                    background: $color-blue!important;
                    color: $color-white!important;
                }
            }
        }
    }
    .customization-basic-blocks table tbody tr td:nth-child(3) {
        border-bottom: 1px solid #d7d7d7;
        width: 20.8%;
    }
    .customization-basic-blocks table tbody tr td div.media-timetable__b-location {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
    .customization-basic-blocks table tbody tr td:first-child {
        border-bottom: 1px solid #d7d7d7;
        width: 12.8%;
    }
    .customization-basic-blocks table tbody tr td:nth-child(2) {
        border-bottom: 1px solid #d7d7d7;
        width: 56%;
    }
    &__icon-location {
        background: url('../images/MEDIA/location.svg') no-repeat;
        width: 15px;
        height: 21px;
        display: block;
        margin-right: 15px;
        margin-top: 3px;
    }
    &__four-columns {
        .customization-basic-blocks table tbody tr td:first-child {
            border-bottom: 1px solid #d7d7d7;
            width: 12.7%;
        }
        .customization-basic-blocks table tbody tr td:nth-child(2) {
            border-bottom: 1px solid #d7d7d7;
            width: 10.5%;
        }
        .customization-basic-blocks table tbody tr td:nth-child(3) {
            border-bottom: 1px solid #d7d7d7;
            width: 46%;
        }
        .customization-basic-blocks table tbody tr td:nth-child(4) {
            border-bottom: 1px solid #d7d7d7;
            width: 20.8%;
        }
    }
    .kinds-of-sports__item img {
        width: 45px;
        height: 45px;
        margin: 6px 0 0 2px;
    }
    // .news-datepicker .datepicker{
    //   padding: 0 0 7px 0;
    // }
    &__select {
        opacity: 0;
        margin-left: -15px;
        transition: all 0.3s ease-in-out;
        @media (max-width: 991px) {
            margin-left: 0;
            margin-bottom: 0;
        }
        .btn {
            padding: 10px 12px;
        }
    }
    .news__date-box {
        padding-left: 0;
        @media (max-width: 991px) {
            margin-left: 15px;
            margin-top: 40px;
        }
        @media (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0;
        }
    }
    .news__date-box .news-datepicker__separator {
        width: 15px;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        text-overflow: ellipsis;
        padding-right: 4px;
    }
    // input:focus + .news-datepicker__field-label, .news-datepicker.active .news-datepicker__field-label{
    //   top: 5px;
    // }
}