.name-new-object {
  position: relative;
  overflow: hidden;

  .c-decoration-left {
    top: 630px;
  }

  .c-decoration-right {
    top: 645px;
  }

  &__b-slaider {
    background: #0096de;
    position: relative;
    margin-bottom: 62px;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    &_triangle {
      background-image: linear-gradient(-3deg, #ffffff 49%, transparent 50%);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100px;
      width: 100%;
      margin: 0;
      z-index: 2;
      position: absolute;
      bottom: -1px;
    }

    .slick-dots {
      bottom: 65px;
      left: 50px;
      @media (max-width: 767px) {
        left: 0;
        bottom: 20px;
      }

      li {
        width: 10px;
        height: 10px;

        button {
          &:before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
            opacity: 1;
          }
        }

        &.slick-active {
          button {
            &:before {
              content: '';
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #0d7dc1;
            }
          }
        }
      }
    }
  }

  &__slaider {
    position: relative;
    left: -31px;
    @media (max-width: 767px) {
      left: 0;
    }

    &_text {
      padding-top: 50px;
      @media (max-width: 767px) {
        padding-top: 44px;
        padding-bottom: 44px;
        padding-left: 15px;
      }

      h3 {
        color: #fff;
        padding: 0 0 22px;
      }

      p {
        color: #fff;
      }
    }

    &_img {
      &-1 {
        background: url('../images/name-new-object/slaider/1.jpg') no-repeat center;
        background-size: cover;
        min-height: 452px;
        width: 100%;
        display: block;
        @media (max-width: 767px) {
          min-height: 200px;
        }
      }

      &-2 {
        background: url('../images/name-new-object/slaider/2.jpeg') no-repeat center;
        background-size: cover;
        min-height: 452px;
        width: 100%;
        display: block;
        @media (max-width: 767px) {
          min-height: 200px;
        }
      }

      &-3 {
        background: url('../images/name-new-object/slaider/3.JPG') no-repeat center;
        background-size: cover;
        min-height: 452px;
        width: 100%;
        display: block;
        @media (max-width: 767px) {
          min-height: 200px;
        }
      }
    }
  }

  .customization-typography__unordered-lists {
    time {
      font-weight: 700;
    }
  }

  .dashed {
    border-bottom: 2px dashed transparent;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 2px dashed;
    }
  }

  .c-licensees__form ul {
    margin-top: 5px;
  }

  &__remove-input {
    position: absolute;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAKElEQVQYlWN8ylDDgAT+Q2lGmAATAwFAUAELkrHYrCLOBEYkPg0cCQDtVQV0uAmMpQAAAABJRU5ErkJggg==') no-repeat;
    display: block;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .margin-12 {
    margin-bottom: 12px;
  }

  &__expert-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .customization-typography__p1 {
      p {
        a {
          display: inline-block;
        }
      }
    }

    article {
      padding: 0 13px 0 0;
      margin-bottom: 0;
      margin-right: 60px;
      width: calc(30% - 20px);

      &:nth-child(12),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        margin-right: 0;
      }
      @media (max-width: 991px) {
        width: calc(48% - 20px);

        h5,
        p {
          max-width: 259px;
        }

        &:nth-child(even) {
          margin-right: 0;
        }

        &:nth-child(odd) {
          margin-right: 60px;
        }
      }
      @media (max-width: 550px) {
        width: 100%;

        &:nth-child(even) {
          margin-right: 0;
        }

        &:nth-child(odd) {
          margin-right: 0;
        }
      }

      figure {
        margin-bottom: 11px;
      }
    }
  }

  .morecontent span {
    display: none;
  }

  .morelink {
    display: block;
    margin-top: 5px;
    cursor: pointer;
    color: #e5007c;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  &__btn {
    margin-top: 34px;
  }

  &__form {
    margin-bottom: 58px;
    @media (max-width: 767px) and (min-width: 320px) {
      .resume-new__content__form-box__label {
        margin-bottom: 10px;
        text-align: left;
      }
    }

    form {
      margin-top: 11px;

      .tip {
        p {
          color: #7eacd9;
          margin-bottom: 10px;
          max-width: 330px;
          @media(max-width: 767px) {
            margin-top: 22px;
          }
        }
      }
    }

    h3 {
      padding: 0 0 21px;
    }

    .fuchsia {
      p {
        color: #e5007c;
      }
    }

    .error {
      p {
        color: #d9534f;
        padding: 7px 0 0;
        margin: 0;
        font-weight: 300;
        position: absolute;
      }
    }

    ol {
      counter-reset: myCounter;

      li {
        position: relative;
        margin: 20px 0;

        &:first-child {
          margin: 0 0 20px;
        }

        &:nth-child(5) {
          margin: 20px 0 15px;
        }

        &:before {
          counter-increment: myCounter;
          content: counter(myCounter) '.';
          color: $color-navyBlue;
          display: inline-block;
          text-align: center;
          font-weight: 400;
          line-height: 28px;
          font-size: 16px;
          width: 28px;
          height: 28px;
          text-align: center;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: -10px;
        }

        input {
          margin-left: 20px;
          width: calc(100% - 20px);
        }
      }
    }
  }

  &__add-input {
    position: relative;
    margin-left: 44px;

    &.dashed,
    &:active,
    &:focus,
    &:visited {
      &:hover {
        @media (max-width: 767px) {
          border-bottom: 2px dashed transparent;
        }
      }
    }

    &:before {
      content: '';
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAD1BMVEX////lAHzoGYn4ttn3tdl5wBjHAAAALUlEQVQI12MwEoQCZQZFGFOIQZABCgSJYzIK4GeCTEVhEtZGihuQne4EY6oAALEgBlBHQbq8AAAAAElFTkSuQmCC') no-repeat;
      position: absolute;
      display: block;
      top: 0;
      left: -28px;
      width: 20px;
      height: 20px;
      @media (max-width: 767px) {
        left: 0;
      }
    }
    @media (max-width: 767px) {
      padding-left: 0;
      margin: 0;
      width: 20px;
      height: 23px;
      overflow: hidden;
      display: block;
    }
  }

  .button-light-blue {
    background-color: #dff1fc;
    color: #0078c5;
    margin-left: 18px;
    @media (max-width: 500px) {
      margin-left: 0;
    }

    &:hover {
      background: #0096DE;
      color: #ffffff;
    }
  }

  .resume-new__content__form-box:last-child {
    margin-bottom: 0;
  }

  .customization-typography__unordered-lists ul li {
    display: block;
  }
}
@media (max-width: 991px) and (min-width: 0) {
  footer {
    padding: 150px 0 0;
    margin: 0;
  }
}
