.new-card {
    @media (min-width: 1899px) {
        .c-decoration-left {
            left: 0px;
            top: 726px;
        }
        .c-decoration-right {
            right: 0px;
            top: 1523px;
        }
        .c-decoration__partners-left {
            height: 1038px;
            top: 2596px;
        }
        .c-decoration__partners-right {
            height: 1038px;
            top: 2734px;
        }
    }
    &__article {
        main {
            margin-top: 31px;
        }
        .banner-right {
            margin-left: 27px;
        }
        &-block-image {
            margin-top: 15px;
            margin-bottom: 34px;
        }
        &-figure {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &__time {
        font-size: 16px;
        line-height: 1.38;
        color: #e5007c;
        margin-bottom: 8px;
        display: block;
    }
    &__document--image {
        overflow: hidden;
        float: left;
        margin-right: 33px;
        margin-bottom: 25px;
        width: 350px;
        height: 260px;
        img {
            width: 100%;
            height: auto;
        }
        @media (max-width:374px) {
            width: 290px;
            height: auto;
        }
    }
    &__slider {
        &.slick-slider .slick-next {
            bottom: unset;
            top: 145px;
        }
        &.slick-slider .slick-prev {
            bottom: unset;
            top: 106px;
        }
        &.slick-slider h4 {
            padding-right: 10px;
        }
        a:hover h4 {
            text-decoration: underline;
        }
        .customization-typography__p1 p {
            color: #e5007c;
        }
        .customization-typography h4 {
            @media (max-width: 767px) {
                padding-right: 10px;
            }
        }
    }
    .sport-template__other-sports-slick .slick-slide img {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .sport-template__other-sports-slick .slick-slide img:hover {
        -webkit-box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.15);
        -webkit-transform: scale(1.03, 1.03);
        transform: scale(1.03, 1.03);
    }
    &__name {
        font-weight: 500;
        color: $color-navyBlue;
        margin: 20px 0 0;
        font-size: 24px;
        line-height: 32px;
    }
    &__desc {
        padding: 30px 0 0;
        color: $color-navyBlue;
    }
    &__wrapp-images {
        max-height: 260px;
        max-width: 540px;
        min-width: 190px;
        overflow: scroll;
        margin: 65px auto 65px -30px;
        .new-card-images {
            padding: 20px 20px 20px 30px;
            img {
                height: 100%;
                @include transition(all 0.3s ease 0s);
                margin: 0px 25px 22px 0;
            }
            img:hover {
                -webkit-box-shadow: 0 0px 33px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 0px 33px 0 rgba(0, 0, 0, 0.15);
                @include transform(scale(1.07, 1.07));
            }
        }
    }
    &-image {
        margin-bottom: 30px;
        img {
            max-width: 540px;
            width: 100%;
            height: 100%;
        }
    }
    &__video {
        max-width: 445px;
        margin-bottom: 25px;
        color: $color-navyBlue;
        &__box {
            margin-bottom: 50px;
            width: 100%;
            display: block;
            position: relative;
            &__inner {
                position: relative;
                max-width: 450px;
                max-height: 255px;
                margin-bottom: 15px;
                @include transition(all 0.3s ease 0s);
                iframe,
                video {
                    width: 100%;
                    height: 100%;
                }
                .button-play {
                    content: "";
                    background: url('../../assets/images/video/btn-square.svg');
                    height: 88px;
                    width: 88px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    cursor: pointer;
                    display: block;
                    margin: -44px 0 0 -44px;
                    @include transition(.2s);
                    &:hover {
                        content: "";
                        @include transform(scale(1.4, 1.4));
                    }
                }
                .pause {
                    background-position: 50% 100%;
                }
            }
            /*&__inner:hover {
                @include transform(scale(1.07, 1.07));
                box-shadow: 0 24px 63px 0 rgba(0, 0, 0, 0.15);
            }
            &__inner:after {
                content: '';
                background: url('../images/new-card/btn.png') no-repeat;
                position: absolute;
                height: 60px;
                width: 60px;
                top: 50%;
                left: 50%;
                margin: -30px 0 0 -30px;
            }
            &__inner:hover:after {
                background: url('../images/new-card/btn-hov.png') no-repeat;
            }*/
        }
    }
    &__documents {
        margin: 20px 0 40px;
        h5 {
            margin: 0 0 30px;
        }
        a {
            display: block;
            background: url('../images/core/doc-ico.png') no-repeat;
            min-height: 30px;
            margin: 20px 0;
            padding: 7px 0 0 40px;
        }
        a:hover {
            background: url('../images/core/doc-ico-hover.png') no-repeat;
            color: $color-pink;
        }
    }
    .slider-counter__current-slide-item {
        display: inline-block;
        font-weight: normal;
    }
    &__back-and-share {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 5px 0 18px;
        .share-icon-box {
            padding-right: 15px;
            position: relative;
            text-align: right;
            max-height: 38px;
        }
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .new-card {
        .header {
            margin: 70px 10px;
        }
    }
}

@media all and (min-width:0px) and (max-width: 992px) {
    .new-card {
        .mobil-hide {
            display: none;
        }
        .new-card-image {
            text-align: center;
        }
        &__desc {
            padding: 15px 0 20px;
            color: $color-navyBlue;
        }
        &__content {
            max-width: 540px;
            margin: 0 auto;
        }
    }
}

@media all and (min-width:0px) and (max-width:768px) {
    .new-card {
        &__wrapp-images {
            width: 100%;
        }
    }
}

@media all and (max-width:425px) {
    .new-card {
        &__wrapp-images {
            width: 190px;
            margin: 35px auto;
        }
    }
}