.wrapp-photo.photo-volunteer,
.wrapp-photo.video-volunteer {
    .header1 {
        margin-bottom: 45px;
    }
}

.wrapp-photo {
    margin: 0 auto;
    max-width: 1140px;
    .dropdown {
        .dropdown-menu {
            padding-left: 10px;
        }
    }
    .clearfix {
        clear: both;
    }
    .photoBox {
        padding-bottom: 45px;
        margin: 0 auto;
        &__inner {
            @include transition(all 0.3s ease 0s);
            position: relative;
            cursor: pointer;
            margin-bottom: 20px;
            max-width: 350px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                max-width: 350px;
                max-height: 235px;
                display: block;
                margin: 0 auto;
            }
        }
        &__text {
            font-size: 14px;
            font-weight: 400;
            max-width: 350px;
            margin: 0 auto;
            &__box {
                margin-top: 20px;
                margin-bottom: 15px;
                .table-box__date {
                    padding: 0 10px 0 20px;
                }
            }
            a {
                color: $color-darkBlue;
                text-decoration: none;
                font-size: 16px;
                display: block;
                padding-right: 10px;
            }
            a:hover {
                color: $color-pink;
                text-decoration: underline;
            }
        }
        &:hover {
            .photoBox__inner {
                -webkit-box-shadow: 0 24px 62px 0 rgba(0, 0, 0, 0.15);
                        box-shadow: 0 24px 62px 0 rgba(0, 0, 0, 0.15);
                @include transform(scale(1.07, 1.07));
            }
        }
    }
}

.table-box__id{
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 20px;
}

.photo-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

.wrapp-photo-album {
    margin: 0 auto;
    h2 {
        margin-bottom: 35px;
        text-transform: none;
    }
    .table-box {
        height: 45px;
        margin: 0;
        color: $color-pink;
    }
    .photo-album {
        &__back-and-share {
            font-size: 16px;
            padding-top: 20px;
            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &__body {
            min-height: 800px;
        }
        &__text {
            margin-bottom: 5px;
            p {
                font-size: 16px;
                color: $color-navyBlue;
                /* margin-bottom: 20px; */
                text-align: justify;
            }
        }
        &__box {
            padding: 0;
            img {
                @include transition(all 0.3s ease 0s);
                margin: 0 auto 30px;
                display: block;
                width: 255px;
                height: 170px;
            }
            img:hover {
                -webkit-box-shadow: 0 24px 62px 0 rgba(0, 0, 0, 0.15);
                        box-shadow: 0 24px 62px 0 rgba(0, 0, 0, 0.15);
                @include transform(scale(1.07, 1.07));
            }
        }
    }
}

@media all and (min-width:320px) and (max-width:767px) {
    .wrapp-photo-album {
        margin: 0 auto;
        .photo-album {
            &__back-and-share {
                text-align: center;
            }
        }
    }
}


/*.wrapp-photo-album-volunteer {
    margin: 0 auto;
    .share-icon-box {
        text-align: right;
        &:hover {
            .share-text {
                color: $color-pink;
            }
            .share-icon {
                background-color: $color-pink;
            }
        }
    }
    .photo-album {
        &__back-to-photo {
            text-align: left;
            font-size: 16px;
            padding-top: 20px;
            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &__head {
            margin-top: 55px;
            margin-bottom: 35px;
            padding: 0 15px;
            h2 {
                font-size: 36px;
                color: $color-navyBlue;
                font-weight: 500;
            }
        }
        &__body {
            min-height: 800px;
        }
        &__text {
            margin-bottom: 40px;
            p {
                font-size: 16px;
                color: $color-navyBlue;
                margin-bottom: 20px;
                text-align: justify;
            }
        }
        &__box {
            padding: 0;
            img {
                @include transition(all 0.3s ease 0s);
                margin: 0 auto 30px;
                display: block;
                width: 255px;
                height: 170px;
            }
            img:hover {
                box-shadow: 0 24px 62px 0 rgba(0, 0, 0, 0.15);
                @include transform(scale(1.07, 1.07));
            }
        }
    }
}*/
