.questions {
    margin-bottom: 35px;
    .title {
        position: relative;
        color: $color-navyBlue;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        padding-right: 60px;
        @include transition(all 0.3s ease 0s);
        &:after {
            content: "";
            display: block;
            width: 28px;
            height: 15px;
            position: absolute;
            right: 0;
            top: 2px;
            background: url("../images/arrow_blue.svg") no-repeat 0 0 rgba(0, 0, 0, 0);
            @include transition(all 0.8s ease 0s);
        }
        &:hover {
            color: $color-pink;
            &:after {
                background-image: url("../images/arrow_pink.svg");
            }
        }
    } //.title
    .text {
        display: none;
        color: $color-navyBlue;
        font-weight: 400;
        font-size: 16px;
        padding-right: 45px;
        p {
            margin: 0;
            padding: 10px 0;
        }
    } //.text
    &.active {
        .title:after {
            @include transform(rotate(-180deg));
        }
    }
} //.questions-item
@media all and (min-width:0) and (max-width:992px) {
    .questions-list {
        margin-top: 20px;
    }
}