.questions-list-portal {
    h1 {
        padding-right: 30px;
        margin-bottom: 20px;
    }
    .questions-list-portal__button:hover {
        background: $color-navyBlue;
    }
    .panel-default {
        border: none;
    }
    .panel-title {
        font-size: 16px;
        font-weight: 500;
        padding-left: 10px;
    }
    .panel-default>.panel-heading {
        background: none;
        border: none;
        color: $color-darkBlue;
        cursor: pointer;
    }
    .panel-default>.panel-heading-wrap {
        background: #66c4eb;
        color: #fff;
        text-transform: uppercase;
        padding: 12px;
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .panel-default>.panel-heading-inner {
        position: relative;
        padding: 5px 70px 5px 20px;
        cursor: pointer;
        .panel-title {
            font-size: 16px;
        }
        .panel-title:hover {
            color: $color-pink;
        }
    }
    .panel-heading-wrap:hover {
        background: $color-darkBlue;
    }
    .panel-heading-wrap:after {
        @include transition(all 0.3s ease 0s);
        content: '';
        background: url('../images/core/arrows-dropdown.png') no-repeat 0px -50px;
        position: absolute;
        top: 14px;
        right: 15px;
        width: 27px;
        height: 15px;
        color: #fff;
    }
    .panel-heading-wrap:hover:after {
        background: url('../images/core/arrows-dropdown.png') no-repeat 0px -50px;
        color: $color-pink;
    }
    .panel-heading-inner:after {
        @include transition(all 0.3s ease 0s);
        content: '';
        background: url('../images/core/arrow-bottom-blue.png') no-repeat;
        position: absolute;
        top: 6px;
        right: 15px;
        width: 27px;
        height: 15px;
        color: #fff;
    }
    .panel-heading-inner:hover:after {
        background: url('../images/core/arrow-bottom-pink.png') no-repeat;
        color: $color-pink;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border: none;
    }
    .accordion-wrap {
        .panel-group {
            margin: 0;
        }
    }
    .accordion-inner {
        margin-bottom: 30px;
    }
    .active {
        .panel-heading-wrap:after {
            transform: rotate(180deg);
        }
    }
    .active-inner {
        .panel-heading-inner:after {
            @include transition(all 0.3s ease 0s);
            transform: rotate(180deg);
        }
    }
    .questions-list-portal__inner {
        .panel-default>.panel-heading-wrap {
            background: #fff;
            color: $color-darkBlue;
        }
    }
    .panel-collapse {
        color: $color-navyBlue;
        .panel-body {
            padding: 0 55px 0 50px;
            p {
                margin: 0;
                padding: 10px 0;
            }
        }
    }
    @media all and (min-width:0px) and (max-width:998px) {
        h1 {
            font-size: 30px;
        }
        .questions-list-portal__button {
            margin: 0 auto 50px;
        }
        .panel-default>.panel-heading-wrap {
            padding: 12px 30px 12px 12px;
        }
    }
}