.resume-form {
    padding: 0;
    &__description {
        padding: 0 30px 55px 0;
        max-width: 665px;
        &__link {
            color: $color-pink;
            border-bottom: 2px dashed transparent;
            font-size: 16px;
            &:hover {
                border-bottom: none;
                color: $color-pink;
                border-bottom: 2px dashed $color-pink;
            }
        }
    }
    &__content {
        padding: 0 30px 0 0;
        ul {
            border: none;
            padding: 0 70px;
        }
        &__tabs {
            margin-bottom: 80px;
            li {
                border: none!important;
                position: relative;
                margin: 0 25px;
                a {
                    padding: 0;
                    border: none!important;
                    z-index: 1;
                    cursor: default;
                    margin: 0;
                    font-size: 14px;
                    background: transparent!important;
                }
                &:hover {
                    background: transparent!important;
                }
                &:after {
                    content: '';
                    background: #71c5e8;
                    width: 140px;
                    height: 2px;
                    position: absolute;
                    right: -100px;
                    top: 15px;
                    z-index: -1;
                    cursor: pointer;
                }
                &:last-child:after {
                    display: none;
                }
                &.active {
                    color: $color-pink;
                    background: transparent!important;
                    &:after {
                        background: $color-pink;
                    }
                    .resume-form__content__tabs__number {
                        background: $color-pink;
                        cursor: default;
                    }
                    .resume-form__content__tabs__text {
                        color: $color-pink;
                        cursor: default;
                    }
                }
            }
            &__number {
                width: 30px;
                height: 30px;
                margin: 0 auto;
                border-radius: 15px;
                background: #71c5e8;
                text-align: center;
                vertical-align: middle;
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                padding-top: 2px;
                margin-bottom: 20px;
                cursor: pointer;
            }
            &__text {
                color: #71c5e8;
                cursor: pointer;
            }
        }
        &__form-box {
            color: $color-navyBlue;
            margin-bottom: 40px;
            font-size: 16px;
            padding: 0;
            h3 {
                color: $color-pink;
                font-weight: 400;
                margin: 10px 15px 50px;
                position: relative;
            }
            &__delete-experience {
                position: absolute;
                right: 15px;
                top: 17px;
                padding: 0;
                border: none;
                color: $color-navyBlue;
                background: url('../images/core/cancel-logo-sheet.png') no-repeat;
                background-position: -8px -8px;
                width: 14px;
                height: 15px;
                cursor: pointer;
                &:hover {
                    background-position: -38px -7px;
                }
            }
            &__label {
                display: inline-block;
                text-align: right;
                max-width: 310px;
                padding-left: 0;
                label {
                    font-weight: 400;
                    margin: 0;
                    font-size: 16px;
                }
                &__email {
                    margin-top: 65px;
                }
            }
            &__input {
                display: inline-block;
                input::-webkit-input-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                input::-moz-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                input:-moz-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                input:-ms-input-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                textarea::-webkit-input-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                textarea::-moz-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                textarea:-moz-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                textarea:-ms-input-placeholder {
                    font-style: italic;
                    color: #a3c3e2;
                    padding-left: 1px;
                }
                & {
                    transition: 2s;
                }
                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid $color-navyBlue;
                    outline: none;
                    padding-bottom: 4px;
                    padding-top: 0;
                    transition: 2s;
                }
                &__radio {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    input[type="radio"] {
                        display: none;
                    }
                    input[type="radio"]+label {
                        color: $color-navyBlue;
                        cursor: pointer;
                        margin: 0;
                    }
                    input[type="radio"]+label span {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin: -1px 10px 0 0;
                        vertical-align: middle;
                        cursor: pointer;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                    }
                    /* The trick: border creates same look as the radio button usually have */
                    /* remove it to see what happens */
                    input[type="radio"]+label span {
                        background-color: #fff;
                        /* have to be of the same color */
                        border: 1px solid $color-navyBlue;
                        /* have to be of the same color */
                    }
                    /* Checked state for radio */
                    input[type="radio"]:checked+label span {
                        background: url("../images/core/radio-button.png") no-repeat center center;
                    }
                    label {
                        position: relative;
                        margin-left: 10px;
                        font-weight: 400;
                    }
                    &__city {
                        width: 44%!important;
                        margin-left: 10px;
                        padding-bottom: 5px!important;
                    }
                }
                &__email {
                    margin: 35px 0 15px;
                }
                &__add-more {
                    border-bottom: 2px dashed transparent;
                    color: $color-pink;
                    font-size: 16px;
                    margin-top: 20px;
                    display: inline-block;
                    &:hover {
                        color: $color-pink;
                        border: none;
                        border-bottom: 2px dashed $color-pink;
                    }
                }
                &__agreenment-date {
                    max-width: 140px;
                    p {
                        display: inline-block;
                        float: left;
                    }
                    input {
                        display: inline-block;
                        width: 105px;
                        float: right;
                        margin-right: 5px;
                        margin-bottom: 10px;
                    }
                }
                &__text-scroll {
                    border: 1px solid $color-navyBlue;
                    height: 105px;
                    max-width: 375px;
                }
                textarea {
                    width: 98%;
                    height: 82px;
                    outline: none;
                    resize: none;
                    border: none;
                    box-sizing: border-box;
                    padding: 0px 15px;
                    margin: 10px 0;
                    overflow: hidden;
                }
                &__text {
                    font-size: 14px;
                    font-weight: 400;
                    margin-top: 10px;
                }
            }
            .small-input {
                p {}
                .resume-form__content__form-box__label {
                    vertical-align: top;
                    text-align: right;
                    padding-right: 30px;
                }
                .resume-form__content__form-box__input {
                    input {
                        width: 44%!important;
                    }
                }
            }
            &__agreenment {
                font-size: 16px;
                color: $color-navyBlue;
                position: relative;
                margin-bottom: 30px;
                margin-left: 20px;
                label {
                    font-weight: 400;
                    margin-left: 25px;
                    margin-bottom: 0;
                    &:before {
                        content: '';
                        height: 20px;
                        width: 20px;
                        border-radius: 3px;
                        border: 1px solid $color-navyBlue;
                        position: absolute;
                        left: 0;
                        cursor: pointer;
                    }
                }
                input[type="checkbox"]:checked+label:before {
                    content: "";
                    background: url('../images/core/checkbox-ico-blue.png') no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 0px;
                    padding: 2px 0 0 2px;
                }
            }
            &__agreenment__study {
                font-size: 16px;
                color: $color-navyBlue;
                position: relative;
                margin-bottom: 80px;
                margin-left: 15px;
                label {
                    font-weight: 400;
                    margin-left: 30px;
                    margin-bottom: 0;
                    &:before {
                        content: '';
                        height: 20px;
                        width: 20px;
                        border-radius: 3px;
                        border: 1px solid $color-pink;
                        position: absolute;
                        left: 0;
                        cursor: pointer;
                    }
                }
                input[type="checkbox"]:checked+label:before {
                    content: "";
                    background: url('../images/core/checkbox-ico.png') no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 0px;
                    padding: 2px 0 0 2px;
                }
            }
            &__captcha {
                margin-bottom: 40px;
            }
            &__add {
                font-style: normal;
                display: inline;
                color: $color-pink;
                margin-left: 30px;
                position: relative;
                &__place {
                    border-bottom: 2px dashed transparent;
                    margin-left: 3px;
                    margin-right: 10px;
                    cursor: pointer;
                    display: inline;
                    &:hover {
                        border-bottom: none;
                        padding-bottom: 2px;
                        border-bottom: 2px dashed $color-pink;
                    }
                    &:before {
                        content: '*';
                        position: absolute;
                        left: -3px;
                    }
                }
                &:before {
                    content: '';
                    width: 15px;
                    height: 25px;
                    position: absolute;
                    left: -30px;
                    top: 0;
                    background: url('../images/core/clip.svg') no-repeat;
                }
                p {
                    color: $color-navyBlue;
                    font-style: italic;
                    display: inline;
                }
            }
            &__added {
                display: inline;
                margin-right: 10px;
                margin-left: 30px;
                position: relative;
                color: $color-navyBlue;
                font-style: italic;
                &:before {
                    content: '';
                    width: 15px;
                    height: 25px;
                    position: absolute;
                    left: -30px;
                    top: 0;
                    background: url('../images/core/clip.svg') no-repeat;
                }
                &__cancel {
                    width: 14px;
                    height: 15px;
                    background-position: -8px -6px;
                    background-image: url(../images/core/cancel-logo-sheet.png);
                    background-repeat: no-repeat;
                    cursor: pointer;
                    position: absolute;
                    right: -20px;
                    top: 3px;
                    &:hover {
                        background-position: -38px -6px;
                    }
                }
            }
        }
        .phone-box {
            padding: 0;
            .row {
                margin: 0;
            }
            &__phone {
                margin-bottom: 10px;
                p {
                    display: inline;
                    margin: 0;
                    font-size: 16px;
                    position: relative;
                }
                .required-phone {
                    &:before {
                        content: '*';
                        position: absolute;
                        left: 7px;
                    }
                    input {
                        margin: 0 0 0 30px;
                    }
                }
                input {
                    display: inline;
                    width: 164px;
                }
                &.opened-phone {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &__comment {
                margin-bottom: 35px;
            }
            .panel-group {
                padding: 0;
                margin-bottom: 15px;
                .panel {
                    background: transparent;
                    border: none;
                }
            }
            .panel-body {
                padding: 0;
            }
            .panel-title {
                font-size: 16px;
                font-weight: 400;
            }
            .panel-heading {
                padding: 0 15px 10px;
            }
            .panel-default>.panel-heading {
                background: transparent;
                border: none;
                color: $color-pink;
                a {
                    border-bottom: 2px dashed transparent;
                    &:hover {
                        border-bottom: 2px dashed $color-pink;
                        text-decoration: none;
                    }
                }
            }
            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border: none;
            }
        }
        &__buttons {
            a {
                padding: 10.5px 0;
                vertical-align: middle;
                text-decoration: underline;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                }
            }
            &__back {}
            &__cancel {
                float: right;
            }
            &__next {
                float: right;
                text-align: center;
                background: $color-navyBlue;
                color: $color-white;
                text-decoration: none!important;
                margin-left: 60px;
                &:hover {
                    opacity: 0.8;
                    color: $color-white;
                }
            }
        }
        .show-courses {
            display: none;
        }
    }
    &__add-place {
        color: $color-pink;
        display: inline-block;
        font-size: 16px;
        border-bottom: 2px dashed transparent;
        margin-bottom: 70px;
        &__study {
            color: $color-pink;
            display: inline-block;
            font-size: 16px;
            border-bottom: 2px dashed transparent;
            margin-bottom: 40px;
            &:hover {
                color: $color-pink;
                border-bottom: none;
                border-bottom: 2px dashed $color-pink;
            }
        }
        &:hover {
            color: $color-pink;
            border-bottom: none;
            border-bottom: 2px dashed $color-pink;
        }
    }
}

@media all and (min-width:320px) and (max-width:767px) {
    .resume-form {
        padding: 0 15px;
        &__description {
            padding: 0 15px 55px 15px;
        }
        &__content {
            padding: 0;
            &__tabs {
                margin: 0 auto 80px;
                padding: 0!important;
                max-width: 290px;
                li {
                    margin: 0;
                    max-width: 75px;
                    text-align: center;
                    &:after {
                        width: 65px;
                        right: -30px;
                    }
                }
            }
            &__form-box {
                padding: 0 15px;
                &__label {
                    text-align: left;
                    margin-bottom: 20px;
                    padding: 0;
                    &__email {
                        margin-top: 40px;
                    }
                }
                &__input {
                    padding: 0;
                    p &__radio {
                        margin-bottom: 20px;
                        &__city {
                            width: 100%!important;
                            margin: 20px 0 0;
                        }
                    }
                    &__email {
                        margin-top: 0!important;
                        padding: 0;
                        width: 100%;
                    }
                }
                &__add {
                    line-height: 1.8;
                    margin-left: 25px;
                    &:before {
                        left: -25px;
                    }
                    &__place {
                        margin-right: 5px;
                    }
                }
            }
            .small-input {
                .resume-form__content__form-box__label {
                    text-align: left;
                }
                .resume-form__content__form-box__input {
                    input {
                        width: 100%!important;
                    }
                }
            }
            &__buttons {
                &__next {
                    margin-left: 20px;
                }
            }
            .panel-body {
                .phone-box {
                    padding: 0;
                }
            }
            .phone-box {
                .resume-form__content__form-box__label,
                .resume-form__content__form-box__input {
                    padding: 0;
                }
                .panel-group {
                    padding: 0 15px;
                }
                .panel-heading {
                    padding: 0 0 20px;
                }
                .panel-body {
                    .phone-box {
                        &__phone {
                            padding: 0px;
                        }
                        &__comment {
                            padding: 0;
                        }
                    }
                }
                &__phone {
                    .required-phone {
                        &:before {
                            left: 0px;
                        }
                    }
                    input {
                        margin: 0!important;
                        width: 100%;
                    }
                    p {
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .resume-form {
        &__description {
            padding: 0 15px 55px 15px;
        }
        &__content {
            &__tabs {
                li:after {
                    width: 120px;
                    right: -80px;
                }
            }
        }
    }
}

@media all and (min-width:992px) and (max-width:1200px) {
    .resume-form {
        &__content {
            padding: 0;
            ul {
                padding: 0 30px;
            }
        }
    }
}