    .search {
        color: $color-navyBlue;
        .result {
            font-weight: 500;
            color: $color-pink;
        }
        &__sidebar {
            .sidebar-left__wrap {
                padding: 0 0 20px 0;
            }
        }
        &__unit {
            display: block;
            width: 100%;
            margin: 0 auto 40px;
            text-decoration: none;
            @include clearfix();
            &:hover {
                .title {
                    color: $color-pink;
                    text-decoration: underline;
                }
            }
            .search-result {
                color: $color-pink;
            }
            .images-box,
            .info-box {
                float: left;
                box-sizing: border-box;
            }
            .images-box {
                text-align: right;
                width: 160px;
                height: 110px;
                margin-right: 30px;
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 160px;
                    display: block;
                    margin: 0 auto;
                    @include transition(all 0.3s ease 0s);
                }
            }
            .info-box {
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                width: calc(100% - 190px);
                height: 110px;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 40px;
                    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #fff 75%);
                    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #fff 75%);
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 75%);
                    background-repeat: repeat-x;
                }
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .date {
                float: left;
                display: inline-block;
                margin-right: 10px;
                color: $color-pink;
                font-size: 16px;
                font-weight: 700;
            }
            .title {
                color: $color-navyBlue;
                font-weight: 700;
                margin-bottom: 10px;
                @include transition(all 0.3s ease 0s);
            }
            .desc {
                color: $color-navyBlue;
            }
        }
        .no-result {}
        @media all and (min-width: 0px) and (max-width: 768px) {
            &__unit {
                margin-bottom: 10px;
                .images-box,
                .info-box {
                    display: block;
                    margin-bottom: 20px;
                    width: 100%;
                    text-align: left;
                    margin-right: 0;
                }
            }
        }
        @media all and (min-width: 0px) and (max-width: 991px) {
            .bootstrap-select.btn-group .dropdown-menu li {
                padding-left: 10px;
            }
        }
    }