.services,
.services_volunteer {
    h3 {
        font-weight: 500;
    }
    a {
        color: $color-pink!important;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $color-fuchsia;
        }
    }
}

.margin-top-0 {
    margin-top: 0;
}

.services-images {
    margin-bottom: 35px;
    img {
        max-width: 540px;
        width: auto;
    }
}

@media all and (min-width:0px) and (max-width:992px) {
    .mobil-hide {
        display: none;
    }
    .services-images {
        text-align: center;
    }
    .header-indent {
        margin-bottom: 25px;
    }
}