.sign-out {
    background: url('../images/sign-out/bg.svg') no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 230px 150px 295px 100px;
    line-height: 1;
    &__logo {
        margin-bottom: 70px;
        display: table;
        img {
            width: 108px;
            height: 136px;
            margin-right: 60px;
            display: table-cell;
        }
        &__text {
            display: table-cell;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            vertical-align: middle;
            p {
                font-size: 32px!important;
                margin-bottom: 0!important;
                margin-left: 2px;
                line-height: 1;
                &:first-child {
                    font-size: 45px!important;
                    margin-left: 0;
                }
                span.bolder {
                    color: $color-navyBlue;
                    font-weight: 700;
                }
                span {
                    color: $color-pink;
                    font-weight: 400;
                }
            }
        }
    }
    h3 {
        margin-bottom: 30px;
        color: $color-pink;
    }
    p {
        color: $color-navyBlue;
        font-size: 18px;
        margin-bottom: 35px;
    }
    .button-blue {
        font-size: 18px;
        font-weight: 700;
        padding: 12.5px 25px;
        line-height: 1;
        height: auto;
    }
    @media all and(min-width:851px)and(max-width:1200px) {
        background-position: 48%;
    }
    @media all and(max-width:850px) {
        background-position: 35%;
    }
    @media all and(max-width:767px) {
        padding: 230px 15px 315px 15px;
        &__logo {
            img {
                margin-right: 20px;
            }
            &__text {
                p {
                    font-size: 22px!important;
                    &:first-child {
                        font-size: 28px!important;
                    }
                }
            }
        }
    }
}