.sport-template {
    &__overflow {
        overflow: hidden;
        position: relative;
    }
    @media (min-width: 1599px) {
        .c-decoration-left {
            left: 0px;
            top: 726px;
            margin-left: -100px;
        }
        .c-decoration-right {
            right: 0px;
            top: 1523px;
            margin-right: -100px;
        }
        .c-decoration__partners-left {
            height: 1038px;
            top: 2596px;
            z-index: -1;
        }
        .c-decoration__partners-right {
            height: 1038px;
            top: 2734px;
        }
    }
    @media (min-width: 1899px) {
        .c-decoration-left {
            left: 0px;
            top: 726px;
            margin-left: 0px;
        }
        .c-decoration-right {
            right: 0px;
            top: 1523px;
            margin-right: 0px;
        }
        .c-decoration__partners-left {
            height: 1038px;
            top: 2596px;
            z-index: -1;
        }
        .c-decoration__partners-right {
            height: 1038px;
            top: 2734px;
        }
    }
    h1 {
        margin-bottom: 22px;
    }
    &__determination {
        position: relative;
        background: $color-darkBlue;
        height: 452px;
        width: 100%;
        @media (max-width: 768px) {
            height: auto;
        }
        &:after {
            content: '';
            position: relative;
            top: -108px;
            width: 0;
            height: 0;
            border-bottom: 88px solid #fff;
            border-left: 101vw solid transparent;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &-image {
            position: relative;
            left: -27px;
            overflow: hidden;
            background: url(../images/sport-template/women_biatlon.png) no-repeat center center;
            background-size: contain;
            height: 452px;
            @media (max-width: 768px) {
                width: 100%;
                left: 0;
                background-size: cover;
                height: 350px;
            }
        }
        &-text {
            p {
                font-size: 16px;
                line-height: 22px;
                color: $color-white;
                font-weight: 400;
                padding-top: 70px;
                @media (max-width: 768px) {
                    padding: 15px;
                }
            }
        }
    }
    &__discipline {
        position: relative;
        overflow: hidden;
        @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        &--slaider {
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            margin-top: 23px;
            padding-top: 40px;
            height: 507px;
        }
        &-slick {
            position: relative;
            top: unset;
            margin-bottom: 60px;
            padding-right: 50px;
            a {
                text-decoration: none;
                h3 {
                    margin-top: 15px;
                    color: $color-navyBlue;
                }
                &:hover h3 {
                    color: $color-pink;
                }
            }
            .slick-initialized .slick-slide {
                @media (max-width: 768px) {}
                display: flex;
                justify-content: center;
                text-align: center;
            }
            .slick-slide img {
                width: 350px;
                height: 260px;
            }
            .slick-prev {
                border: unset;
                left: -30px;
                bottom: 61%;
                top: unset;
                background: url(../images/core/arrows/arrow-slider-pink.svg) no-repeat;
                width: 22px;
                height: 49px;
                cursor: pointer;
                background-size: 100% auto;
                transform: rotate(180deg);
                &:hover {
                    transform: rotate(180deg);
                    background: url(../images/core/arrows/arrow-slider-blue.svg) no-repeat;
                }
            }
            .slick-next {
                border: unset;
                right: 0%;
                bottom: 50%;
                top: unset;
                background: url(../images/core/arrows/arrow-slider-pink.svg) no-repeat;
                width: 22px;
                height: 49px;
                cursor: pointer;
                background-size: 100% auto;
                &:hover {
                    background: url(../images/core/arrows/arrow-slider-blue.svg) no-repeat;
                }
            }
            .slick-prev:before {
                color: transparent;
            }
            .slick-next:before {
                color: transparent;
            }
        }
        &__news {
            overflow: hidden;
            position: relative;
            @media (max-width: 768px) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        margin-top: 30px;
        margin-bottom: 0px;
        h2 {
            margin-bottom: 20px;
        }
        article {
            main {
                min-height: inherit;
                margin-bottom: 44px;
                @media (max-width: 768px) {
                    min-height: auto;
                }
                h3 {
                    color: $color-pink;
                }
            }
        }
        &-head-image {
            width: 350px;
            height: 260px;
            overflow: hidden;
            margin-bottom: 28px;
            @media (max-width: 400px) {
                width: 260px;
                height: auto;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        &-card {
            display: block;
            height: inherit;
            margin-left: -15px;
        }
        &-party {
            display: flex;
            align-items: center;
            margin-top: 12px;
            figure {
                img {
                    width: 33px;
                    height: 33px;
                    margin-right: 15px;
                }
            }
            span {
                font-size: 16px;
                line-height: 22px;
                color: $color-navyBlue;
                font-weight: 400;
            }
            ul {
                list-style-type: none;
                margin-bottom: 23px;
                li {
                    display: flex;
                    position: relative;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #0e7dc2;
                    padding-left: 20px;
                    margin: 0 0 0 0;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        top: 5.5px;
                        left: 1px;
                        border-top: 5.4px solid transparent;
                        border-left: 10px solid #0e7dc2;
                        border-bottom: 5.4px solid transparent;
                    }
                }
            }
        }
        &-mixed {
            align-items: baseline;
        }
        &-text {
            p {
                font-size: 16px;
                line-height: 22px;
                color: $color-navyBlue;
                font-weight: 400;
            }
        }
    }
    &__facts {
        position: relative;
        background: $color-pink;
        padding-top: 0px;
        padding-bottom: 60px;
        margin-bottom: 60px;
        @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        h3 {
            color: #fff;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #fff;
        }
    }
    &__history-biathlon {
        margin-bottom: 25px;
        @media(max-width: 767px) {
            padding: 0 15px;
        }
        figure {
            float: left;
            width: 350px;
            height: 260px;
            margin: 0 30px 24px 0;
            img {
                width: 100%;
                height: auto;
            }
            @media(max-width: 400px) {
                width: 290px;
                height: 230px;
            }
        }
        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: $color-navyBlue;
            margin: 0 0 11px 0;
        }
    }
    &__other-sports {
        position: relative;
        overflow: hidden;
        @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        &--slaider {
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            margin-top: 23px;
            padding-top: 40px;
        }
        &-slick {
            position: relative;
            top: unset;
            margin-bottom: 30px;
            padding-right: 0px;
            @media (max-width: 767px) {
                padding-right: 0px;
            }
            a {
                text-decoration: none;
                h3 {
                    margin-top: 15px;
                    color: $color-navyBlue;
                }
                &:hover h3 {
                    color: $color-pink;
                    text-decoration: underline;
                }
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .slick-initialized .slick-slide {
                @media (max-width: 768px) {}
                display: flex;
                justify-content: center;
                text-align: center;
            }
            .slick-slide img {
                width: 350px;
                height: 260px;
                @media (max-width: 375px) {
                    padding-right: 30px;
                }
                @media (max-width: 360px) {
                    width: 290px;
                    height: 230px;
                }
            }
            .slick-prev {
                border: unset;
                left: -30px;
                bottom: 59%;
                top: unset;
                background: url(../images/core/arrows/arrow-slider-pink.svg) no-repeat;
                width: 22px;
                height: 49px;
                cursor: pointer;
                background-size: 100% auto;
                transform: rotate(180deg);
                &:hover {
                    transform: rotate(180deg);
                    background: url(../images/core/arrows/arrow-slider-blue.svg) no-repeat;
                }
            }
            .slick-next {
                border: unset;
                right: -22px;
                bottom: 50%;
                top: unset;
                background: url(../images/core/arrows/arrow-slider-pink.svg) no-repeat;
                width: 22px;
                height: 49px;
                cursor: pointer;
                background-size: 100% auto;
                &:hover {
                    background: url(../images/core/arrows/arrow-slider-blue.svg) no-repeat;
                }
            }
            .slick-prev:before {
                color: transparent;
            }
            .slick-next:before {
                color: transparent;
            }
        }
    }
    &__news {
        margin-top: 50px;
        overflow: hidden;
        position: relative;
        @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (max-width: 991px) {
            margin-bottom: 70px;
        }
    }
}

.c-banner-facts {
    background-image: linear-gradient(-177.8deg, transparent 49%, #e5007c 50%);
}