.sport-card {
    .header5 {
        margin-bottom: 15px;
    }
    &__discipline {
        .man:before,
        .woman:before {
            width: 18px;
            height: 18px;
            left: 0;
            top: 0;
        }
        .man {
            &:before {
                background: url(../../assets/images/core/people/man.png);
            }
        }
        .woman {
            &:before {
                background: url(../../assets/images/core/people/woman_blue.png);
            }
        }
        .together {
            &:before {
                background: transparent;
            }
        }
    }
    &__name {
        font-weight: 500;
        color: $color-navyBlue;
        margin: 20px 0 0;
    }
    &__desc {
        padding: 10px 0 10px;
        color: $color-navyBlue;
    }
    &__documents {
        margin: 20px 0 40px;
        h5 {
            margin: 0 0 30px;
        }
        a {
            display: block;
            background: url('../images/core/doc-ico.png') no-repeat;
            min-height: 30px;
            margin: 20px 0;
            padding: 7px 0 0 40px;
        }
        a:hover {
            background: url('../images/core/doc-ico-hover.png') no-repeat;
            color: $color-pink;
        }
    }
    &__wrapp-images {
        max-height: 260px;
        max-width: 540px;
        min-width: 190px;
        overflow: scroll;
        margin: 65px auto 65px -30px;
        .sport-card-images {
            padding: 20px 20px 20px 30px;
            img {
                height: 100%;
                @include transition(all 0.3s ease 0s);
                margin: 0px 25px 22px 0;
            }
            img:hover {
                box-shadow: 0 0px 33px 0 rgba(0, 0, 0, 0.15);
                @include transform(scale(1.07,
                1.07));
            }
        }
    }
    &-image {
        margin-bottom: 30px;
        img {
            max-width: 540px;
            width: 100%;
            height: 100%;
        }
    }
    .slider-counter__current-slide-item {
        display: inline-block;
        font-weight: normal;
    }
    .interesting-fact {
        margin-top: 155px;
        margin-bottom: 50px;
        color: $color-white;
        background: #78ccf7;
        padding: 34px;
        max-width: 350px;
        position: relative;
        .fact {
            width: 147px;
            p {
                display: none;
                padding: 0 15px 0 0;
            }
            &.slick-current.slick-active {
                p {
                    display: inline-block;
                }
            }
        }
        .slider-counter {
            color: $color-white;
            top: auto;
            right: 50px;
            bottom: 10px;
        }
        .slick-arrow {
            position: absolute;
            top: 164px;
            left: 253px;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
        }
        .arrow-right {
            border-left: 25px solid $color-white;
        }
        .arrow-left {
            display: none !important;
        }
        &__text {
            max-width: 300px;
            font-size: 18px;
        }
        &__header {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .slider-counter {
            &__current-slide-item {
                font-weight: 400;
            }
        }
        .slick-list {
            height: 125px;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20px;
                @include gradient-vertical($start-color: rgba(120, 204, 244, 0), $end-color: #78ccf7, $start-percent: 0%, $end-percent: 75%);
            }
            .slick-slide {
                height: 125px;
            }
        }
        .slick-dots {
            li button:before {
                background: $color-white;
            }
            li.slick-active button:before {
                background: $color-navyBlue;
            }
        }
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .sport-card {
        .header {
            margin: 70px 10px;
        }
    }
}

@media all and (min-width:0px) and (max-width: 992px) {
    .sport-card {
        .mobil-hide {
            display: none;
        }
        .sport-card-image {
            text-align: center;
        }
        &__desc {
            padding: 15px 0 20px;
            color: $color-navyBlue;
        }
        &__content {
            max-width: 540px;
            margin: 0 auto;
        }
        .interesting-fact {
            margin: 50px auto;
            max-width: 540px;
            .slick-dots {
                max-width: 200px;
            }
            &__text {
                max-width: 500px;
            }
        }
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .sport-card {
        .interesting-fact {
            .slick-arrow {
                top: 164px;
                left: 433px;
            }
            .slider-counter {
                margin-left: 375px;
            }
        }
    }
}

@media all and (min-width:0px) and (max-width:768px) {
    .sport-card {
        &__wrapp-images {
            width: 100%;
        }
    }
}

@media all and (max-width:425px) {
    .sport-card {
        &__wrapp-images {
            width: 190px;
            margin: 35px auto;
        }
        .interesting-fact {
            padding: 24px;
            .slick-dots {
                max-width: 120px!important;
                bottom: -46px!important;
            }
            .slick-arrow {
                top: 145px!important;
                left: 220px!important;
            }
            .slider-counter {
                margin-left: 150px!important;
            }
        }
    }
}