.test {
    .header3 {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    &__content {
        img {
            width: 100%;
        }
        &__logo {
            border: 1px solid #e4f2fc;
            margin: 0 0 44px;
        }
        &__desc {
            padding: 0 0 38px;
            color: $color-navyBlue;
            p {
                &:last-child {
                    padding: 0;
                }
            }
        }
        &__image {
            margin-bottom: 35px;
        }
        &__documents {
            margin: 0 0 44px;
            a {
                display: block;
                background: url('../images/core/doc-ico.png') no-repeat;
                min-height: 30px;
                margin: 0 0 22px;
                padding: 7px 0 0 40px;
            }
            a:hover {
                background: url('../images/core/doc-ico-hover.png') no-repeat;
                color: $color-pink;
                text-decoration: none;
            }
        }
        table {
            font-size: 16px;
            margin: 0 auto 44px;
            tbody {
                tr {
                    color: $color-navyBlue;
                    &:first-child {
                        background: $color-pink!important;
                        color: $color-white!important;
                        td {
                            padding: 6px 15px 6px 20px!important;
                            vertical-align: bottom;
                            line-height: 1;
                        }
                    }
                    &:nth-child(odd) {
                        background: #e4f2fc;
                    }
                    td {
                        vertical-align: top;
                        padding: 20px;
                        a {
                            color: $color-pink;
                        }
                        a:hover {
                            text-decoration: underline;
                            color: $color-fuchsia;
                            text-decoration: none;
                        }
                        p {
                            margin-bottom: 20px;
                        }
                        &:first-child {
                            width: 39%;
                        }
                        &:nth-child(2) {
                            width: 39%;
                        }
                        &:last-child {
                            width: 22%;
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:0px) and (max-width: 992px) {
    .test {
        .mobil-hide {
            display: none;
        }
        .test-image {
            text-align: center;
        }
        &__desc {
            padding: 15px 0 20px;
            color: $color-navyBlue;
        }
        &__content {
            max-width: 540px;
            margin: 0 auto;
        }
    }
}

@media all and (min-width:0px) and (max-width: 767px) {
    .test {
        &__content {
            table {
                tbody {
                    tr {
                        &:first-child {
                            td {
                                padding: 6px 5px 6px 5px!important;
                            }
                        }
                        td {
                            padding: 20px 15px;
                            &:first-child {
                                width: 50%;
                            }
                            &:nth-child(2) {
                                width: 50%;
                            }
                            &:last-child {
                                //display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:0px) and (max-width: 390px) {
    .test {
        &__content {
            table {
                tbody {
                    tr {
                        td {
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}