.vacancy {
    h1 {
        color: $color-pink;
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    &__content {
        margin-bottom: 50px;
        p {
            font-size: 16px;
            color: $color-navyBlue;
        }
    }
    .panel-default {
        border: none;
    }
    .panel-title {
        font-size: 16px;
        font-weight: 500;
        padding-left: 10px;
        text-transform: uppercase;
    }
    .panel-default>.panel-heading {
        background: none;
        border: none;
        color: $color-darkBlue;
        cursor: pointer;
    }
    .panel-default>.panel-heading-wrap {
        background: #66c4eb;
        color: #fff;
        text-transform: uppercase;
        padding: 12px;
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .panel-default>.panel-heading-inner {
        position: relative;
        padding: 5px 70px 5px 10px;
        cursor: pointer;
        .panel-title {
            font-size: 16px;
        }
        .panel-title:hover {
            color: $color-pink;
        }
    }
    .panel-heading-wrap:hover {
        background: $color-darkBlue;
    }
    .panel-heading-wrap:after {
        @include transition(all 0.3s ease 0s);
        content: '';
        background: url('../images/core/arrows-dropdown.png') no-repeat 0px -50px;
        position: absolute;
        top: 14px;
        right: 15px;
        width: 27px;
        height: 15px;
        color: #fff;
    }
    .panel-heading-wrap:hover:after {
        background: url('../images/core/arrows-dropdown.png') no-repeat 0px -50px;
        color: $color-pink;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border: none;
    }
    .accordion-wrap {
        .panel-group {
            margin: 0;
        }
    }
    .accordion-inner {
        margin-bottom: 30px;
        &:first-child {
            padding-top: 25px;
        }
        &:last-child {
            padding-bottom: 15px;
        }
    }
    .active {
        .panel-heading-wrap:after {
            transform: rotate(180deg);
        }
    }
    .active-inner {
        .panel-heading-inner:after {
            @include transition(all 0.3s ease 0s);
            transform: rotate(180deg);
        }
    }
    .vacancy__inner {
        .panel-default>.panel-heading-wrap {
            background: #fff;
            color: $color-darkBlue;
        }
    }
    .panel-collapse {
        color: $color-navyBlue;
        .panel-body {
            padding: 0 45px 0 20px;
            h4 {
                font-size: 16px;
                margin-bottom: 5px;
            }
            p {
                margin: 0;
                padding: 0px 0 0px;
            }
            .send-info {
                padding: 35px 0 15px 0;
                a {
                    color: $color-pink;
                    font-size: 16px;
                }
                &__separator {
                    margin: 0 20px 0;
                    display: inline;
                }
            }
        }
    }
}

@media all and (min-width:0px) and (max-width:998px) {
    .vacancy {
        .header1 {
            margin-left: 0;
        }
        &__button {
            margin: 0 auto 50px;
        }
        .panel-default>.panel-heading-wrap {
            padding: 12px 30px 12px 12px;
        }
        .send-info {
            a {
                margin-bottom: 20px;
                display: block;
            }
            &__separator {
                display: none!important;
            }
        }
    }
}