.video {
    &__content {
        max-width: 730px;
    }
}

.wrapp-video {
    margin: 0 auto;
    .header1 {
        font-size: 48px;
        color: $color-pink;
    }
    .dropdown {
        .dropdown-menu {
            padding-left: 10px;
        }
    }
    .clearfix {
        clear: both;
    }
    .videoBox {
        padding-bottom: 45px;
        margin: 0 auto;
        &:nth-child(3n+1) {
            clear: both;
        }
        &__inner {
            @include transition(all 0.3s ease 0s);
            position: relative;
            cursor: pointer;
            img {
                width: 100%;
            }
        }
        &__inner:after {
            content: "";
            background: url('../../assets/images/video/btn-square.svg');
            height: 88px;
            width: 88px;
            position: absolute;
            top: 50%;
            left: 50%;
            cursor: pointer;
            display: block;
            margin: -44px 0 0 -44px;
        }
        &__text {
            font-size: 14px;
            p {
                color: $color-pink;
                margin-top: 20px;
                margin-bottom: 15px;
            }
            a {
                color: $color-darkBlue;
                text-decoration: none;
                display: block;
                padding-right: 10px;
            }
            a:hover {
                color: $color-pink;
                text-decoration: underline;
            }
            .table-box {
                &__date {
                    padding: 0 15px 0 0;
                }
            }
        }
        .delete-margin {
            margin-right: 0;
        }
        &:hover {
            .videoBox__inner {
                box-shadow: 0 24px 62px 0 rgba(0, 0, 0, 0.15);
                @include transform(scale(1.07, 1.07));
            }
            .videoBox__inner::after {
                content: "";
                background: url("../../assets/images/video/btn-square.svg");
            }
        }
    }
}

.video_opened {
    position: relative;
    h2 {
        font-size: 36px;
        color: $color-navyBlue;
        font-weight: 400;
        margin: 0 0 70px 0;
    }
    .video {
        &__desc {
            padding: 0 0 40px;
            color: $color-navyBlue;
            border-bottom: 1px solid #71c5e8;
            margin: 0 0 20px;
        }
        &__author {
            font-style: italic;
            color: $color-navyBlue;
            margin-bottom: 60px;
        }
    }
    .date-container {
        color: $color-darkBlue;
        .date {
            display: inline-block;
            font-weight: 500;
        }
        .time {
            display: inline-block;
            font-weight: 300;
        }
    }
    .video-center {
        //background: #237cc1;
        max-width: 730px;
        max-height: 486px;
        margin: 0 auto 25px;
        position: relative;
        video,
        iframe,
        source {
            width: 100%;
            height: 100%;
            object-fit: inherit;
            max-height: 391px;
        }
        .button-play {
            content: "";
            background: url('../../assets/images/video/btn-square.svg');
            height: 88px;
            width: 88px;
            position: absolute;
            top: 50%;
            left: 50%;
            cursor: pointer;
            display: block;
            margin: -44px 0 0 -44px;
            @include transition(.2s);
            &:hover {
                content: "";
                @include transform(scale(1.4,
                1.4));
            }
        }
        .pause {
            background-position: 50% 100%;
        }
    }
    &__back-and-share {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .share-icon-box {
            display: inline-block;
            text-align: right;
        }
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .video {
        .header {
            margin: 70px 10px;
        }
    }
}

@media all and (min-width:0px) and (max-width: 992px) {
    .video {
        &__unit {
            margin: 0 15px 35px;
        }
    }
    .video {
        .mobil-hide {
            display: none;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__name {
            font-weight: 700;
            color: $color-navyBlue;
        }
        &__desc {
            padding: 15px 0 20px;
            color: $color-navyBlue;
        }
        &__content {
            max-width: 540px;
            margin: 0 auto;
        }
    }
    .video_opened {
        .date-container {
            margin: 0 0 20px;
        }
    }
}

@media all and (min-width:767px) and (max-width:991px) {
    .video_opened {
        .date-container {
            text-align: right;
            padding-right: 5px;
        }
    }
}

@media all and (min-width:0px) and (max-width:767px) {
    .video {
        &__unit {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            &__small {
                max-width: 350px;
                margin: 0 auto;
                padding-top: 15px;
            }
            .images-bl {
                display: block;
                width: 100%;
            }
            .info__title {
                min-height: 84px;
            }
        }
        &_opened {
            &__back-and-share {
                text-align: center;
            }
        }
    }
}