nav {
  border-top: 1px solid rgba(56, 164, 171, 0.2);
  border-bottom: 1px solid rgba(56, 164, 171, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;

  ul {
    list-style-type: none;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    margin: 0;

    li {
      position: relative;

      a {
        color: #38a4ab;
        background: transparent;
        border: none;
        font-weight: 500;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 16px;
        padding: 15px;

        &:focus {
          text-decoration: none;
          color: #000;
        }

        &:hover {
          background: rgba(56, 164, 171, .2);
          color: #000;

          &:after,
          &:before {
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            width: 100%;
          }
        }

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: -16px;
          left: 0;
          width: 0;
          height: 2px;
          background: #38a4ab;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }

        &:after {
          top: inherit;
          left: inherit;
          bottom: -16px;
          right: 0;
        }
      }
    }
  }
}
