.description {
  display: block;
}

.description h1 {
  color: #000;
}

.description p {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #3f3f3f;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
