footer {
  border-top: 1px solid rgba(56, 164, 171, 0.2);
  padding: 33px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px;

    li {
      position: relative;
      padding: 5px 0;

      a {
        color: #38a4ab;
        background: transparent;
        border: none;
        font-weight: 500;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 16px;

        &:focus {
          text-decoration: none;
          color: #000;
        }

        &:hover {
          color: #000;
        }
      }
    }
  }
}
