.header__head {
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

a:hover h1 {
  color: #000;
}

a:hover .header__head {
  color: #38a4ab;
}

address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 14px;
  padding-left: 14px;
}

address a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

address a:hover h5 {
  color: #000;
}

.header__email-icon,
.header__phone-icon {
  width: 20px;
  margin-right: 6px;
}
