.main {
  margin-bottom: 33px;
}

.main__banner {
  display: block;
  background: #38a4ab;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: inherit;
  overflow: hidden;
  position: relative;
  padding: 103px 0;
  margin: 0 0 66px;
}

.main__banner:hover {
  display: block;
  background: #EFEFEF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main__banner:hover .holder > .sun {
  top: -322px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__banner h1 {
  font-size: 48px;
  color: #fff;
  line-height: 48px;
  text-transform: inherit;
}

.main__banner:hover h1 {
  color: #000;
}

.main-button {
  width: 300px;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  text-shadow: none;
  background: #F7DF45;
  color: #2c545e;
}

.main-button button:hover {
  background: #56967e;
  color: #fff;
}

.main-slaider {
  margin-bottom: 66px !important;
}

.main__b {
  margin: 0 0 66px;

  iframe {
    border: 1px solid;
  }

  figure {
    float: right;
    margin: 0 0 15px 15px;
    text-align: center;

    img {
      width: 300px;
    }

    fieldset {
      display: block;
      padding: 7px 0 0;
      opacity: 0.7;
    }
  }
}
