h1{
  font-size: 46px;
  line-height: 46.4px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0;

  @media (max-width: 767px){
    font-size: 30px;
    line-height: 30px;
  }
}

.uppercase{
  text-transform: uppercase;
}

h3{
  font-size: 30px;
  text-align: left;
  color: #f8cfa3;
  text-transform: uppercase;

  @media (max-width: 767px){
    font-size: 24px;
    line-height: 24px;
  }
}

h4{
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
