body {
  font-family: 'AvenirNextLTW01Regular', sans-serif;
  background: #190f0d;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header .top_bar {
  min-height: 67px;
  background: #190f0d;
}

header .logo {
  background: url(../images/logo.png);
  width: 190px;
  height: 122px;
  position: absolute;
  top: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

header .navi .menu {
  background: #f8cfa3;
  height: 55px;
  margin-left: 190px;
}

header .navi .bg_ {
  background: #f8cfa3;
  height: 55px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 67px;
}

.slider-home {
  margin-top: 67px;
  background: #190f0d;
  width: 100%;
}

.slider-home .carousel-item img {
  min-width: 100%;
}

.slider-home .carousel-item {
  min-width: 100%;
  height: 613px;
}

.slider-home .carousel {
  height: 613px;
  overflow: hidden;
}

section.content {
  background: #190f0d;
}

section.content h2 {
  color: #fff;
  text-transform: uppercase;
  padding-top: 35px;
  margin-bottom: 40px;
  font-size: 46px;
}

section.content h2 span {
  color: #f8cfa3;
}

.sob-block {
  cursor: pointer;
  opacity: 0.4;
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #211919;
}

.sob-block:hover {
  opacity: 0.6;
}

.sob-block:last-of-type {
  padding-bottom: 0;
  border: none;
}

.sob-block .name {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.sob-block .date {
  font-size: 16px;
  color: #f8cfa3;
  text-transform: uppercase;
}

.sob-block.active {
  opacity: 1;
}

.right-carusel-parent {
  position: relative;
}

.right-carusel {
  margin-left: 40px;
}

.sob-block.active .main_ {
  position: relative;
}

.sob-block.active .main_:before {
  content: '';
  position: absolute;
  background: url(../images/arrow-left.png);
  width: 11px;
  height: 23px;
  top: 50%;
  margin-top: -11px;
  left: -30px;
}

.carouselSob .carousel-control-next-icon {
  background: url(../images/arrow-sob-right.png);
  width: 41px;
  height: 41px;
  right: -17px;
  position: absolute;

  @media (max-width: 767px){
    right: 5px;
  }
}

.carouselSob .carousel-control-prev-icon {
  background: url(../images/arrow-sob-left.png);
  width: 41px;
  height: 41px;
  left: -17px;
  position: absolute;
  @media (max-width: 767px){
    left: 5px;
  }
}

.carouselSob .carousel-control-next, .carouselSob .carousel-control-prev {
  opacity: 1;
}

.carouselSob .carousel-control-next:hover, .carouselSob .carousel-control-prev:hover {
  opacity: 0.7;
}

.carouselSob .carousel-indicators {
  bottom: -40px;
}

.carouselSob .carousel-indicators li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #666263;
}

.carouselSob .carousel-indicators li.active {
  background: #f8cfa3;
}

section.callback {
  margin-top: 70px;
  margin-bottom: 60px;
}

section.callback h2 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 46px;
}

section.callback p {
  color: #f8cfa3;
  margin-bottom: 10px;
  font-size: 24px;
}

input.form-control.callback-input {
  border: 2px solid #372b1b;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Geometria, sans-serif;
  font-size: 12px;
  height: 56px;
  line-height: 56px;
  padding: 0 25px;
}
.callback .col-md-3:nth-child(1) input.form-control.callback-input, .callback .col-md-3:nth-child(2) input.form-control.callback-input {
  font-size: 16px;
}

input.form-control.callback-input:hover {
  border: 2px solid #5d4a2a;
}

input.form-control.callback-input:focus {
  border: 2px solid #fff;
}

input.form-control.callback-input::-webkit-input-placeholder {
  color: #372b1b;
}

input.form-control.callback-input::-moz-placeholder {
  color: #372b1b;
}

/* Firefox 19+ */
input.form-control.callback-input:-moz-placeholder {
  color: #372b1b;
}

/* Firefox 18- */
input.form-control.callback-input:-ms-input-placeholder {
  color: #372b1b;
}

button.btn.callback-btn {
  border: 2px solid #fff;
  border-radius: 0;
  background: none;
  color: #fff;
  height: 56px;
  text-transform: uppercase;
  line-height: 56px;
  font-family: Geometria, sans-serif;
  font-size: 11px;
  width: 100%;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

button.btn.callback-btn:hover {
  border: 2px solid #ffa65b;
  color: #ffa65b;
}

footer {
  padding: 60px 0;
  background: #0c0608;
}

footer .info_copyright {
  opacity: 0.3;
  color: #f8cfa3;
  font-size: 14px;
  margin-top: 50px;
}

footer .copyright {
  color: #f8cfa3;
  font-size: 14px;
  margin-top: 70px;
}

footer .contacts h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 40px;
}

footer .contacts h3:first-of-type {
  margin-top: 0;
}

footer .contacts p {
  color: #f8cfa3;
  padding: 0;
  margin-top: 10px;
  font-size: 15px;
}

footer .nav .nav-link {
  color: #f8cfa3;
  padding: 0;
  margin-bottom: 17px;
  font-size: 16px;
  text-transform: uppercase;
}

footer .nav .nav-link:last-of-type {
  margin-bottom: 0;
}

footer .nav .nav-link:hover {
  color: #ffa65b;
}

footer .container {
  position: relative;
}

footer .container:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 58px;
  height: 4px;
  background: #f8cfa3;
}

.icon-inst {
  display: inline-block;
  background: url(../images/inst.png);
  height: 34px;
  width: 34px;
  color: transparent !important;
  margin-left: 5px;
}

.icon-fc {
  display: inline-block;
  background: url(../images/fc.png);
  height: 34px;
  width: 34px;
  color: transparent !important;
}

.icon-fc:hover, .icon-inst:hover {
  opacity: 0.7;
}

.restcar img {
  max-width: 100%;
}

#carouselTopControls .carousel-item .container {
  position: relative;
}

#carouselTopControls .carousel-item .container .carousel-caption {
  position: absolute;
  right: 15%;
  top: 400px;
  left: 0;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

#carouselTopControls .carousel-item .container .carousel-caption h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}

#carouselTopControls .carousel-control-prev {
  height: 100px;
  width: 100px;
  margin-left: -20px;
  top: 260px;
  margin-top: -30px;
  opacity: 1 !important;
}

.carousel-control-prev-icon {
  background: url(../images/arrow-left-top.png);
  height: 52px;
  width: 27px;
}

#carouselTopControls .carousel-control-next {
  height: 100px;
  width: 100px;
  margin-right: -22px;
  top: 260px;
  margin-top: -30px;
  opacity: 1 !important;
}

.carousel-control-next-icon {
  background: url(../images/arrow-right-top.png);
  height: 52px;
  width: 27px;
}

button.btn.show-sob-btn {
  border: 2px solid #fff;
  border-radius: 0;
  background: none;
  color: #fff;
  position: relative;
  height: 44px;
  text-transform: uppercase;
  line-height: 40px;
  font-family: Geometria, sans-serif;
  font-size: 11px;
  width: 185px;
  padding: 0 20px;
  cursor: pointer;
  margin-bottom: 40px;
}
button.btn.show-sob-btn:hover {
  border: 2px solid #f8cfa3;
  color: #f8cfa3;
}
button.btn.show-video-btn {
  border: 2px solid #fff;
  border-radius: 0;
  background: none;
  color: #fff;
  position: relative;
  height: 44px;
  text-transform: uppercase;
  line-height: 43px;
  font-family: Geometria, sans-serif;
  font-size: 11px;
  width: 185px;
  text-align: left;
  padding: 0;
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}

button.btn.show-video-btn:before {
  content: '';
  position: absolute;
  right: 20px;
  background: url(../images/video-arrow.png);
  width: 11px;
  height: 13px;
  top: 50%;
  margin-top: -6px;
}

button.btn.show-video-btn:hover {
  background: #000;
  border-color: #000;
}

#carouselTopControls .carousel-indicators {
  top: 550px;
  right: 0;
  margin-right: 0;
  margin-left: 0;
  -ms-flex-pack: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

#carouselTopControls .carousel-indicators li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
}

#carouselTopControls .carousel-indicators li.active {
  opacity: 1;
}

.relative {
  position: relative;
  z-index: 1;
}

.top_bar .address {
  color: #f8cfa3;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 25px;
  margin-left: 190px;
}

header .icons-soc {
  margin-top: 15px;
  display: inline-block;
}

header .language .nav-link {
  color: #f8cfa3;
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.6;
  padding-right: 0;
  padding-left: 0;
  margin-right: 5px;
}

header .nav-item.language .nav-link.active {
  color: #fff;
}

header li.nav-item.language.language-last .nav-link {
  margin-right: 20px;
}

header .menu_horizontal {
  position: absolute;
  top: 67px;
  right: 0;
  height: 55px;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .menu_horizontal:not(.open) {
  width: 55px !important;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .menu_horizontal:not(.open) .theme-diz .nav-item .nav-link {
  opacity: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

header .menu_horizontal .status_menu {
  background: #f8cfa3;
  height: 55px;
  width: 55px;
  position: absolute;
  left: 0;
  top: 0;
}

header .menu_horizontal .theme-diz {
  background: #f8cfa3;
  position: absolute;
  left: 55px;
  height: 55px;
  top: 0;
  right: 0;
}

header .menu_horizontal .theme-diz .nav-item .nav-link {
  color: #140e10;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

header .menu_horizontal .theme-diz .nav-item {
  margin-right: 10px;
}

.icon_status_menu {
  width: 19px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 17px;
}

.icon_status_menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.icon_status_menu span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.icon_status_menu span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.icon_status_menu span:nth-child(1), .icon_status_menu span:nth-child(2) {
  top: 0px;
}

.icon_status_menu span:nth-child(3), .icon_status_menu span:nth-child(4) {
  top: 6px;
}

.icon_status_menu span:nth-child(5), .icon_status_menu span:nth-child(6) {
  top: 12px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(1), .menu_horizontal.open .icon_status_menu span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu_horizontal.open .icon_status_menu span:nth-child(2), .menu_horizontal.open .icon_status_menu span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu_horizontal.open .icon_status_menu span:nth-child(1) {
  left: 2px;
  top: 5px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(2) {
  left: calc(50% - 2px);
  top: 5px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.menu_horizontal.open .icon_status_menu span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.menu_horizontal.open .icon_status_menu span:nth-child(5) {
  left: 2px;
  top: 10px;
}

.menu_horizontal.open .icon_status_menu span:nth-child(6) {
  left: calc(50% - 2px);
  top: 10px;
}

section.callback h2 {
  @media (max-width: 400px) {
    font-size: 28px;
    margin-bottom: 0;
  }
}

section.content h2 {
  @media (max-width: 400px) {
    font-size: 28px;
  }
}

.right-carusel {
  @media (max-width: 991px) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.sob-block {
  @media (max-width: 991px) {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .name {
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  .date {
    @media (max-width: 991px) {
      font-size: 12px;
    }
  }
}

.right-soc {
  text-align: right;
  @media (max-width: 767px) {
    text-align: center;
    margin-bottom: 20px;
  }
}

footer {
  .container {
    &:before {
      @media (max-width: 986px) {
        display: none;
      }
    }
    .foot_left {
      @media (max-width: 991px) {
        text-align: center;
        padding-bottom: 20px;
      }
      .foot_left_ {
        a {
          color: #f8c985;
          &:hover {
            opacity: 0.5;
          }
        }
        @media (max-width: 991px) {
          display: inline-block;
        }
      }
    }
  }
  .right-soc {
    text-align: right;
    @media (max-width: 991px) {
      margin-top: 30px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.top_bar {
  .logo {
    @media (max-width: 460px) {
      position: relative;
      margin: 0 auto;
      top: 0;
    }
  }
  .row {
    .address {
      @media (max-width: 460px) {
        margin: 0;
        text-align: center;
        font-size: 11px;
      }
    }
  }
}

.form-control.callback-input {
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

section.callback p {
  @media (max-width: 400px) {
    font-size: 14px;
  }
}

header {
  @media (max-width: 778px) {
    z-index: 10;
    position: relative;
  }
}

.slider-home {
  position: relative;
  @media (max-width: 778px) {
    margin-top: 0;
  }
  #carouselTopControls.carousel {
    .carousel-control-prev {
      @media (max-width: 778px) {
        top: 172px;
      }
      @media (max-width: 500px) {
        top: 130px;
      }
    }
    .carousel-control-next {
      @media (max-width: 778px) {
        top: 172px;
      }
      @media (max-width: 500px) {
        top: 130px;
      }
    }
    @media (max-width: 981px) {
      height: 513px;
    }
    .carousel-item {
      img {
        @media (max-width: 500px) {
          max-height: 100%;
          height: 100%;
        }
      }
      @media (max-width: 500px) {
        height: 313px;
      }
    }
    @media (max-width: 500px) {
      height: 313px;
    }
  }
  .carousel-inner {
    max-width: 1400px;
    margin: 0 auto;
    .carousel-item {
      @media (max-width: 981px) {
        height: 413px;
      }
      @media (max-width: 768px) {
        height: auto;
      }
      img {
        @media (max-width: 768px) {
          min-height: 100%;
        }
      }
    }
  }
  .carousel-inner {
    @media (max-width: 981px) {
      overflow: visible;
    }
  }
  #carouselTopControls .carousel-item .container .carousel-caption {
    @media (max-width: 1140px) {
      top: 318px;
    }
    @media (min-width: 1000px) {
      left: 15px;
    }
    @media (max-width: 981px) {
      top: 345px;
    }
    @media (max-width: 768px) {
      top: 300px;
    }
    @media (max-width: 500px) {
      top: 180px;
    }
    @media (max-width: 575px) {
      left: 20px;
    }

  }
}

.silider-arrows {
  .container {
    position: relative;
    .carousel-control-next-icon {
      background: url(../images/arrow-right-top.png) center center no-repeat;
      height: 52px;
      width: 27px;
      background-size: contain;
      right: 15px;
      top: 300px;
      z-index: 2;
      position: absolute;
      @media (max-width: 767px) {
        top: 150px;
      }
      @media (max-width: 575px) {
        height: 32px;
        width: 17px;
        top: 120px;
      }
      @media (max-width: 480px) {
        top: 60px;
      }
      @media (max-width: 335px) {
        top: 30px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    .carousel-control-prev-icon {
      background: url(../images/arrow-left-top.png) center center no-repeat;
      height: 52px;
      width: 27px;
      background-size: contain;
      left: 15px;
      top: 300px;
      z-index: 2;
      position: absolute;
      @media (max-width: 767px) {
        top: 150px;
      }
      @media (max-width: 575px) {
        height: 32px;
        width: 17px;
        top: 120px;
      }
      @media (max-width: 480px) {
        top: 60px;
      }
      @media (max-width: 335px) {
        top: 30px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.home-slider {
  margin: 0 auto;
  height: 613px;
  @media (max-width: 767px) {
    height: 400px;
  }
  max-width: 4200px;
  @media (max-width: 1400px) {
    max-width: 100%;
  }
  width: 100%;
  overflow: hidden;
  .slider {
    .slick-list {
      .slick-track {
        .block_slick_ {
          width: 1400px;
          @media (max-width: 1400px) {
            width: auto;
          }
          img {
            max-width: 100%;
            width: 100%;
            @media (max-width: 575px) {
              width: 575px;
            }
            @media (max-width: 560px) {
              width: 560px;
            }
            @media (max-width: 540px) {
              width: 540px;
            }
            @media (max-width: 520px) {
              width: 520px;
            }
            @media (max-width: 500px) {
              width: 500px;
            }
            @media (max-width: 480px) {
              width: 480px;
            }
            @media (max-width: 460px) {
              width: 460px;
            }
            @media (max-width: 430px) {
              width: 430px;
            }
            @media (max-width: 400px) {
              width: 400px;
            }
            @media (max-width: 370px) {
              width: 370px;
            }
            @media (max-width: 340px) {
              width: 340px;
            }
            @media (max-width: 320px) {
              width: 320px;
            }
          }
          .container {
            position: relative;
            .text-left {
              position: absolute;
              top: 400px;
              left: -15px;
              color: #fff;
              font-size: 20px;
              padding: 0 35px;
              z-index: 200;
              @media (max-width: 767px) {
                top: 250px;
              }
              @media (max-width: 575px) {
                top: 180px;
              }
              @media (max-width: 470px) {
                top: 160px;
              }
              @media (max-width: 480px) {
                top: 140px;
              }
              @media (max-width: 407px) {
                top: 120px;
              }
              @media (max-width: 380px) {
                top: 110px;
              }
              @media (max-width: 335px) {
                top: 80px;
              }
              h3 {
                text-transform: uppercase;
                font-size: 30px;
                color: #fff;
                @media (max-width: 575px) {
                  font-size: 20px;
                }
              }
              button.btn.show-video-btn {
                @media (max-width: 1140px) {
                  margin-bottom: 20px;
                }
                @media (max-width: 575px) {
                  height: 30px;
                  line-height: 30px;
                  width: 150px;
                  padding-left: 10px;
                  margin-bottom: 10px;
                }
                &:before {
                  @media (max-width: 575px) {
                    right: 10px;
                  }
                }
              }
            }
          }
        }
        .block_slick_.slick-slide {
          opacity: 0.2;
          @media (max-width: 1400px) {
            opacity: 1;
          }
        }
        .block_slick_.slick-slide.slick-current, .block_slick_.slick-slide.slick-center {
          opacity: 1;
        }
      }
    }
  }
}
