@import "compass/css3";
@include font-face("FontAwesome", font-files("FontAwesome.otf"));
@include font-face("FontAwesomeWebfont", font-files("fontawesome-webfont.svg", "fontawesome-webfont.ttf", "fontawesome-webfont.woff", "fontawesome-webfont.woff2"), "fontawesome-webfont.eot"
/* относительный путь к .eot файлу для IE */

);
@include font-face("GlyphiconsHalflingsRegular", font-files("glyphicons-halflings-regular.svg", "glyphicons-halflings-regular.ttf", "glyphicons-halflings-regular.woff", "glyphicons-halflings-regular.woff2"), "glyphicons-halflings-regular.eot"
/* относительный путь к .eot файлу для IE */

);
$primary-color: white;
$primary-color-i: black;
$font-size: 12px;
$Raleway: 'Raleway',
sans-serif;
$FontAwesome: "FontAwesome";
$FontAwesomeWebfont: "FontAwesomeWebfont";
$GlyphiconsHalflingsRegular: "GlyphiconsHalflingsRegular";
$backround-transparent: transparent;
$width: 100%;
$display: flex;
$text-transform-ul: uppercase;
$text-decoration-li: underline;
$background-button: #288db3;
$position-logo: absolute;
$padding: 10px;
body {
    font-family: $Raleway;
    font-size: $font-size;
    color: $primary-color;
}

.img-none {
    display: none;
}

.block-1 {
    background: url("../img/front.png") center no-repeat;
    background-size: cover;
    height: 718px;
}

.block-1--flex-box--head {
    background: $backround-transparent;
    display: $display;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    img {
        margin-left: 6%;
        margin-top: 18%;
        width: ($width)-6;
    }
    .main-menu {
        display: none;
    }
    ul {
        display: $display;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 1.642%;
        margin-left: 4.78%;
        text-transform: $text-transform-ul;
        li {
            display: $display;
            margin: ($padding)+10;
            letter-spacing: 2px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            a {
                color: $primary-color;
            }
            button {
                background: $background-button;
                text-transform: $text-transform-ul;
                border: none;
                padding-top: $padding;
                padding-bottom: $padding;
                padding-right: ($padding)+20;
                padding-left: ($padding)+20;
                letter-spacing: 3px;
                font-family: "Raleway", sans-serif;
                font-weight: 800;
                font-size: 13px;
                margin-top: -11px;
            }
            button:hover {
                background: $primary-color;
                color: $background-button;
            }
        }
        li:hover {
            text-decoration: $text-decoration-li;
        }
    }
}

.block-1--img-logo {
    display: $display;
    justify-content: space-around;
}

.block-1--text-black {
    display: $display;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: ($width)-90.45;
    i {
        font-size: ($font-size)+17;
        color: $primary-color-i;
        font-family: $FontAwesome;
        margin-top: 0.2%;
    }
    font {
        font-size: ($font-size)+56;
        color: $primary-color-i;
        text-transform: $text-transform-ul;
        font-weight: 700;
        letter-spacing: ($padding)-0.72;
        margin-top: 0.1%;
    }
    hr {
        border: 3px solid $primary-color-i;
        width: ($padding)+25;
        margin-top: 0.28%;
    }
    p {
        font-size: ($font-size)+5;
        color: $primary-color-i;
        text-transform: $text-transform-ul;
        letter-spacing: ($padding)-6.8;
        font-weight: 800;
        margin-top: 0.1%;
    }
    button {
        width: ($padding)+35;
        height: ($padding)+35;
        border-radius: ($padding)+20;
        background: transparentize($primary-color, .6);
        border: 1px solid $primary-color;
        color: $primary-color;
        font-size: 16px;
        padding-top: ($padding)-4;
        margin-top: 10.5%;
    }
    button:hover {
        background: $primary-color;
        border: 1px solid transparentize($primary-color-i, .6);
        color: transparentize($primary-color-i, .6);
    }
}

.block-2 {
    background: url("../img/front_welcome.png") center no-repeat;
    background-size: 86%;
    height: 644px;
    background-color: #e9e9e9;
}

.block-2--flex-box--main {
    display: $display;
    flex-wrap: nowrap;
    flex-direction: column;
    p {
        color: $primary-color-i;
        text-transform: $text-transform-ul;
        font-size: ($padding)+11;
        letter-spacing: ($padding)-4.99;
        font-family: $GlyphiconsHalflingsRegular, sans-serif;
        padding-top: ($padding)+80;
        margin-left: 1.1%;
    }
    b {
        font-size: ($padding)+30;
        color: $primary-color-i;
        font-weight: 400;
        margin-top: ($padding)-55;
        margin-left: 1%;
    }
    .font-0 {
        color: black;
        padding-top: 30px;
        font-size: 16px;
        font-weight: 200;
        width: 59%;
        margin-left: 1%;
        line-height: 1.6;
        letter-spacing: 0.02px;
    }
    .font-1 {
        color: black;
        padding-top: 30px;
        font-size: 15px;
        font-weight: 200;
        width: 63%;
        margin-left: 1%;
        letter-spacing: 0.55px;
        line-height: 1.7;
    }
    .font-2 {
        color: black;
        padding-top: 30px;
        font-size: 16px;
        font-weight: 200;
        width: 63%;
        margin-left: 1%;
        line-height: 1.7;
    }
    a {
        color: $primary-color;
        margin-top: ($padding)+35;
    }
    button {
        background: #288db3;
        text-transform: uppercase;
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 40px;
        padding-left: 40px;
        letter-spacing: 4px;
        font-size: 11px;
        margin-top: 0.4%;
        margin-left: 1.2%;
        font-weight: bolder;
    }
    button:hover {
        background: $primary-color;
        color: $background-button;
    }
}

.block-3 {
    background: $primary-color;
    .container {
        max-width: ($padding)+930;
    }
    .block-3--flex-box--main-0 {
        display: $display;
        width: $width;
        background: #eee;
        margin-top: 12.5%;
        margin-bottom: ($padding)+45;
        span {
            img {
                width: 94.3%;
                height: auto;
            }
        }
        div {
            display: $display;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                color: black;
                text-transform: uppercase;
                font-size: 21px;
                width: 100%;
                letter-spacing: 4px;
                font-family: "GlyphiconsHalflingsRegular", sans-serif;
                text-align: center;
                margin-left: -7%;
                font-weight: 600;
                margin-top: 0.9%;
            }
            b {
                font-size: 40px;
                color: black;
                font-weight: 400;
                margin-top: -39px;
                margin-left: -7%;
            }
            font {
                color: black;
                font-size: medium;
                font-weight: 200;
                width: 65%;
                line-height: 1.8;
                text-align: center;
                margin-left: -4%;
            }
            a {
                color: $primary-color;
            }
            button {
                background: #288db3;
                text-transform: uppercase;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 30px;
                padding-left: 30px;
                letter-spacing: 2px;
                font-size: 12px;
                margin-left: -13%;
                margin-top: 30px;
                font-weight: bolder;
            }
            button:hover {
                background: $primary-color;
                color: $background-button;
            }
        }
    }
    .block-3--flex-box--main-1 {
        display: $display;
        width: $width;
        background: #eee;
        margin-bottom: ($padding)+45;
        span {
            img {
                width: 508px;
                height: auto;
            }
        }
        div {
            display: $display;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                color: black;
                text-transform: uppercase;
                font-size: 21px;
                width: 100%;
                letter-spacing: 4px;
                font-family: "GlyphiconsHalflingsRegular", sans-serif;
                text-align: center;
                margin-left: -3%;
                font-weight: 600;
                margin-top: 0.9%;
            }
            b {
                font-size: 40px;
                color: black;
                font-weight: 400;
                margin-top: -30px;
                margin-left: -4%;
            }
            font {
                color: black;
                font-size: medium;
                font-weight: 200;
                width: 67%;
                line-height: 1.8;
                text-align: center;
                margin-left: -4%;
            }
            a {
                color: $primary-color;
            }
            button {
                background: #288db3;
                text-transform: uppercase;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 30px;
                padding-left: 30px;
                letter-spacing: 2px;
                font-size: 12px;
                margin-left: -7%;
                margin-top: 25px;
                font-weight: bolder;
            }
            button:hover {
                background: $primary-color;
                color: $background-button;
            }
        }
    }
    .block-3--flex-box--main-2 {
        display: $display;
        width: $width;
        background: #eee;
        margin-bottom: 75px;
        margin-left: 0%;
        margin-top: 6.4%;
        span {
            img {
                width: 503px;
                height: auto;
            }
        }
        div {
            display: $display;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                color: black;
                text-transform: uppercase;
                font-size: 21px;
                width: 100%;
                letter-spacing: 4px;
                font-family: "GlyphiconsHalflingsRegular", sans-serif;
                text-align: center;
                margin-left: 3%;
                font-weight: 600;
                margin-top: 0.9%;
            }
            b {
                font-size: 40px;
                color: black;
                font-weight: 400;
                margin-top: -30px;
                margin-left: 3%;
            }
            font {
                color: black;
                font-size: medium;
                font-weight: 200;
                width: 67%;
                line-height: 1.8;
                text-align: center;
                margin-left: 0%;
            }
            a {
                color: $primary-color;
            }
            button {
                background: #288db3;
                text-transform: uppercase;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 30px;
                padding-left: 30px;
                letter-spacing: 2px;
                font-size: 12px;
                margin-left: -7%;
                margin-top: 25px;
                font-weight: bolder;
            }
            button:hover {
                background: $primary-color;
                color: $background-button;
            }
        }
    }
}

.block-4 {
    background: url("../img/front-footer.png") center no-repeat;
    background-size: 100%;
    height: 869px;
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: -32px;
    .column-0 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 837px;
        width: 55%;
        background: rgba(255, 255, 255, 0.7);
        justify-content: flex-start;
        padding-top: 74px;
        .p-head {
            color: black;
            text-transform: uppercase;
            font-size: 23px;
            width: 100%;
            letter-spacing: 4px;
            font-family: "GlyphiconsHalflingsRegular", sans-serif;
            text-align: center;
            padding-top: 24px;
        }
        b {
            font-size: 40px;
            color: black;
            font-weight: 400;
            margin-top: -45px;
        }
        .row-0 {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            width: 83%;
            margin-top: 2px;
            margin-left: 5px;
            .column-1 {
                display: $display;
                flex-direction: column;
                background: $backround-transparent;
                border-left: 1px solid #eee;
                width: ($width)-20;
                .card {
                    text-align: center;
                    padding: ($padding)+20;
                    img {
                        margin-top: -1px;
                    }
                    p {
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 7px;
                        letter-spacing: 2px;
                        color: black;
                        margin-top: 9px;
                    }
                    font {
                        color: $primary-color-i;
                        font-size: $font-size;
                        font-size: medium;
                        font-weight: 200;
                        width: ($width)-35;
                        text-align: center;
                    }
                }
                .man {
                    border-bottom: 1px solid #eee;
                    text-align: center;
                    padding: ($padding)+20;
                    padding-bottom: ($padding)+15;
                    img {
                        margin-top: 2px;
                    }
                    p {
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 9px;
                        letter-spacing: 2px;
                        color: black;
                    }
                    font {
                        color: $primary-color-i;
                        font-size: $font-size;
                        font-size: medium;
                        font-weight: 200;
                        width: ($width)-35;
                        text-align: center;
                    }
                }
            }
            .column-2 {
                display: $display;
                flex-direction: column;
                background: $backround-transparent;
                width: ($width)-20;
                .palma {
                    text-align: center;
                    padding: ($padding)+20;
                    img {
                        margin-top: 0px;
                    }
                    p {
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 7px;
                        letter-spacing: 2px;
                        color: black;
                        margin-top: 9px;
                    }
                    font {
                        color: $primary-color-i;
                        font-size: $font-size;
                        font-size: medium;
                        font-weight: 200;
                        width: ($width)-35;
                        text-align: center;
                    }
                }
                .book {
                    border-bottom: 1px solid #eee;
                    text-align: center;
                    padding: ($padding)+16;
                    padding-bottom: 28px;
                    img {
                        margin-top: 3px;
                    }
                    p {
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        letter-spacing: 2px;
                        color: $primary-color-i;
                    }
                    font {
                        color: black;
                        font-size: medium;
                        font-weight: 200;
                        text-align: center;
                        display: flex;
                        width: 98%;
                    }
                }
            }
        }
        a {
            color: $primary-color;
        }
        button {
            background: #288db3;
            text-transform: uppercase;
            border: none;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-right: 62px;
            padding-left: 63px;
            letter-spacing: 4px;
            font-weight: 700;
            font-size: 12px;
            margin-top: 20px;
            margin-left: 8px;
        }
        button:hover {
            background: $primary-color;
            color: $background-button;
        }
    }
}

.block-5 {
    display: $display;
    background: #0a1c2e;
    height: ($padding)+410;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .column-0 {
        display: $display;
        flex-direction: row;
        align-items: flex-start;
        width: ($width)-10;
        margin-top: ($padding)+40;
        border-bottom: 0.5px solid #233343;
        padding-bottom: ($padding)+40;
        .block-5--ul {
            display: $display;
            flex-direction: column;
            line-height: 2;
            margin-right: ($width)-90;
            ul {
                display: $display;
                text-transform: $text-transform-ul;
                flex-direction: column;
                align-items: flex-start;
                a {
                    color: $primary-color;
                    li {
                        font-size: ($padding)+5;
                        font-weight: 600;
                        display: table;
                    }
                    li:hover {
                        text-decoration: $text-decoration-li;
                    }
                }
            }
        }
        img {
            margin-right: ($width)-88;
        }
        .input-type {
            display: flex;
            flex-direction: row-reverse;
            input {
                height: ($padding)+30;
                width: ($padding)+240;
                background: #0a1c2e;
                border-color: $primary-color;
                border: 1px solid $primary-color;
                padding-left: 10px;
            }
            button {
                position: absolute;
                height: ($padding)+30;
                width: ($padding)+40;
                background: $primary-color;
                color: #0a1c2e;
                border: 1px solid $primary-color;
                border-left: none;
            }
            button:hover {
                background: #288db3
            }
        }
    }
    .column-1 {
        display: $display;
        flex-direction: row;
        width: $width;
        margin-bottom: ($padding)+40;
        justify-content: flex-end;
        margin-bottom: 50px;
        margin-right: ($width)-90;
        .foot {
            .span-1 {
                display: $display;
                align-items: center;
                justify-content: space-around;
            }
            span {
                color: #5b6a79;
                font {
                    color: $primary-color;
                }
            }
        }
    }
}

.ul-m {
    margin-left: ($padding)+10;
}

@media screen and (max-device-width: 768px) {
    .block-1 {
        background: url("../img/front.png") center no-repeat;
        background-size: (($width)*2)+42;
        height: 100em;
        .block-1--flex-box--head {
            padding-top: ($padding)+10;
            padding-left: ($padding)+70;
            .block-1--img-logo {
                img {
                    width: ($width)+40;
                }
            }
            .main-menu {
                display: $display;
                margin: 0;
                padding: 0;
                list-style: none;
                border: none;
            }
            .main-menu > li {
                position: relative;
                display: inline-block;
                left: ($width)-10;
            }
            .main-menu a {
                display: block;
                margin-left: -1px;
                padding: 8px 10px;
                color: #0088cc;
                border-left: 1px solid #e5e5e5;
            }
            .main-menu a:hover {
                background: #000;
            }
            .main-menu .sub-menu {
                position: absolute;
                left: -118px;
                display: none;
                margin-top: 20px;
                padding: 0;
                list-style: none;
                background: #000;
            }
            .main-menu .sub-menu a {
                border: none;
                font-size: medium;
                color: white;
            }
            .main-menu > li:hover .sub-menu {
                display: block;
            }
            ul {
                display: none;
            }
        }
        .block-1--text-black {
            i {
                font-size: ($font-size)+25;
            }
            font {
                font-size: ($font-size)+70;
            }
            hr {}
            p {
                font-size: ($font-size)+13;
            }
            button {
                margin-top: 15em;
                width: ($padding)+80;
                height: ($padding)+80;
                border-radius: ($padding)+50;
                font-size: ($padding)+22;
            }
        }
        .block-1--img-logo {
            display: $display;
            align-items: center;
            justify-content: space-around;
        }
    }
    .img-none {
        display: $display;
        width: $width;
    }
    .block-2 {
        background: #eee;
        height: ($padding)+691;
        text-align: center;
        .block-2--flex-box--main {
            align-items: center;
            justify-content: center;
            p {
                font-size: ($padding)+19;
                padding-top: 0px;
                font-weight: 600;
            }
            b {
                display: none;
            }
            font {
                font-size: x-large;
                width: $width;
            }
            a {
                color: $primary-color;
                margin-top: ($padding)+35;
            }
            button {
                padding-top: ($padding)+10;
                padding-bottom: ($padding)+10;
                padding-right: ($padding)+60;
                padding-left: ($padding)+60;
                font-size: large;
            }
            button:hover {
                background: $primary-color;
                color: $background-button;
            }
        }
    }
    .block-3 {
        background: #eee;
        .container {
            max-width: ($padding)+948;
        }
        .block-3--flex-box--main-0 {
            margin-top: ($padding)-10;
            margin-bottom: ($padding)+20;
            flex-direction: column;
            span {
                img {
                    width: $width;
                    height: auto;
                }
            }
            div {
                display: $display;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    color: $primary-color-i;
                    text-transform: $text-transform-ul;
                    font-size: ($padding)+13;
                    width: $width;
                    letter-spacing: ($padding)-8;
                    font-family: $GlyphiconsHalflingsRegular, sans-serif;
                    text-align: center;
                }
                b {
                    font-size: ($padding)+30;
                    color: $primary-color-i;
                    font-weight: 400;
                    margin-top: ($padding)-55;
                }
                font {
                    color: $primary-color-i;
                    font-size: $font-size;
                    font-size: medium;
                    font-weight: 200;
                    width: ($width)-35;
                    text-align: center;
                }
                a {
                    color: $primary-color;
                }
                button {
                    padding-top: $padding;
                    padding-bottom: $padding;
                    padding-right: ($padding)+40;
                    padding-left: ($padding)+40;
                    font-size: large;
                }
                button:hover {
                    background: $primary-color;
                    color: $background-button;
                }
            }
        }
        .block-3--flex-box--main-1 {
            flex-direction: column-reverse;
            margin-bottom: 0px;
            padding-bottom: ($padding)+30;
            span {
                img {}
            }
            div {
                p {
                    font-size: ($padding)+13;
                }
                b {
                    font-size: ($padding)+30;
                }
                font {
                    font-size: medium;
                }
                a {
                    color: $primary-color;
                }
                button {
                    padding-top: $padding;
                    padding-bottom: $padding;
                    padding-right: ($padding)+40;
                    padding-left: ($padding)+40;
                    font-size: large;
                }
                button:hover {
                    background: $primary-color;
                    color: $background-button;
                }
            }
        }
        .block-3--flex-box--main-2 {
            flex-direction: column;
            margin-bottom: 0px;
            padding-bottom: ($padding)+30;
            span {
                img {}
            }
            div {
                p {
                    font-size: ($padding)+13;
                }
                b {
                    font-size: ($padding)+30;
                }
                font {
                    font-size: medium;
                }
                a {
                    color: $primary-color;
                }
                button {
                    padding-top: $padding;
                    padding-bottom: $padding;
                    padding-right: ($padding)+40;
                    padding-left: ($padding)+40;
                    font-size: large;
                }
                button:hover {
                    background: $primary-color;
                    color: $background-button;
                }
            }
        }
    }
    .block-4 {
        background: url("../img/join-bg.jpg") center no-repeat;
        background-size: cover;
        height: 770px;
        .column-0 {
            width: $width;
            padding-top: ($padding)+20;
            height: 770px;
            p {
                font-size: ($padding)+19;
                font-weight: 600;
                letter-spacing: 5px;
            }
            b {}
            .row-0 {
                .column-1 {
                    .card {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                    .man {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                }
                .column-2 {
                    .palma {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                    .book {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                }
            }
            a {
                color: $primary-color;
            }
            button {
                padding-top: ($padding)+5;
                padding-bottom: ($padding)+5;
                padding-right: ($padding)+70;
                padding-left: ($padding)+70;
                font-size: large;
            }
            button:hover {
                background: $primary-color;
                color: $background-button;
            }
        }
    }
    .block-5 {
        .column-0 {
            flex-direction: column;
            align-items: center;
            margin-top: ($padding);
            .block-5--ul {
                flex-direction: row;
                ul {
                    align-items: center;
                    a {
                        color: $primary-color;
                        li {
                            font-size: large;
                        }
                        li:hover {
                            text-decoration: $text-decoration-li;
                        }
                    }
                }
            }
            img {
                margin-right: ($width)-75;
                width: ($width)-75;
                margin-top: ($padding)+40;
                margin-bottom: ($padding)+40;
            }
            .input-type {
                input {
                    height: ($padding)+50;
                    font-size: large;
                }
                button {
                    height: ($padding)+50;
                    font-size: large;
                }
                button:hover {}
            }
        }
        .column-1 {
            justify-content: center;
            margin-right: 0%;
            .foot {
                .span-1 {
                    display: $display;
                    align-items: center;
                    justify-content: space-around;
                }
                span {
                    font-size: large;
                    color: #5b6a79;
                    font {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .ul-m {
        margin-left: ($padding)+10;
    }
}

@media screen and (max-device-width: 480px) {
    .block-4 {
        background: url("../img/join-bg.jpg") center no-repeat;
        background-size: cover;
        height: 1110px;
        .column-0 {
            width: $width;
            padding-top: ($padding)+20;
            padding-bottom: ($padding)+20;
            height: 1110px;
            p {
                font-size: ($padding)+19;
                font-weight: 600;
                letter-spacing: 5px;
            }
            b {}
            .row-0 {
                flex-direction: column;
                width: ($width)-35;
                .column-1 {
                    .card {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                    .man {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                }
                .column-2 {
                    .palma {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                    .book {
                        p {
                            font-size: ($padding)+8;
                        }
                        font {
                            font-size: x-large;
                        }
                    }
                }
            }
            a {
                color: $primary-color;
            }
            button {
                padding-top: ($padding)+5;
                padding-bottom: ($padding)+5;
                padding-right: ($padding)+70;
                padding-left: ($padding)+70;
                font-size: large;
            }
            button:hover {
                background: $primary-color;
                color: $background-button;
            }
        }
    }
}
