body{
    background: #eee;
}
.container__block_user_on{
    border: 1px solid #000;
    padding: 5px 5px 5px 0;
    margin: 5px;
    background: #e2e2e2;
    text-align: center;
}
.container__block_user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container__block_user_on-capitalize{
    text-transform: capitalize;
}