/*navbar*/

.navbar_fixed {
    background: #f8f8f8;
}
.navbar_fixed_text {
    font-size: 15px !important;
    color: rgb( 128, 203, 196) !important;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-left: 20px;
}
.navbar_fixed_text_drop {
    font-size: 15px !important;
    color: rgb( 128, 203, 196) !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
}
.navbar_fixed_text_drop:hover {
    color: rgb( 255, 88, 35) !important;
}
.drop_prod {
    margin-left: 20px;
}
.dropdown-menu_p {
    max-width: 160px !important;
}
.navbar_fixed_text:hover {
    color: rgb( 255, 88, 35) !important;
}
.navbar_fixed_text_in {
    font-size: 15px !important;
    color: rgb( 128, 203, 196) !important;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-left: 20px;
}
.navbar_fixed_text_in:hover {
    color: rgb( 255, 88, 35) !important;
}

/*head*/

.head_bac {
    background: #f6f6f6;
}
.text_logo_z {
    font-size: 72px;
    color: #80cbc4;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    float: left;
}
.text_logo_o1 {
    font-size: 72px;
    color: #99b4a4;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    float: left;
}
.text_logo_o2 {
    font-size: 72px;
    color: #aea18a;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    float: left;
}
.text_logo_o3 {
    font-size: 72px;
    color: #cc8663;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    float: left;
}
.text_logo_o4 {
    font-size: 72px;
    color: #ff5722;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    float: left;
}
.logo {
    display: block;
}
.img_logo {
    float: left;
    padding-right: 15px;
}
.opis {
    display: block;
    margin-top: 15px;
}
.text_head {
    font-size: 16px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
.text_head_20 {
    font-size: 16px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-left: 20px;
    line-height: 1.5;
}
.text_head_40 {
    font-size: 16px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-left: 40px;
    line-height: 1.5;
}
.opis_ad {
    display: block;
}
.text_head_tel {
    font-size: 21px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.text_head_tel:hover {
    color: rgb( 255, 88, 35);
}
.text_head_ad {
    font-size: 21px;
    color: rgb( 128, 203, 196);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    border-bottom: 1px dashed rgb( 128, 203, 196);
}
.text_head_ad:hover {
    color: rgb( 255, 88, 35);
    border-bottom: 1px dashed rgb( 255, 88, 35);
}
.div_basket {
    display: block;
    margin-top: 20px;
}
.img_basket {
    width: 18%;
    height: auto;
}
.text_head_bas {
    font-size: 21px;
    color: rgb( 128, 203, 196);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid rgb( 128, 203, 196);
}
.text_head_bas:hover {
    color: rgb( 255, 88, 35);
    border-bottom: 1px solid rgb( 255, 88, 35);
}

/*stock*/

.stock {
    width: 100%;
    height: auto;
}

/*animals*/

.img_anim {
    background: url(https://raw.githubusercontent.com/zaytsevaleksandrv/zaytsevaleksandrv.github.io/master/zoo/img/fonts1.png) center no-repeat;
    background-size: cover;
}
.text-anim {
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.text-anim_1 {
    font-size: 36px;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.div_anim {
    display: block;
    text-align: center;
    padding-bottom: 40px;
}
.div_anim_1 {
    display: block;
    text-align: center;
    padding-bottom: 80px;
}
.container_flex_anim {
    flex-direction: row;
    display: inline-table;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 40px;
}
.container_flex_anim_1 {
    flex-direction: row;
    display: inline-table;
    text-align: center;
}
.container_flex_anim_2 {
    float: right;
    padding-right: 40px;
    margin-top: -73px;
    margin-bottom: 80px;
}
.text_anim_block {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.text_anim_block:hover {
    color: rgb( 255, 88, 35);
    font-weight: 700;
}
.img-otstup {
    margin-bottom: 15px;
    width: 60%;
}
.text_anim_block_f {
    font-size: 17px;
    text-transform: uppercase;
    color: #f1e9e1;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/*otzyvi*/

.otv_bac {
    background: #fff;
}
.text_anim_block_o {
    font-size: 16px;
    color: #5b4e4b;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
}
.img_otz {
    margin-bottom: 50px;
}
.zag {
    margin-top: 30px;
}
.bac_footer {
    background: #6f6f6f;
}
.fotter_div {
    text-align: center;
    display: block;
    margin-top: 80px;
}
.footer_text {
    font-size: 15px !important;
    color: #c7c2c2 !important;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-left: 100px;
}
.footer_text:hover {
    color: rgb( 255, 88, 35) !important;
}
.footer_text_13 {
    font-size: 15px !important;
    color: #c7c2c2 !important;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-left: 100px;
}
.footer_text_13:hover {
    color: rgb( 255, 88, 35) !important;
}
.footer_text_a {
    font-size: 15px !important;
    color: #c7c2c2 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-left: 100px;
    text-align: left;
}
.footer_text_2 {
    font-size: 15px !important;
    color: #c7c2c2 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-left: 100px;
    text-decoration: underline;
}
.footer_text_2:hover {
    color: rgb( 255, 88, 35) !important;
}
.img_soc {
    width: 21%;
    margin-left: 11px;
    margin-top: 10px;
}
.img_anim_tr {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.img_anim_tr:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.img_anim_tr_1 {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.img_anim_tr_1:hover {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}

/*list feed*/

.list_feed {
    background: #c4c3c3;
}
.breadcrumb {
    background-color: #c4c3c3 !important;
    color: #333 !important;
}
.flex_column {
    display: block;
    flex-direction: column;
    padding-left: 15px;
}
.flex_row {
    display: block;
    flex-direction: row;
}
.block_feed_anim {
    background: #fff;
    margin-bottom: 5px;
}
.block_feed_tov {
    background: #f6f6f6;
    margin-bottom: 50px;
    margin-left: 25px;
}
.img-otstup_feed {
    width: 20%;
    margin-right: 12px;
}
.feed_text {
    font-size: 15px !important;
    color: rgb( 128, 203, 196) !important;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
}
.feed_text:hover {
    color: rgb( 255, 88, 35) !important;
}
.feed_text:active {
    color: rgb( 255, 88, 35) !important;
}
.dropdown-menu_1 {
    position: static !important;
    float: none !important;
    border: 0px solid #ccc !important;
    border: 0px solid rgba(0, 0, 0, .15) !important;
    text-align: justify !important;
    text-decoration: underline;
}
.feed_text_li {
    color: rgb( 128, 203, 196)!important;
    text-decoration: underline;
}
.feed_text_li:hover {
    color: rgb( 255, 88, 35) !important;
    text-decoration: none !important;
}
.dropdown-menu_1>li>a {
    padding: 3px 60px !important;
}
.block_block {
    display: block;
    border-right: 2px solid #c4c3c3;
    margin-top: 15px;
}
.img_tov {
    width: 50%;
    margin: 15px 40px;
}
.img_tov_1 {
    width: 75%;
    margin: 15px 40px;
}
.img_tov_2 {
    width: 50%;
    margin: 25px;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 73%;
    color: rgb( 128, 203, 196);
    font-size: x-large;
}
.rating> span {
    display: inline-block;
    position: relative;
    width: 1em;
}
.rating> span:hover:before, .rating> span:hover~ span:before {
    content: "\2605";
    position: absolute;
}
.price_text {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif !important;
    color: #333;
    margin-bottom: 10px;
}
.name_text_tov {
    font-size: 15px !important;
    color: rgb( 128, 203, 196) !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    text-decoration: underline;
    margin-bottom: 7px;
}
.name_text_tov:hover {
    color: rgb( 255, 88, 35) !important;
}
.ves_text_tov {
    font-size: 15px !important;
    color: #333 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-bottom: 7px;
}
.nal_text_tov {
    font-size: 15px !important;
    color: #333 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-bottom: 7px;
}
.opis_text_tov {
    font-size: 15px !important;
    color: #333 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-bottom: 7px;
}
.kroshki {
    font-size: 14px !important;
    color: rgb( 255, 88, 35) !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
}
.order_b {
    width: 70%;
}
.order_b-block {
    display: block;
    text-align: -webkit-center;
    margin-top: 30px;
}
.add_comment {
    display: block;
    width: 40px;
    height: 150px;
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 99999;
}
.img_basket_btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn_basket {
    background-color: rgb( 128, 203, 196);
    border: none;
}
.btn_basket:hover {
    background: rgb( 255, 88, 35);
}
.img_basket_order {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.block_head_an {
    display: table-cell;
    text-align: center;
}
.pol_block {
    text-align: -webkit-center;
    margin-bottom: 30px;
}
.korm_text {
    font-size: 36px !important;
    color: #333 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
}
.korm_text_s {
    font-size: 20px !important;
    color: #333 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
}
.order_by_zak {
    background: url(https://raw.githubusercontent.com/zaytsevaleksandrv/zaytsevaleksandrv.github.io/master/zoo/img/order_b.png) center no-repeat;
    width: 150px;
    height: 150px;
    display: block;
}
.order_by_zak:hover {
    background: url(https://raw.githubusercontent.com/zaytsevaleksandrv/zaytsevaleksandrv.github.io/master/zoo/img/order_b_hover.png) center no-repeat;
}
.order_by_zak:active {
    background: url(https://raw.githubusercontent.com/zaytsevaleksandrv/zaytsevaleksandrv.github.io/master/zoo/img/order_b_act.png) center no-repeat;
    width: 150px;
    height: 150px;
}
.form-control_1 {
    width: 120% !important;
}
.img_morda {
    width: 40%;
    text-align: center;
    padding-top: 40px;
}
.block_feed_mord {
    background: #fff;
    margin-bottom: 50px;
    margin-top: 25px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
}
.img_stock {
    width: 70%;
    text-align: center;
    padding-top: 40px;
}
.img_stock:hover {
    border: 1px solid rgb( 128, 203, 196);
}
.iframe_kart {
    display: block;
    text-align: center;
}
.iframe_kart:hover {
    border: 1px solid rgb( 128, 203, 196);
}

/*podrobnee*/

.btn_in_basket {
    float: right;
    font-size: 16px !important;
    border: none;
    font-family: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 20px;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-color {
    background: rgb( 128, 203, 196);
    color: #fff;
}
.btn-color:hover {
    background: rgb(108, 173, 167);
}
.btn-color:before {
    position: absolute;
    height: 93%;
    left: 0;
    top: 0;
}
.icon-cart:before {
    background: url(../img/basket_in.png) center no-repeat;
    content: " ";
    width: 33%;
}
.number {
    font-size: 16px !important;
    text-align: center;
    border: 1px solid #c4c3c3;
    padding-top: 9px;
    padding-bottom: 9px;
}
.minus {
    float: right;
    font-size: 28px !important;
    border: none;
    font-family: initial;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: rgb( 128, 203, 196);
    color: #fff;
}
.minus:hover {
    background: rgb(108, 173, 167);
}
.plus {
    float: right;
    font-size: 28px !important;
    border: none;
    font-family: initial;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: rgb( 128, 203, 196);
    color: #fff;
}
.plus:hover {
    background: rgb(108, 173, 167);
}
.price_text_r {
    font-size: 16px;
    float: right;
    padding-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif !important;
    color: #333;
    margin-bottom: 10px;
}
.ves_text_tov_g {
    font-size: 15px !important;
    color: #333 !important;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    margin-bottom: 7px;
}
.otstup_0 {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 20px;
}
.dop_in {
    display: block;
    text-align: -webkit-right;
}
.text_call {
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;
    color: rgb( 128, 203, 196);
    border-bottom: 1px dashed rgb( 128, 203, 196);
    text-decoration: none !important;
}
.text_call:hover {
    color: rgb( 255, 88, 35);
    border-bottom: 1px dashed rgb( 255, 88, 35);
}
.img_call {
    width: 7%;
}
.text_in {
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;
}
.block_ot_op {
    display: block;
    padding-left: 30px;
    padding-bottom: 30px;
}
.btn_op {
    font-size: 24px;
    color: rgb(128, 203, 196);
    font-family: 'Raleway', sans-serif !important;
    text-decoration: underline;
    border: none;
    background: #fff;
}
.btn_op:hover {
    color: rgb( 255, 88, 35);
}
.btn_otzv {
    font-size: 24px;
    color: rgb(128, 203, 196);
    font-family: 'Raleway', sans-serif !important;
    text-decoration: underline;
    border: none;
    background: #fff;
}
.btn_otzv:hover {
    color: rgb( 255, 88, 35);
}
.container_op {
    display: block;
    background: #fff;
}
.otstup_1 {
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.kupit {
    font-size: 65px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.kupit-color {
    border: 4px solid rgb( 255, 88, 35);
    background: #fff;
    color: rgb( 255, 88, 35);
}
.kupit-color:hover {
    border: 4px solid rgb( 128, 203, 196);
    color: rgb( 128, 203, 196);
}
.kupit-color:before {
    position: absolute;
    height: 93%;
    left: 0;
    top: 0;
}
.pohoj_tov {
    font-size: 18px;
    font-weight: 100;
    color: #000;
    font-family: 'Raleway', sans-serif !important;
    margin-top: 20px;
}
