body{
	background: #252830;	
	color: #e0dfdf;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-size: 16px;
}
h1{
	color: #fff;
	padding: 0;
    margin: 0;
    word-wrap: break-word;
    font-family: 'Baloo Thambi', cursive;
}
hr{
	background: #fff;
}
.block_head{
    padding: 15px;
 }
 .block_head h1{
 	word-wrap: break-word;
 	 background: -webkit-linear-gradient(bottom left, #4fc08d 25%, #f0db4e 0);
 	 background: -o-linear-gradient(bottom left, #4fc08d 25%, #f0db4e 0);
 	 background: linear-gradient(to top right, #4fc08d 25%, #f0db4e 0);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #fff;
  	cursor: pointer;
 }
 .block_head h1:hover{
 	background: -webkit-linear-gradient(bottom left, #f0db4e 25%, #4fc08d 0%);
 	background: -o-linear-gradient(bottom left, #f0db4e 25%, #4fc08d 0%);
 	background: linear-gradient(to top right, #f0db4e 25%, #4fc08d 0%);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 }
 footer h4{
 	word-wrap: break-word;
 	 background: -webkit-linear-gradient(bottom left, #4fc08d 48%, #f0db4e 0);
 	 background: -o-linear-gradient(bottom left, #4fc08d 48%, #f0db4e 0);
 	 background: linear-gradient(to top right, #4fc08d 48%, #f0db4e 0);
 	 -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	text-align: center;
 	margin: 50px;
 	cursor: pointer;
 }
footer h4:hover{
	background: -webkit-linear-gradient(bottom left, #f0db4e 50%, #4fc08d 0%);
	background: -o-linear-gradient(bottom left, #f0db4e 50%, #4fc08d 0%);
	background: linear-gradient(to top right, #f0db4e 50%, #4fc08d 0%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


 .block_head-inline{
 	display: flex;
 }
 .block_head-inline: hover{

 }
.block_head_bac{
	height: 50px;
	background: url(../img/notes.svg);
}
.block_es6{
	background: #f0db4e;
	height: 150px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
	overflow: hidden;
}
.block_emmet{
	background: #1b1c20;
}
.block_bs4{
	background: #563d7c;
}
.block_vuejs{
	background: #4fc08d;
}
.block_reactjs{
	background: #61dafb;
}
.block_a2{
	background: #c3002f;
}
.block_html{
	background: #d66130; 
}
.block_css{
	background: #2ba8e0;
}
.block_st3{
	background: #e99207;
}
.block_git{
	background: #4b3831;
}
.block_jq{
	background: #0769ad;
}
.block__task{
	background: #263238;
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 10px;
}
.block__task h3{
	padding-bottom: 5px;
	border-bottom: 1px dashed #000;
	word-wrap: break-word;
 	 background: -webkit-linear-gradient(bottom left, #00bdb4 35%, #ffde00 0%);
 	 background: -o-linear-gradient(bottom left, #00bdb4 35%, #ffde00 0%);
 	 background: linear-gradient(to top right, #00bdb4 35%, #ffde00 0%);
 	 -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

}
.block_es6:hover{
	box-shadow: inset 0 0 0 14px #fff;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
ul{
    margin: 0;
}