@media (max-width: 1140px) {
    .slider-home .carousel, .slider-home .carousel-item {
        height: 513px;
    }
    header .menu_horizontal {
        left: 0 !important;
        width: 100%!important;
        position: relative;
        top: 0;
        overflow: visible;
    }
    header .logo {
        background: url(../images/logo.png) center center no-repeat;
        background-size: contain;
        width: 100px;
        height: 67px;
        position: absolute;
        top: 0;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
        transition: .1s ease-in-out;
    }
    header .menu_horizontal .status_menu {
        display: none;
    }
    header .menu_horizontal .theme-diz {
        left: 0;
        width: 100%!important;
        height: auto;
    }
    header .menu_horizontal:not(.open) {
        width: 100%!important;
    }
    header .menu_horizontal:not(.open) .theme-diz .nav-item .nav-link {
        opacity: 1;
    }
    .top_bar .address {
        margin-left: 116px;
    }
}
@media (max-width: 776px) {
    .slider-home .carousel, .slider-home .carousel-item {
        height: 213px;
    }
}
