body {
  font-family: 'Geometria', sans-serif;
  background: #000;
}

h1 {
  font-size: 66.3px;
  font-weight: bold;
  line-height: 0.75;
  text-align: left;
  color: #ffffff;
  font-family: 'Geometria-Bold', sans-serif;
  padding-bottom: 24px;
  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 30px;
  }
}

h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  font-family: 'Geometria-Bold', sans-serif;
  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.overflow {
  overflow: hidden;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  font-family: 'Geometria-Bold', sans-serif;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 24px;
  }
}

h4 {
  font-size: 41.4px;
  line-height: 0.96;
  text-align: left;
  color: #ffffff;
  font-family: 'Geometria-Light', sans-serif;
  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.text-p-20 {
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
  color: #555555;
}

.text-p-24 {
  font-size: 24px;
  text-align: left;
  color: #e84e1c;
  line-height: 1.2;
}
