@font-face {
    font-family: 'AvenirNextLTW01Regular';
    src: url('../fonts/avenir-next-regular.eot');
    src: url('../fonts/avenir-next-regular.eot') format('embedded-opentype'),
    url('../fonts/avenir-next-regular.woff') format('woff'),
    url('../fonts/avenir-next-regular.ttf') format('truetype'),
    url('../fonts/avenir-next-regular.svg#AvenirNextLTW01RegularRegular') format('svg');
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot') format('embedded-opentype'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.ttf') format('truetype'),
    url('../fonts/Geometria-Medium.svg#Geometria') format('svg');
}
