                           .all-category {
                               float: left;
                               margin-left: -18px;
                               margin-top: 8px;
                           }
                           
                           .fa-navicon: before,
                           .fa-reorder: before,
                           .fa-bars: before {
                               font-size: 18px;
                               margin-left: -21px;
                           }
                           
                           .kanefhead .hred .hselect {
                               display: block;
                               width: 173px;
                               height: 30px;
                               font-weight: 700;
                               font-size: 13px;
                               padding-top: 5px;
                               padding-left: 1.42857143;
                               padding-left: 17px;
                               color: white;
                               background-color: transparent;
                               background-image: none;
                               border: 1px solid #ffbb28;
                               border-radius: 0px;
                               text-align: left;
                               margin-top: -2px;
                               margin-left: 9px;
                           }
                           
                           .btn .caret {
                               margin-left: 4.5px;
                           }
                           
                           .kanefhead .hred a {
                               color: #fff;
                               font-weight: 700;
                               font-size: 13px;
                               text-decoration: none;
                               cursor: pointer;
                               margin-left: 22px;
                           }
                           
                           .sale {
                               margin-left: 16px;
                               margin-right: 15px;
                           }
                           
                           .blog {
                               margin-left: 37px;
                           }
                           
                           .daily-deals {
                               margin-left: 46px;
                           }
                           
                           .fa-gift:before {
                               content: "\f06b";
                               font-size: 27px;
                               margin-left: -19px;
                               margin-top: 9px;
                           }
                           
                           .kanefhead .hwhite .wlogo {
                               padding: 15px 0px;
                               margin-left: -14px;
                           }
                           
                           .m-t {
                               margin-top: -3px;
                           }
                           
                           .breadcrumb {
                               padding: 6px 0;
                               background-color: transparent;
                           }
                           
                           .breadcrumb > li + li:before {
                               content: "";
                               padding: 0 0;
                               color: #333;
                           }
                           
                           a {
                               color: #333;
                               text-decoration: none;
                           }
                           
                           .club-color {
                               color: red;
                           }
                           
                           .mainpart .content .products .control p {
                               font-size: 34px;
                               font-weight: 700;
                               margin-left: -2px;
                               margin-top: 0;
                           }
                           
                           .mainpart .toppart {
                               margin-top: 2px;
                               margin-left: -2px;
                           }
                           
                           .mainpart .toppart input[type="checkbox"] + label::before,
                           .mainpart .toppart input[type="radio"] + label::before {
                               margin: 0 10px -3px -5px;
                           }
                           
                           .col-md-12--mar-padd {
                               margin-top: -15px;
                               padding-bottom: 30px;
                           }
                           
                           .col-md-3-font-pad {
                               width: 19%;
                               font-size: 13px;
                               margin-top: 2px;
                               margin-left: 1px;
                           }
                           
                           .col-md-3-font-pad-2 {
                               font-size: 13px;
                               margin-top: -2px;
                               margin-left: -10px;
                               width: 30%;
                           }
                           
                           .col-md-3-input {
                               border-radius: 0px;
                               width: 145px;
                               margin-top: -2px;
                           }
                           
                           .col-md-3--span {
                               text-align: left;
                               margin-left: -1px;
                               font-size: 16px;
                               padding-right: 46px;
                           }
                           
                           .col-md-3--caret {
                               text-align: right;
                               margin-top: -4px;
                           }
                           
                           .img__burger-1 {
                               margin-left: 4px;
                               margin-top: -3px;
                           }
                           
                           .img__burger-2 {
                               margin-left: 1px;
                               margin-top: -1px;
                           }
                           
                           .btn-group > .btn:first-child {
                               margin-left: 4px;
                           }
                           
                           .col-md-offset--padd {
                               font-size: 13px;
                               margin-left: 236px;
                               margin-top: -3px;
                           }
                           
                           .hselect--br {
                               width: 100%;
                               border-radius: 0;
                           }
                           
                           .hselect--br-span {
                               margin-left: -2px !important;
                           }
                           
                           .hselect--br-span-caret {
                               margin-left: 88px !important;
                           }
                           
                           .mainpart .content .shopsl .new {
                               top: 16px;
                               left: 11px;
                           }
                           
                           .mainpart .content .shopsl .sale {
                               width: 86px;
                               margin-left: 1px;
                           }
                           
                           .img-polo {
                               padding-top: 30px;
                           }
                           
                           .img-golf-sticks {
                               padding-top: 21px;
                               height: 300px;
                           }
                           
                           .img-shoe {
                               padding-top: 19px;
                               height: 300px;
                           }
                           
                           .shoe-background {
                               background: #f5f5f5;
                           }
                           
                           .nav__bar--blog {
                               padding-left: 14px;
                           }
                           
                           .nav__bar--dailydeals {
                               padding-left: 25px;
                           }
                           
                           .mainpart .content .shopsl .info {
                               padding-top: 12px;
                               padding-bottom: 5px;
                           }
                           
                           .padding__nike-cross {
                               padding-bottom: 4px;
                           }
                           
                           .margin-block--product {
                               margin-top: 20px;
                               padding-top: 2px;
                           }
                           
                           .display__none {
                               display: none;
                           }
                           
                           .number__product {
                               float: right;
                           }
                           
                           .number__product--result {
                               padding-top: 45px;
                               margin-left: -32px;
                               font-size: 13px;
                           }
                           
                           .number__product--number {
                               padding-top: 12px;
                               margin-right: -25px;
                           }
                           
                           .pagination > li:first-child > a,
                           .pagination > li:first-child > span {
                               border-bottom-left-radius: 0px;
                               border-top-left-radius: 0px;
                           }
                           
                           .pagination > li:last-child > a,
                           .pagination > li:last-child > span {
                               border-bottom-right-radius: 0px;
                               border-top-right-radius: 0px;
                           }
                           
                           .pagination > .active > a,
                           .pagination > .active > span,
                           .pagination > .active > a:hover,
                           .pagination > .active > span:hover,
                           .pagination > .active > a:focus,
                           .pagination > .active > span:focus {
                               color: #333333;
                               background-color: #cccccc;
                               border-color: #cccccc;
                           }
                           
                           .pagination > li > a,
                           .pagination > li > span {
                               padding: 11px 13px;
                           }
                           
                           .pagination {
                               width: 133%;
                           }
                           
                           .pagination > li > a:hover,
                           .pagination > li > span:hover,
                           .pagination > li > a:focus,
                           .pagination > li > span:focus {
                               color: #333333;
                               font-weight: bolder;
                           }
                           
                           .pagination > li > a,
                           .pagination > li > span {
                               color: #333333;
                               font-weight: bolder;
                           }
                           
                           .block__club {
                               margin-top: 24px;
                               padding-left: 0;
                               font-size: 13px;
                           }
                           
                           .block__club--club-font {
                               font-size: 26px;
                               font-weight: bolder;
                               margin-left: -4px;
                           }
                           
                           .block__club-1 {
                               padding-top: 13px;
                               padding-bottom: 13px;
                           }
                           
                           .block__club--line {
                               line-height: 20px;
                           }
                           
                           .repeat .orangebg {
                               padding-top: 105px;
                           }
                           
                           .repeat .orangebg .blog {
                               margin-left: 0;
                               width: 100%;
                           }
                           
                           .mainpart .book {
                               margin-top: 17px;
                           }
                           
                           .mainpart .recommend .rtitle {
                               padding-top: 40px;
                           }
                           
                           .mainpart .recommend .recgolf {
                               padding-bottom: 0;
                               margin-top: 19px;
                           }
                           
                           .mainpart .recommend .recgolf .rectitle {
                               padding-top: 10px;
                               width: 125%;
                               margin-left: -16px;
                           }
                           
                           .mainpart .recommend .recgolf .old {
                               margin-left: -13px;
                           }
                           
                           .mainpart .sidebar .tptitle {
                               padding-top: 10px;
                               margin-left: -5px;
                           }
                           
                           .block-nav-1 {
                               margin-top: -8px;
                               margin-left: -4px;
                           }
                           
                           .block-nav1--pdd {
                               margin-top: 10px;
                           }
                           
                           .mainpart .sidebar .boxes {
                               width: 50%;
                               margin-bottom: 0px;
                               margin-left: -7px;
                               margin-top: -4px;
                           }
                           
                           .mainpart .sidebar .color {
                               margin-bottom: 12px;
                               width: 50%;
                               margin-left: -7px;
                               margin-top: 0px;
                           }
                           
                           .mainpart .sidebar .select input[type="checkbox"] + label,
                           .mainpart .sidebar .select input[type="radio"] + label {
                               font-weight: 500;
                           }
                           
                           .recgolf-2 {
                               margin-top: 27px !important;
                           }
                           
                           .kaneffot .foot p {
                               width: 90%;
                           }
                           
                           .search--categ {
                               padding-top: 3px;
                               margin-left: -13px;
                           }
                           
                           .weather__pdd {
                               padding-left: 45px;
                               padding-top: 5px;
                           }
                           
                           .kanefhead .hwhite .weather p {
                               width: 121%;
                               padding-top: 6px;
                               padding-left: 50px;
                           }
                           
                           .kanefhead .hwhite .weather .wbold {
                               width: 138%;
                               padding-left: 48px;
                               padding-top: 2px;
                           }
                           
                           .cart-mycart {
                               padding-left: 57px;
                               padding-top: 5px;
                           }
                           
                           .kanefhead .hwhite .cart p {
                               width: 268%;
                           }
                           
                           .pdd-cart-text {
                               padding-left: 42px;
                           }
                           
                           .search-width {
                               width: 67%;
                           }
                           
                           @media screen and (max-device-width: 768px) {
                               .mainpart .recommend .recgolf .old {
                                   margin-left: 0;
                               }
                               .mainpart .recommend .recgolf .rectitle {
                                   width: 100%;
                               }
                               .col-md-3-font-pad {
                                   width: 100%;
                               }
                               .col-md-3-font-pad-2 {
                                   width: 100%;
                                   padding-top: 10px;
                               }
                               .col-md-offset--padd {
                                   margin-left: 0px;
                                   padding-top: 10px;
                               }
                               .row__text-align--center {
                                   text-align: center;
                               }
                               .kanefhead .hwhite .wlogo {
                                   margin-left: 0;
                               }
                               .search--categ {
                                   padding-top: 0;
                                   margin-left: 0;
                               }
                               .search-width {
                                   width: 100%;
                                   margin-left: 0 !important;
                               }
                               .btn-group > .btn:first-child {
                                   margin-left: 0;
                               }
                           }
