.repeat .golfbg {
  padding-top: 77px;
  padding-bottom: 30px;
  background: url("../img/golfbg.png");
  background-size: cover;
}

.repeat .golfbg .support {
  color: #ffffff;
  text-align: center;
}

.repeat .golfbg .support img {
  margin: 0 auto;
}

.repeat .golfbg .support .top {
  font-size: 50px;
  font-weight: 700;
  padding-top: 12px;
}

.repeat .golfbg .support .mid {
  font-size: 16px;
  padding-bottom: 26px;
  margin-top: -16px;
}

.repeat .golfbg .support .bold {
  font-weight: 700;
}

.repeat .slider {
  padding-top: 60px;
  padding-bottom: 63px;
  background: #ffffff;
  width: 100%;
}

.repeat .slider .stitle {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  color: #999999;
}

.repeat .slider .leftcontrl {
  position: absolute;
  left: 0;
  top: 60%;
}

.repeat .slider .rightcontrl {
  position: absolute;
  right: 0;
  top: 60%;
}

.repeat .slider .carousel-inner img {
  transform: translateY(-50%);
  position: relative;
  margin-top: 50%;
}

.repeat .orangebg {
  padding-top: 77px;
  padding-bottom: 73px;
  background: url("../img/orangebg.png");
  background-size: cover;
}

.repeat .orangebg .tnews {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-bottom: 38px;
}

.repeat .orangebg .blog {
  background: #ffffff;
  padding-top: 19px;
  padding-left: 23px;
  padding-bottom: 45px;
}

.repeat .orangebg .blog .btitle {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  width: 74%;
}

.repeat .orangebg .blog .bdate {
  font-size: 11px;
  color: #666666;
}

.repeat .orangebg .blog .btext {
  font-size: 13px;
}

.repeat .orangebg .newsbut {
  height: 44px;
  width: 199px;
  background: #ffffff;
  margin: 0 auto;
  text-align: center;
  line-height: 44px;
  margin-top: 54px;
}

.repeat .orangebg .newsbut p {
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.mainpart {
  background: #ffffff;
}

.mainpart .toppart {
  border: 3px solid #d42131;
  padding-top: 18px;
  padding-bottom: 11px;
  background: #ffffff;
}

.mainpart .toppart .tptitle {
  font-size: 15px;
  font-weight: 700;
}

.mainpart .toppart .customcheck {
  width: 16px;
  height: 16px;
  background: #666666;
}

.mainpart .toppart .customcheck .check {
  font-size: 13px;
  font-weight: 400;
}

.mainpart .toppart input[type="checkbox"] + label::before,
.mainpart .toppart input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 5px 0 0;
  background: #e1e2e2;
}

.mainpart .toppart input[type="checkbox"] + label,
.mainpart .toppart input[type="radio"] + label {
  font-size: 13px;
  cursor: pointer;
  font-weight: 400;
}

.mainpart .toppart input[type="checkbox"]:checked + label::before {
  background: #d42131;
}

.mainpart .sidebar {
  background: #f2f2f2;
  margin-top: 10px;
  padding-bottom: 20px;
}

.mainpart .sidebar .tptitle {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 9px;
  padding-top: 8px;
}

.mainpart .sidebar .select input[type="checkbox"] + label::before,
.mainpart .sidebar .select input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 5px 0 0;
  background: #e1e2e2;
}

.mainpart .sidebar .select input[type="checkbox"] + label,
.mainpart .sidebar .select input[type="radio"] + label {
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
}

.mainpart .sidebar .select input[type="checkbox"]:checked + label::before {
  background: #d42131;
}

.mainpart .sidebar .select li {
  list-style-type: none;
  line-height: 1.85;
}

.mainpart .sidebar .boxes {
  width: 60%;
  margin-bottom: 20px;
}

.mainpart .sidebar .boxes input[type="checkbox"] + label,
.mainpart .sidebar .boxes input[type="radio"] + label {
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
  width: 32px;
  height: 32px;
  z-index: 5;
  text-align: center;
  background: #e1e2e2;
  line-height: 32px;
}

.mainpart .sidebar .boxes input[type="checkbox"]:checked + label {
  background: #d42131;
  color: white;
}

.mainpart .sidebar .color {
  margin-bottom: 20px;
  width: 60%;
}

.mainpart .sidebar .color .colorbox {
  display: inline-block;
}

.mainpart .sidebar .color .colorbox input[type="checkbox"] + label,
.mainpart .sidebar .color .colorbox input[type="radio"] + label {
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
  width: 32px;
  height: 32px;
  z-index: 5;
  text-align: center;
  line-height: 32px;
}

.mainpart .sidebar .color .colorbox input[type="checkbox"] + label .fa-check,
.mainpart .sidebar .color .colorbox input[type="radio"] + label .fa-check {
  opacity: 0;
}

.mainpart .sidebar .color .colorbox input[type="checkbox"]:checked + label {
  color: black;
}

.mainpart .sidebar .color .colorbox input[type="checkbox"]:checked + label .fa-check {
  opacity: 1;
  line-height: 32px;
}

.mainpart .sidebar .rate p {
  display: inline-block;
  font-size: 13px;
  color: #333333;
}

.mainpart .book {
  background: url("../img/book.png");
  margin-top: 15px;
  padding-bottom: 100px;
}

.mainpart .book p {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  padding-top: 31px;
  padding-left: 4px;
  padding-bottom: 36px;
}

.mainpart .book .enroll {
  width: 125px;
  height: 40px;
  border: 3px solid white;
  margin-left: 6px;
}

.mainpart .book .enroll p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  padding: 0px;
}

.mainpart .recommend {
  padding-left: 0px;
  padding-right: 0px;
}

.mainpart .recommend .rtitle {
  font-size: 35px;
  font-weight: 700;
  padding-top: 37px;
}

.mainpart .recommend .recgolf {
  border: 1px solid #ececec;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 19px;
}

.mainpart .recommend .recgolf img {
  float: left;
  padding-right: 10px;
}

.mainpart .recommend .recgolf .rectitle {
  font-weight: 700;
  font-size: 13px;
  padding-top: 10px;
}

.mainpart .recommend .recgolf .price {
  display: inline-block;
  font-weight: 700;
  color: #d42131;
  font-size: 16px;
  padding-top: 8px;
}

.mainpart .recommend .recgolf .old {
  color: #000000;
  text-decoration: line-through;
}

.mainpart .content .tabsector {
  border-bottom: 3px solid #e1e2e2;
}

.mainpart .content .tabsector > li.active > a, .mainpart .content .tabsector .nav-tabs > li.active > a:hover, .mainpart .content .tabsector .nav-tabs > li.active > a:focus {
  background-color: #e1e2e2;
  border: 3px solid #e1e2e2;
  border-bottom-color: transparent;
  cursor: default;
}

.mainpart .content .tabsector li {
  font-weight: 700;
}

.mainpart .content .tabsector li :hover {
  color: #ffbb28;
  background: transparent;
  border: none;
}

.mainpart .content .tabsector li a {
  color: #000000;
  border: none;
}

.mainpart .content .tab-content {
  font-size: 13px;
}

.mainpart .content .tab-content .bold {
  font-weight: 700;
}

.mainpart .content .products {
  padding-bottom: 65px;
}

.mainpart .content .products .control {
  padding-bottom: 25px;
}

.mainpart .content .products .control p {
  font-size: 25px;
  font-weight: 700;
}

.mainpart .content .products .control .fa {
  padding: 7px 17px;
  float: right;
  color: #000000;
}

.mainpart .content .products .control .fa:hover {
  background: #ffbb28;
}

.mainpart .content .products .control .lborder {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.mainpart .content .products .control .rborder {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.mainpart .content .shopsl {
  border: 1px solid #ececec;
  padding: 0px;
}

.mainpart .content .shopsl .new {
  background: #ffbb28;
  color: #ffffff;
  width: 54px;
  height: 27px;
  font-weight: 700;
  line-height: 27px;
  font-size: 13px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 15px;
}

.mainpart .content .shopsl .sale {
  background: #d42131;
  width: 88px;
}

.mainpart .content .shopsl .info {
  padding-top: 20px;
  padding-bottom: 15px;
}

.mainpart .content .shopsl .info .rev {
  display: inline;
  font-size: 13px;
  color: #666666;
  padding-left: 5px;
}

.mainpart .content .shopsl .info .title {
  font-size: 13px;
  font-weight: 700;
  padding-top: 10px;
}

.mainpart .content .shopsl .info .price {
  font-weight: 700;
  color: #d42131;
  font-size: 16px;
  margin-bottom: 4px;
}

.mainpart .content .shopsl .info .old {
  color: #000000;
  text-decoration: line-through;
}

.mainpart .content .shopsl .info .buy {
  height: 45px;
  width: 110px;
  background: #d42131;
  color: #ffffff;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  font-weight: 700;
  float: right;
  cursor: pointer;
}

.fa-star {
  color: #ffbb28;
}

.fa-star-o {
  color: #ffbb28;
}

.kaneffot {
  background: #000000;
}

.kaneffot .foot {
  padding-top: 65px;
  padding-bottom: 32px;
}

.kaneffot .foot img {
  margin-top: -6px;
  padding-bottom: 25px;
}

.kaneffot .foot p {
  color: #666666;
  font-size: 13px;
}

.kaneffot .foot .social {
  color: #ffffff;
  padding-top: 18px;
  padding-left: 14px;
  letter-spacing: 7px;
}

.kaneffot .foot .social :hover {
  color: #ffbb28;
}

.kaneffot .foot .ftitle {
  font-size: 16px;
  font-weight: 700;
  color: #ffbb28;
  padding-bottom: 5px;
}

.kaneffot .foot .ftitle3 {
  font-size: 16px;
  font-weight: 700;
  color: #ffbb28;
  padding-bottom: 10px;
  padding-top: 20px;
}

.kaneffot .foot .ftext {
  display: block;
  list-style-type: none;
  color: #d5d5d5;
}

.kaneffot .foot .ftext li {
  line-height: 1.85;
  margin-left: -37px;
}

.kaneffot .foot .ftext a {
  font-size: 13px;
  text-decoration: none;
  color: #d5d5d5;
}

.kaneffot .foot .ftext :hover {
  color: #ffbb28;
}

.kaneffot .foot .twtitle {
  font-size: 16px;
  font-weight: 700;
  color: #d5d5d5;
  padding-top: 5px;
}

.kaneffot .foot .ftitle2 {
  font-size: 16px;
  margin-top: -9px;
  color: #ffbb28;
}

.kaneffot .foot .tweet .col-sm-2 {
  padding: 0;
}

.kaneffot .foot .tweet .col-sm-9 {
  padding: 0;
}

.kaneffot .foot .tweet .ftext {
  padding-bottom: 15px;
}

.kaneffot .foot .tweet img {
  float: left;
  padding-top: 13px;
}

.kaneffot .foot .form-group .ok-button {
  position: absolute;
  right: 22px;
  width: 34px;
  height: 34px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  background-color: #ffbb28;
  border-radius: 278px;
  margin-top: 7px;
  top: 0px;
}

.kaneffot .foot .form-group .ok-button p {
  color: #000000;
  line-height: 17px;
  margin-left: -6.5px;
}

.kaneffot .foot .form-group .foo-form {
  position: relative;
  font-size: 13px;
  line-height: 1.42857143;
  color: #d5d5d5;
  background-color: #1a1a1a;
  background-image: none;
  border: 1px solid #1a1a1a;
  border-radius: 100px;
  height: 47px;
  padding-left: 20px;
}

.kaneffot .fdown {
  background: #191919;
  padding-top: 34px;
  padding-bottom: 24px;
}

.kaneffot .fdown .right {
  float: right;
}

.kaneffot .fdown .right img {
  float: right;
}

.kaneffot .fdown .left {
  color: #666666;
  font-size: 13px;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white;
}

.kanefhead .hblack {
  background: #000000;
  padding: 5px 0px;
}

.kanefhead .hblack .hbtext {
  color: #666666;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0;
}

.kanefhead .hblack .hbtext a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 6px;
}

.kanefhead .hblack .hbtext a:hover {
  color: #ffbb28;
}

.kanefhead .hblack .right {
  text-align: right;
  padding-right: 0px;
}

.kanefhead .hblack .right a {
  padding-right: 0px;
}

.kanefhead .hwhite {
  background: #ffffff;
  padding: 14px 0;
}

.kanefhead .hwhite .wlogo {
  padding: 12px 0px;
}

.kanefhead .hwhite .hselect {
  display: block;
  width: 143px;
  height: 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  text-align: left;
}

.kanefhead .hwhite .hselect .right {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 50%;
}

.kanefhead .hwhite .nobord {
  border-radius: 0px;
  border: 1px solid #ececec;
}

.kanefhead .hwhite .orbut {
  background-color: #ffbb28;
  color: #ffffff;
  border-radius: 0;
}

.kanefhead .hwhite .weather p {
  font-size: 11px;
  color: #666666;
  margin: 0px;
}

.kanefhead .hwhite .weather .wbold {
  color: #000000;
  font-weight: 700;
}

.kanefhead .hwhite .weather img {
  float: left;
}

.kanefhead .hwhite .cart p {
  font-size: 16px;
  color: #666666;
  margin: 0px;
}

.kanefhead .hwhite .cart .wbold {
  color: #000000;
  font-weight: 700;
}

.kanefhead .hwhite .cart img {
  float: left;
}

.kanefhead .hwhite .cart .circle {
  background: #d42131;
  height: 26px;
  width: 26px;
  border-radius: 40px;
  position: relative;
  top: -8px;
  left: -8px;
}

.kanefhead .hwhite .cart .circle p {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}

.kanefhead .hwhite .cart .wtext {
  padding-left: 20px;
}

.kanefhead .hred {
  background: #d42131;
  padding: 8px 0;
  margin-bottom: 20px;
}

.kanefhead .hred a {
  color: #ffbb28;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

.kanefhead .hred .hselect {
  display: block;
  width: 200px;
  height: 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.42857143;
  color: white;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ffbb28;
  border-radius: 0px;
  text-align: left;
}

.fa-user {
  color: #666666;
}

.fa-sign-in {
  color: #666666;
}

.form-control:focus {
  border-color: #ececec;
  box-shadow: none;
}

.fa-bars {
  color: #ffbb28;
}

.navbar-form {
  padding: 0px;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  margin: 0;
  background: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
}
