                    .main-header {
                        /* &__top {
                            background: url("../images/core/header-bg.svg") no-repeat;
                            background-size: cover;
                            height: 92px;
                            margin: 0 auto;
                            background-position-x: 50%;
                        }*/
                        &__box {
                            &__copyright {
                                padding: 5px 0 7px;
                                text-align: center;
                                width: 100%;
                                background: #0096de;
                                color: #fff;
                                font-weight: 400;
                                font: 16px/1 'PFAgoraSansPro', Arial, sans-serif;
                            }
                            &__left {
                                background: url("../images/core/header-bg-left.svg") no-repeat;
                                height: 61px;
                            }
                            &__right {
                                background: url("../images/core/header-bg-right.svg") no-repeat;
                                height: 65px;
                                background-position: right;
                            }
                        }
                        .header-box .menu-mini {
                            top: 0px;
                            z-index: 4;
                        }
                        &.searching-active {
                            .header-box {
                                .header__menu {
                                    padding-left: 640px;
                                    padding-right: 65px;
                                }
                                .header__menu__wrapper,
                                .logo-mini,
                                .mobile-button-menu {
                                    display: none !important;
                                }
                                .search-input {
                                    &__field {
                                        display: block;
                                    }
                                }
                                .dog-box {
                                    margin-top: -37px;
                                }
                            }
                        }
                        &.searching-active-volunteer {
                            .header-box {
                                .header__menu {
                                    padding-left: 640px;
                                }
                                .header__menu__wrapper,
                                .logo-mini,
                                .mobile-button-menu {
                                    display: none !important;
                                }
                                .search-input {
                                    &__field {
                                        display: block;
                                        input[type="text"]:focus {
                                            background: transparent;
                                        }
                                    }
                                }
                                .dog-box {
                                    margin-top: 0px;
                                }
                            }
                            .header-box__class {
                                display: none;
                            }
                        }
                    }
                    
                    .header-box {
                        position: relative;
                        z-index: 4;
                        height: 226px;
                        &.logo-timer-dog-wrapper {
                            z-index: 5;
                        }
                        &__class {
                            float: left;
                            margin-left: -102px;
                            transition: all 0.8s ease;
                        }
                        &__wrapper {
                            //height: 185px;
                            //margin-top: -70px;
                            .logo-timer {
                                padding: 30px 0px 25px 15px;
                                //margin-right: 25px;
                                display: inline-block;
                                position: relative;
                                max-width: 935px;
                                .timer {
                                    display: inline-block;
                                    margin-left: 45px;
                                    vertical-align: middle;
                                    padding-top: 20px;
                                    &__dates-text {
                                        font-size: 24px;
                                        margin-bottom: 25px;
                                        margin-top: -25px;
                                        font-weight: 500;
                                        color: $color-navyBlue;
                                        &__month {
                                            text-transform: uppercase;
                                            color: #e6007c;
                                        }
                                    }
                                    &__clock {
                                        margin: 10px 0 5px;
                                    }
                                    .count-block {
                                        margin-bottom: 15px;
                                    }
                                    &__label-text {
                                        font-size: 13px;
                                        color: $color-navyBlue;
                                        text-transform: uppercase;
                                    }
                                    .social-buttons {
                                        min-height: 40px;
                                        padding: 15px 0 0;
                                        &__vk,
                                        &__fb,
                                        &__tw,
                                        &__yt,
                                        &__in,
                                        &__od {
                                            width: 40px;
                                            height: 40px;
                                            border-radius: 20px;
                                            padding: 7px 8px;
                                            background-size: cover;
                                            background: #71c5e8;
                                            margin: 0 6px;
                                            img {
                                                width: 25px;
                                                height: 25px;
                                            }
                                        }
                                        &__vk:hover,
                                        &__fb:hover,
                                        &__tw:hover,
                                        &__yt:hover,
                                        &__in:hover,
                                        &__od:hover {
                                            background-color: $color-navyBlue;
                                        }
                                        a {
                                            &:first-child {
                                                margin: 0 6px 0 0;
                                            }
                                            &:last-child {
                                                margin: 0 0 0 6px;
                                            }
                                        }
                                    }
                                }
                                .logo-link {
                                    img {
                                        width: 100%;
                                        max-width: 515px;
                                        height: 85px;
                                        margin-top: -5px;
                                    }
                                }
                            }
                            .dog-language-weather {
                                text-align: right;
                                padding-top: 55px;
                                padding-right: 0px;
                                .language-box {
                                    margin-top: 27px;
                                }
                                .all-box {
                                    display: inline-block;
                                    margin-top: 20px;
                                    .weather-box {
                                        display: inline-block;
                                        img {
                                            width: 38px;
                                            height: 38px;
                                        }
                                        .weather-temp {
                                            font: 16px/16px 'PFAgoraSansPro', sans-serif;
                                            font-weight: 500;
                                            color: $color-darkBlue;
                                            margin-top: 10px;
                                            text-align: right;
                                        }
                                    }
                                    .menu-mini__box__language__flag {
                                        margin-top: 7px;
                                        margin-right: -10px;
                                        &:not(.current-language):hover {
                                            &:after {
                                                background: url("../images/core/flag-hover.png") no-repeat;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .dog-box {
                            @include transition(all 0.3s ease 0s);
                            position: absolute;
                            margin-top: -5px;
                            height: 167px;
                            width: 119px;
                            right: 80px;
                            display: flex;
                            z-index: 12;
                            img {
                                width: 100%;
                                //min-width: 70px;
                                //max-width: 101px;
                                //height: 150px;
                            }
                        }
                        .header-menu-bg {
                            //z-index: 4;
                            position: relative;
                            background: url("../images/core/menu-bg.png") no-repeat;
                            display: block;
                            height: 95px;
                            @include transition(all 0.8s ease);
                        }
                        @media all and (max-width: 1550px) {
                            .header-menu-bg {
                                background-position-x: -350px;
                            }
                        }
                        .header__menu {
                            width: 100%;
                            //background: url("../images/core/menu-bg-1920.png") no-repeat;
                            display: inline-block;
                            position: relative;
                            z-index: 11;
                            height: 84px;
                            &__wrapper {
                                padding: 0;
                                min-height: 47px;
                                font-size: 14px;
                                display: inline-block;
                                color: $color-white;
                                cursor: pointer;
                                &-header {
                                    display: inline-block;
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    margin: 20px 0;
                                    padding: 0 22px;
                                    width: 100%;
                                    z-index: 1;
                                }
                                &-search {
                                    position: absolute;
                                    right: 55px;
                                    padding-right: 0;
                                    margin-top: 20px;
                                    text-align: right;
                                    z-index: 12;
                                    .img {
                                        @include transition(all 0.3s ease 0s);
                                        display: inline-block;
                                        cursor: pointer;
                                        width: 27px;
                                        height: 27px;
                                        background: url("../images/core/search.svg") no-repeat;
                                        &:hover {
                                            background: url("../images/core/search-hover.png") no-repeat;
                                        }
                                    }
                                }
                                &-submenu {
                                    @include transition(all 0.3s ease 0s);
                                    top: -10px;
                                    position: absolute;
                                    display: none;
                                    min-width: 250px;
                                    cursor: default;
                                    font-size: 16px;
                                    &-left {
                                        box-shadow: -50px 0 50px -15px rgb(229, 0, 124) inset;
                                        -webkit-box-shadow: -50px 0 50px -15px rgb(229, 0, 124) inset;
                                        -moz-box-shadow: -50px 0 50px -15px rgb(229, 0, 124) inset;
                                        content: " ";
                                        height: 47px;
                                        top: 10px;
                                        left: -70px;
                                        position: absolute;
                                        width: 70px;
                                    }
                                    &-right {
                                        box-shadow: 50px 0 50px -15px rgb(229, 0, 124) inset;
                                        -webkit-box-shadow: 50px 0 50px -15px rgb(229, 0, 124) inset;
                                        -moz-box-shadow: 50px 0 50px -15px rgb(229, 0, 124) inset;
                                        content: " ";
                                        height: 47px;
                                        top: 10px;
                                        right: -70px;
                                        position: absolute;
                                        width: 70px;
                                        z-index: 1;
                                    }
                                    &-top {
                                        display: inline-block;
                                        background: $color-navyBlue;
                                        z-index: 0;
                                        padding: 27px 0 24px;
                                        min-width: 148px;
                                        &__header {
                                            text-transform: uppercase;
                                            font-weight: 500;
                                            padding: 0 22px;
                                            width: 100%;
                                            z-index: 1;
                                            font-size: 14px;
                                        }
                                    }
                                    .item-submenu {
                                        &__items {
                                            list-style: none;
                                            margin-bottom: 10px;
                                            position: relative;
                                            z-index: 2;
                                            background: $color-navyBlue;
                                            //max-width: 250px;
                                            li {
                                                @include transition(all 0.3s ease 0s);
                                                color: $color-white;
                                                text-transform: none;
                                                cursor: pointer;
                                                text-decoration: none;
                                                display: inline;
                                                position: relative;
                                                padding: 8px 22px;
                                                display: block;
                                                a {
                                                    color: $color-white;
                                                }
                                                &:hover {
                                                    background-color: #009cde;
                                                    @include transition(all 0.3s ease 0s);
                                                }
                                                &:last-child:after {
                                                    content: '';
                                                    background: $color-navyBlue;
                                                    width: 100%;
                                                    height: 48px;
                                                    left: 0;
                                                    bottom: -25px;
                                                    position: absolute;
                                                    z-index: -1;
                                                    transform: skewY(8deg);
                                                }
                                            }
                                        }
                                    }
                                    /*&:after {
                        content: '';
                        background: $color-navyBlue;
                        width: 100%;
                        height: 48px;
                        bottom: -25px;
                        left: 0;
                        position: absolute;
                        z-index: 1;
                        transform: skewY(8deg);
                    }*/
                                }
                                &:hover+.header__menu__wrapper {
                                    position: relative;
                                    opacity: 0.5;
                                }
                                &:hover {
                                    .header__menu__wrapper-submenu {
                                        display: block;
                                        &-right,
                                        &-left {
                                            display: block;
                                        }
                                        &-right:hover,
                                        &-left:hover {
                                            display: none;
                                        }
                                        &-top {
                                            &:before {
                                                content: " ";
                                                height: 70px;
                                                top: 0px;
                                                right: 0px;
                                                position: absolute;
                                                width: 51%;
                                                background: $color-navyBlue;
                                            }
                                        }
                                    }
                                    background: $color-navyBlue;
                                }
                            }
                            &__wrapper-volunteer {
                                padding: 0;
                                font-size: 14px;
                                display: inline-block;
                                color: $color-white;
                                cursor: pointer;
                                &-header {
                                    display: inline-block;
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    margin: 20px 0;
                                    padding: 0 10px;
                                    width: 100%;
                                }
                                &-search {
                                    position: absolute;
                                    right: 15px;
                                    padding-right: 0;
                                    margin-top: 12px;
                                    text-align: right;
                                    z-index: 12;
                                    .img {
                                        @include transition(all 0.3s ease 0s);
                                        display: inline-block;
                                        cursor: pointer;
                                        width: 27px;
                                        height: 27px;
                                        background: url("../images/core/search.svg") no-repeat;
                                        &:hover {
                                            background: url("../images/core/search-hover.png") no-repeat;
                                        }
                                    }
                                }
                                &-submenu {
                                    @include transition(all 0.3s ease 0s);
                                    top: 0px;
                                    position: absolute;
                                    background: $color-navyBlue;
                                    display: none;
                                    max-width: 200px;
                                    .item-submenu {
                                        &__items {
                                            list-style: none;
                                            margin-bottom: 10px;
                                            position: relative;
                                            z-index: 2;
                                            li {
                                                padding: 10px 10px 0 15px;
                                                a {
                                                    @include transition(all 0.3s ease 0s);
                                                    color: $color-white;
                                                    text-transform: none;
                                                    cursor: pointer;
                                                    text-decoration: none;
                                                    &:hover {
                                                        color: #71c5e8;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:after {
                                        content: '';
                                        background: $color-navyBlue;
                                        width: 100%;
                                        height: 48px;
                                        bottom: -25px;
                                        position: absolute;
                                        z-index: 1;
                                        transform: skewY(8deg);
                                    }
                                }
                                &:hover {
                                    .header__menu__wrapper-submenu {
                                        display: block;
                                    }
                                    background: $color-navyBlue;
                                }
                            }
                        }
                        .bottom-header {
                            margin-top: 35px;
                            background: url("../images/core/common-footer-portal-bottom.svg") no-repeat;
                            display: block;
                            z-index: 1;
                            background-size: 1200px 154px;
                            width: 100%;
                            height: 154px;
                        }
                        .menu-mini {
                            position: absolute;
                            top: 320px;
                        }
                    }
                    
                    @media all and (min-width: 992px) and (max-width: 1200px) {
                        .header-box .header__menu__wrapper-header {
                            padding: 0 15px;
                        }
                        .header-box {
                            .dog-box {
                                margin-top: 88px;
                            }
                            &__class {
                                margin-left: -82px;
                            }
                        }
                        .header-box__wrapper {
                            .logo-timer {
                                margin-right: 0px;
                                .timer {
                                    margin-right: 30px;
                                    margin-top: 20px;
                                    margin-left: 90px;
                                }
                            }
                        }
                        .header-box__wrapper .logo-timer .header-box {
                            &.searching-active {
                                .header__menu {
                                    padding-left: 590px;
                                }
                            }
                        }
                        .main-header {
                            &.searching-active {
                                .dog-box {
                                    margin-top: 61px!important;
                                }
                            }
                        }
                    }
                    
                    @media all and (min-width: 0px) and (max-width: 991px) {
                        .main-header {
                            .header-box {
                                &__wrapper {
                                    .dog-language-weather {
                                        padding-right: 65px;
                                    }
                                }
                                .bottom-header {
                                    margin-top: 70px;
                                }
                                .logo-timer {
                                    display: inline-block;
                                    position: relative;
                                    margin-right: 0;
                                    .timer {
                                        display: block;
                                        padding-top: 20px;
                                    }
                                }
                                &.searching-active {
                                    .header-box {
                                        .header__menu {
                                            padding-left: 15px;
                                        }
                                        .search-input__field {
                                            max-width: 470px;
                                            width: 70%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    @media all and (min-width: 768px) and (max-width: 991px) {
                        .main-header {
                            /*&__top {
                                margin: 0 auto 70px;
                            }*/
                            &__box {
                                &__right {
                                    background-position: inherit;
                                }
                            }
                            .header-box {
                                &__wrapper {
                                    margin-top: 0;
                                }
                                .bottom-header {
                                    background-position-x: -100px;
                                }
                                .logo-timer {
                                    padding: 35px 0px 30px 15px;
                                    .timer {
                                        margin-left: 90px;
                                        padding-top: 20px;
                                        &__clock {
                                            display: inline-block;
                                        }
                                        &__label-text {
                                            display: inline-block;
                                            vertical-align: top;
                                            //padding-top: 20px;
                                            //margin-left: 10px;
                                        }
                                    }
                                }
                                .header__menu__wrapper {
                                    &-search {
                                        margin-top: 18px;
                                    }
                                    &-header {
                                        margin: 10px 0;
                                        padding: 0 10px;
                                    }
                                    .item-submenu {
                                        &__items {
                                            li {
                                                padding: 10px 10px 0 10px;
                                            }
                                        }
                                    }
                                }
                                .dog-box {
                                    margin-top: 45px;
                                    right: 115px;
                                }
                            }
                            &.searching-active {
                                .header-box {
                                    .header__menu {
                                        padding-left: 410px;
                                    }
                                    .dog-box {
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                    
                    @media all and (min-width: 0) and (max-width: 767px) {
                        .main-header {
                            /*&__top {
                                margin: 0 auto 40px;
                            }*/
                            &__box {
                                &__right {
                                    background-position: top;
                                }
                            }
                            .header-box {
                                &__wrapper {
                                    margin-top: 0;
                                    .logo-timer {
                                        padding: 50px 15px 15px 15px;
                                        .timer {
                                            &__dates-text {
                                                padding-left: 50px;
                                            }
                                            .social-buttons {
                                                max-width: 160px;
                                                a:first-child,
                                                a:last-child,
                                                {
                                                    margin: 0 6px 15px;
                                                }
                                                a {
                                                    margin: 0 6px 15px;
                                                }
                                            }
                                        }
                                    }
                                    .dog-language-weather {
                                        padding-right: 0px;
                                        padding-top: 0;
                                        position: absolute;
                                        bottom: 0px;
                                        right: 0;
                                        height: 160px;
                                        width: 120px;
                                        .dog-box {
                                            margin-top: 0px;
                                            right: 15px;
                                            img {
                                                height: 160px;
                                            }
                                        }
                                        .language-box {
                                            position: absolute;
                                            top: -275px;
                                            right: 15px;
                                        }
                                        .all-box {
                                            // float: left;
                                            padding-bottom: 20px;
                                            margin-top: 0;
                                            display: none;
                                        }
                                    }
                                }
                                &.logo-timer-dog-wrapper {
                                    z-index: 0;
                                }
                                .dog-box {
                                    text-align: right;
                                }
                                .header__menu__wrapper-search {
                                    margin-top: 8px;
                                    right: 20px;
                                }
                                .logo-timer {
                                    .timer {
                                        margin-left: 0;
                                    }
                                    // padding-right: 20px;
                                }
                            }
                            &.searching-active {
                                .header-box {
                                    .search-input__field {
                                        margin-top: 10px;
                                    }
                                    &__wrapper {
                                        .dog-box {}
                                    }
                                }
                                .header__menu {
                                    padding-left: 50px !important;
                                    padding-right: 20px !important;
                                }
                            }
                        }
                    }
                    
                    @media all and (min-width: 320px) and (max-width: 350px) {
                        .main-header {
                            .header-box {
                                &__wrapper {
                                    .logo-timer {
                                        .timer {
                                            &__label-text {
                                                font-size: 17px;
                                                margin-bottom: 30px;
                                            }
                                        }
                                    }
                                }
                                .range-number {
                                    font-size: 29px;
                                }
                            }
                        }
                    }
                    
                    @media all and (min-width: 350px) and (max-width: 767px) {
                        .main-header {
                            .header-box {
                                &__wrapper {
                                    .logo-timer {
                                        .timer {
                                            &__label-text {
                                                font-size: 17px;
                                                margin-bottom: 30px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    @keyframes logomini {
                        0% {
                            opacity: 0;
                        }
                        10% {
                            opacity: 0;
                        }
                        20% {
                            opacity: 0;
                        }
                        30% {
                            opacity: 0;
                        }
                        40% {
                            opacity: 0;
                        }
                        50% {
                            opacity: 0;
                        }
                        60% {
                            opacity: 0;
                        }
                        70% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                    /*@media all and (min-width: 500px) and (max-width: 767px) {
                        .main-header {
                            .header-box {
                                .dog-box {
                                    right: 17px;
                                    bottom: 60px;
                                }
                                .bottom-header {
                                    background-position-x: -250px;
                                }
                            }
                            &.searching-active {
                                .header-box {
                                    .search-input__field {
                                        margin-top: 10px;
                                        margin-right: 35px;
                                    }
                                    .dog-box {
                                        bottom: 80px;
                                    }
                                }
                            }
                        }
                    }
                    
                    @media all and (min-width: 0) and (max-width: 500px) {
                        .main-header {
                            .header-box {
                                .dog-box {
                                    right: 7px;
                                    bottom: 70px;
                                    display: none;
                                }
                                .all-box {
                                    display: none;
                                }
                                .header__menu__wrapper-search {
                                    right: 7px;
                                }
                                .bottom-header {
                                    background-position-x: -400px;
                                }
                                .header__menu__wrapper-search {
                                    margin-top: 5px;
                                }
                            }
                            &.searching-active {
                                .header-box {
                                    .search-input__field {
                                        margin-top: 10px;
                                        margin-right: 35px;
                                    }
                                    .dog-box {
                                        bottom: 75px;
                                    }
                                }
                            }
                        }
                    }
                    
                    */