                    .mobile-bg {
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        display: none;
                        z-index: 4;
                    }
                    
                    header.portal {
                        p {
                            margin: 0;
                        }
                        .head-copyright {
                            text-align: center;
                            width: 100%;
                            background: #0096de;
                            color: #fff;
                            font-weight: 400;
                            font: 16px/24px 'PFAgoraSansPro', Arial, sans-serif;
                        }
                        .column-holder {
                            padding: 25px 0 24px;
                            position: relative;
                        }
                        .first-column,
                        .second-column {
                            display: inline-block;
                            vertical-align: top;
                        }
                        .first-column {
                            padding: 38px 60px 0 0;
                            position: relative;
                            img {
                                width: 515px;
                                height: 85px;
                            }
                        }
                        .second-column {
                            .date {
                                display: inline-block;
                                margin: 0 0 20px;
                                p {
                                    font-size: 24px;
                                    line-height: 1;
                                    font-weight: 500;
                                    color: $color-navyBlue;
                                    text-transform: uppercase;
                                }
                                span {
                                    color: $color-pink;
                                }
                            }
                            #countbox {
                                height: 40px;
                                margin: 0 0 10px;
                            }
                            p {
                                font-size: 13px;
                                color: $color-navyBlue;
                                text-transform: uppercase;
                            }
                            .social-buttons {
                                text-align: left;
                                padding: 10px 0 0;
                                a {
                                    display: inline-block;
                                    margin: 0 5.5px;
                                    width: 38px;
                                    height: 38px;
                                    background: #71c5e8;
                                    padding: 8px 8px;
                                    @include border-radius(50%);
                                    &:first-child {
                                        margin: 0 6px 0 0;
                                    }
                                    &:last-child {
                                        margin: 0 0 0 6px;
                                    }
                                    &:hover {
                                        background: $color-navyBlue;
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        .third-column {
                            width: 100px;
                            position: absolute;
                            top: 25px;
                            right: 0;
                            text-align: right;
                            padding: 5px 0 0;
                            .weather {
                                &__ico {
                                    margin: 0 0 5px;
                                    img {
                                        max-height: 38px;
                                        max-width: 38px;
                                    }
                                }
                                &__temp {
                                    color: $color-darkBlue;
                                }
                            }
                        }
                        .choose-language {
                            display: inline-block;
                            margin: 0 0 20px;
                            .russian,
                            .english {
                                display: inline-block;
                                width: 40px;
                                height: 27px;
                                background-position: center;
                                background-size: cover;
                                opacity: 0.5;
                                cursor: pointer;
                                @include transition(all 0.3s ease 0s);
                                &:hover {
                                    opacity: 1;
                                    @include transition(all 0.3s ease 0s);
                                }
                                &.active {
                                    opacity: 1;
                                    @include transition(all 0.3s ease 0s);
                                }
                            }
                            .russian {
                                background: url('../images/core/lang-ru.svg') no-repeat;
                                border: 1px solid #eeeeee;
                                margin: 0 15px 0 0;
                            }
                            .english {
                                background: url('../images/core/lang-en.svg') no-repeat;
                            }
                        }
                        .container {
                            position: relative;
                            z-index: 999;
                        }
                        .main-menu-wrap {
                            height: 95px;
                            width: 100%;
                        }
                        .main-menu {
                            width: 100%;
                            z-index: 999;
                            &.normal {
                                background: $color-pink;
                                background-size: cover;
                                background-position: center;
                                height: 54px;
                                @include transition(all 1s ease 0s);
                                position: relative;
                                &:after {
                                    content: '';
                                    display: block;
                                    height: 35px;
                                    width: 100%;
                                    background: #e6007c;
                                    position: absolute;
                                    top: 35px;
                                    z-index: 0;
                                    @include transform (skewY(1deg));
                                    @include transition(all .7s ease 0s);
                                }
                            }
                            .uni-logo {
                                opacity: 0;
                                width: 0px;
                                height: 52px;
                                background: url("../images/core/logo-menu-on-top.svg") no-repeat;
                                background-size: cover;
                                background-position: center;
                                float: left;
                                margin: 5px 0px 0 0px;
                                @include transition(all 1s ease);
                                animation: 0.7s ease-in-out;
                                animation-name: logomini;
                            }
                            /*common-menu*/
                            .common-menu {
                                margin: 0;
                                display: inline-block;
                                @include transition(all 1s ease);
                                &>li {
                                    display: inherit;
                                    position: relative;
                                    padding: 17.5px 23.5px;
                                    &:first-child {
                                        padding: 17.5px 23.5px 17.5px 0;
                                    }
                                    &:last-child {
                                        padding: 17.5px 0 17.5px 23.5px;
                                    }
                                    &:hover {
                                        .list-wrap {
                                            display: block;
                                        }
                                        &:first-child {
                                            .list-wrap {
                                                .list-heading {
                                                    .shadow {
                                                        &.left {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                                &.ru {
                                                    left: -23.5px;
                                                    min-width: 260px;
                                                }
                                                &.eng {
                                                    left: -23.5px;
                                                    min-width: 250px;
                                                }
                                            }
                                        }
                                        &:nth-child(3) {
                                            .list-wrap {
                                                &.ru {
                                                    min-width: 260px;
                                                }
                                                &.eng {
                                                    min-width: 300px;
                                                }
                                            }
                                        }
                                        &:nth-child(5) {
                                            .list-wrap {
                                                &.ru {
                                                    min-width: 230px;
                                                }
                                            }
                                        }
                                        &:nth-child(6) {
                                            .list-wrap {
                                                &.eng {
                                                    min-width: 320px;
                                                }
                                            }
                                        }
                                        &:nth-child(7) {
                                            .list-wrap {
                                                &.ru {
                                                    min-width: 225px;
                                                }
                                            }
                                        }
                                    }
                                    &>a {
                                        display: inherit;
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: $color-white;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        z-index: 3;
                                        @include transition(all .7s ease 0s);
                                    }
                                    &:hover+li {
                                        >a {
                                            opacity: 0.5;
                                            @include transition(all 0s ease 0s);
                                        }
                                    }
                                }
                                .list-wrap {
                                    display: none;
                                    min-width: 250px;
                                    position: absolute;
                                    background: $color-navyBlue;
                                    top: -9px;
                                    left: 0px;
                                    cursor: default;
                                    &:after {
                                        content: '';
                                        background: #0e7dc2;
                                        width: 100%;
                                        height: 48px;
                                        left: 0;
                                        bottom: -25px;
                                        position: absolute;
                                        z-index: -1;
                                        -webkit-transform: skewY(8deg);
                                        -ms-transform: skewY(8deg);
                                        transform: skewY(8deg);
                                    }
                                    .list-heading {
                                        padding: 26px 0 40px 23.5px;
                                        font-size: 14px;
                                        font-weight: 500;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        position: relative;
                                        color: $color-white;
                                        .shadow {
                                            position: absolute;
                                            height: 47px;
                                            top: 10px;
                                            width: 70px;
                                            z-index: 1;
                                            &.left {
                                                left: -70px;
                                                box-shadow: -50px 0 50px -15px rgb(229, 0, 124) inset;
                                                -webkit-box-shadow: -50px 0 50px -15px rgb(229, 0, 124) inset;
                                                -moz-box-shadow: -50px 0 50px -15px rgb(229, 0, 124) inset;
                                                &:hover {
                                                    display: none;
                                                }
                                            }
                                            &.right {
                                                right: -70px;
                                                box-shadow: 50px 0 50px -15px rgb(229, 0, 124) inset;
                                                -webkit-box-shadow: 50px 0 50px -15px rgb(229, 0, 124) inset;
                                                -moz-box-shadow: 50px 0 50px -15px rgb(229, 0, 124) inset;
                                                &:hover {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    p {
                                        margin: 0;
                                        color: $color-white;
                                        a {
                                            display: block;
                                            padding: 8px 20px;
                                            color: $color-white;
                                            &:hover {
                                                background: #009cde;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                            /*common-menu-end*/
                            .dog {
                                position: absolute;
                                right: 112px;
                                top: -137px;
                                z-index: 3;
                                @include transition(all 1s ease 0s);
                            }
                            .form-wrap {
                                position: absolute;
                                right: 45px;
                                top: 15px;
                                z-index: 5;
                                input {
                                    outline: none;
                                    border: none;
                                    border-bottom: 1px solid $color-white;
                                    background: transparent!important;
                                    color: $color-white;
                                    height: 35px;
                                    padding: 0 35px 0 0;
                                    margin: 0 -32px 0 0;
                                    display: none;
                                    width: 435px;
                                    -webkit-box-shadow: 0 0 0 50px transparent inset;
                                    /* можно изменить на любой вариант цвета */
                                    -webkit-text-fill-color: #fff;
                                }
                                input[type="text"]:focus {
                                    background: transparent;
                                    outline: none;
                                }
                                input[type="text"]:active {
                                    background: transparent;
                                    outline: none;
                                }
                                input[type="text"]:hover {
                                    background: transparent;
                                    outline: none;
                                }
                                button {
                                    float: right;
                                    width: 27px;
                                    height: 27px;
                                    background: url("../images/core/search.svg") no-repeat;
                                    outline: none;
                                    border: none;
                                    padding: 0;
                                    &:hover,
                                    &:active,
                                     :focus {
                                        outline: none;
                                    }
                                }
                            }
                            &.search-active {
                                ul {
                                    li {
                                        a {
                                            visibility: hidden;
                                            opacity: 0;
                                            @include transition(all .7s ease 0s);
                                        }
                                        .list-wrap {
                                            display: none!important;
                                        }
                                    }
                                }
                                .dog {
                                    top: -165px;
                                    @include transition(all .7s ease 0s);
                                }
                            }
                        }
                        .affix {
                            top: 0;
                            position: fixed!important;
                            &.main-menu {
                                .uni-logo {
                                    opacity: 1;
                                    width: 43px;
                                }
                                &.normal {
                                    @include transition(all .7s ease 0s);
                                    &:after {
                                        @include transition(all .7s ease 0s);
                                        -webkit-box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.3);
                                        -moz-box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.3);
                                        box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.3);
                                    }
                                }
                                .common-menu {
                                    @include transition(all 1s ease);
                                    padding: 0 0 0 40px;
                                }
                                .dog {
                                    opacity: 0;
                                    top: -200px;
                                }
                            }
                            .mobile {
                                &-button {
                                    margin: 12px 0 0 15px;
                                }
                            }
                        }
                        /*mobile-menu*/
                        .mobile {
                            position: relative;
                            z-index: 5;
                            &-container {
                                display: none;
                                width: 290px;
                                background: $color-navyBlue;
                                position: absolute;
                                top: 0;
                                margin: 0 -15px;
                            }
                            &__wrap {
                                padding: 70px 0 0;
                                z-index: 1;
                                &:after {
                                    content: '';
                                    display: block;
                                    height: 141px;
                                    background: url("../images/core/adapt-menu-hatching-footer.svg") no-repeat $color-navyBlue;
                                    background-size: cover;
                                }
                            }
                            &-button {
                                position: relative;
                                display: inline-block;
                                width: 38px;
                                height: 32px;
                                margin: 12px 0 0 0px;
                                background: url('../images/core/mobile-menu/burger-closed.png') no-repeat center;
                                @include transition(all 1s ease 0s);
                                z-index: 2;
                                &.active {
                                    background: url("../images/core/mobile-menu/opened-arrow.png") no-repeat center;
                                    @include transition(all 1s ease 0s);
                                }
                            }
                            .choose-language {
                                padding: 0px 0 30px 15px;
                                margin: 0;
                            }
                            ul {
                                margin: 0;
                                &.mobile-menu {
                                    padding: 0px 15px;
                                    overflow: scroll;
                                    height: 280px;
                                    >li {
                                        &:first-child {
                                            margin: 0;
                                        }
                                        >a {
                                            text-transform: uppercase;
                                        }
                                        .submenu-first,
                                        .submenu-second {
                                            display: none;
                                            padding: 0 0 5px 30px;
                                        }
                                        .submenu-first {
                                            &-heading {
                                                position: relative;
                                                &:after {
                                                    @include transition(all 0.3s ease 0s);
                                                    content: '';
                                                    position: absolute;
                                                    right: 10px;
                                                    top: 1px;
                                                    display: inline-block;
                                                    background-image: url("../images/core/mobile-menu/plus-closed.png");
                                                    background-repeat: no-repeat;
                                                    width: 17px;
                                                    height: 17px;
                                                    background-size: contain;
                                                    background-position: center;
                                                }
                                                &.active {
                                                    &:after {
                                                        background-image: url("../images/core/mobile-menu/minus-opened.png");
                                                    }
                                                }
                                            }
                                        }
                                        .submenu-second {
                                            &-heading {
                                                position: relative;
                                                &:after {
                                                    @include transition(all 0.3s ease 0s);
                                                    content: '';
                                                    position: absolute;
                                                    right: 10px;
                                                    top: 3px;
                                                    display: inline-block;
                                                    background-image: url("../images/core/mobile-menu/plus-closed.png");
                                                    background-repeat: no-repeat;
                                                    width: 10px;
                                                    height: 10px;
                                                    background-size: contain;
                                                    background-position: center;
                                                }
                                                &.active {
                                                    &:after {
                                                        background-image: url("../images/core/mobile-menu/minus-opened.png");
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    li {
                                        margin: 33px 0 0;
                                        a {
                                            color: $color-white;
                                            display: inline-block;
                                            position: relative;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        /*mobile-menu-end*/
                        @keyframes logomini {
                            0% {
                                opacity: 0;
                            }
                            10% {
                                opacity: 0;
                            }
                            20% {
                                opacity: 0;
                            }
                            30% {
                                opacity: 0;
                            }
                            40% {
                                opacity: 0;
                            }
                            50% {
                                opacity: 0;
                            }
                            60% {
                                opacity: 0;
                            }
                            70% {
                                opacity: 0;
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                        @media all and (min-width:1999px) {
                            .main-menu {
                                &.normal {
                                    &:after {
                                        @include transform (skewY(0.5deg));
                                    }
                                }
                            }
                        }
                        @media all and (min-width:992px) and (max-width: 1199px) {
                            .column-holder {
                                .first-column {
                                    width: 100%;
                                    padding: 0;
                                    margin: 0 0 20px;
                                }
                                .second-column {
                                    padding: 0 0 0 90px;
                                }
                                .third-column {
                                    padding: 10px 0 0;
                                }
                            }
                            .main-menu {
                                .uni-logo {
                                    display: none;
                                }
                                .common-menu {
                                    &>li {
                                        &:hover {
                                            &:nth-child(7) {
                                                .list-wrap {
                                                    .list-heading {
                                                        .shadow {
                                                            &.right {
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                    &.ru {
                                                        min-width: 150px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .form-wrap {
                                    right: 15px;
                                }
                                .dog {
                                    top: -181px;
                                }
                                &.search-active {
                                    .dog {
                                        top: -181px;
                                    }
                                }
                            }
                            .affix {
                                &.main-menu {
                                    .uni-logo {
                                        display: none;
                                    }
                                    .common-menu {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                        @media all and (min-width:768px) and (max-width: 991px) {
                            .second-column {
                                padding: 0 0 0 90px;
                            }
                            .main-menu {
                                .common-menu {
                                    display: none;
                                }
                                .form-wrap {
                                    right: 15px;
                                }
                            }
                            .affix {
                                &.main-menu {
                                    .uni-logo {
                                        display: none;
                                    }
                                }
                                .mobile {
                                    &-button {
                                        margin: 12px 0 0 0px;
                                    }
                                }
                            }
                            .mobile {
                                ul.mobile-menu {
                                    height: 420px;
                                }
                            }
                        }
                        @media all and (min-width:0px) and (max-width: 560px) {
                            .column-holder {
                                padding: 25px 0 10px;
                                .second-column {
                                    .range-time {
                                        margin-left: 0px;
                                        margin-right: 3px;
                                    }
                                    .social-buttons {
                                        width: 45%;
                                        padding: 30px 0 0;
                                        a {
                                            &:nth-child(even) {
                                                margin: 0 0 15px 5.5px;
                                            }
                                            &:nth-child(odd) {
                                                margin: 0 5.5px 15px 0;
                                            }
                                        }
                                    }
                                    .time-left {
                                        font-size: 11.9px;
                                    }
                                }
                            }
                        }
                        @media all and (min-width:0px) and (max-width: 767px) {
                            .column-holder {
                                max-width: 320px;
                                margin: 0 auto;
                            }
                            .first-column {
                                padding: 40px 0px 0 0;
                                img {
                                    width: 100%;
                                }
                            }
                            .second-column {
                                .date {
                                    padding: 0 0 0 50px;
                                }
                            }
                            .third-column {
                                .weather {
                                    display: none;
                                }
                            }
                            .main-menu {
                                .common-menu {
                                    display: none;
                                }
                                .dog {
                                    top: -173px;
                                    right: 15px;
                                }
                                &.search-active {
                                    .dog {
                                        top: -185px;
                                    }
                                }
                                .form-wrap {
                                    right: 15px;
                                    input {
                                        width: 100%;
                                    }
                                }
                            }
                            .mobile {
                                &-container {
                                    width: 320px;
                                }
                            }
                            .affix {
                                &.main-menu {
                                    .uni-logo {
                                        display: none;
                                    }
                                }
                                .mobile {
                                    &-button {
                                        margin: 12px 0 0 0px;
                                    }
                                }
                            }
                        }
                    }