@mixin add-font($font-url, $font-name, $weight: normal, $style: normal) {
    font-family: $font-name;
    src: url('#{$font-folder}/#{$font-url}.woff') format('woff'), // Pretty Modern Browsers
    url('#{$font-folder}/#{$font-url}.ttf') format('truetype'), // Safari, Android, iOS
    url('#{$font-folder}/#{$font-url}.svg##{$font-name}') format('svg'); // Legacy iOS
    font-weight: $weight;
    font-style: $style;
}

// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
@mixin gradient-horizontal($start-color: #555,
$end-color: #333,
$start-percent: 0%,
$end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
}

@mixin gradient-vertical($start-color: #555,
$end-color: #333,
$start-percent: 0%,
$end-percent: 100%) {
    background-image: -webkit-linear-gradient(bottom, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(bottom, $start-color $start-percent, $end-color $end-percent); // Opera 12
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
}

// transform
@mixin transform($transform...) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

//border-radius
@mixin border-radius($border-radius...) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    border-radius: $border-radius;
}

// box-shadow
@mixin box-shadow($top,
$left,
$blur,
$color,
$inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}

// clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// transition
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// placeholder
@mixin placeholder($color) {
    &:-moz-placeholder {
        color: $color;
    } // Firefox 4-18
    &::-moz-placeholder {
        color: $color;
    } // Firefox 19+
    &:-ms-input-placeholder {
        color: $color;
    } // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
    } // Safari and Chrome
}

// placeholder
@mixin placeholder($color,
$font) {
    &:-moz-placeholder {
        color: $color;
        font: $font;
    } // Firefox 4-18
    &::-moz-placeholder {
        color: $color;
        font: $font;
    } // Firefox 19+
    &:-ms-input-placeholder {
        color: $color;
        font: $font;
    } // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
        font: $font;
    } // Safari and Chrome
}