$font-folder: "../fonts";
$color-white: #ffffff;
$color-black: #000000;
//$color-pink: #CF0072;
$color-pink: #e5007c;
$color-lightPink: #e77fb8;
$color-fuchsia: #e6007c;
$color-red: #d9534f;
$color-blue: #c9e6fa;
$color-darkBlue: #0096DE;
$color-ligthBlue: #78cdf4;
$color-navyBlue: #007ac2;
$color-deepBlue: #0d7dc1;
$color-lightBlue: #f1f9fe;
$color-yellow: #fdd100;
$color-silver: #c4d5e0;
$color-bronze: #d89f00;
$color-grey: #7f7f7f;
$color-orange: #e84f13;
$color-inactive: #a2bacb;
$color-borderList: #e4f0f8;
$color-bgPopup: #8d9eaa;