body {
  font-family: "P22 Underground CY Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
}

h1 {
  font-size: 46px;
  font-weight: 300;
  color: $color_white;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: $color_dark_blue;
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  font-size: 28px;
  font-weight: 900;
  color: $color_orange;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 6px;
  margin-top: 0;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: $color_faintly_blue;
  line-height: 24px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.section {
  padding: 78px 0;

  @media (max-width: 991px) {
    overflow: hidden;
  }
}

.small {
  font-size: 16px;
  line-height: 19px;
}

.btn {
  width: 170px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  background-color: $color_orange;
  color: $color_white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: color .3s ease, background-color .3s ease;

  &:hover {
    background-color: $color_white;
    color: $color_orange;
  }
}

.open {
  height: 100% !important;
  margin-top: 20px;

  @media (max-width: 991px) {
    margin-top: 0;
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 9px;
  padding: 0;

  &> li {
    margin-right: 10px;

    & > button {
      width: 20px;
      height: 3px;
      background-color: $color_platine;
      border: none;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      color: transparent;
    }

    &.slick-active {

      & > button {
        background-color: $color_orange;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}