body {
  font-family: "P22 Underground CY Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
}

h1 {
  font-size: 46px;
  font-weight: 300;
  color: $color_white;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: $color_dark_blue;
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  font-size: 28px;
  font-weight: 900;
  color: $color_orange;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 6px;
  margin-top: 0;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: $color_faintly_blue;
  line-height: 24px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.section {
  padding: 78px 0;
}

.small {
  font-size: 16px;
  line-height: 19px;
}