.tectus__header {
  background: transparent;
  height: 74px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background 0.2s ease;
  z-index: 2;

  &-sticky {
    background: $color_white;
    box-shadow: 0 0px 5px 0px  $color_dark_blue;
  }

  &-sticky &-nav-item-link  {
    color: $color_dark_blue;
  }

  &-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    background: url("../images/logo/logo_w.svg") center center / contain no-repeat;
    width: 118px;
    height: 40px;
    display: inline-block;
  }

  &-sticky &-logo  {
    background: url("../images/logo/logo_b.svg") center center / contain no-repeat;
  }

  &-nav {

    &-list {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
      margin-right: 41px;

      @media (max-width: 991px) {
        margin-right: 26px;
      }

      &:last-child {
        margin-right: 0;
      }

      &-link {
        text-decoration: none;
        color: $color_white;
        transition: color 0.3s ease;
        font-weight: bold;

        &.active {
          color: $color_orange;
        }

        &:hover {
          color: $color_orange;
        }
      }
    }
  }
}
