$color_white: #ffffff;
$color_dark_blue: #181a34;
$color_orange: #e84734;


.tectus__header {
  background: transparent;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: $color_white;
  }

  &-sticky + main {
    padding-top: 74px;
  }

  &-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    background: url("../images/logo/logo_b.svg") center center / contain no-repeat;
    width: 118px;
    height: 40px;
    display: inline-block;
  }

  &-nav {

    &-list {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
      margin-right: 41px;

      &:last-child {
        margin-right: 0;
      }

      &-link {
        text-decoration: none;
        color: $color_dark_blue;
        transition: color 0.3s ease;
        font-weight: bold;

        &:hover {
          color: $color_orange;
        }
      }
    }
  }
}
