.tectus {
  &__section_one {
    background: url("../images/bg/1.png") center center / cover no-repeat scroll #050920;
    height: 560px;
  }

  &__wrapper-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 74px;

    & h1 {
      text-align: center;
    }
  }

  &__hr {
    height: 1px;
    background-color: $color_light_gray;
    border: none;
    margin: 72px 0 78px;
  }

  &__info-chief {
    margin-left: 24px;
    padding: 20px 0;

    &-text {
      margin-bottom: 24px;
    }

    &-wrapper {
      display: flex;
      align-items: stretch;
    }
  }

  &__logo-chief {
    background: url("../images/igor.png") center center / contain no-repeat;
    height: 384px;
    min-height: 384px;
    width: 335px;
    min-width: 335px;
  }

  &__subtitle {
    font-weight: 600;
    color: $color_dark_blue;
    margin-bottom: 30px;

    &_mb {
      margin-bottom: 18px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: $color_orange;
    text-decoration: none;
    border-bottom: 1px dashed $color_orange;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;

    &:hover {
      color: $color_dark_blue;
      border-bottom-color: $color_dark_blue;
    }
  }
  
  &__amenities-slider {
    margin-top: 74px;

    & > .slick-list {
      min-height: 470px;
      max-height: 470px;
      margin: 0 -13px;
      display: flex;
      justify-content: flex-start;
      padding-left: 15px;

      & > .slick-track {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  &__amenities-card {
    width: 310px;
    min-width: 310px;
    max-width: 310px;
    height: 447px;
    min-height: 447px;
    max-height: 447px;
    box-shadow: 0px 10px 20px 0 rgba(157, 165, 178, 0.2);
    border-radius: 3px;
    background-color: $color_white;
    padding: 60px 23px 26px;
    box-sizing: border-box;
    margin-right: 19px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    &-info {
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 190px;
      max-height: 190px;
    }

    &-logo-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      min-height: 107px;
      max-height: 107px;
    }

    &_setting {
      background: url("../images/icons/1.svg") center center / contain no-repeat;
      height: 56px;
      min-height: 56px;
      width: 56px;
      min-width: 56px;
    }

    &_efficiency {
      background: url("../images/icons/2.svg") center center / contain no-repeat;
      height: 52px;
      min-height: 52px;
      width: 55px;
      min-width: 55px;
    }

    &_develop {
      background: url("../images/icons/3.svg") center center / contain no-repeat;
      height: 53px;
      min-height: 53px;
      width: 58px;
      min-width: 58px;
    }
  }
  
}
#amenities {
  background-color: $color_white-gray;
}
