.tectus {
  &__section_one {
    background: url("../images/bg/1.png") center center / cover no-repeat scroll #050920;
    height: 560px;
  }

  &__wrapper-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 74px;

    & h1 {
      text-align: center;
    }
  }

  &__hr {
    height: 1px;
    background-color: $color_light_gray;
    border: none;
    margin: 72px 0 78px;
  }

  &__info-chief {
    margin-left: 24px;
    padding: 20px 0;

    &-text {
      margin-bottom: 24px;
    }

    &-wrapper {
      display: flex;
      align-items: stretch;
    }
  }

  &__logo-chief {
    background: url("../images/igor.png") center center / contain no-repeat;
    height: 384px;
    min-height: 384px;
    width: 335px;
    min-width: 335px;
  }

  &__subtitle {
    font-weight: 600;
    color: $color_dark_blue;
    margin-bottom: 30px;
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: $color_orange;
    text-decoration: none;
    border-bottom: 1px dashed $color_orange;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;

    &:hover {
      color: $color_dark_blue;
      border-bottom-color: $color_dark_blue;
    }
  }
}