$color_white: #ffffff;
$color_dark_blue: #181a34;
$color_orange: #e84734;
$color_faintly_blue: #848e9f;
$color_light_gray: #eff2f6;
$color_white-gray: #f9f9fb;
$color_white-grey: #eeeef4;
$color_platine: #c3c9d5;